{% from "form.njk" import readOnlyField, csrfProtection, textInput, radioGroup, saveAndContinueButton %}
{% from "address.njk" import postcodeLookupAddressFragment, addressFragment, correspondenceAddressFragment %}
{% from "table.njk" import tableStart,tableEnd, row, rowWithMultipleValue %}

{% macro partyDetailsFragment(form, fields, addressSection, showCorrespondenceAddressSection = false,
  postcodeLabel = 'Enter a UK postcode', phone ) %}
  {% for field in fields %}
    {% if field.readOnly %}
      {% if field.value %}
        {{ readOnlyField(field.label, field.value) }}
      {% endif %}
    {% else %}
       {% if(field.inputClass !== undefined) %}
         {% set inputClass = field.inputClass %}
       {% else %}
         {% set inputClass = '' %}
       {% endif %}
      {{ textInput(form = form, label = t(field.label), name = field.name, autocomplete = field.autocomplete, hint = field.hint, inputClass=inputClass) }}
    {% endif %}
  {% endfor %}

  {% if addressSection %}
    <h2 class="heading-medium">{{ t(addressSection.heading) }}</h2>
    <p>{{ t('If your address is not correct you can change it here. Any changes will be shared with the claimant when you submit your response.') }}</p>
    {% if addressSection.hint %}
      <p>{{ t(addressSection.hint) }}</p>
    {% endif %}
    {% if addressSection.secondHint %}
      <p>{{ t(addressSection.secondHint) }}</p>
    {% endif %}
    {% if addressSection.postcodeLookup %}
      {{ postcodeLookupAddressFragment(form = form, name = addressSection.name, postcodeLabel = postcodeLabel ) }}
    {% else %}
      {{ addressFragment(form = form, name = addressSection.name) }}
    {% endif %}
  {% endif %}

  {% if showCorrespondenceAddressSection == true %}
    {{ correspondenceAddressFragment(form) }}
  {% endif %}

  {% if phone is defined %}
    <h2 class="heading-medium">{{ t('Your phone number') }}</h2>
    <p>{{ t('We might need to speak to you about this claim. We’ll only call on weekdays between 9am and 5pm.') }}</p>
    {{ textInput(form = form, name = phone.name, autocomplete = phone.autocomplete, hint = phone.hint) }}
  {% endif %}

{% endmacro %}







{# TODO DELTE below macro if not used anywhere (as of now being used in ccj) #}
{% macro partyDetailsSummaryFragment(partyDetails, showCorrespondenceAddressSection = true, changeLinks = {}, claim) %}
  {{ row('Full name', partyDetails.name, changeLinks.partyDetails or changeLinks.name or changeLinks.contactPerson, bold = true, bottomBorder = false ) }}

  {% if (partyDetails.type === 'company' or partyDetails.type === 'organisation') %}
    {% if partyDetails.contactPerson %}
      {{ row('Contact person', partyDetails.contactPerson, bold = true, bottomBorder = falase) }}
    {% endif %}
  {% endif %}

  {% if (partyDetails.type === 'soleTrader') %}
    {% if partyDetails.businessName %}
      {{ row('Business name', 'Trading as ' + partyDetails.businessName, changeLinks.partyDetails or changeLinks.businessName, bold = true, bottomBorder = false) }}
    {% endif %}
  {% endif %}

  {{ rowWithMultipleValue(
  label = 'Address',
  values = [
  partyDetails.address.line1,
  partyDetails.address.line2 | default(''),
  partyDetails.address.line3 | default(''),
  partyDetails.address.city,
  partyDetails.address.postcode
  ],
  bottomBorder = not showCorrespondenceAddressSection and not claim.claimData.defendant.phone,
  bold = true
  ) }}

  {% if showCorrespondenceAddressSection %}
    {% if partyDetails.hasCorrespondenceAddress %}
      {% set correspondenceAddressLines = [
      partyDetails.correspondenceAddress.line1,
      partyDetails.correspondenceAddress.line2 | default(''),
      partyDetails.correspondenceAddress.line3 | default(''),
      partyDetails.correspondenceAddress.city,
      partyDetails.correspondenceAddress.postcode
      ] %}
    {% else %}
      {% set correspondenceAddressLines = [t('Same as address')] %}
    {% endif %}

    {{ rowWithMultipleValue(
    label = 'Correspondence address',
    values = correspondenceAddressLines,
    bottomBorder = not claim.claimData.defendant.phone,
    bold = true
    ) }}
  {% endif %}

  {% if claim and claim.claimData.defendant.phone %}

    {{ row(
      label = 'Contact number',
      value = partyDetails.phone,
      bold = true)
    }}
  {% endif %}

  {% if (partyDetails.type === 'individual' and partyDetails.dateOfBirth and partyDetails.dateOfBirth.date) %}
    {{ row('Date of birth', partyDetails.dateOfBirth.date.toMoment() | date, changeLinks.dateOfBirth, bold = true) }}
  {% endif %}
{% endmacro %}

{% macro partyDetail(partyDetails, showCorrespondenceAddressSection = true, changeLinks = {}, claim) %}
  
  {% set linkHref = changeLinks.partyDetails or changeLinks.name  or changeLinks.contactPerson %}
  {{ partyDetailRow('Full name', partyDetails.name, changeLink = linkHref) }}

  {% if (partyDetails.type === 'company' or partyDetails.type === 'organisation') %}
    {% if partyDetails.contactPerson %}
      {{ partyDetailRow('Contact person', partyDetails.contactPerson, changeLink = linkHref) }}
    {% endif %}
  {% endif %}

  {% if (partyDetails.type === 'soleTrader') %}
    {% if partyDetails.businessName %}
    {{ partyDetailRow('Business name', 'Trading as ' + partyDetails.businessName, changeLink = linkHref) }}
    {% endif %}
  {% endif %}

  {{ partyDetailRow(
    'Address',
    [
      partyDetails.address.line1,
      partyDetails.address.line2 | default(''),
      partyDetails.address.line3 | default(''),
      partyDetails.address.city,
      partyDetails.address.postcode
    ],
    multiLine = true,
    changeLink = linkHref
  ) }}

  {% if showCorrespondenceAddressSection %}
    {% if partyDetails.hasCorrespondenceAddress %}
      {% set correspondenceAddressLines = [
      partyDetails.correspondenceAddress.line1,
      partyDetails.correspondenceAddress.line2 | default(''),
      partyDetails.correspondenceAddress.line3 | default(''),
      partyDetails.correspondenceAddress.city,
      partyDetails.correspondenceAddress.postcode
      ] %}
      {{ partyDetailRow('Correspondence address', correspondenceAddressLines, changeLink = linkHref, multiLine = true) }}
    {% else %}
      {{ partyDetailRow('Correspondence address', 'Same as address', changeLink = linkHref) }}
    {% endif %}

  {% endif %}

  {% if claim and claim.claimData.defendant.phone %}
    {{ partyDetailRow('Contact number', partyDetails.phone, changeLink = linkHref) }}
  {% endif %}
  
  {% if (partyDetails.type === 'individual' and partyDetails.dateOfBirth and partyDetails.dateOfBirth.date) %}
    {{ partyDetailRow('Date of birth', partyDetails.dateOfBirth.date.toMoment() | date, changeLinks.dateOfBirth) }}
  {% endif %}
{% endmacro %}

{% macro partyDetailRow(label, value, changeLink, bottomBorder = true, bold = false, topBorder = false, multiLine = false) %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      {{ t(label) }}
    </dt>
    <dd class="govuk-summary-list__value">
      {% if multiLine %}
        {% for line in value %}
          <span class="block">{{ line }}</span>
        {% endfor %}
      {% else %}
        {{ t(value) }}
      {% endif %}
      
    </dd>
    <dd class="govuk-summary-list__actions">
      {% if changeLink %}
        <a class="govuk-link" href="{{ changeLink}}">{{ t('Change') }} <span class="govuk-visually-hidden">{{ t(label | lower) }}</span></a>
      {% endif %}
    </dd>
  </div>
  
{% endmacro %}

