{% from "./paymentPlanTable.njk" import paymentPlanTable %}

{% macro repaymentPlanBlock(heading, instalmentAmount, paymentSchedule, firstPaymentDate, lastPaymentOn, lengthOfPayment) %}
  {% if heading %}
    <h2 class="heading-medium">{{ t(heading) }}</h2>
  {% endif %}

  {{ paymentPlanTable(
    id = 'payment-table',
    instalmentAmount = instalmentAmount,
    paymentSchedule = paymentSchedule,
    firstPaymentDate = firstPaymentDate,
    lastPaymentOn = lastPaymentOn,
    lengthOfPayment = lengthOfPayment
  )
  }}
{% endmacro %}
