{% from "./paymentPlanTable.njk" import paymentPlanTable %}

{% macro repaymentPlanBlock(heading, instalmentAmount, paymentSchedule, firstPaymentDate, completionDate, paymentLength) %}
  {% if heading %}
    <h2 class="heading-medium">{{ t(heading) }}</h2>
  {% endif %}

  {{ paymentPlanTable(
    id = 'payment-table',
    instalmentAmount = instalmentAmount,
    paymentSchedule = paymentSchedule,
    firstPaymentDate = firstPaymentDate,
    completionDate = completionDate,
    paymentLength = paymentLength
  )
  }}
{% endmacro %}
