{% from 'internalLink.njk' import internalLink %}

<h2 class="heading-medium" id="unavailableDates[label]">{{ t('Dates selected') }}</h2>
<dl class="dates-cant-attend-list add-another-list">
  {% if dates and dates.length > 0 %}
    {% for date in dates %}
      <div id="add-another-list-items-{{ loop.index0 }}">
        <dd class="add-another-list-item">
          <span data-index="items-{{ loop.index0 }}">{{ date | dateWithDayAtFront }}</span>
          <input type="hidden" name="unavailableDates[{{ loop.index0 }}][day]" value="{{ date.date() }}"/>
          <input type="hidden" name="unavailableDates[{{ loop.index0 }}][month]" value="{{ date.month() + 1 }}"/>
          <input type="hidden" name="unavailableDates[{{ loop.index0 }}][year]" value="{{ date.year() }}"/>
        </dd>
        <dd class="add-another-list-controls">
          {{ internalLink(t('Remove'),
            DirectionsQuestionnairePaths.hearingDatesDeleteReceiver.evaluateUri({
              externalId: externalId,
              index: 'date-' + loop.index0
            }),
            'add-another-delete-link link',
            id = 'add-another-delete-link-' + loop.index0,
            ariaLabel = 'Remove ' + date | dateWithDayAtFront) }}
        </dd>
      </div>
    {% endfor %}
  {% else %}
    <div>
      <dd class="add-another-list-item">
        <div id="items" class="noItems">{{ t('No dates added yet') }}</div>
      </dd>
    </div>
  {% endif %}
</dl>
