{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, errorSummary, submitButton %}
{% from "date.njk" import dateInput %}

{% set heading = ('When did you settle with the defendant?') %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <form method="post">
        <input type="hidden" name="known" value="true"/>
        {{ csrfProtection(csrf) }}

        {{ dateInput(form = form, name = 'date', hint = t('For example, {{ twoWeeksAgo }}', { twoWeeksAgo : 'now' | addDays(-14) | inputDate })) }}

        {{ submitButton() }}
      </form>
    </div>
  </div>
{% endblock %}
