{% extends "layout.njk" %}

{% from "table.njk" import tableStart, tableEnd, row, rowWithMultipleValue %}
{% from "form.njk" import csrfProtection, submitButton, errorSummary, checkboxGroup %}
{% from "statement-of-truth.njk" import statementOfTruth %}
{% from "party/details.njk" import partyDetailsSummaryFragment %}

{% set title = t("Money claim") %}
{% set heading = t("Check your answers") %}

{% block content %}
  <form novalidate method="post">
    {{ csrfProtection(csrf) }}

    {{ tableStart('theirDetails', 'Their details') }}
    {{
      partyDetailsSummaryFragment(
        partyDetails = user.ccjDraft.document.defendant.partyDetails,
        showCorrespondenceAddressSection = false,
        changeLinks = {
          address: addressUrl,
          dateOfBirth: dateOfBirthUrl
        }
      )
    }}
    {% if claim.claimData.defendant.email %}
      {{ row('Email:', user.claim.claimData.defendant.email) }}
    {% endif %}
    {{ tableEnd() }}

    {{ tableStart('payment', 'Payment') }}
    {{ row("Amount to be paid by defendant", amountToBePaid | numeral, changeLink = paidAmountUrl) }}

    {% if details.paymentOption.option.value == 'IMMEDIATELY' %}
      {% set paymentOptionDisplayValue = [details.paymentOption.option.displayValue] %}
    {% endif %}

    {% if details.paymentOption.option.value == 'FULL_BY_SPECIFIED_DATE' %}
      {% set paymentOptionDisplayValue = [details.paymentOption.option.displayValue
        + ' ' + details.payBySetDate.date.toMoment() | date] %}
    {% endif %}

    {% if details.paymentOption.option.value == 'INSTALMENTS' %}
      {% set paymentOptionDisplayValue =
      [  t('%s: %s %s.',
          { postProcess: 'sprintf', sprintf: [
              t(details.paymentOption.option.displayValue),
              details.repaymentPlan.installmentAmount | numeral,
              t(details.repaymentPlan.paymentSchedule.displayValue)
            ]
          }),
          t('First payment on %s',
            { postProcess: 'sprintf', sprintf: [details.repaymentPlan.firstPaymentDate.toMoment() | date]})
      ]
      %}
    {% endif %}

    {{ rowWithMultipleValue('When you want the defendant to pay', paymentOptionDisplayValue, changeLink = paymentOptionUrl) }}
    {{ tableEnd() }}

    <div class="form-group">
      {{ statementOfTruth(
        form,
        title = 'Declaration',
        warningMessage = 'Once you \'Sign and submit\', you cannot change your answers.',
        label = 'I declare that the details I have given are true to the best of my knowledge.',
        isQualified = partyAsCompanyOrOrganisation,
        typeOfStatement = 'declaration')
      }}

      {{ submitButton('Sign and submit') }}
      <input type="hidden" name="type" value="{{ form.model.type }}">
    </div>
  </form>
{% endblock %}
