{% extends "layout.njk" %}

{% from "table.njk" import tableStart, tableEnd, row, rowWithMultipleValue %}
{% from "form.njk" import csrfProtection, submitButton, errorSummary, checkboxGroup %}
{% from "statement-of-truth.njk" import statementOfTruth %}
{% from "party/details.njk" import partyDetailsSummaryFragment %}

{% set title = t("Money claim") %}
{% set heading = t("Check your answers") %}

{% block content %}
  <form novalidate method="post">
    {{ csrfProtection(csrf) }}

    {{ tableStart('theirDetails', 'Their details') }}
    {{
      partyDetailsSummaryFragment(
        partyDetails = user.ccjDraft.defendant.partyDetails,
        showCorrespondenceAddressSection = false,
        changeLinks = {
          address: addressUrl,
          dateOfBirth: dateOfBirthUrl
        }
      )
    }}
    {{ row('Email:', user.claim.claimData.defendant.email) }}
    {{ tableEnd() }}

    {{ tableStart('payment', 'Payment') }}
    {{ row('Amount to be paid by defendant', amountToBePaid | numeral) }}

    {% if details.paymentOption.option.value == 'IMMEDIATELY' %}
      {% set paymentOptionDisplayValue = [details.paymentOption.option.displayValue] %}
    {% endif %}

    {% if details.paymentOption.option.value == 'FULL_BY_SPECIFIED_DATE' %}
      {% set paymentOptionDisplayValue = [details.paymentOption.option.displayValue
        + ' ' + details.payBySetDate.date.toMoment() | date] %}
    {% endif %}

    {% if details.paymentOption.option.value == 'INSTALMENTS' %}
      {% set paymentOptionDisplayValue =
      [
        t('%s: %s %s.',
          { postProcess: 'sprintf', sprintf: [
              t(details.paymentOption.option.displayValue),
              details.repaymentPlan.installmentAmount | numeral,
              t(details.repaymentPlan.paymentSchedule.displayValue)
            ]
          }
        ),

        t('First payment on %s',
          { postProcess: 'sprintf', sprintf: [details.repaymentPlan.firstPaymentDate.toMoment() | date]}
        )
      ] %}
    {% endif %}

    {{ rowWithMultipleValue("When you want the defendant to pay", [paymentOptionDisplayValue, paymentBySetDateValue], paidAmountUrl) }}
    {{ tableEnd() }}

    <div class="form-group">
      {{ statementOfTruth(form, title = 'Declaration', warningMessage = 'Once you \'Sign and submit\', you cannot change your answers.') }}

      {{ submitButton('Sign and submit') }}
    </div>
  </form>
{% endblock %}
