{% extends "layout.njk" %}
{% from "form.njk" import submitButton, errorSummary %}
{% from "support.njk" import supportWidget %}
{% from "internalLink.njk" import internalLink %}

{% set headingVisible = false %}
{% set heading = 'Confirmation' %}

{% block content %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="bold-large">{{ t('County Court Judgment requested') }}</h1>
      </div>

      <h2 class="heading-medium">{{ t('What happens next') }}</h2>

      <p>{{ t('You requested a County Court Judgment on {{ ccjRequestedAt }}. We’ll contact you within 5 days to tell you whether the judgment has been entered.',
          { ccjRequestedAt: ccjRequestedAt | date }) }}
      </p>
      <p>{{ t('{{ defendantName }} can no longer respond to the claim using this service.', { defendantName: defendantName }) }}</p>
      <p>{{ t('If we receive a postal response that they sent before the deadline we’ll reject your request for judgment.') }}</p>

      {% include "includes/service-survey-link-claimant.njk" %}

      <p>{{ internalLink('Go to your account', DashboardPaths.dashboardPage.uri, 'button') | safe }}</p>

      {{ supportWidget() }}
    </div>
  </div>

{% endblock %}
