{% extends "layout.njk" %}
{% from "form.njk" import submitButton, errorSummary %}
{% from "support.njk" import supportWidget %}

{% set headingVisible = false %}
{% set heading = 'Confirmation' %}

{% block content %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        {% if redetermination_requested_at !== undefined %}
          <h1 class="bold-large">
            {{ t('You’ve asked for a judge to decide a repayment plan') }}
          </h1>
          <p>
          <div class="reference-number">
            <span>{{ t('Your claim number:') }}</span>
            <h1 class="bold-large">{{ claim.claimNumber }}</h1>
          </div>
          </p>
          <p>
            <span class="bold">{{ redetermination_requested_at | date }}</span>
          </p>
        {% else %}
          <h1 class="bold-large">{{ t('County Court Judgment requested') }}</h1>
        {% endif %}
      </div>

      <h2 class="heading-medium">{{ t('What happens next') }}</h2>
      {% if redetermination_requested_at !== undefined %}
        <p>{{ t('A judge will decide what the defendant can afford to pay based on their financial details.') }}</p>

        <P>{{ t('We’ll contact both you and {{ defendantName }} to tell you what to do next.') }}</P>

      {% else %}

        <p>{{ t('You requested a County Court Judgment on {{ ccjRequestedAt }}. We’ll contact you within 14 days to tell you whether the judgment has been entered.',
            { ccjRequestedAt: ccjRequestedAt | date }) }}
        </p>
        <p>{{ t('{{ defendantName }} can no longer respond to the claim using this service - they may have responded by post.', { defendantName: defendantName }) }}</p>

      {% endif %}
      <p>{{ t('View your claim status on <a href="{{ url }}">your money claims account</a>.', { url: '/dashboard' }) | safe }}</p>
      {{ supportWidget() }}

      {% include "includes/service_survey_link.njk" %}

    </div>
  </div>

{% endblock %}
