{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, radioOption, saveAndContinueButton, errorSummary %}
{% from "date.njk" import dateInput %}

{% set heading = 'Do you know the defendant’s date of birth?' %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <form method="post" class="analytics-submit-event-trigger" data-event-action="CCJ: Select defendant date of birth" data-event-label-from="known" novalidate>
        {{ csrfProtection(csrf) }}

        {% set error = form.errorFor('known') %}
        <fieldset id="known[label]" class="form-group {% if error %} form-group-error {% endif %}">
          <legend>
            <span class="visuallyhidden">
              {{ t('Do you know the defendant’s date of birth?') }}
            </span>
          </legend>

          {% if error %}<span class="error-message">{{ t(error) }}</span>{% endif %}
          {{
            radioOption(form = form, label = 'Yes', name = 'known', value = 'true', checked = form.valueFor('known') === true, bold = true)
          }}

          <div class="form-group panel panel-border-narrow js-hidden " id="known-true" aria-hidden="false">
            {{ dateInput(form = form, name = 'date', hint = 'For example, 29 05 1985', visuallyHiddenLabelValue = 'date of birth') }}
          </div>

          {{
            radioOption(form = form, label = 'No', name = 'known', value = 'false', checked = form.valueFor('known') === false, bold = true)
          }}

        </fieldset>

        {{ saveAndContinueButton() }}
      </form>
    </div>
  </div>
{% endblock %}
