{% extends "layout.njk" %}
{% set title = 'Money claim' %}
{% from "form.njk" import submitButton %}
{% from "interestSnippet.njk" import interestSnippet %}

{% block content %}
<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">
      {{ t('Judgment amount') }}
    </h1>

    <div class="form-group">
      <p>
        {{ t('Judgment will be entered against the defendant for this amount. It includes the claim fee you’ve paid.') }}
      </p>
      <table class="table-form">
        <caption class="visuallyhidden">{{ t('Amount payable by the defendant') }}</caption>
        <thead>
        <tr>
          <th scope="col"></th>
          <th class="numeric last" scope="col">{{ t('Amount') }}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">{{ t('Claim amount') }}</th>
          <td class="numeric last">
            <span class="font-small">{{ claim.claimData.amount.totalAmount() | numeral }}</span>
          </td>
        </tr>
        {% if interestDetails %}
        <tr>
          <th scope="row">
            {{ interestSnippet(label = 'Interest to date', interestDetails.rate, interestDetails.numberOfDays, interestDetails.interestFromDate, defaultJudgmentDate) }}
          </th>
          <td class="numeric last">
            <span class="font-small">{{ interestDetails.interest | numeral }}</span>
          </td>
        </tr>
        {% endif %}
        <tr>
          <th scope="row">{{ t('Claim fee') }}</th>
          <td class="numeric last">
            <span class="font-small">{{ claim.claimData.feeAmountInPennies | pennies2pounds | numeral }}</span>
          </td>
        </tr>

        {% if alreadyPaid %}
        <tr>
          <th scope="col" class="bold-small">{{ t('Sub total') }}</th>
          <td class="numeric last bold-small"><span id="sub-total">{{ claim.totalAmountTillToday | numeral }}</span></td>
        </tr>
        <tr>
          <th scope="row">{{ t('Minus amount already paid') }}</th>
          <td class="numeric last">
            <span class="font-small">{{ alreadyPaid | numeral }}</span>
          </td>
        </tr>
        {% endif %}

        <tr>
          <th scope="col" class="bold-medium">{{ t('Total') }}</th>
          <td class="numeric last bold-medium"><span id="total">{{ (claim.totalAmountTillToday - alreadyPaid) | numeral }}</span></td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="form-group">
      <a class="button" href="{{nextPageUrl}}">{{ t('Continue') }}</a>
    </div>
  </div>
</div>
{% endblock %}



