{% extends "layout.njk" %}
{% set title = 'Money claim' %}
{% from "form.njk" import submitButton %}

{% block content %}
<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">
      <span class="heading-secondary">{{ t('County Court Judgment') }}</span>
      {{ t('Amount to be paid by defendant') }}
    </h1>

    <div class="form-group">
      <p>
        {{ t('Amount payable by the defendant is calculated on the amount you’re claiming and any other costs minus any amount paid by the defendant.') }}
      </p>
      <table class="table-form">
        <caption class="visuallyhidden">{{ t('Amount payable by the defendant') }}</caption>
        <thead>
        <tr>
          <th scope="col"></th>
          <th class="numeric last" scope="col">{{ t('Amount') }}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">{{ t('Claim amount') }}</th>
          <td class="numeric last">
            <span class="font-small">{{ claim.claimData.amount.totalAmount() | numeral }}</span>
          </td>
        </tr>
        {% if interestDetails %}
        <tr>
          <th scope="row">
            <details role="group">
              <summary role="button" aria-controls="details-content-0" aria-expanded="false">
                {{ t('Interest to date of judgment') }}
              </summary>
              <div class="panel text-small" id="details-content-0" aria-hidden>
                {{ t('Interest calculated at %s%% for %s days', {
                  postProcess: 'sprintf', sprintf: [ interestDetails.rate, interestDetails.numberOfDays ]
                  })
                }}
                <br>
                <span class="font-xsmall">
                ({{
                  t('%s to %s', {
                    postProcess: 'sprintf', sprintf: [
                      interestDetails.interestDate | date,
                      interestDetails.defaultJudgmentDate | date
                    ]
                  })
                }})
              </span>
              </div>
            </details>
          </th>
          <td class="numeric last">
            <span class="font-small">{{ interestDetails.interest | numeral }}</span>
          </td>
        </tr>
        {% endif %}
        <tr>
          <th scope="row">{{ t('Claim fee') }}</th>
          <td class="numeric last">
            <span class="font-small">{{ claim.claimData.paidFeeAmount | numeral }}</span>
          </td>
        </tr>

        {% if alreadyPaid %}
        <tr>
          <th scope="col" class="bold-small">{{ t('Sub total') }}</th>
          <td class="numeric last bold-small"><span id="sub-total">{{ claim.totalAmount | numeral }}</span></td>
        </tr>
        <tr>
          <th scope="row">{{ t('Minus amount already paid') }}</th>
          <td class="numeric last">
            <span class="font-small">{{ alreadyPaid | numeral }}</span>
          </td>
        </tr>
        {% endif %}

        <tr>
          <th scope="col" class="bold-medium">{{ t('Total') }}</th>
          <td class="numeric last bold-medium"><span id="total">{{ (claim.totalAmount - alreadyPaid) | numeral }}</span></td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="form-group">
      <a class="button" href="{{nextPageUrl}}">{{ t('Continue') }}</a>
    </div>
  </div>
</div>
{% endblock %}



