{% extends "layout.njk" %}
{% set title = 'Money claim' %}
{% from "includes/macros/form.njk" import saveAndContinueButton, errorSummary, csrfProtection, radioGroup, poundInput %}
{% from "includes/macros/date.njk" import dateInput %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">
        <span class="heading-secondary">{{ t("County Court Judgment") }}</span>
        {{ t("Order them to pay by instalments") }}
      </h1>
      <p class="">{{ t('Total amount payable by defendant is %s',
        { postProcess: 'sprintf', sprintf: [ totalAmount | numeral ]}) }}
      </p>

      <form method="post" novalidate>
        <div class="form-group">
          <fieldset>
            <legend class="visually-hidden">{{ t('How much they pay following this instalment') }}</legend>
            {{ poundInput('The first payment of', 'firstPayment', form, 'For example, £243.20', bold = true) }}
          </fieldset>
        </div>

        <div class="form-group">
          <fieldset>
            <legend class="visually-hidden">{{ t('Followed by equal installments of') }}</legend>
            {{ poundInput('Followed by equal installments of', 'installmentAmount', form, 'For example, £200', bold = true) }}
          </fieldset>
        </div>

        <div class="form-group">
          <fieldset>
            <legend class="form-label-bold">{{ t('When you want them to make the first payment') }}</legend>
            {{ dateInput('firstPaymentDate', form, 'For example, 12 03 2017') }}
          </fieldset>
        </div>

        <div class="form-group">
          {{ radioGroup(
          'How often you want them to make this payment',
          'paymentSchedule',
          [
          {
            label: 'Each week',
            value: 'EACH_WEEK'
          },
          {
            label: 'Every 2 weeks',
            value: 'EVERY_TWO_WEEKS'
          },
          {
            label: 'Every month',
            value: 'EVERY_MONTH'
          }
          ],
          form
          ) }}

        </div>

        {{ saveAndContinueButton() }}
      </form>
    </div>
  </div>
{% endblock %}
