# The default owners for everything in the repo are @hmcts/pet.
# When someone submits a pull request, @hmcts/pet will be
# requested for review.
*       @hmcts/pet

# Renovate
.pnp.cjs
.yarn/**
package.json
yarn.lock
charts/**/Chart.yaml
.github/workflows/*.yaml
