{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, yesNoRadio, saveAndContinueButton, errorSummary %}

{% set heading = 'Does your partner receive a pension?' %}

{% block content %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="post" novalidate
            class="analytics-submit-event-trigger"
            data-event-action="SoM: Does your partner receive a pension?"
            data-event-label-from="option">

        {{ csrfProtection(csrf) }}

        {{ yesNoRadio(t('Does your partner receive a pension?'), 'option', form) }}

        {{ saveAndContinueButton() }}

      </form>

    </div>
  </div>

{% endblock %}
