!src/main/public/js/*.js

node_modules/
.nyc_output
.sass-cache
*.css

.idea/
*.iml

*swp
*log
.DS_Store

src/main/public/img/lib/*
src/main/public/js/lib/**/*.js
src/main/public/webchat/sass/*.scss
src/main/public/webchat/javascript/hmcts-*.js
src/main/public/webchat/css/*.css
src/main/public/stylesheets/lib/*
src/main/public/apple-touch-icon.png

node-rpm-packaging/
mochawesome-report/
npm-debug.log.*

.project
.settings/

coverage-report
.scannerwork
smoke-output/
functional-output/
acb.yaml
