version: '2.1'

services:
  citizen-frontend:
    build:
      context: .
      args:
        - http_proxy
        - https_proxy
        - no_proxy
    image: hmctspublic.azurecr.io/cmc/citizen-frontend
  citizen-integration-tests:
    build:
      context: .
      dockerfile: integration-tests.Dockerfile
      args:
        - http_proxy
        - https_proxy
        - no_proxy
    image: hmctspublic.azurecr.io/cmc/citizen-integration-tests
