{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, textInput, saveAndContinueButton, errorSummary %}
{% from "date.njk" import dateInput %}
{% block additional_head %}
  <link rel="stylesheet" href="{{ asset_paths['style'] }}/govuk-frontend/all.css"/>
{% endblock %}

{% set govukBackLinkHref = 'respite-type' %}
{% set heading = 'Expected end date' %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
    <p>{{ t('This is the end date that it is due to finish (optional):') }}</p>
      <form method="post">
        <input type="hidden" name="known" value="true" />
        {{ csrfProtection(csrf) }}
        {{ dateInput('respiteEnd', form, hint = t('For example, {{ currentDate }}', { currentDate: currentDate | inputDate }),
            visuallyHiddenLabelValue = 'expected end date') }}
        {{ saveAndContinueButton() }}
      </form>
    </div>
  </div>
{% endblock %}
