{% from "form.njk" import csrfProtection, radioGroupWithHintPanel, saveAndContinueButton %}
{% extends "layout.njk" %}

{% set heading = t('Respond to the settlement agreement') %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <form novalidate method="post" class="analytics-submit-event-trigger"
            data-event-action="Settlement Agreement">
        {{ csrfProtection(csrf) }}
        <table class="offer-table">
          <tbody>
          <tr>
            <td class="form-control-1-3">{{ t('The agreement') }}</td>
            <td>{{ offer.content }}</td>
          </tr>
          <tr>
            <td class="form-control-1-3">{{ t('Completion date')}}</td>
            <td>{{ offer.completionDate | date }}</td>
          </tr>
          </tbody>
        </table>
        <div>
          <p>{{ t('This agreement settles the claim made by {{ claimantName }} against {{ defendantName}}.
           This includes all money owed in the claim, for example court fees, expenses or interest.',
              { claimantName: claim.claimData.claimant.name,
                defendantName: claim.claimData.defendant.name }) }}</p>
          <p>{{ t('Neither party can make any further claims relating to this case, other than to enforce it.') }}</p>
          <p>{{ t('Either party can view and download this agreement from their Money Claims account. Both parties should keep
            a copy of this agreement.') }}</p>
          <h3 class="heading-medium">{{ t('If the agreement is broken') }}</h3>
          <p>{{ t('The claimant can request a County Court Judgment (CCJ) for any money still owed from this agreement.') }}</p>
        </div>
        <h2 class="heading-medium">{{ t('Do you want to sign the settlement agreement?') }}</h2>
        <p>{{ t('You can choose not to sign the settlement agreement, for example if you think you can’t afford it.') }}</p>
        <p>{{ t('Make sure this agreement includes everything you’ve agreed with {{ claimantName }} before signing. You won’t be
          able to change this later.', { claimantName: claim.claimData.claimant.name }) }}</p>
        {{ radioGroupWithHintPanel(
          label = "Do you accept the settlement agreement?",
          name = "option",
          options = [
            {
              label: t('Yes - I confirm I’ve read and accept the terms of the agreement.'),
              value: "yes",
              hint: t('The claim will be put on hold and the claimant can’t request a CCJ against you.'),
              bold: false
            },
            {
              label: t('No - I reject the terms of the agreement.'),
              value: "no",
              hint: t('The claimant can request a CCJ against you to enforce the repayment plan shown in the agreement.
               You can ask a judge to change the plan based on your financial details.
                The court has reviewed the plan and believes you can afford it, so a judge may not change it.'),
              bold: false
            }
          ],
          form = form,
          legendHidden = true
        ) }}
        {{ saveAndContinueButton() }}
      </form>
    </div>
  </div>
{% endblock %}
