{% extends "layout.njk" %}
{% from "support.njk" import supportWidget %}
{% from "form.njk" import csrfProtection, submitButton %}

{% set title = t('Money claim') %}
{% set heading = t('How to complete and send your response') %}

{% macro externalLink(text, href) %}
  <a href="{{ href }}" target="_blank">{{ text }}</a>
{% endmacro %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <ul class="list list-number">

        {% if draft.response.type === ResponseType.FULL_ADMISSION %}
        <li>{{ t('Download the admission form') }}</li>
        {% endif %}

        {% if draft.response.type === ResponseType.PART_ADMISSION  %}
          <li>{{ t('Download both the admission and defence forms') }}</li>
        {% endif %}

        {% if draft.response.type === ResponseType.DEFENCE %}
          {% if draft.rejectAllOfClaim.option === RejectAllOfClaimOption.COUNTER_CLAIM %}
            <li>{{ t('Download the defence and counterclaim form') }}</li>
          {% elseif draft.howMuchPaidClaimant.option === HowMuchPaidClaimantOption.LESS_THAN_AMOUNT_CLAIMED %}
            <li>{{ t('Download both the admission and defence forms') }}</li>
          {% endif %}
        {% endif %}

        <li>{{ t('Complete the form on your computer using:') }}</li>

        <ul class="list list-bullet">
              <li>{{ t('Claim No. {{ claimNumber }}', { claimNumber: claim.claimNumber }) }}</li>
              <li>{{ t('Claimant {{ claimantName }}', { claimantName: claim.claimData.claimant.name}) }}</li>
              <li>{{ t('Defendant {{ defendantName }}', { defendantName: claim.claimData.defendant.name}) }}</li>
          </ul>

        <li>{{ t('Save the completed form to your computer') }}</li>
        <li>
        {{ t('Email the form to '
        +'<a href="mailto:{{ supportEmailAddress }}?Subject={{ claimNumber }}">{{ supportEmailAddress }}</a>"',
        { supportEmailAddress: supportEmailAddress , claimNumber: claim.claimNumber }) | safe }}
        </li>
      </ul>

      {% if draft.response.type === ResponseType.DEFENCE %}
        {% if draft.rejectAllOfClaim.option === RejectAllOfClaimOption.COUNTER_CLAIM %}

          <h2 class="heading-medium">{{ t('Counterclaim fee') }}</h2>
          <p>
            {{ t('You`ll need to pay a court fee if you make a counterclaim.')}}
          </p>
          <details class="notice">
            <summary>{{ t('View claim fees') }}</summary>

            <div class="panel">
              <p>
                {{ t('The fee is based on the amount you`re claiming, including interest.') }}
              </p>
              <table>
                <thead>
                <tr>
                  <th scope="col">{{ t('Claim amount') }}</th>
                  <th scope="col">{{ t('Fee') }}</th>
                </tr>
                </thead>
                {% for fee in fees %}
                  <tr>
                    <td>{{ t('{{ from }} to {{ till }}', { from: fee.minRange | numeral, till: fee.maxRange | numeral } )}}</td>
                    <td>{{ fee.amount | numeral | default('Not available') }}</td>
                  </tr>
                {% endfor %}
              </table>
            </div>
          </details>
        {% endif %}
      {% endif %}

      <h2 class="heading-medium">{{ t('Deadline for sending your response') }}</h2>

      <p>{{ t('You must email the form before <span class="bold">4pm on {{ responseDeadline }}</span>',
        { responseDeadline: claim.responseDeadline | date }) | safe }}</p>

      <h2 class="heading-medium">{{ t('Download and complete the form') }}</h2>

      {% if draft.response.type === ResponseType.FULL_ADMISSION %}
        {{ t(externalLink('Download admission form', asset_paths["pdf"] + '/OCON9A.pdf') + ' (PDF, 102 KB).') | safe }}
      {% endif %}

      {% if draft.response.type === ResponseType.PART_ADMISSION %}
      <p>{{ t(externalLink('Download admission form', asset_paths["pdf"] + '/OCON9A.pdf') + ' (PDF, 102 KB).') | safe }}</p>
      <p>{{ t(externalLink('Download defence form', asset_paths["pdf"] + '/OCON9B.pdf') + ' (PDF, 75 KB).') | safe }}</p>
      {% endif %}

      {% if draft.response.type === ResponseType.DEFENCE %}
        {% if draft.rejectAllOfClaim.option === RejectAllOfClaimOption.COUNTER_CLAIM %}
          {{ t(externalLink('Download defence and counterclaim form', asset_paths["pdf"] + '/OCON9B.pdf') + ' (PDF, 102 KB)',
          { ocon9B: [asset_paths["pdf"] + '/OCON9B.pdf']}) | safe }}
        {% elseif draft.howMuchPaidClaimant.option === HowMuchPaidClaimantOption.LESS_THAN_AMOUNT_CLAIMED %}
          <p>{{ t(externalLink('Download admission form', asset_paths["pdf"] + '/OCON9A.pdf') + ' (PDF, 102 KB).') | safe }}</p>
          <p>{{ t(externalLink('Download defence form', asset_paths["pdf"] + '/OCON9B.pdf') + ' (PDF, 75 KB).') | safe }}</p>
        {% endif %}
      {% endif %}

      {{ supportWidget() }}

  </div>

{% endblock %}
