{% from "includes/macros/form.njk" import csrfProtection, textInput, saveAndContinueButton %}

{% macro addressForm(form, csrfToken) %}
  <form method="post">
    {{ csrfProtection(csrfToken) }}

    {{ textInput(t('Address line 1'), 'line1', form) }}
    {{ textInput(t('Address line 2 (optional)'), 'line2', form) }}
    {{ textInput(t('Town or city'), 'city', form) }}
    {{ textInput(t('Postcode'), 'postcode', form, '', 'postcode') }}
    {{ saveAndContinueButton() }}
  </form>
{% endmacro %}
