{% from "includes/macros/form.njk" import readOnlyField, csrfProtection, textInput, radioGroup, saveAndContinueButton %}
{% from "includes/macros/address.njk" import addressFragment, correspondenceAddressFragment %}

{% macro partyDetailsFragment(form, fields, addressSection, showCorrespondenceAddressSection = false) %}
  {% for field in fields %}
    {% if field.readOnly %}
      {{ readOnlyField(field.label, field.value) }}
    {% else %}
      {{ textInput(form = form, label = t(field.label), name = field.name, autocomplete = field.autocomplete) }}
    {% endif %}
  {% endfor %}

  {% if addressSection %}
    <h2 class="heading-medium">{{ t(addressSection.heading) }}</h2>
    {% if addressSection.hint %}
      <p>{{ t(addressSection.hint) }}</p>
    {% endif %}
    {{ addressFragment(form = form, name = addressSection.name) }}
  {% endif %}

  {% if showCorrespondenceAddressSection == true %}
    {{ correspondenceAddressFragment(form) }}
  {% endif %}
{% endmacro %}
