{% from "includes/macros/form.njk" import csrfProtection, addressInput, radioGroup, saveAndContinueButton %}

{% macro partyDetailsForm(form, csrfToken) %}
  <form method="post">
    {{ csrfProtection(csrfToken) }}

    <h2 class="heading-medium">{{ t('Your residential address') }}</h2>
    <p>{{ t('This must be the address where you live') }}</p>
    {{ addressInput(form, 'address') }}


    <h2 class="heading-medium">{{ t('Correspondence address') }}</h2>

    {{ radioGroup(
        t('Would you like correspondence sent to a different address?'),
        'hasCorrespondenceAddress',
        [
          { label: 'No', value: false },
          { label: 'Yes, add a correspondence address', value: true }
        ],
        form,
        isInline = false
      )
    }}

    <div class="panel panel-border-narrow js-hidden" id="hasCorrespondenceAddress-true" aria-hidden="false">
      <p>{{ t('All correspondence will be sent here, instead of your residential address. This is sometimes known as an &lsquo;address for service&rsquo;.') | safe }}</p>
      {{ addressInput(form, 'correspondenceAddress') }}
    </div>

    {{ saveAndContinueButton() }}
  </form>
{% endmacro %}
