{% from "includes/macros/form.njk" import checkboxGroup, submitButton %}

{% macro statementOfTruth(form, statementOfTruthText = '') %}
  <p class="bold-medium">{{ t('Statement of truth') }}</p>

  <div class="notice notice-medium">
    <i class="icon icon-important">
      <span class="visually-hidden">{{ t('Warning') }}</span>
    </i>
    <strong class="bold-small">
      {{ t("You could be fined or go to prison if you deliberately give untrue or misleading information.") }}
    </strong>
  </div>

  {{ checkboxGroup(
  t('Statement of truth'),
  'signed',
  [
  { label: t(statementOfTruthText), value: true }
  ],
  form,
  legendHidden = true) }}
{% endmacro %}
