{% from "includes/macros/form.njk" import checkboxGroup, submitButton %}

{%
  macro statementOfTruth(
    form,
    title = "Statement of truth",
    warningMessage = "You could be fined or go to prison if you deliberately give untrue or misleading information.",
    label = "I confirm that I believe the details I have provided are correct."
  )
%}
  <p class="bold-medium">{{ t(title) }}</p>

  <div class="notice notice-medium">
    <i class="icon icon-important">
      <span class="visually-hidden">{{ t('Warning') }}</span>
    </i>
    <strong class="bold-small">
      {{ t(warningMessage) }}
    </strong>
  </div>

  {{
    checkboxGroup(
      label = label,
      name = 'signed',
      options = [ { label: label, value: true } ],
      form = form,
      legendHidden = true
    )
  }}
{% endmacro %}
