{% macro task(link, taskName, completedSection) %}
  <div class="task">
    <a href="{{ link }}">
      <span class="task-name">
        {{ taskName }}
      </span>
    </a>
    {% if completedSection === true %}
      <div class="task-finished">
        <strong>{{ t("COMPLETED") }}</strong>
      </div>
    {% endif %}

  </div>
{% endmacro %}

{% macro disabledTask(taskName) %}
  <div class="task">
    <span class="task-name">
      {{ taskName }}
    </span>
  </div>
{% endmacro %}

{% macro taskListHeading(number, heading) %}
  <span class="bold-medium">
    <span class="task-number">{{ number }}.</span>
    {{ heading }}
  </span>
{% endmacro %}
