{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, submitButton, linkButton %}
{% from "components/free-mediation/howFreeMediationWorks.njk" import howMediationWorks %}

{% set heading = 'How free mediation works' %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">

      {{ howMediationWorks() }}

      <form method="post" novalidate>
        {{ csrfProtection(csrf) }}

        <div class="form-group">
          {% if mediationPilot %}
            {{ submitButton('Continue with free mediation', 'mediationYes') }}
            {{ linkButton('I don’t want to try free mediation', 'mediationNo', 'link-button') }}
          {% else %}
            {{ submitButton() }}
          {% endif %}
        </div>
      </form>
    </div>
  </div>
{% endblock %}
