{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, submitButton, linkButton %}

{% set heading = 'You can only use free mediation if:' %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <ul class="list list-bullet">
        <li>{{ t('you’re willing to negotiate and listen to {{ otherParty }}’s position', { otherParty: otherParty }) }}</li>
        <li>{{ t('you have enough information about the claim to discuss it in detail') }}</li>
        <li>{{ t('you can make time for a one-hour call between 8am and 5pm on a weekday') }}</li>
      </ul>
      <div class="form-group">
        <div class="notice">
          <i class="icon icon-important"><span class="visually-hidden">{{ t('Warning') }}</span></i>
          <strong class="bold-small">{{ t('You need to agree to all of these to use mediation.') }}</strong>
        </div>
      </div>

      <form method="post" novalidate>
        {{ csrfProtection(csrf) }}

        <div class="form-group">
          {{ linkButton('I agree', 'accept', 'link-button button') }}
        </div>
        <div class="form-group-related">
          {{ linkButton('I don’t agree', 'reject', 'link-button no-padding') }}
        </div>
      </form>
    </div>
  </div>
{% endblock %}

