{% extends "layout.njk" %}
{% from "support.njk" import supportWidget %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="govuk-box-highlight">
        <h1 class="bold-large">{{ t('You’ve signed the agreement') }}</h1>
      </div>

      <h2 class="heading-medium">{{ t('What happens next') }}</h2>
      <p>
        {{
          t('{{ name }} will also be asked to sign. The agreement replaces the claim once you’ve both signed.', {
            name: claim.claimData.defendant.name
          })
        }}
      </p>

      {% include "includes/service_survey_link.njk" %}

      <p>
        <a href="{{ DashboardPaths.dashboardPage.uri }}" class="button">{{ t('Finished') }}</a>
      </p>

      {{ supportWidget() }}
    </div>
  </div>
{% endblock %}
