{% extends "layout.njk" %}

{% set title = t('Money claim | Make a legal agreement') %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">{{ t('You can now make a legal agreement') }}</h1>

      <p>
        {{ t('The agreement will be based on the offer from {{ defendantName }} you’ve just accepted. It has not been reviewed by court staff or a judge.', {
          defendantName: claim.claimData.defendant.name }) }}
      </p>

      <p>
        {{ t('You may avoid getting a County Court Judgment (CCJ) if you settle out of court. ') }}
      </p>

      <p>
        {{ t('You both need to sign the agreement for it to become a legal contract.') }}
      <p>

      <a href="{{ OfferPaths.declarationPage.evaluateUri({ externalId: claim.externalId }) }}" role="button" class="button">
        {{ t('Make an agreement') }}
      </a>
    </div>
  </div>
{% endblock %}
