{% extends "layout.njk" %}

{% from "internalLink.njk" import internalLink %}

{% set heading = 'You can now make a legal agreement' %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">

      <p>{{ t('The agreement will be based on the offer from {{ defendantName }} you’ve just accepted. It has not been reviewed by court staff or a judge.', { defendantName: claim.claimData.defendant.name}) }}</p>
      <p>{{ t('You both need to sign the agreement for it to become a legal contract.') }}</p>

      {{ internalLink(t('Make an agreement'), OfferPaths.declarationPage.evaluateUri({ externalId: claim.externalId }), 'button') }}
    </div>
  </div>
{% endblock %}
