{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, submitButton %}
{% from "support.njk" import supportWidget %}
{% set title = t('Money claim') %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
        <div class="govuk-box-highlight">
          <h1 class="bold-large">{{ t('Your offer has been sent to the claimant') }}</h1>
        </div>
        <h2 class="heading-medium">{{ t('What happens next') }}</h2>
        <p>
        {{ t("%s can accept, reject or make a counter offer. We'll let you know when they respond.",
        {
          postProcess: 'sprintf',
          sprintf: [claim.claimData.claimant.name]
        }
        ) }}
      </p>
      <p>
        {{ t('View your claim status on your <a href="%s">money claims account</a>.',
          {
            postProcess: 'sprintf',
            sprintf: ['/dashboard']
          }
        ) | safe }}
      </p>
      
      {{ supportWidget() }}
          
      <form method="post" novalidate>
        {{ csrfProtection(csrf) }}

        <div class="form-group">
          {{ submitButton('Finished') }}
        </div>
      </form>
    </div>
  </div>
{% endblock %}
