{% extends "layout.njk" %}
{% from "support.njk" import supportWidget %}
{% set title = t('Money claim') %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
        <div class="govuk-box-highlight">
          <h1 class="bold-large">{{ t('Your offer has been sent to {{ claimantName }}', { claimantName: claim.claimData.claimant.name }) }}</h1>
        </div>
        <h2 class="heading-medium">{{ t('What happens next') }}</h2>
        <p>
        {{ t('{{ claimantName }} can accept or reject. We’ll email you when they respond.', { claimantName: claim.claimData.claimant.name }) }}
      </p>

      {{ supportWidget() }}

      {% include "includes/service_survey_link.njk" %}
    </div>
  </div>
{% endblock %}
