{% extends "layout.njk" %}
{% from "support.njk" import supportWidget %}

{% set title = t('Money claim | Offer rejected - confirmation page') %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="govuk-box-highlight">
        <h1 class="bold-large">{{ t('You’ve rejected their offer') }}</h1>
      </div>

      <h2 class="heading-medium">{{ t('What happens next') }}</h2>
      <p>
        {{ t('You’ve rejected the defendant’s offer to settle out of court.') }}
      </p>
      <p>
        {{ t('View your claim status on <a href="{{ dashboard }}">your money claims account</a>.', { dashboard: '/dashboard' }) | safe }}
      </p>

      {{ supportWidget() }}

      <br>
      <a href="#" class="button">Finished</a>
    </div>
  </div>
{% endblock %}
