{% extends "layout.njk" %}
{% from "support.njk" import supportWidget %}

{% set title = t('Money claim | Offer rejected - confirmation page') %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="govuk-box-highlight">
        <h1 class="bold-large">{{ t('You’ve rejected their offer') }}</h1>
      </div>

      <h2 class="heading-medium">{{ t('What happens next') }}</h2>
      <p>
        {{ t('You’ve rejected the defendant’s offer to settle out of court.') }}
      </p>

      {% include "includes/service_survey_link.njk" %}

      <p>
        <a href="{{ DashboardPaths.dashboardPage.uri }}" class="button">{{ t('Finished') }}</a>
      </p>

      {{ supportWidget() }}

    </div>
  </div>
{% endblock %}
