{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, submitButton %}
{% from "support.njk" import supportWidget %}
{% from "internalLink.njk" import internalLink %}
{% set heading = 'Make an offer to settle out of court' %}
{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
        <p>{{ t('You may avoid getting a County Court Judgment (CCJ) if you settle out of court.') }}</p>
        <p>
        {{ t('If {{ claimantName }} accepts your offer you’ll both sign a legal agreement.', { claimantName: claim.claimData.claimant.name }) }}
      </p>
      <p>
        {{ t('If they reject your offer the details can’t be mentioned in court.') }}
      </p>

      {{ internalLink(t('Continue'), OfferPaths.offerPage.evaluateUri({ externalId: claim.externalId }), 'button') }}
    </div>
  </div>
{% endblock %}
