{% extends "layout.njk" %}
{% from "support.njk" import supportWidget %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="govuk-box-highlight">
        <h1 class="bold-large">{{ t('You’ve settled out of court') }}</h1>
        <div class="action-date-container">
          <span class="bold">{{ claim.settlementReachedAt | date }}</span>
        </div>
        <div class="receipt-download-container">
          <a href="{{ OfferPaths.agreementReceiver.evaluateUri({ externalId: claim.externalId }) }}">{{ t('Download agreement as a PDF') }}</a>
        </div>
      </div>

      <h2 class="heading-medium">{{ t('What happens next') }}</h2>
      <p>
        {{ t('You’ve both signed a legal agreement which replaces the claim.') }}
      </p>

      {% include "includes/service_survey_link.njk" %}

      <p>
        <a href="{{ DashboardPaths.dashboardPage.uri }}" class="button">{{ t('Finished') }}</a>
      </p>

      {{ supportWidget() }}

    </div>
  </div>
{% endblock %}
