{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, submitButton, errorSummary, textArea %}
{% from "date.njk" import dateInput %}
{% set heading = t('Make an offer') %}
{% set title = t('Money claim') %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">

      <p novalidate method="post">
        {{ csrfProtection(csrf) }}
        <div class="description-block">
          <h4 class="heading-small"> {{ t('Your offer') }}</h4>
        </div>

        <p><span class="form-hint">{{ t('Make it clear what you will do and by when.
          For example: "I will pay you £240 on 29 April 2018 by bank transfer".') }}</span></p>

        <p><span class="form-hint">{{ t('If you’re also asking {{ claimant }} to do something, say clearly what it is and by when it should be done.
          For example: "You will fix the roof by 28 April 2018."', { claimant: claim.claimData.claimant.name  }) }}</span></p>


        {{ textArea(id='offerText', label= '', name='offerText', form = form, rows = 10) }}

        <div class="description-block">
          <h4 class="heading-small"> {{ t('When will you pay in full or complete your offer?') }}</h4>
        </div>

        {{ dateInput(form = form, name = 'completionDate',label = '', hint = t('For example, 23 04 2017')) }}

        <div class="panel panel-border-wide">
          <p>{{ t('{{ claimant }} can accept, reject or make a counter offer.', { claimant: claim.claimData.claimant.name  }) | safe}}</p>
        </div>
        {{ submitButton('Submit offer') }}
      </form>
    </div>
  </div>
{% endblock %}
