{% from "internalLink.njk" import internalLink %}

{% set claimantName = claim.claimData.claimant.name %}

<h2 class="heading-small">{{ t('If {{ claimantName }} accepts your response', { claimantName: claimantName }) | safe }}</h2>
<p>The claim will be settled.</p>
<h2 class="heading-small">{{ t('If {{ claimantName }} rejects your response', { claimantName: claimantName }) | safe  }}</h2>
<p>{{ t('We’ll ask if they want to try mediation. If they agree, we’ll contact you with an appointment.') }}</p>
<p>{{ t('If they don’t want to try mediation the court will review the case. You might have to go to a hearing.') }}</p>
<p>{{ t('We’ll contact you if we set a hearing date to tell you how to prepare.') }}</p>

{% if claim.response.defenceType !== DefenceType.ALREADY_PAID %}
  <h2 class="heading-medium">{{ t('Settle out of court') }}</h2>
  <p>{{ t('You can still {{ settleOutOfCourt }}. For example you could offer to repair goods you sold the claimant or suggest a payment.',
      { settleOutOfCourt: internalLink(t('settle the claim out of court'), OfferPaths.settleOutOfCourtPage.evaluateUri({ externalId: claim.externalId })) }) | safe }}</p>
  <p>{{ t('You can avoid getting a County Court Judgment if the claimant accepts your offer.') }}</p>
{% endif %}
