{% from "internalLink.njk" import internalLink %}

{% set claimantName = claim.claimData.claimant.name %}

<h2 class="heading-small">{{ t('If you agreed to try mediation') }}</h2>

<p>{{ t('We’ll ask {{ claimantName }} if they want to try mediation.', { claimantName: claimantName }) | safe }}</p>
<p>{{ t('If they agree we’ll contact you to arrange an appointment. If not, we’ll tell you what to do.') }}</p>

<h2 class="heading-small">{{ t('If you chose not to try mediation') }}</h2>
<p>{{ t('We’ll contact you to tell you what to do.') }}</p>

{% if claim.response.defenceType !== DefenceType.ALREADY_PAID %}
  <h2 class="heading-medium">{{ t('Settle out of court') }}</h2>
  <p>{{ t('You can still {{ settleOutOfCourt }}. For example you could offer to repair goods you sold the claimant or suggest a payment.',
      { settleOutOfCourt: internalLink(t('settle the claim out of court'), OfferPaths.settleOutOfCourtPage.evaluateUri({ externalId: claim.externalId })) }) | safe }}</p>
  <p>{{ t('You can avoid getting a County Court Judgment if the claimant accepts your offer.') }}</p>
{% endif %}
