{% from "internalLink.njk" import internalLink %}
{% from "form.njk" import linkButton %}
{% from "./paidInFullClaimant.njk" import paidInFullClaimantButtonClaimDetails %}

{% macro admissionByCCJClaimantDashboard(claim) %}
  {{ t('You requested a County Court Judgment against {{ defendantName }}.', { defendantName: claim.claimData.defendant.name }) }}
{% endmacro %}

{% macro admissionByCCJClaimantClaimDetails(claim) %}
  <div class="status-block">
    <h2 class="heading-medium">{{ t('You requested a County Court Judgment against {{ defendantName }}',
        { defendantName: claim.claimData.defendant.name }) }}</h2>
    <p>{{ t('When we’ve processed your request, we’ll post a copy of the judgment to you and to {{ defendantName }}',
        { defendantName: claim.claimData.defendant.name }) }}</p>
    <p>{{ internalLink('View the repayment plan', CCJPaths.repaymentPlanSummaryPage.evaluateUri({ externalId: claim.externalId, madeBy: MadeBy.CLAIMANT.value }), 'button button-secondary') }}</p>
    <p>{{ t('When you’ve been paid in full, you need to let us know.') }}</p>
    {{ paidInFullClaimantButtonClaimDetails(claim,'Tell us you’ve been paid') }}
  </div>
{% endmacro %}
