{% from "internalLink.njk" import internalLink %}
{% from "externalLink.njk" import externalLink %}
{% from "form.njk" import linkButton %}
{% from "./utilityMacros.njk" import downloadResponseLink %}

{% macro admissionByCCJDefendantDashboard(claim) %}
  {{ t('A County Court Judgment has been issued against you') }}
{% endmacro %}

{% macro admissionByCCJDefendantClaimDetails(claim) %}
  <h2 class="heading-small">{{ t('A County Court Judgment (CCJ) has been issued against you') }}</h2>
  <p>{{ t('{{ claimantName }} accepted your repayment plan and requested a CCJ against you.',
      { claimantName: claim.claimData.claimant.name }) }}</p>
  <p>{{ t('If a defendant doesn’t pay immediately, claimants can request a CCJ even if they accept a repayment plan.') }}</p>
  <p>{{ t(internalLink('Contact ' + claim.claimData.claimant.name, DashboardPaths.contactThemPage.evaluateUri({ externalId: claim.externalId })) +
    ' if you need their payment details. Make sure you get receipts for any payments.') | safe }}</p>
  <p>{{ t('The judgment sets out the terms of how you must pay.') }}</p>
  <p>{{ t('We’ll post a copy of the judgment to you and to {{ defendantName }}', { defendantName: claim.claimData.defendant.name }) }}</p>
  <p>{{ t('If you pay the debt within one month of the date of judgment, the CCJ is removed from the public register. You can pay £15 to ' +
    externalLink('apply for a certificate', 'https://www.gov.uk/government/publications/form-n443-application-for-a-certificate-of-satisfaction-or-cancellation') +
    ' that confirms this.') | safe }}</p>
  <p>{{ downloadResponseLink(claim) }}</p>
{% endmacro %}
