{% from "internalLink.njk" import internalLink %}
{% from "externalLink.njk" import externalLink %}
{% from "form.njk" import linkButton %}
{% from "./utilityMacros.njk" import downloadResponseLink, admissionByCCJCommonInfoClaimDetails %}

{% macro admissionByCCJDefendantDashboard(claim) %}
  {{ t('{{ claimantName }} requested a County Court Judgment against you', { claimantName: claim.claimData.claimant.name }) }}
{% endmacro %}

{% macro admissionByCCJDefendantClaimDetails(claim) %}
  <div class="status-block">
    <h2 class="heading-small">{{ t('{{ claimantName }} requested a County Court Judgment (CCJ) against you', { claimantName: claim.claimData.claimant.name }) }}</h2>
    <p>{{ t('They accepted your repayment plan.') }}</p>
    <p>{{ t('If a defendant doesn’t pay immediately, claimants can request a CCJ even if they accept a repayment plan.') }}</p>

    {{ admissionByCCJCommonInfoClaimDetails(claim) }}
  </div>
{% endmacro %}

{% macro CCJByDeterminationDefendantClaimDetails(claim) %}
  <div class="status-block">
    <h2 class="heading-small">{{ t('{{ claimantName }} requested a County Court Judgment (CCJ) against you', { claimantName: claim.claimData.claimant.name }) }}</h2>
    {% if claim.response.responseType === domain.ResponseType.FULL_ADMISSION %}
      <p>{{ t('They rejected your repayment plan.') }}</p>
    {% elif claim.response.responseType === domain.ResponseType.PART_ADMISSION %}
      <p>{{ t('They accepted your offer to pay {{ partAdmitAmount }}. They rejected your repayment plan.', { partAdmitAmount: claim.response.amount }) }}</p>
    {% endif %}

    {% if claim.claimantResponse.courtDetermination.decisionType === DecisionType.CLAIMANT %}
      <p>{{ t('They suggested a new repayment plan. The court believes you can afford the claimant’s plan, based on the financial details you provided.') }}</p>
    {% else %}
      <p>{{ t('They accepted a new repayment plan determined by the court, based on the financial details you provided.') }}</p>
    {% endif %}
    <p>{{ internalLink('View the repayment plan',
        CCJPaths.repaymentPlanSummaryPage.evaluateUri({ externalId: claim.externalId, madeBy: MadeBy.DEFENDANT.value }), 'button button-secondary') }}</p>

    {{ admissionByCCJCommonInfoClaimDetails(claim) }}
  </div>
{% endmacro %}

