{% macro businessQueueClaimDetails() %}
  <div class="status-block">
    <h2 class="heading-medium"> {{ t('We’ve sent this case to the County Court Business Centre') }} </h2>
    <p>{{  t('Your online account won’t be updated - any further updates will be by post.') }}</p>
    <p>{{  t('If you need to send any forms, letters or documents about the claim, send them to this address:') }}</p>
    <p>
      {{ 'County Court Business Centre'  }}<br/>
      {{ 'St. Katherine House' }} <br/>
      {{ '21-27 St. Katherine Street' }} <br/>     
      {{ 'Northampton' }} <br/>
      {{ 'NN1 2LH' }} <br/>
    </p>
    <p> 
      {{ 'Contact the County Court Business Centre if you have any questions about the claim.'}}
    </p>
    <p> 
      {{ 'Phone: 0300 123 7050' }} <br/>
      {{ 'Email: CCBCAQ@justice.gov.uk' }} <br/>
    </p>
  </div>
{% endmacro %}

{% macro businessQueueViaPaperResponseClaimDetails() %}
  <div class="status-block">
    <h2 class="heading-medium">Your response has been sent to the County Court Business Centre (CCBC)</h2>
    <p>CCBC will contact you by post within 10 days to tell you what happens next. </p>
    <p>You can see the response in the claim documents. You can only view the response.</p>
    <p>The progression of your case will not be affected by any deadlines previously set. <p>
  </div>
{% endmacro %}

{% macro businessQueueDefendantClaimDetails(claim) %}
  {% if claim.proceedViaPaperResponse %}
    {{ businessQueueViaPaperResponseClaimDetails() }}
  {% else %}
    {{ businessQueueClaimDetails() }}
  {% endif %}
{% endmacro %}

{% macro businessQueueClaimantClaimDetails(claim) %}
  {% if claim.proceedViaPaperResponse %}
    {{ businessQueueViaPaperResponseClaimDetails() }}
  {% else %}
    {{ businessQueueClaimDetails() }}
  {% endif %}
{% endmacro %}

{% macro businessQueueClaimStatus() %}
      {{ t('Case passed to CCBC') }}
{% endmacro %}

{% macro businessQueueDefendantClaimStatus() %}
  {{ businessQueueClaimStatus() }}
{% endmacro %}

{% macro businessQueueClaimantClaimStatus() %}
  {{ businessQueueClaimStatus() }}
{% endmacro %}
