{% from "externalLink.njk" import externalLink %}

{% macro ccjRequestedForClaimantDashboard(claim) %}
  {{ t('You requested a County Court Judgment on {{ ccjRequestedAt }}.',
    { ccjRequestedAt: claim.countyCourtJudgmentRequestedAt | date }) }}
{% endmacro %}

{% macro ccjRequestedForClaimantClaimDetails(claim) %}
  <h2 class="heading-small">{{ t('A County Court Judgment has been issued') }}</h2>
  <p>
    {{ t('We’ll post a copy of the judgment to you and to {{ defendantName }}.',{ defendantName: claim.claimData.defendant.name }) }}
  </p>
  {% if claim.countyCourtJudgment.ccjType === 'DETERMINATION' %}
    <p>
      <a
        href="{{ CCJPaths.repaymentPlanSummaryPage.evaluateUri({ externalId: claim.externalId }) }}">{{ t('View the repayment plan') }}
      </a>
    </p>
  {% endif %}

  <p>{{ t('When you’ve been paid in full, you need to let us know.') }}</p>

  <p>
    <a href="{{ StatePaidPaths.datePaidPage.evaluateUri({ externalId: claim.externalId }) }}"
       class="button button-secondary">{{ t('Tell us you’ve been paid') }}
    </a>
  </p>
{% endmacro %}

{% macro ccjRequestedForDefendantDashboard(claim) %}
  {{ t('The claimant has requested a County Court Judgment (CCJ) against you on {{ ccjRequestedAt }}.',
    { ccjRequestedAt: claim.countyCourtJudgmentRequestedAt | date }) }}
{% endmacro %}

{% macro ccjRequestedForDefendantClaimDetails(claim) %}
  <h2 class="heading-small">{{ t('The claimant has requested a CCJ against you') }}</h2>
  <p>
    {{ t('You didn’t respond to this claim by the deadline of {{ responseDeadline }}.',
      { responseDeadline: claim.responseDeadline | date }) }}
  </p>
  <p>
    {{ t('{{ claimantName }} requested a default County Court Judgment (CCJ) against you on {{ ccjRequestedAt }}. '
      + 'We’ll contact you within 14 days to tell you whether the claimant’s request for judgment has been successful.',
      { claimantName : claim.claimData.claimant.name,
        ccjRequestedAt: claim.countyCourtJudgmentRequestedAt | date }) }}
  </p>
  <p>
    {{ t('You can no longer respond to the claim.') }}
  </p>
  <p>
    {{ externalLink(t('Find out more about County Court Judgments'), 'https://www.gov.uk/county-court-judgments-ccj-for-debt') }}
  </p>
{% endmacro %}
