{% from "externalLink.njk" import externalLink %}

{% macro ccjRequestedForClaimantDashboard(claim) %}
  {{ t('County Court Judgment (CCJ) requested') }}
{% endmacro %}

{% macro ccjRequestedForClaimantClaimDetails(claim) %}
  <div class="status-block">
    <h2 class="heading-medium">{{ t('County Court Judgment (CCJ) requested') }}</h2>
    <p>{{ t('We’ll process your request and post a copy of the judgment to you and to {{ defendantName }}. We aim to do this within 10 working days.',
         { defendantName: claim.claimData.defendant.name }) }}</p>
    <p>{{ t('Your online account will not be updated with the progress of this claim - any further updates will be by post.') }}</p>
    <p>{{ t('{{ defendantName }} can no longer respond to your claim online.',
        { defendantName: claim.claimData.defendant.name }) }}</p>
    <p class="govuk-details govuk-dashboard-details__text">{{ t('If a postal response is received before the judgment is issued your request will be rejected.') }}</p>
    <p><a target="_blank" rel="noreferrer noopener" href="https://www.gov.uk/make-court-claim-for-money/enforce-a-judgment">{{  t('Find out about actions you can take after a CCJ is issued (opens in new tab).') }}</a></p>
  </div>
{% endmacro %}

{% macro ccjRequestedForDefendantDashboard(claim) %}
  {{ t('The claimant has requested a County Court Judgment (CCJ) against you on {{ ccjRequestedAt }}.',
    { ccjRequestedAt: claim.countyCourtJudgmentRequestedAt | date }) }}
{% endmacro %}

{% macro ccjRequestedForDefendantClaimDetails(claim) %}
  <div class="status-block">
    <h2 class="heading-medium">{{ t('Claimant has requested a County Court Judgment (CCJ)') }}</h2>
    <p>{{ t('{{ claimantName }} has requested a CCJ against you because the deadline for your response has passed.',
        { claimantName : claim.claimData.claimant.name }) }}</p>
    <p>{{ t('Your online account will not be updated with the progress of this claim - any further updates will be by post.') }}</p>
    <p class="govuk-details govuk-dashboard-details__text">{{ t('If your deadline has passed, but the CCJ has not been issued, you can still respond. Contact us for more information:') }}</p>
    <p>
      <span class="block">{{ t('HM Courts & Tribunals Service') }}</span>
      <span class="block">{{ t('Email: {{ email }}', { email: supportEmailAddress }) }}</span>
      <span class="block">{{ t('Telephone: 0300 123 7050') }}</span>
      <span class="block">{{ t("Monday to Friday, 8.30am to 5pm.") }}</span>
    </p>
    <p></p>
    <p></p>
    <p>{{ t('Otherwise we’ll post a copy of the CCJ to you and to {{ claimantName }} and explain what to do next.',
                { claimantName : claim.claimData.claimant.name }) }}</p>
  </div>
{% endmacro %}
