{% from "externalLink.njk" import externalLink %}

{% macro ccjRequestedForClaimantDashboard(claim) %}
  {{ t('You requested a County Court Judgment on {{ ccjRequestedAt }}.',
    { ccjRequestedAt: claim.countyCourtJudgmentRequestedAt | date }) }}
{% endmacro %}

{% macro ccjRequestedForClaimantClaimDetails(claim) %}
  <div class="status-block">
    <h2 class="heading-medium">{{ t('You’ve requested a County Court Judgment (CCJ)') }}</h2>
    <p>{{ t('We’ll contact you within 14 days to tell you whether the judgment has been entered.') }}</p>
    <p>{{ t('{{ defendantName }} can no longer respond to your claim using this service - they may have responded by post.',
        { defendantName: claim.claimData.defendant.name }) }}</p>
  </div>
{% endmacro %}

{% macro ccjRequestedForDefendantDashboard(claim) %}
  {{ t('The claimant has requested a County Court Judgment (CCJ) against you on {{ ccjRequestedAt }}.',
    { ccjRequestedAt: claim.countyCourtJudgmentRequestedAt | date }) }}
{% endmacro %}

{% macro ccjRequestedForDefendantClaimDetails(claim) %}
  <div class="status-block">
    <h2 class="heading-medium">{{ t('We’ll contact you') }}</h2>
    <p>{{ t('{{ claimantName }} has requested a County Court Judgment (CCJ) against you because the deadline for your response has passed.',
        { claimantName : claim.claimData.claimant.name }) }}</p>
    <p>{{ t('It’s possible we received your postal response before the deadline but hadn’t processed it when they requested judgment.') }}</p>
    <p>{{ t('If we discover this has happened, we’ll reject their request.') }}</p>
    <p>{{ t('Otherwise we’ll post a copy of the CCJ to you and to {{ claimantName }} and explain what to do next.', { claimantName : claim.claimData.claimant.name }) }}</p>
  </div>
{% endmacro %}
