{% from "externalLink.njk" import externalLink %}

{% macro claimPartAdmittedAlreadyPaidForDefendantDashboard(claim) %}
  {{ t('We’ve emailed {{ claimantName }} telling them when and how you said you paid the claim.',
    { claimantName: claim.claimData.claimant.name }) }}
{% endmacro %}

{% macro claimPartAdmittedAlreadyPaidForClaimantDashboard(claim) %}
  {{ t('The defendant believes that they’ve paid the claim in full.') }}
{% endmacro %}

{% macro claimPartAdmittedAlreadyPaidForDefendantClaimDetails(claim) %}
  <h2 class="heading-small">{{ t('Your response to the claim') }}</h2>
  <p>
    {{ t('We’ve emailed {{ claimantName }} telling them when and how you said you paid the claim.',
      { claimantName: claim.claimData.claimant.name }) }}
  </p>
  <p>
    {{ t('We’ll contact you to let you know how they respond. They can confirm you’ve paid and the claim is ' +
      'settled, or they can proceed with it.') }}
  </p>
  <p>
    {{ _downloadResponseLink(claim) }}
  </p>
{% endmacro %}

{% macro claimPartAdmittedAlreadyPaidForClaimantClaimDetails(claim) %}
  <h2 class="heading-small">{{ t('The defendant’s response') }}</h2>
  <p>
    {{ t('{{ defendantName }} says they paid you {{ amount }} on {{ paymentDate }}.',
      { defendantName: claim.claimData.defendant.name, amount: claim.response.amount | numeral, paymentDate: claim.response.paymentDeclaration.paidDate | date }) }}
  </p>
  <p> {{ t('You can accept or reject this response.') }}</p>
  <p>
    {{ t('You need to respond before 4pm on {{ respondDate }} or your claim won’t proceed.', { respondDate: claim.respondToResponseDeadline | date}) }}
  </p>
  {{ _respond(claim, 'Respond') }}
{% endmacro %}

{% macro claimPartAdmittedToOweForDefendantDashboard(claim) %}
  {{ t('You’ve admitted part of the claim.') }}
{% endmacro %}

{% macro claimPartAdmittedToOweForClaimantDashboard(claim) %}
  {{ t('The defendant believes they owe you {{ amount }}. You can accept or reject that this is the amount owed.',
    { amount: claim.response.amount | numeral }) }}
{% endmacro %}

{% macro claimPartAdmittedToOweForDefendantClaimDetails(claim) %}
  <h2 class="heading-small">{{ t('Your response to the claim') }}</h2>

  <p>
    {% if claim.response.paymentIntention.paymentOption === domain.PaymentOption.IMMEDIATELY %}
      {{ t('You’ve said you owe {{ amount }} and offered to pay {{ claimantName }} immediately.',
        { amount: claim.response.amount | numeral, claimantName: claim.claimData.claimant.name }) }}
    {% elseif claim.response.paymentIntention.paymentOption === domain.PaymentOption.BY_SPECIFIED_DATE %}
      {{ t('You’ve said you owe {{ amount }} and offered to pay {{ claimantName }} on {{ paymentDate }}.',
        { amount: claim.response.amount | numeral, claimantName: claim.claimData.claimant.name, paymentDate: claim.response.paymentIntention.paymentDate | date }) }}
    {% elseif  claim.response.paymentIntention.paymentOption === domain.PaymentOption.INSTALMENTS %}
      {% set repaymentPlan = claim.response.paymentIntention.repaymentPlan %}
      {% set installmentAmount = repaymentPlan.instalmentAmount | numeral %}
      {% set paymentSchedule = t(repaymentPlan.paymentSchedule | renderPaymentSchedule) %}
      {{ t('You’ve said you owe {{ amount }} and offered to pay {{ claimantName }} {{ installmentAmount }} {{ paymentSchedule }} starting {{ paymentDate }}.',
        { amount: claim.response.amount | numeral, claimantName: claim.claimData.claimant.name,
          installmentAmount: installmentAmount, paymentSchedule: paymentSchedule, paymentDate: repaymentPlan.firstPaymentDate | date }) }}
    {% endif %}
  </p>
  <p>{{ t('We’ve also sent them your explanation of why you don’t believe you owe the amount claimed.') }}</p>
  <p>{{ t('We’ll contact you when they respond.') }}</p>
  <p>
    {{ _downloadResponseLink(claim) }}
  </p>
{% endmacro %}

{% macro claimPartAdmittedToOweForClaimantClaimDetails(claim) %}

  <h2 class="heading-small">{{ t('The defendant’s response') }}</h2>
  <p>{{ t('{{ defendantName }} admits they owe you {{ amount }} - they said they don’t owe the full amount you claimed.',
      { defendantName: claim.claimData.defendant.name, amount: claim.response.amount | numeral }) }} </p>
  <p>
    {{ t('You need to accept or reject the defendant’s admission of {{ amount }}.',
      { amount: claim.response.amount | numeral }) }}
  </p>
  {{ _respond(claim, 'View and respond to the offer') }}
{% endmacro %}

{% macro _downloadResponseLink(claim) %}
  <a href="{{ ResponsePaths.receiptReceiver.evaluateUri({ externalId: claim.externalId }) }}">{{ t('Download your response') }}</a>{{ t(' (PDF)') }}
{% endmacro %}

{% macro _respond(claim, text) %}
  <p><a href='{{ ClaimantResponsePaths.taskListPage.evaluateUri({ externalId: claim.externalId }) }}' class="button button-secondary">{{ t(text) }}</a></p>
{% endmacro %}
