{% from "externalLink.njk" import externalLink %}
{% from "form.njk" import linkButton %}

{% macro claimFullAdmissionForDefendantDashboard(claim) %}
  {% if claim.response.paymentDate %}
    {% set paymentDate = claim.response.paymentDate | date %}
  {% endif %}

  {% if claim.response.paymentOption === domain.PaymentOption.IMMEDIATELY %}
    {% set paymentMethod = 'immediately' %}
  {% elseif claim.response.paymentOption === domain.PaymentOption.BY_SPECIFIED_DATE %}
    {% set paymentMethod = 'by ' + paymentDate %}
  {% elseif  claim.response.paymentOption === domain.PaymentOption.INSTALMENTS %}
    {% set paymentMethod= 'in instalments' %}
  {% endif %}
  {{ t('You’ve admitted all of the claim and said you’ll pay the full amount {{ paymentMethod}}.', { paymentMethod: paymentMethod }) }}
{% endmacro %}

{% macro claimFullAdmissionForDefendantClaimDetails(claim) %}
  <h2 class="heading-small">{{ t('Your response to the claim') }}</h2>
  {% set claimantName = claim.claimData.claimant.name %}
  {% set amount = claim.totalAmountTillToday | numeral %}

  {% if claim.response.paymentDate %}
    {% set paymentDate = claim.response.paymentDate | date %}
  {% endif %}

  {% if claim.response.paymentOption === domain.PaymentOption.IMMEDIATELY %}
    {% set paymentMethod = 'immediately' %}
    <p> {{ t('You said you’ll pay {{ claimantName }} {{ amount }} before 4pm on {{ paymentDate }}.',
        { claimantName: claimantName, amount: amount, paymentDate: paymentDate }) }} </p>
    <p> {{ t('If you pay by cheque or transfer the money must be clear in their account.') }} </p>
    <p> {{ t('If they don’t receive the money by then, they can request a County Court Judgment against you.') }} </p>
    <p> {{ t('Contact {{ claimantName }} if you need their payment details.',
        { claimantName: claimantName }) }} </p>
    <p> {{ t('Make sure you get receipts for any payments.') }} </p>

  {% elseif claim.response.paymentOption === domain.PaymentOption.BY_SPECIFIED_DATE %}
    <p> {{ t('You’ve offered to pay {{ claimantName }} {{ amount }} on {{ paymentDate }}.',
        { claimantName: claimantName, amount: amount, paymentDate: paymentDate }) }} </p>
    <p>
      {{ t('We’ll contact you when they respond.') }}
    </p>
  {% elseif  claim.response.paymentOption === domain.PaymentOption.INSTALMENTS %}
    {% if claim.response.repaymentPlan.paymentSchedule === domain.PaymentSchedule.EVERY_MONTH %}
      {% set paymentSchedule = 'per month' %}
    {% elif claim.response.repaymentPlan.paymentSchedule === domain.PaymentSchedule.EVERY_TWO_WEEKS %}
      {% set paymentSchedule = 'per two weeks' %}
    {% elif claim.response.repaymentPlan.paymentSchedule === domain.PaymentSchedule.EACH_WEEK %}
      {% set paymentSchedule = 'per week' %}
    {% endif %}
    {% set repaymentDate = claim.response.repaymentPlan.firstPaymentDate |date %}
    <p> {{ t('You’ve offered to pay {{ claimantName }} {{ amount }} {{ paymentSchedule }} starting {{ repaymentDate }}.',
        { claimantName: claimantName, amount: amount, paymentSchedule: paymentSchedule, repaymentDate: repaymentDate }) }} </p>
    <p>
      {{ t('We’ll contact you when they respond.') }}
    </p>
  {% endif %}
  <p>
    {{ _downloadResponseLink(claim, 'Download your response') }}
  </p>
{% endmacro %}

{% macro claimFullAdmissionForClaimantClaimDetails(claim) %}
  {% set claimantName = claim.claimData.claimant.name %}
  {% set defendantName = claim.claimData.defendant.name %}
  {% set amount = claim.totalAmountTillToday | numeral %}

  {% if claim.response.paymentDate %}
    {% set paymentDate = claim.response.paymentDate | date %}
  {% endif %}

  {% if claim.response.paymentOption === domain.PaymentOption.IMMEDIATELY %}
    <h2 class="heading-small">{{ t('The defendant will pay you immediately') }}</h2>
    <p> {{ t('The defendant said they’ll pay you immediately. They must make sure you have the money by 4pm on {{ paymentDate }}.',
        { paymentDate: paymentDate }) }} </p>
    <p> {{ t('You need to tell us if you’ve settled the claim because the defendant has paid you.') }} </p>
    <p> {{ t('You can settle for less than the full claim amount.') }} </p>
    {% if claim.pastDefendantPayImmediatelyDate %}
      <h2 class="heading-small">{{ t('The defendant will pay you immediately') }}</h2>
      <p> {{ t('If the defendant has not paid you by {{ paymentDate }}, you can request a County Court Judgment.', {paymentDate: paymentDate}) }} </p>
    {% else %}
      <h2 class="heading-small">{{ t('What to do if they haven’t paid') }}</h2>
      <p> {{ t('If the defendant doesn’t pay you, you can request a County Court Judgment.') }} </p>
    {% endif %}
  {% elseif claim.response.paymentOption === domain.PaymentOption.BY_SPECIFIED_DATE %}
    <p> {{ t('{{ defendantName }} admits they owe all the money. They’ve offered to pay you in full by {{ paymentDate }}.',
        { defendantName: defendantName, paymentDate: paymentDate }) }} </p>
    <p>
      {{ t('You can accept or reject their offer.') }}
    </p>
  {% elseif  claim.response.paymentOption === domain.PaymentOption.INSTALMENTS %}
    <p> {{ t('{{ defendantName }} admits they owe all the money. They’ve offered to pay you in instalments.',
        { defendantName: defendantName }) }} </p>
    <p>
      {{ t('You can accept or reject their offer.') }}
    </p>
  {% endif %}
{% endmacro %}

{% macro claimFullAdmissionForClaimantDashboard(claim) %}
  {% if claim.response.paymentDate %}
    {% set paymentDate = claim.response.paymentDate | date %}
  {% endif %}

  {% if claim.response.paymentOption === domain.PaymentOption.IMMEDIATELY %}
  {{ t('The defendant admits they owe all the money. They’ve said that they will pay immediately.') }}
  {% elseif claim.response.paymentOption === domain.PaymentOption.BY_SPECIFIED_DATE %}
    {{ t('The defendant admits they owe all the money. You need to accept or reject their offer.') }}
  {% elseif  claim.response.paymentOption === domain.PaymentOption.INSTALMENTS %}
    {{ t('The defendant admits they owe all the money. You need to accept or reject their offer.') }}
  {% endif %}
{% endmacro %}

{% macro _downloadResponseLink(claim, text) %}
  <a href="{{ ResponsePaths.receiptReceiver.evaluateUri({ externalId: claim.externalId }) }}">{{ t(text) }}</a>
{% endmacro %}
