{% macro claimantRejectedDefendantAsCompanyOrOrganisationResponse() %}
<p>
  {{ t('You need to send the defendant’s financial details to the court.') }}
</p>
{% endmacro %}

{% macro claimantRejectedDefendantAsCompanyOrOrganisationResponseDetailedStatus(claim) %}

{% set claimNumber = claim.claimNumber %}

<h2 class="heading-small">{{ t('You need to send the defendant’s financial details to the court') }}</h2>

<p>{{ t('Make sure you include your claim number: {{ claimNumber }}.', { claimNumber: claimNumber }) }}</p>
<p>{{ t('The court will review the details to see if the defendant can afford your repayment plan.') }}</p>

<h3 class="heading-small">{{ t('Use this address') }}</h3>
<p>{{ t('The defendant should have sent you the details - send them to:') }}</p>

<div class="keep-formatting panel">{{ t('Civil Money Claims') }}
  {{ t('St. Katharine`s House') }}
  {{ t('21-27 St. Katharine`s Street') }}
  {{ t('Northampton') }}
  {{ t('NN1 2LH') }}
</div>

<p>{{ t('Or email them to {{ supportEmailAddress }}', { supportEmailAddress: supportEmailAddress }) }}</p>
<h4 class="heading-small">{{ t('If the court believes the defendant can afford your plan') }}</h4>
<p>{{ t('A County Court Judgment (CCJ) will be issued. This requires the defendant to pay according to the
  terms of the plan.') }}
<h4 class="heading-small">{{ t('If the court believes the defendant can not afford your plan') }}</h4>
<p>{{ t('The court will set its own repayment terms and issue a CCJ.') }}</p>

{% endmacro %}
