{% macro claimantRejectedDefendantAsCompanyOrOrganisationResponse() %}
<p>
  {{ t('You need to send the defendant’s financial details to the court.') }}
</p>
{% endmacro %}

{% macro claimantRejectedDefendantAsCompanyOrOrganisationResponseDetailedStatus(claim) %}
<h2 class="heading-small">You need to send the defendant's financial details to the court</h2>

<p>Make sure you include your claim number: {{claim.claimNumber}}.</p>
<p>The court will review the details to see if the defendant can afford your repayment plan.</p>

<h3 class="heading-small">Use this address</h3>
<p>The defendant should have sent you the details - send them to:</p>
<p>
  Civil Money Claims<br/>
  St. Katharine's House<br/>
  21-27 St. Katharine's Street<br/>
  Northampton<br/>
  NN1 2LH
</p>

<p>Or email them to moneyclaims@hmcts.gsi.gov.uk</p>
<h4 class="heading-small">If the court believes the defendant can afford your plan</h4>
<p>A County Court Judgment (CCJ) will be issued. This requires the defendant to pay according to the
  terms of the plan.
<h4 class="heading-small">If the court believes the defendant can not afford your plan</h4>
<p>The court will set its own repayment terms and issue a CCJ.</p>

{% endmacro %}
