{% from "externalLink.njk" import externalLink %}
{% from "internalLink.njk" import internalLink %}
{% from "form.njk" import linkButton %}
{% from "./utilityMacros.njk" import downloadResponseLink, viewAndRespondOffer %}

{% macro claimFullAdmissionForDefendantDashboard(claim) %}

  {% if claim.response.paymentIntention.paymentOption === domain.PaymentOption.IMMEDIATELY %}
    {{ t('You’ve admitted all of the claim and said you’ll pay the full amount immediately.') }}
  {% elseif claim.response.paymentIntention.paymentOption === domain.PaymentOption.BY_SPECIFIED_DATE %}
    {{ t('You’ve admitted all of the claim and offered to pay the full amount by {{ paymentDate }}.',
      { paymentDate: claim.response.paymentIntention.paymentDate | date }) }}
  {% elseif  claim.response.paymentIntention.paymentOption === domain.PaymentOption.INSTALMENTS %}
    {{ t('You’ve admitted all of the claim and offered to pay the full amount in instalments.') }}
  {% endif %}
{% endmacro %}

{% macro claimFullAdmissionForDefendantClaimDetails(claim) %}
  <div class="status-block">
    <h2 class="heading-small">{{ t('You’ve responded to the claim') }}</h2>
    {% set claimantName = claim.claimData.claimant.name %}
    {% set amount = claim.totalAmountTillToday | numeral %}
    {% set defendant = claim.claimData.defendant %}
    {% set claimantDetailsPageURI = DashboardPaths.contactThemPage.evaluateUri({ externalId: claim.externalId }) %}

    {% if claim.response.paymentIntention.paymentDate %}
      {% set paymentDate = claim.response.paymentIntention.paymentDate | date %}
    {% endif %}

    {% if claim.response.paymentIntention.paymentOption === domain.PaymentOption.IMMEDIATELY %}
      <p>{{ t('You said you’ll pay {{ claimantName }} {{ amount }} before 4pm on {{ paymentDate }}.',
          { claimantName: claimantName, amount: amount, paymentDate: paymentDate }) }}</p>
      <p>{{ t('If you pay by cheque or transfer the money must be clear in their account.') }}</p>
      <p>{{ t('If they don’t receive the money by then, they can request a County Court Judgment against you.') }}</p>
      <p>{{ internalLink('Contact ' + claimantName, claimantDetailsPageURI) }}
        {{ t('if you need their payment details. Make sure you get receipts for any payments.') }}</p>
    {% elseif claim.response.paymentIntention.paymentOption === domain.PaymentOption.BY_SPECIFIED_DATE %}
      <p>{{ t('You’ve said you owe {{ amount }} and offered to pay {{ claimantName }} by {{ paymentDate }}.',
      { claimantName: claimantName, amount: amount, paymentDate: paymentDate }) }}
    {% elseif claim.response.paymentIntention.paymentOption === domain.PaymentOption.INSTALMENTS %}
      {% set repaymentPlan = claim.response.paymentIntention.repaymentPlan %}
      {% set repaymentDate = repaymentPlan.firstPaymentDate | date %}
      {% set paymentSchedule = t(repaymentPlan.paymentSchedule | renderPaymentSchedule) %}
      {% set installmentAmount = repaymentPlan.instalmentAmount | numeral %}
      <p>{{ t('You’ve said you owe {{ amount }} and offered to pay {{ claimantName }} {{ installmentAmount }} {{ paymentSchedule }} starting {{ paymentDate }}.',
          { amount: amount, claimantName: claimantName, installmentAmount: installmentAmount, paymentSchedule: paymentSchedule | lower, paymentDate: repaymentPlan.firstPaymentDate | date }) }}
    {% endif %}

    {% if claim.response.paymentIntention.paymentOption != domain.PaymentOption.IMMEDIATELY %}
      {% if claim.claimData.defendant.isBusiness() %}
        {{ t('You need to send them your company’s financial details if you haven’t already.') }}</p>
        {{ internalLink('Get ' + claim.claimData.claimant.name + '’s contact details.', claimantDetailsPageURI ) }} </p>
      {% endif %}
        <p>{{ t('We’ll contact you when they respond.') }}</p>
    {% endif %}

    <p>{{ downloadResponseLink(claim) }}</p>
  </div>
{% endmacro %}
