{% from "externalLink.njk" import externalLink %}
{% from "internalLink.njk" import internalLink %}
{% from "form.njk" import linkButton %}
{% from "./utilityMacros.njk" import downloadResponseLink, viewAndRespondOffer %}

{% macro claimFullAdmissionForClaimantDashboard(claim) %}

  {% if claim.response.paymentIntention.paymentOption === domain.PaymentOption.IMMEDIATELY %}
    {{ t('The defendant admits they owe all the money. They’ve said that they will pay immediately.') }}
  {% elseif claim.response.paymentIntention.paymentOption === domain.PaymentOption.BY_SPECIFIED_DATE %}
    {{ t('The defendant has offered to pay by a set date. You can accept or reject their offer.') }}
  {% elseif  claim.response.paymentIntention.paymentOption === domain.PaymentOption.INSTALMENTS %}
    {{ t('The defendant admits they owe all the money. You need to accept or reject their offer.') }}
  {% endif %}
{% endmacro %}

{% macro claimFullAdmissionForClaimantClaimDetails(claim) %}

  {% set claimantName = claim.claimData.claimant.name %}
  {% set defendantName = claim.claimData.defendant.name %}
  {% set amount = claim.totalAmountTillToday | numeral %}
  {% set ccjRequest = CCJPaths.paidAmountPage.evaluateUri({externalId:claim.externalId}) %}

  {% if claim.response.paymentIntention.paymentDate %}
    {% set paymentDate = claim.response.paymentIntention.paymentDate | date %}
  {% endif %}

  {% if claim.response.paymentIntention.paymentOption === domain.PaymentOption.IMMEDIATELY %}
    <h2 class="heading-small">{{ t('The defendant will pay you immediately') }}</h2>
    <p> {{ t('The defendant said they’ll pay you immediately. They must make sure you have the money by 4pm on {{ paymentDate }}.',
        { paymentDate: paymentDate }) }} </p>
    <h2 class="heading-small"> {{ t('If the defendant pays you') }} </h2>
    <p> {{ t('You need to email {{ supportMail }} to let us know. Include the date you were paid.', { supportMail: supportEmailAddress }) }} </p>
    {% if claim.response.paymentIntention.isPastPaymentDeadline %}
      <h2 class="heading-small">{{ t('What to do if they haven’t paid') }}</h2>
      <p>{{ t('If the defendant doesn’t pay you, you can ' + internalLink('request a County Court Judgment', CCJPaths.paidAmountPage.evaluateUri({ externalId: claim.externalId }))
          + '.') | safe }}</p>
    {% else %}
      <h2 class="heading-small">{{ t('What to do if they don’t pay') }}</h2>
      <p> {{ t('If the defendant has not paid you by {{ paymentDate }}, you can request a County Court Judgment.', { paymentDate: paymentDate }) }} </p>
    {% endif %}
  {% elseif claim.response.paymentIntention.paymentOption === domain.PaymentOption.BY_SPECIFIED_DATE %}
    <h2 class="heading-small">{{ t('The defendant has offered to pay by {{ paymentDate }}.',
        { defendantName: defendantName, paymentDate: paymentDate }) }}</h2>
    <p>{{ t('You can accept or reject their offer.') }}</p>
    {{ viewAndRespondOffer(claim) }}
  {% elseif  claim.response.paymentIntention.paymentOption === domain.PaymentOption.INSTALMENTS %}
    <h2 class="heading-small">{{ t('The defendant’s response') }}</h2>
    <p> {{ t('{{ defendantName }} admits they owe all the money. They’ve offered to pay you in instalments.',
        { defendantName: defendantName }) }} </p>
    <p>
      {{ t('You can accept or reject their offer.') }}
    </p>
    {{ viewAndRespondOffer(claim) }}
  {% endif %}
{% endmacro %}
