{% macro helpWithFeesValidationDashboard() %}
  {{ t('We’re checking your Help With Fees application') }}
{% endmacro %}


{% macro helpWithFeesValidationClaimStatus(claim) %}
<div class="status-block">
  <h2 class="heading-medium">{{ t('We’re checking your Help With Fees application') }}</h2>
  <p>{{ t('We’ll email you the result within 5 days.') }}</p>

  <h3 class="heading-small">{{ t('If you qualify for the whole court fee to be paid') }}</h3>

  <p>{{ t('We’ll issue your claim and send it to {{ defendantName }}.', { defendantName: claim.claimData.defendant.name }) }}</p>

  <h3 class="heading-small">{{ t('If you qualify for part or no court fee to be paid') }}</h3>

  <p>{{ t('We’ll tell you how much you need to pay to get the claim issued.') }}</p>

  <h3 class="heading-small">{{ t('After a claim is issued') }}</h3>{{ t(' {{ defendantName }} will have 14 days to respond. They can ask for an extra 14 days if they need it.', { defendantName: claim.claimData.defendant.name }) }}<p></p>
  <p>{{ t('You can request a County Court Judgment (CCJ) against them if they don’t respond.') }}</p>
</div>
{% endmacro %}

{% macro invalidHelpWithFeesValidationClaimStatus(claim) %}
<div class="status-block">
  <h2 class="heading-medium">{{ t('You gave us an invalid Help With Fees number') }}</h2>
  <p>{{ t('The number you gave was {{ helpWithFeesNumber }}.', { helpWithFeesNumber: claim.helpWithFeesNumber }) }}</p>

  <p>{{ t('You can either:') }}</p>

  <p>
    <ul class="list list-bullet">
      <li>{{ t('contact us with the correct Help With Fees number (call 0300 123 7050 or email ')}} {{ t('<a href="mailto:{{ emailSubject }}">{{ email }}</a>)', { ccdId: claim.ccdCaseId ,email: 'moneyclaims@justice.gov.uk', emailSubject: 'moneyclaims@justice.gov.uk?subject={{ ccdId }}' }) | safe }}</li>
      <li>call us to pay the full claim fee by card (if you don't have a valid Help With Fees number)</li>
    </ul>
  </p>
  
  {% set dash = joiner("-") %}
  {% set hyphenatedCcdCaseId %}
  {% for batch in claim.ccdCaseId | string | batch(4) -%}
      {{ dash() }}{% for items in batch -%}{{ items }}
      {%- endfor %}
  {%- endfor %}
  {% endset %}
  <p>{{ t('Mention your reference number in any calls or emails: {{ ccdId }}', { ccdId: hyphenatedCcdCaseId }) }}</p>

  <p>{{ t("If you don't contact us within 90 days, we'll end the claim.") }}</p>

</div>
{% endmacro %}

{% macro rejectedHelpWithFeesValidationClaimStatus(claim) %}
<div class="status-block">
  <h2 class="heading-medium">{{ t('Your Help With Fees application has been rejected') }}</h2>
  <p>{{ t('We have rejected your Help With Fees application for the following reason:') }}</p>
  
  {% if claim.claimData.hwfFeeDetailsSummary === 'NOT_QUALIFY_FEE_ASSISTANCE' %}
      <p>{{ t('You do not qualify for assistance.') }}</p>
      <p>{{ t('{{ rejectionDetails }}', { rejectionDetails: claim.claimData.hwfMandatoryDetails }) }}</p>
  {% endif %}

  {% if claim.claimData.hwfFeeDetailsSummary === 'FEES_REQUIREMENT_NOT_MET' %}
    <p>{{ t('Income and outgoings show requirement is not met.') }}</p>
    <p>{{ t('{{ rejectionDetails }}', { rejectionDetails: claim.claimData.hwfMandatoryDetails }) }}</p>
  {% endif %}

  {% if claim.claimData.hwfFeeDetailsSummary === 'INCORRECT_EVIDENCE' %}
    <p>{{ t('The evidence provided was incorrect.') }}</p>
    <p>{{ t('{{ rejectionDetails }}', { rejectionDetails: claim.claimData.hwfMandatoryDetails }) }}</p>
  {% endif %}

  {% if claim.claimData.hwfFeeDetailsSummary === 'INSUFFICIENT_EVIDENCE' %}
    <p>{{ t('The evidence provided was insufficient.') }}</p>
    <p>{{ t('{{ rejectionDetails }}', { rejectionDetails: claim.claimData.hwfMandatoryDetails }) }}</p>
  {% endif %}

  <h3 class="heading-small">{{ t('What to do next') }}</h3>

  <p>{{ t('If you want to appeal this decision you need to email') }} {{ t('<a href="mailto:{{ emailSubject }}">{{ email }}</a>', { ccdId: claim.ccdCaseId ,email: 'moneyclaims@justice.gov.uk', emailSubject: 'moneyclaims@justice.gov.uk?subject={{ ccdId }}' }) | safe }} </p>
  <p>{{ t('If you still want the claim to be issued to the defendant you need to pay the {{ claimAmount }} claim fee.', { claimAmount : claim.totalAmountTillToday | numeral  }) }} </p>
  <p>{{ t('To pay by card, phone 0300 123 7050') }}</p>
  {% set dash = joiner("-") %}
  {% set hyphenatedCcdCaseId %}
  {% for batch in claim.ccdCaseId | string | batch(4) -%}
      {{ dash() }}{% for items in batch -%}{{ items }}
      {%- endfor %}
  {%- endfor %}
  {% endset %}
  <p>{{ t('You will need your claim reference number. {{ ccdId }}', { ccdId: hyphenatedCcdCaseId }) }}</p>

  <p>{{ t('The full claim fee shown on the dashboard is calculated as on {{ createdAt }}.', { createdAt: claim.createdAt | date }) | safe }}</p>

</div>
<div class="status-block">
  <div class="govuk-details govuk-dashboard-details__text">
    <p>{{ t('The claim fee may increase if:') }}</p>
    <ul class="list list-bullet">
      <li>{{ t('you have claimed interest') }}</li>
      <li>{{ t('the Help With Fees application takes more than 5 days to progress') }}</li>
    </ul>
</div>
<p>{{ t('If there is no response in next 90 days, the claim will be closed and you will need to create a new claim.') }}</p>
</div>
{% endmacro %}

{% macro helpWithFeesRequiredmoreInfoClaimStatus(claim) %}
<div class="status-block">
  <h2 class="heading-medium">{{ t('Your Help With Fees application: more information needed') }}</h2>
  <p>{{ t('We’ll email you within 5 days to tell you what we need.') }}</p>

  <h3 class="heading-small">{{ t('What to do next') }}</h3>

  <p>{{ t('Wait until we contact you regarding the information that we need') }}</p>
  <p>{{ t('Alternatively, if you want the claim to be issued to the defendant now, you can pay the {{ claimAmount }} claim fee.', { claimAmount : claim.claimData.feeRemitted | numeral }) }} </p>
  <p>{{ t('To pay by card, phone 0300 123 7050') }}</p>
  
  {% set dash = joiner("-") %}
  {% set hyphenatedCcdCaseId %}
  {% for batch in claim.ccdCaseId | string | batch(4) -%}
      {{ dash() }}{% for items in batch -%}{{ items }}
      {%- endfor %}
  {%- endfor %}
  {% endset %}
  <p>{{ t('You will need your claim reference number: {{ ccdId }}', { ccdId: hyphenatedCcdCaseId }) }}</p>

  <p>{{ t('The full claim fee shown on the dashboard is calculated as on {{ createdAt }}.', { createdAt: claim.createdAt | date }) | safe }}</p>
</div>
<div class="status-block">
  <div class="govuk-details govuk-dashboard-details__text">
    <p>{{ t('The claim fee may increase if:') }}</p>
    <ul class="list list-bullet">
      <li>{{ t('you have claimed interest') }}</li>
      <li>{{ t('the Help With Fees application takes more than 5 days to progress') }}</li>
    </ul>
  </div>
</div>
{% endmacro %}

{% macro helpWithFeesPartRemettedClaimStatus(claim) %}
<div class="status-block">
  <h2 class="heading-medium">{{ t('Your Help With Fees application has been reviewed') }}</h2>
  <p>{{ t('You are eligible for a {{ claimAmount }} reduction of your claim fees.', { claimAmount : claim.claimData.feeRemitted | numeral }) }}</p>

  <h3 class="heading-small">{{ t('What to do next') }}</h3>

  <p>{{ t('Pay the remaining claim fee of {{ claimAmount }} and we will issue your claim and send it to the defendant.', { claimAmount : claim.helpWithFessBalanceClaimFee | numeral }) }}</p>
  <p>{{ t('To pay by card, phone 0300 123 7050') }}</p>
  
  {% set dash = joiner("-") %}
  {% set hyphenatedCcdCaseId %}
  {% for batch in claim.ccdCaseId | string | batch(4) -%}
      {{ dash() }}{% for items in batch -%}{{ items }}
      {%- endfor %}
  {%- endfor %}
  {% endset %}
  <p>{{ t('You will need your claim reference number: {{ ccdId }}', { ccdId: hyphenatedCcdCaseId }) }}</p>

  <p>{{ t('The full claim fee shown on the dashboard is calculated as on {{ createdAt }}.', { createdAt: claim.createdAt | date }) | safe }}</p>
</div>
<div class="status-block">
  <div class="govuk-details govuk-dashboard-details__text">
    <p>{{ t('The claim fee may increase if:') }}</p>
    <ul class="list list-bullet">
      <li>{{ t('you have claimed interest') }}</li>
      <li>{{ t('the Help With Fees application takes more than 5 days to progress') }}</li>
    </ul>
  </div>
</div>
{% endmacro %}

{% macro helpWithFeesClosed(claim) %}

{% endmacro %}
