{% from "timeRemaining.njk" import timeRemaining %}
{% from "internalLink.njk" import internalLink %}

{% macro moreTimeRequestedForClaimantDashboard(claim) %}
  {{ t('{{ defendantName }} has requested more time to respond.',
    { defendantName: claim.claimData.defendant.name }) }}
{% endmacro %}

{% macro moreTimeRequestedForClaimantClaimDetails(claim) %}
  <div class="status-block">
    <h2 class="heading-medium">{{ t('The defendant has requested more time to respond') }}</h2>
    <p>{{ t('{{ defendantName }} has requested an extra 14 days to respond. They need to respond by {{ responseDeadline }}.',
        { defendantName: claim.claimData.defendant.name, responseDeadline: claim.responseDeadline | date }) | safe }}</p>
  </div>
{% endmacro %}

{% macro moreTimeRequestedForDefendantDashboard(claim) %}
  {{ t('You need to respond before 4pm on {{ responseDeadline }}.',
    { responseDeadline: claim.responseDeadline | date }) }}
{% endmacro %}

{% macro moreTimeRequestedForDefendantClaimDetails(claim) %}
  <div class="status-block">
    <h2 class="heading-medium">{{ t('More time requested') }}</h2>
    <p>{{ t('You need to respond before 4pm on {{ responseDeadline }} {{ remainingTime }}.',
        { responseDeadline: claim.responseDeadline | date, remainingTime: timeRemaining(claim.remainingDays, isAfter4pm()) }) | safe }}</p>
    <p>{{ _respondToClaimLink(claim) }}</p>
  </div>

{% endmacro %}

{% macro _respondToClaimLink(claim) %}
  {{ internalLink(t('Respond to claim'), ResponsePaths.taskListPage.evaluateUri({ externalId: claim.externalId })) }}
{% endmacro %}
