{% from "timeRemaining.njk" import timeRemaining %}

{% macro noResponseForClaimantDashboard(claim) %}
  {{ t('Your claim has been sent.') }}
{% endmacro %}

{% macro noResponseForClaimantClaimDetails(claim) %}
  {% set defendantName = claim.claimData.defendant.name %}
  <h2 class="heading-medium">{{ t('Your claim has been sent') }}</h2>
  <p>
    {{ t('{{ defendantName }} has until {{ responseDeadline }} to respond. They can request an extra 14 days if they need it.',
      { defendantName: defendantName, responseDeadline: claim.responseDeadline | date }) | safe }}
  </p>
{% endmacro %}

{% macro noResponseForDefendantDashboard(claim, url) %}
  <a href="{{ url }}">{{ t('Respond to claim') }}</a>
  <span class="block mobile-inline">
    {{ timeRemaining(claim.remainingDays, isAfter4pm) }}
  </span>
{% endmacro %}
