{% macro offerRejectedForClaimantDashboard(claim) %}
  <p>
    {{ t('You’ve rejected an offer to settle out of court.') }}
  </p>
  {{ t('{{ defendantName }} has rejected your claim.',
    { defendantName: claim.claimData.defendant.name }) }}
{% endmacro %}

{% macro offerRejectedForClaimantClaimDetails(claim) %}
  <div class="status-block">
    {% set defendantName = claim.claimData.defendant.name %}
    <h2 class="heading-medium">{{ t('Settle out of court') }}</h2>
    <p>{{ t('You’ve rejected the defendant’s offer to settle out of court. '
        + 'You won’t receive any more offers from the defendant.') }}</p>
  </div>
{% endmacro %}

{% macro offerRejectedForDefendantDashboard() %}
  <p>
    {{ t('The claimant has rejected your offer.') }}
  </p>
  {{ t('You have rejected the claim.') }}
{% endmacro %}

{% macro offerRejectedForDefendantClaimDetails(claim) %}
  <div class="status-block">
    <h2 class="heading-medium">{{ t('Settle out of court') }}</h2>
    <p>{{ t('The claimant has rejected your offer to settle the claim. Complete the directions questionnaire.') }}</p>
  </div>
{% endmacro %}
