{% from "internalLink.njk" import internalLink %}
{% from "address.njk" import address %}

{% macro directionsOrderIssuedClaimantDashboard() %}
  {{ t('Send us more details before the hearing') }}
{% endmacro %}

{% macro directionsOrderIssuedDefendantDashboard() %}
  {{ t('Send us more details before the hearing') }}
{% endmacro %}

{% macro directionsOrderIssued(claim, party, reconsiderationDeadline, isReviewOrderEligible) %}
  <div class="status-block">
    <h2 class="heading-small">{{ t('Send us more details before the hearing') }}</h2>
    <p>{{ t('The court has ordered you to send us more details.') }}</p>
    <p>{{ internalLink(t('Download the court’s order '), OrdersPaths.directionsOrderDocument.evaluateUri({ externalId: claim.externalId })) }}
      {{ t('(PDF) to find out the details you need to send.') }}</p>
    <p>{{ t('Make sure you include the claim number ({{ claimNumber }}) in the letter.', { claimNumber: claim.claimNumber }) }}</p>

    <h2 class="heading-small">{{ t('Deadline for posting the details') }}</h2>
    {% if party === MadeBy.DEFENDANT.value %}
      <p>{{ t('You must make sure the court and the claimant receive a letter with the details before 4pm on {{ postDocumentsLastDay }}.', { postDocumentsLastDay: claim.directionOrder.postDocumentsLastDay | date }) }}
    {% else %}
      <p>{{ t('You must make sure the court and the defendant receive a letter with the details before 4pm on {{ postDocumentsLastDay }}.', { postDocumentsLastDay: claim.directionOrder.postDocumentsLastDay | date }) }}
    {% endif %}

    <h2 class="heading-small">{{ t('Where to post the details') }}
    {{ address(claim.directionOrder.hearingCourtAddress, 'The court’s address is:') }}
    {% if party === MadeBy.DEFENDANT.value %}
      {{ address(claim.claimData.claimant.address, 'The claimant’s address is:') }}
    {% else %}
      {{ address(claim.claimData.defendant.address, 'The defendant’s address is:') }}
    {% endif %}

    <h2 class="heading-small">{{ t('If you don’t send us more details') }}</h2>
    {% if party === MadeBy.DEFENDANT.value %}
      <p>{{ t('The court may cancel your defence and the claimant can request a County Court Judgment (CCJ) against you.') }}</p>
    {% else %}
      <p>{{ t('The court may cancel your claim.') }}</p>
    {% endif %}

    {% if (isReviewOrderEligible and claim.reviewOrder === undefined) %}
      <h2 class="heading-small">{{ t('If you have a problem with the order') }}</h2>
      <p>{{ t('You can ') }}{{ internalLink(t('ask the court to review it.'), OrdersPaths.directionsOrderDocument.evaluateUri({ externalId: claim.externalId })) }}
        {{ t('You need to do this before 4pm on {{ reviewLastDay }}', { reviewLastDay : reconsiderationDeadline | date }) }}
      </p>
      <p>{{ t('A judge will consider your request. You should give details of how you want the order changed and the reasons for your request.') }}</p>
    {% endif %}
  </div>
{% endmacro %}
