{% macro paidInFullClaimant(claim) %}
<h2 class="heading-small">This claim is settled</h2>

<p>
  {{ t('{{ defendantName }} paid you £{{ totalAmountTillToday }} on {{ moneyReceivedOn }}.',
    { defendantName: claim.claimData.defendant.name, totalAmountTillToday: claim.totalAmountTillToday, moneyReceivedOn: claim.moneyReceivedOn | trim }) | safe }}
</p>

  {% if claim.status === ClaimStatus.PAID_IN_FULL_CCJ_CANCELLED %}
    <p>
      {{ t('The defendant\'s County Court Judgment has been cancelled.') }}
    </p>
  {% elif claim.status === ClaimStatus.PAID_IN_FULL_CCJ_SATISFIED %}
    <p>
      {{ t('The defendant\'s County Court Judgment has been marked as paid.') }}
    </p>
  {% endif %}
{% endmacro %}

