{% from "internalLink.njk" import internalLink %}

{% macro paidInFullClaimantClaimDetails(externalId) %}
    <div class="status-block">
      <h2 class="heading-medium">{{ t('Tell us you’ve ended the claim') }}</h2>
      <p>{{ t('If you’ve been paid or you’ve made another agreement with the defendant, you need to tell us.') }}</p>
      <p>{{ internalLink(t('Tell us you’ve settled'),
                         DashboardPaths.datePaidPage.evaluateUri({ externalId: externalId }),
                         'button button-secondary') | safe }}</p>
    </div>
{% endmacro %}

{% macro paidInFullClaimantButtonClaimDetails(claim, text='Tell us you’ve settled') %}
    <div class="form-group">
      <p>{{ internalLink(text, DashboardPaths.datePaidPage.evaluateUri({ externalId: claim.externalId }), "button button-secondary") | safe }}</p>
    </div>
{% endmacro %}

{% macro claimIsSettledClaimantDashboard() %}
  {{ t('This claim is settled.') }}
{% endmacro %}

{% macro paidInFullClaimantClaimSettledDetails(claim) %}
  {% set defendantName = claim.claimData.defendant.name %}
  {% set moneyReceivedOn = claim.moneyReceivedOn | date %}

  <h2 class="heading-small">{{ t('This claim is settled') }}</h2>
  <p>{{ t('{{ defendantName }} paid you on {{ moneyReceivedOn }}.', { defendantName: defendantName, moneyReceivedOn: moneyReceivedOn }) }}</p>
{% endmacro %}

{% macro paidInFullCCJCancelledClaimantClaimDetails(claim) %}
  {{ paidInFullClaimantClaimSettledDetails(claim) }}
  <p>{{ t('The defendant’s County Court Judgment will be cancelled.') }}</p>
{% endmacro %}

{% macro paidInFullCCJSatisfiedClaimantClaimDetails(claim) %}
  {{ paidInFullClaimantClaimSettledDetails(claim) }}
  <p>{{ t('The defendant’s County Court Judgment will be marked as paid.') }}</p>
{% endmacro %}
