{% from "externalLink.njk" import externalLink %}
{% from "internalLink.njk" import internalLink %}
{% from "./utilityMacros.njk" import downloadResponseLink %}

{% from "./claimRejected.njk" import
  mediationSuccessForDefendantClaimDetails,
  mediationFailedOnlineDQForDefendantClaimDetails,
  mediationFailedOfflineDQForDefendantClaimDetails %}


{% macro partAdmitRejectedByClaimantDefendantDashboard(claim) %}
  {% if claim.directionsQuestionnaireDeadline %}
    {% if claim.claimantResponse.freeMediation === FreeMediationOption.YES and claim.mediationOutcome === MediationOutcome.FAILED %}
      {{ t('Mediation was unsuccessful') }}
    {% else %}
      {{ t('{{ claimantName }} rejected your admission of {{ amount }}', { amount: claim.response.amount | numeral, claimantName: claim.claimData.claimant.name }) }}
    {% endif %}
  {% elseif  claim.claimantResponse.freeMediation === FreeMediationOption.YES and claim.mediationOutcome === MediationOutcome.FAILED %}
    {{ t('Mediation was unsuccessful') }}
  {% elseif  claim.claimantResponse.freeMediation === FreeMediationOption.YES and claim.mediationOutcome === MediationOutcome.SUCCEEDED %}
    {{ t('You both agreed a settlement through mediation') }}
  {% elseif claim.claimantResponse.freeMediation === FreeMediationOption.YES %}
    {{ t('We’ll contact you to try to arrange a mediation appointment') }}
  {% else %}
    {{ t('Wait for the court to review the case') }}
  {% endif %}
{% endmacro %}

{% macro partAdmitRejectedByClaimantDefendantClaimDetails(claim) %}
  {% if claim.claimantResponse.freeMediation === FreeMediationOption.YES %}
    {% if(claim.mediationOutcome === MediationOutcome.SUCCEEDED) %}
      {{ mediationSuccessForDefendantClaimDetails(claim) }}
    {% elseif(claim.mediationOutcome === MediationOutcome.FAILED) %}
      {{ mediationFailedOfflineDQForDefendantClaimDetails(claim) }}
    {% else %}
      <div class="status-block">
        <h2 class="heading-medium">{{ t('We’ll contact you to try to arrange a mediation appointment') }}</h2>
        <p>{{ t('{{ claimantName }} has rejected your defence.',
            { claimantName: claim.claimData.claimant.name }) }}</p>
        <p>{{ t('You’ve both agreed to try mediation. We’ll contact you to try to arrange a call with the mediator.') }}</p>
        <p>{{ internalLink(t('Find out how mediation works'), DashboardPaths.howFreeMediationWorksPage.uri) }}</p>
      </div>
    {% endif %}
  {% else %}
    <div class="status-block">
      <h2 class="heading-medium">{{ t('{{ claimantName }} has rejected your admission of {{ amount }}',
          { amount: claim.response.amount | numeral, claimantName: claim.claimData.claimant.name }) }}</h2>
      <p>{{ t('They believe you owe them the full {{ amount }} claimed.', { amount: claim.totalAmountTillToday | numeral }) }}</p>
      <p>{{ t('You might have to go to a hearing. We’ll contact you if we set a hearing date to tell you how to prepare.') }}</p>
      {% if claim.directionsQuestionnaireDeadline %}
        <p>{{ t('You need to ' + internalLink('complete a directions questionnaire form ',
            DashboardPaths.directionsQuestionnairePage.evaluateUri({ externalId: claim.externalId })) + 'to tell us more about the claim.') | safe }}</p>
        <p>{{ t('Your defence won’t proceed if you don’t complete and return the form before {{ deadline }}.',
            { deadline: claim.directionsQuestionnaireDeadline | date }) }}</p>
      {% endif %}
      <p>{{ downloadResponseLink(claim) }}</p>
    </div>
  {% endif %}
{% endmacro %}

{% macro partAdmitRejectedByClaimantDefendantDQClaimDetails(claim) %}
  {% if(claim.claimantResponse.freeMediation === FreeMediationOption.YES and claim.mediationOutcome === MediationOutcome.SUCCEEDED) %}
    {{ mediationSuccessForDefendantClaimDetails(claim) }}
  {% elseif(claim.claimantResponse.freeMediation === FreeMediationOption.YES and claim.mediationOutcome === MediationOutcome.FAILED) %}
    {{ mediationFailedOnlineDQForDefendantClaimDetails(claim) }}
  {% else %}
    <div class="status-block">
      <h2 class="heading-medium">{{ t('{{ claimantName }} has rejected your admission of {{ amount }}',
          { amount: claim.response.amount | numeral, claimantName: claim.claimData.claimant.name }) }}</h2>
      <p>{{ t('They believe you owe them the full {{ amount }} claimed.', { amount: claim.totalAmountTillToday | numeral }) }}</p>

      {% if claim.claimantResponse.freeMediation === FreeMediationOption.YES %}
        <p>{{ t('They have agreed to try mediation. We’ll contact you to try to arrange an appointment.') }}</p>
      {% else %}
        <p>{{ t('You might have to go to a hearing. We’ll contact you if we set a hearing date to tell you how to prepare.') }}</p>
        {% if claim.directionsQuestionnaireDeadline %}
          <p>{{ t('You need to ' + internalLink('complete a directions questionnaire form ',
              DashboardPaths.directionsQuestionnairePage.evaluateUri({ externalId: claim.externalId })) + 'to tell us more about the claim.') | safe }}</p>
          <p>{{ t('Your defence won’t proceed if you don’t complete and return the form before {{ deadline }}.',
              { deadline: claim.directionsQuestionnaireDeadline | date }) }}</p>
        {% endif %}
      {% endif %}

      <p>{{ downloadResponseLink(claim) }}</p>
    </div>
  {% endif %}
{% endmacro %}
