{% from "externalLink.njk" import externalLink %}
{% from "internalLink.njk" import internalLink %}
{% from "./utilityMacros.njk" import downloadResponseLink %}

{% macro partAdmitRejectedByClaimantDashboard(claim) %}
  {{ t('You’ve rejected the defendant’s admission. They said they owe {{ amount }}', { amount: claim.response.amount | numeral }) }}
{% endmacro %}

{% macro partAdmitRejectedByClaimantClaimDetails(claim) %}
  <div class="status-block">
    <h2 class="heading-small">{{ t('You’ve rejected the defendant’s admission.') }}</h2>
    <p>{{ t('They said they owe {{ amount }}', { amount: claim.response.amount | numeral }) }}</p>

    {% if claim.claimantResponse.freeMediation === FreeMediationOption.YES %}
      <p>{{ t('You’ve both agreed to try mediation. The Small Claims Mediation Service will contact you to arrange an appointment.') }}</p>
      {{ externalLink('Find out how mediation works', 'https://www.gov.uk/government/publications/small-claims-mediation-service-ex730') }}
    {% else %}
      <p>{{ t('You need to ' + internalLink('complete a directions questionnaire form ',
          DashboardPaths.directionsQuestionnairePage.evaluateUri({ externalId: claim.externalId })) + 'to tell us more about the claim.') | safe }}</p>
      <p>{{ t('Your claim won’t proceed if you don’t complete and return the form before {{ deadline }}.',
          { deadline: claim.directionsQuestionnaireDeadline | date }) }}</p>
    {% endif %}

    <p>{{ downloadResponseLink(claim) }}</p>

    <div class="status-block">
      <h2 class="heading-small">{{ t('If you’ve been paid') }}</h2>
      <p>{{ t(internalLink('Tell us if you want to end the claim', DashboardPaths.datePaidPage.evaluateUri({ externalId: claim.externalId })) + ' because the defendant has paid you.') | safe }}</p>
    </div>

  </div>
{% endmacro %}
