{% from "./utilityMacros.njk" import downloadResponseLink %}

{% macro redeterminationDefendantDashboard(claim) %}
  {{ t('{{ claimantName }} requested a County Court Judgment against you', { claimantName: claim.claimData.claimant.name }) }}
{% endmacro %}

{% macro redeterminationDefendantClaimDetails(claim) %}
  <div class="status-block">
    {% if claim.reDetermination.partyType === MadeBy.CLAIMANT or claim.isInterlocutoryJudgmentRequestedOnAdmissions() %}

      <h2 class="heading-medium">{{ t('Wait for a judge to make a repayment plan') }}</h2>
      <p>{{ t('A County Court Judgment (CCJ) has been issued against you.') }}</p>

      {% if claim.response.responseType === domain.ResponseType.FULL_ADMISSION %}
        <p>{{ t('{{ claimantName }} rejected your repayment plan and requested a CCJ against you.', { claimantName: claim.claimData.claimant.name }) }}</p>

      {% elif claim.response.responseType === domain.ResponseType.PART_ADMISSION %}
          <p>{{ t('{{ claimantName }} accepted your offer to pay {{ partAdmitAmount }}. They rejected your repayment plan and requested a CCJ against you.',
           { partAdmitAmount: claim.response.amount | numeral, claimantName: claim.claimData.claimant.name }) }}</p>

      {% endif %}

      <p>{{ t('They also rejected a repayment plan determined by the court, based on the financial details you provided.') }}</p>

    {% elif claim.reDetermination.partyType === MadeBy.DEFENDANT %}
      <h2 class="heading-medium">{{ t('You’ve rejected the claimant’s repayment plan') }}</h2>
      <p>{{ t('A judge will review the case. We’ll contact you to tell you what to do next.') }}</p>

    {% endif %}

    <p>{{ t('A judge will make a repayment plan. We’ll contact you to tell you what to do next.') }}</p>
    <p>{{ t('We’ll post a copy of the judgment to you and to {{ claimantName }}.', { claimantName: claim.claimData.claimant.name }) }}</p>
    <p>{{ t('Your online account won’t be updated - any further updates will be by post.') }}</p>
    <p>{{ downloadResponseLink(claim) }}</p>
  </div>
{% endmacro %}
