{% from "externalLink.njk" import externalLink %}
{% from "internalLink.njk" import internalLink %}
{% from "./utilityMacros.njk" import downloadResponseLink, downloadTheirResponseLink %}

{% macro statesPaidRejectedClaimantDashboard(claim) %}
  {% if claim.directionsQuestionnaireDeadline %}
    {{ t('You’ve rejected the defendant’s admission.') }}
  {% elseif claim.claimantResponse.freeMediation === FreeMediationOption.YES and (claim.mediationResult === true or claim.mediationResult === undefined) %}
    {{ t('We’ll contact you with a mediation appointment.') }}
  {% else %}
    {{ t('Wait for the court to review the case') }}
  {% endif %}
{% endmacro %}

{% macro statesPaidRejectedClaimantClaimDetails(claim) %}
  {% if claim.claimantResponse.freeMediation and claim.claimantResponse.freeMediation === YesNoOption.YES.option %}
    {{ statesPaidRejectedMediationYESClaimantClaimDetails(claim) }}
  {% else %}
    {{ statesPaidRejectedMediationNOClaimantClaimDetails(claim) }}
    <p>{{ downloadTheirResponseLink(claim) }}</p>
  {% endif %}

{% endmacro %}

{% macro statesPaidRejectedMediationYESClaimantClaimDetails(claim) %}

  {% if featureToggles.mediation and claim.claimantResponse.freeMediation === FreeMediationOption.YES %}
    <div class="status-block">
      <h2 class="heading-small">{{ t('We’ll contact you to try to arrange a mediation appointment') }}</h2>

      <p>{{ t('You’ve rejected the defendant’s response.')}}</p>
      <p>{{ t('You’ve both agreed to try mediation. We’ll contact you to try to arrange a call with the mediator.') }}</p>
      <p>{{ internalLink(t('Find out how mediation works'), DashboardPaths.howFreeMediationWorksPage.uri) }}</p>

    </div>
  {% else %}
    {% if claim.response.responseType === 'PART_ADMISSION' %}
      {% set amount = claim.response.amount %}
    {% else %}
      {% set amount = claim.response.paymentDeclaration.paidAmount  %}
    {% endif %}

    <h2 class="heading-small">{{ t('You’ve rejected the defendant’s admission') }}</h2>
    <p>{{ t('They said they owe {{ amount }}.', { amount: amount | numeral }) }}</p>
    <p>{{ t('You’ve both agreed to try mediation. The Small Claims Mediation Service will contact you to arrange a call with the mediator.') }}</p>
    {{ externalLink(t('Find out how mediation works'), 'https://www.gov.uk/government/publications/small-claims-mediation-service-ex730') }}

    <p>{{ downloadTheirResponseLink(claim) }}</p>
  {% endif %}
{% endmacro %}

{% macro statesPaidRejectedMediationNOClaimantClaimDetails(claim) %}
  <h2 class="heading-small">{{ t('Wait for the court to review the case') }}</h2>
  <p>{{ t('You’ve rejected {{ defendantName }}’s response and said you want to take the case to court.',
      { defendantName: claim.claimData.defendant.name }) }}</p>
  <p>{{ t('The court will review the case. We’ll email you if we set a hearing date to tell you how to prepare.') }}</p>
{% endmacro %}

{% macro statesPaidRejectedDefendantDashboard(claim) %}
  {% if claim.directionsQuestionnaireDeadline %}
    {% if claim.response.responseType === 'PART_ADMISSION' %}
      {% set amount = claim.response.amount %}
    {% else %}
      {% set amount = claim.response.paymentDeclaration.paidAmount  %}
    {% endif %}
    {{ t('{{ claimantName }} rejected your admission of {{ amount }}', {
      claimantName: claim.claimData.claimant.name,
      amount: amount | numeral})
    }}
  {% elseif claim.claimantResponse.freeMediation === FreeMediationOption.YES and (claim.mediationResult === true or claim.mediationResult === undefined) %}
    {{ t('We’ll contact you with a mediation appointment') }}
  {% else %}
    {{ t('Wait for the court to review the case') }}
  {% endif %}
{% endmacro %}

{% macro statesPaidRejectedDefendantClaimDetails(claim) %}
  {% if featureToggles.mediation and claim.claimantResponse.freeMediation === FreeMediationOption.YES %}
    {{ statesPaidRejectionMediationYESDefendantClaimDetails(claim) }}
  {% else %}

    {% if claim.response.responseType === 'PART_ADMISSION' %}
      {% set amount = claim.response.amount %}
    {% else %}
      {% set amount = claim.response.paymentDeclaration.paidAmount  %}
    {% endif %}
    {% set mediation = claim.claimantResponse.freeMediation and claim.claimantResponse.freeMediation === YesNoOption.YES.option %}

    <h2 class="heading-small">{{ t('Wait for the court to review the case') }}</h2>
    {% if mediation %}
      <p>{{ t('We’ll contact you with a mediation appointment') }}</p>
    {% else %}
      <p>{{ t('{{ claimantName }} has rejected your admission of {{ amount }}', { claimantName: claim.claimData.claimant.name, amount: amount | numeral}) }}<p>
    {% endif %}

    {% if claim.claimantResponse.paymentReceived === YesNoOption.YES.option %}
      <p>{{ t('They accept that you’ve paid them {{ partAmount }}, but believe you owe the full {{ fullAmount}} claimed.', { partAmount: claim.response.amount | numeral , fullAmount: claim.totalAmountTillToday | numeral }) }}</p>
    {% else %}
      <p>{{ t('They said you didn’t pay them {{ amount }}.', { amount: amount | numeral }) }}</p>
    {% endif %}


    {% if mediation %}
      {{ statesPaidRejectedMediationYESDefendantClaimDetails(claim) }}
    {% else %}
      {{ statesPaidRejectedMediationNODefendantClaimDetails(claim) }}
    {% endif %}

    <p>{{ downloadResponseLink(claim) }}</p>
  {% endif %}
{% endmacro %}

{% macro statesPaidRejectedMediationYESDefendantClaimDetails(claim) %}
  <p>{{ t('They agreed to try mediation. We’ll contact you with details of your appointment.') }}</p>
  {{ externalLink(t('Find out how mediation works'), 'https://www.gov.uk/government/publications/small-claims-mediation-service-ex730') }}
{% endmacro %}

{% macro statesPaidRejectionMediationYESDefendantClaimDetails(claim) %}
  <div class="status-block">
    <h2 class="heading-small">{{ t('We’ll contact you to try to arrange a mediation appointment') }}</h2>
    <p>{{ t('{{ claimantName }} has rejected your defence.',
        { claimantName: claim.claimData.claimant.name }) }}</p>
    <p>{{ t('You’ve both agreed to try mediation. We’ll contact you to try to arrange a call with the mediator.') }}</p>
    <p>{{ internalLink(t('Find out how mediation works'), DashboardPaths.howFreeMediationWorksPage.uri) }}</p>
  </div>
{% endmacro %}

{% macro statesPaidRejectedMediationNODefendantClaimDetails(claim) %}
  <p>{{ t('You might have to go to a court hearing. We’ll contact you if we set a hearing date to tell you how to prepare.') }}</p>

  {% if not claim.response.directionsQuestionnaire and not claim.response.directionsQuestionnaire.selfWitness %}
    <p>{{ t('You need to {{ completeDQ }} form to tell us more about the claim.',
        { completeDQ: internalLink('complete a directions questionnaire', DashboardPaths.directionsQuestionnairePage.evaluateUri({ externalId: claim.externalId })) } ) | safe }}</p>
  {% endif %}
{% endmacro %}
