{% from "internalLink.njk" import internalLink %}
{% macro downloadResponseLink(claim) %}
  <a href="{{ ResponsePaths.receiptReceiver.evaluateUri({ externalId: claim.externalId }) }}">{{ t('Download your response') }}</a>{{ t(' (PDF)') }}
{% endmacro %}

{% macro viewAndRespondOffer(claim, text = 'View and respond to the offer') %}
  <p><a href='{{ ClaimantResponsePaths.taskListPage.evaluateUri({ externalId: claim.externalId }) }}' class="button button-secondary">{{ t(text) }}</a></p>
{% endmacro %}

{% macro signAgreementLink(claim, text = 'Sign the settlement agreement') %}
  {% if claim.settlement.isThroughAdmissions() %}
    {{ internalLink(t(text), SettlementAgreementPaths.signSettlementAgreement.evaluateUri({ externalId: claim.externalId }), "button button-secondary") }}
  {% else %}
    {{ internalLink(t(text), OfferPaths.countersignAgreementPage.evaluateUri({ externalId: claim.externalId }), "button button-secondary") }}
  {% endif %}
{% endmacro %}

{% macro downloadAgreementLink(claim) %}
  <a href="{{ OfferPaths.agreementReceiver.evaluateUri({ externalId: claim.externalId }) }}">
    {{ t('Download the settlement agreement') }}</a> {{ t(' (PDF)') }}
{% endmacro %}
