{% from "externalLink.njk" import externalLink %}
{% from "internalLink.njk" import internalLink %}

{% macro downloadResponseLink(claim, title='Download your response') %}
  {{ internalLink(t(title), ResponsePaths.receiptReceiver.evaluateUri({ externalId: claim.externalId })) }}{{ t(' (PDF)') }}{% endmacro %}

{% macro downloadTheirResponseLink(claim) %}
  {{ internalLink(t('Download their response'), ResponsePaths.receiptReceiver.evaluateUri({ externalId: claim.externalId })) }}{{ t(' (PDF)') }}
{% endmacro %}

{% macro viewAndRespondOffer(claim, text = 'View and respond to the offer') %}
  <p>{{ internalLink(t(text), ClaimantResponsePaths.taskListPage.evaluateUri({ externalId: claim.externalId }), 'button button-secondary') }}</p>
{% endmacro %}

{% macro signAgreementLink(claim, text = 'Sign the settlement agreement') %}
  {% if claim.settlement.isThroughAdmissions() %}
    {{ internalLink(t(text), SettlementAgreementPaths.signSettlementAgreement.evaluateUri({ externalId: claim.externalId }), "button button-secondary") }}
  {% else %}
    {{ internalLink(t(text), OfferPaths.countersignAgreementPage.evaluateUri({ externalId: claim.externalId }), "button button-secondary") }}
  {% endif %}
{% endmacro %}

{% macro downloadAgreementLink(claim) %}
  {{ internalLink(t('Download the settlement agreement'), OfferPaths.agreementReceiver.evaluateUri({ externalId: claim.externalId })) }}{{ t(' (PDF)') }}
{% endmacro %}

{% macro admissionByCCJCommonInfoClaimDetails(claim) %}
  <p>{{ t('When we’ve processed the request we’ll post a copy of the judgment to you and to {{ claimantName }}.', { claimantName: claim.claimData.claimant.name }) }}</p>
  <p>{{ t('If you pay the debt within one month of the date of judgment, the CCJ is removed from the public register. You can pay £15 to ' +
      externalLink('apply for a certificate', 'https://www.gov.uk/government/publications/form-n443-application-for-a-certificate-of-satisfaction-or-cancellation') +
      ' that confirms this.') | safe }}</p>
  <p>{{ t(internalLink('Contact ' + claim.claimData.claimant.name, DashboardPaths.contactThemPage.evaluateUri({ externalId: claim.externalId })) + ' if you need their payment details. Make sure you get receipts for any payments.') | safe }}</p>
  <p>{{ downloadResponseLink(claim) }}</p>
{% endmacro %}

{% macro downloadClaimantDQs(claim) %}
  {% if claim.response.directionsQuestionnaire %}
    <p>{{ t('They’ve also sent us their hearing requirements.') }}</p>
    {{ internalLink(t('Download their hearing requirements '), DirectionsQuestionnairePaths.claimantHearingRequirementsReceiver.evaluateUri({ externalId: claim.externalId }) )}}{{ t('(PDF)') }}
  {% endif %}
{% endmacro %}
