{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, saveAndContinueButton, errorSummary, textArea %}

{% set heading = 'Explain why you can’t pay now' %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <form method="post">
        {{ csrfProtection(csrf) }}

        {{ textArea(
          label = 'Enter your reasons',
          name = 'text',
          form = form,
          bold = true
        ) }}

        {% if statementOfMeansIsApplicable %}
          <div class="panel panel-border-wide">
            <p>
              {{ t('You’ll also need to answer some questions about your finances') }}
            </p>
          </div>
        {% endif %}

        {{ saveAndContinueButton() }}
      </form>
    </div>
  </div>
{% endblock %}
