{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, saveAndContinueButton, errorSummary %}
{% from "date.njk" import dateInput %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">{{ t('What date will you pay on?') }}</h1>

      <form method="post">
        {{ csrfProtection(csrf) }}

        {{ dateInput(form = form, name = 'date', hint = 'For example, 12 12 2017') }}

        {{ saveAndContinueButton() }}
      </form>
    </div>
  </div>
{% endblock %}
