{% extends "layout.njk" %}

{% set title = t('Money claim | Statement of means - employment') %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="govuk-box-highlight">
        <h1 class="bold-large">{{ t('Are you currently working?') }}</h1>
      </div>

      <p>{{ t('Work in progress') }}</p>
    </div>
  </div>
{% endblock %}
