{% extends "layout.njk" %}

{% set heading = 'Make a money claim' %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <p>{{ t('£10,000 is the most you can claim using this service') }}.</p>
      <p>{{ t('You need to use a different service to claim more than £10,000.') }}</p>
      <p>{{ t('you’ll need to:') }}</p>
      <ul class="list-bullet">
        <li><a href="https://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=338" target="_blank">{{ t('use the paper claim form') }}</a></li>
        <li><a href="https://www.gov.uk/make-money-claim-online" target="_blank">{{ t('use Money Claim Online') }}</a></li>
      </ul>
    </div>
  </div>
{% endblock %}
