{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, textInput, textInputInline, saveAndContinueButton, linkButton, errorSummary %}

{% set title = t('Claim amount') %}
{% set heading = t('Claim amount') %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">

      <form novalidate method="post">
        {{ csrfProtection(csrf) }}

        <p>{{ t('Your claim could be for a single amount or might be made up of multiple items') }}</p>
        <div class="panel panel-border-wide">
          <p>{{ t("Don’t include interest - we’ll ask you about this next.") }}</p>

          <p>{{ t("Don’t include your claim fee - we’ll add this for you.") }}</p>
        </div>
        <div class="claim-amounts">
          <div id="claim-amount">
            <div>
              <div id="claim-amount-heading-1" class="claim-amount-column-1">
                <span class="form-label-bold">{{ t("What you’re claiming for") }}</span>
                <span class="form-hint">{{ t('Briefly explain why you’re claiming for this - for example, "unpaid debt" or "house deposit not returned"') }}</span>
              </div>
              <div id="claim-amount-heading-2" class="claim-amount-column-2">
                <span class="form-label-bold">{{ t('Amount') }}</span>
                <span class="form-hint"></span>
              </div>
            </div>
            {% set totalError = form.errorFor('rows').length > 0 %}
            <div class="claim-amount-rows">
              {% for row in form.model.rows %}
                {% set error1 = form.errorFor('rows['+loop.index0+'][reason]').length > 0 %}
                {% set error2 = form.errorFor('rows['+loop.index0+'][amount]').length > 0 %}
                {% set displayTotalError = totalError and loop.index0 == 0 %}
                <div class="claim-amount-row {% if error1 or error2 or displayTotalError %}form-group-error{% endif %}">
                  {% if displayTotalError %}
                  <span class="error-message" id="rows[label]">{{ form.errorFor('rows') }}</span>
                  {% endif %}
                  <span class="{% if error1 %}error-message{% endif %}" id="{{ 'rows['+loop.index0+'][reason][label]' }}">{{ form.errorFor('rows['+loop.index0+'][reason]') }}</span>
                  <span class="{% if error2 %}error-message{% endif %}" id="{{ 'rows['+loop.index0+'][amount][label]' }}">{{ form.errorFor('rows['+loop.index0+'][amount]') }}</span>
                  {{ textInputInline('rows['+loop.index0+'][reason]',form, 'claim-amount-column-1 ' + ('form-control-error' if displayTotalError else '')) }}
                  {{ textInputInline('rows['+loop.index0+'][amount]',form, 'claim-amount-column-2 ' + ('form-control-error' if displayTotalError else ''),'input-symbol-pound' ) }}
                </div>
              {% endfor %}
            </div>
            <div class="claim-amount-foot">
              {{ linkButton('Add another row', 'action[addRow]', 'button button-secondary') }}
              {{ linkButton('Calculate total', 'action[calculate]', 'link-button calculate') }}
            </div>
            <div class="claim-amount-row  bold-medium total">
              <span class="claim-amount-column-1"></span>
              <span>
                  <span class="claim-amount-column-2" id="totalSum">{{ totalAmount | numeral }}</span>
                </span>
            </div>
          </div>
        </div>
        {{ saveAndContinueButton() }}
      </form>
    </div>
  </div>
{% endblock %}

