{% extends "layout.njk" %}

{% from "form.njk" import csrfProtection, saveAndContinueButton, errorSummary %}
{% from "party/details.njk" import partyDetailsFragment %}

{% set heading = 'Enter organisation details' %}

{% block additional_scripts %}
  {% include "postcode-lookup-client-scripts.njk" %}
{% endblock %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <form method="post" novalidate>
        {{ csrfProtection(csrf) }}

        <p>{{ t('These details are shared with the person, business or organisation you are claiming from (the defendant).') }}</p>

        {{
          partyDetailsFragment(
            form,
            fields = [
              { label: 'Organisation name', name: 'name' },
              { label: 'Contact person (optional)', name: 'contactPerson', hint: 'The defendant can contact this person to discuss the claim' }
            ],
            addressSection = {
              heading: 'Organisation address',
              hint: 'Enter the organisation’s main office or an organisation’s address that has a connection with the claim.',
              name: 'address',
              postcodeLookup: true
            },
            showCorrespondenceAddressSection = true
          )
        }}

        {{ saveAndContinueButton() }}
      </form>
    </div>
  </div>
{% endblock %}
