{% extends "layout.njk" %}
{% from "form.njk" import nameInput, csrfProtection, errorSummary, radioGroup, saveAndContinueButton %}

{% set heading = 'About you and this claim' %}

{% block content %}
  <div class="grid-row">
      <div class="column-two-thirds">
        <p>{{ t('I’m claiming as:') }}</p>
        <form method="POST" novalidate>
          {{ csrfProtection(csrf) }}


          {{
            radioGroup(
              form = form,
              label = 'I’m claiming as',
              labelForScreenReadersOnly = true,
              name = 'type',
              options = [
                {
                  bold: true,
                  label: 'An individual',
                  hint: 'You’re claiming for yourself',
                  value: 'individual',
                  checked: (form.valueFor('type').value === 'individual')
                },
                {
                  bold: true,
                  label: 'A sole trader or self-employed person',
                  hint: 'For example a tradesperson',
                  value: 'soleTrader',
                  checked: (form.valueFor('type').value === 'soleTrader')
                },
                {
                  bold: true,
                  label: 'A limited company',
                  hint: 'For example a company that sells goods or services',
                  value: 'company',
                  checked: (form.valueFor('type').value === 'company')
                },
                {
                  bold: true,
                  label: 'Another type of organisation',
                  hint: 'For example a partnership, trust, charity, club or association',
                  value: 'organisation',
                  checked: (form.valueFor('type').value === 'organisation')
                }
              ]
            )
          }}

          {{ saveAndContinueButton() }}
        </form>
      </div>
  </div>
{% endblock %}
