{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, input, saveAndContinueButton, errorSummary %}

{% set heading = 'Enter a phone number (optional)' %}

{% block content %}
  <div class="grid-row">
      <div class="column-two-thirds">

        <p>{{ t('We might need to speak to you about this claim. We’ll only call on weekdays between 9am and 5pm.') }}</p>
        <p>{{ t('We’ll also give your number to the defendant.') }}</p>
        <form method="post">
          {{ csrfProtection(csrf) }}

          {{ input('Enter a phone number (optional)', 'number', form, '', labelClass = 'visually-hidden') }}
          {{ saveAndContinueButton() }}
        </form>
      </div>
  </div>
{% endblock %}
