{% extends "layout.njk" %}
{% from "form.njk" import submitButton, errorSummary %}
{% from "support.njk" import supportWidget %}
{% from "internalLink.njk" import internalLink %}
{% from "./macro/claim-confirmation.njk" import claimConfirmation %}}
{% from "./macro/claim-hwf-confirmation.njk" import claimHwfConfirmation %}}
{% set headingVisible = false %}
{% set heading = 'Confirmation' %}

{% block content %}

  {% set defendantName = claim.claimData.defendant.name %}
  <div class="grid-row">
    <div class="column-two-thirds">
      {% if claim.claimData.helpWithFeesNumber %}
        {{ claimHwfConfirmation(claim) }}
      {% else %}
        {{ claimConfirmation(claim) }}
      {% endif %}
      
      {% include "includes/service-survey-link-claimant.njk" %}
      {{ internalLink(t('Go to your account'), DashboardPaths.dashboardPage.uri, 'button') }}
      {{ supportWidget() }}
    </div>
  </div>

{% endblock %}
{% block contactForHelp %}{% endblock %}
