{% extends "layout.njk" %}
{% from "form.njk" import submitButton, errorSummary %}
{% from "support.njk" import supportWidget %}
{% from "internalLink.njk" import internalLink %}

{% set headingVisible = false %}
{% set heading = 'Confirmation' %}

{% block content %}

  {% set defendantName = claim.claimData.defendant.name %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="govuk-box-highlight">
        <h1 class="bold-large">{{ t('Claim submitted') }}</h1>
        <div class="reference-number">
          <span>{{ t('Your claim number:') }}</span>
          <h1 class="bold-large">{{ claim.claimNumber }}</h1>
        </div>
        <p class="receipt-download-container">
          {{ internalLink(t('Download your claim form'), ClaimPaths.receiptReceiver.evaluateUri({ externalId: claim.externalId})) }}
        </p>

      </div>

      <h2 class="heading-medium">{{ t('What happens next') }}</h2>
      <p>{{ t('{{ defendantName }} has until 4pm on {{ responseDeadline }} to respond to your claim. They can request an extra 14 days if they need it.',
          {
            defendantName : defendantName,
            responseDeadline: claim.responseDeadline | date
          }
        ) | safe }}
      </p>
      <p>{{ t('You can request a County Court Judgment against them if they don’t respond by the deadline.') }}</p>

      <h2 class="heading-medium">{{ t('If the defendant pays you') }}</h2>
      <p>{{ t('You need to sign in to your account to tell us you’ve been paid.') }}</p>

      {% include "includes/service_survey_link.njk" %}

      {{ internalLink(t('Continue'), DashboardPaths.dashboardPage.uri, 'button') }}

      {{ supportWidget() }}

    </div>

  </div>

{% endblock %}
{% block contactForHelp %}{% endblock %}
