{% extends "layout.njk" %}
{% from "includes/macros/form.njk" import errorSummary %}
{% from "includes/macros/address.njk" import addressForm %}

{% set title = t('Money claim') %}
{% set heading = t('Their address') %}

{% block content %}
  <div class="grid-row">
      <div class="column-two-thirds">

        <p>{{ t('You must enter the defendant’s address to make a claim against them.') }}</p>

        {{ addressForm(form, csrf) }}
      </div>
  </div>
{% endblock %}
