{% extends "layout.njk" %}
{% from "includes/macros/form.njk" import nameInput, csrfProtection, errorSummary, radioOption, saveAndContinueButton %}

{% set title = t("Money claim") %}

{% block content %}
  <div class="grid-row">
    <h1 class="heading-xlarge">{{ t("About them") }}</h1>
    <p>{{ t("We need to know if you're claiming against the respondent as an individual, or if the dispute relates to their work or business.") }}</p>
    <p>{{ t("Who are you making the claim against?") }}</p>
    <form method="POST" novalidate>
      {{ csrfProtection(csrf) }}

      {% set error = form.errorFor('type') %}
      <div class="form-group {% if error %} form-group-error {% endif %}">
        <fieldset id="type[label]">
          <legend class="visually-hidden">{{ t("Who are you making the claim against?") }}</legend>
          {% if error %}<span class="error-message">{{ t(error) }}</span>{% endif %}

          {{ radioOption(form = form, name = 'type[value]', value = 'individual',
            label = t("An individual"), bold = true,
            hint = t("For example, someone you lent money")
          )}}

          {{ radioOption(form = form, name = 'type[value]', value = 'soleTrader',
            label = t("A sole trader or self-employed person"), bold = true,
            hint = t("For example, a tradesperson who did work for you")
          )}}

          {{ radioOption(form = form, name = 'type[value]', value = 'company',
            label = t("On behalf of a company"), bold = true,
            hint = t("For example, a company that sold you goods or services")
          )}}

          {{ radioOption(form = form, name = 'type[value]', value = 'organisation',
            label = t("As another type of organisation"), bold = true,
            hint = t("For example, a partnership, trust, charity, club or association")
          )}}
        </fieldset>
      </div>

      {{ saveAndContinueButton() }}
    </form>
  </div>
{% endblock %}
