{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, emailInput, saveAndContinueButton, errorSummary %}

{% set title = t('Money claim') %}
{% set heading = t('Their email address (optional)') %}

{% block content %}
  <div class="grid-row">
      <div class="column-two-thirds">

        <p>{{ t("We'll use this to tell them you've made a claim, as well as notifying them by post.") }}</p>
        <form novalidate method="post">
          {{ csrfProtection(csrf) }}

          {{ emailInput(t(''), 'address', form) }}
          {{ saveAndContinueButton() }}
        </form>
      </div>
  </div>
{% endblock %}
