{% extends "layout.njk" %}

{% from "form.njk" import csrfProtection, saveAndContinueButton, errorSummary %}
{% from "party/details.njk" import partyDetailsFragment %}

{% set heading = 'Company details' %}

{% block additional_scripts %}
  {% include "postcode-lookup-client-scripts.njk" %}
{% endblock %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <form method="post" novalidate>
        {{ csrfProtection(csrf) }}
        <p>{{ t('Don’t enter an email address if you’re naming a contact person.') }}</p>
        <p>{{ t('You’ll have to pay an extra fee if you later want to change the name of anyone involved with the claim.') }}</p>

        {{
          partyDetailsFragment(
            form,
            fields = [
              { label: 'Company name', name: 'name' },
              { label: 'Contact person (optional)', name: 'contactPerson', hint: 'This might be a person you’ve discussed the claim with.' }
            ],
            addressSection = {
              heading: 'Company address',
              hint: 'Enter the company’s registered office or a company address that has a connection with the claim. The address must be in England or Wales.',
              name: 'address',
              postcodeLookup: true
            },
            showCorrespondenceAddressSection = false,
            postcodeLabel = 'Enter a postcode'
          )
        }}

        {{ saveAndContinueButton() }}
      </form>
    </div>
  </div>
{% endblock %}
