{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, submitButton %}

{% set title = t('Fees | Money claim') %}
{% set heading = t('Fees you’ll pay') %}

{% block content %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form novalidate method="post">
        {{ csrfProtection(csrf) }}
        <p>
          {{ t('You must pay a fee to make this claim but we’ll add it to the amount you’re claiming from the defendant.') }}
        </p>

        <table class="form-group">
          <thead>
          <tr>
            <th scope="col"></th>
            <th class="numeric" scope="col"></th>
          </tr>
          </thead>
          <tbody>

          <tr>
            <td>{{ t('Claim fee') }}</td>
            <td class="numeric">£{{ issueFee }}</td>
          </tr>

          <tr>
            <td>{{ t('Hearing fee (if your claim goes to a hearing)') }}</td>
            <td class="numeric">£{{ hearingFee }}</td>
          </tr>

          </tbody>
        </table>

        {{ feesTable('How these fees are calculated', rows ) }}

        <div class="form-group">
          {{ submitButton('Continue') }}
        </div>
      </form>
    </div>
  </div>

{% endblock %}
