{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, textArea, saveAndContinueButton, errorSummary %}
{% from "date.njk" import dateInput %}

{% set heading = 'Enter the date you want to claim interest from' %}

{% block content %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form novalidate method="post">
        {{ csrfProtection(csrf) }}

        <div class="form-group">
          {{ dateInput('date', form, hint = t('For example, {{ pastDate }}', { pastDate: pastDate | inputDate }), visuallyHiddenLabelValue = 'start date for claim interest') }}
          {{ textArea('Explain why you’re claiming from this date', 'reason', form, inputClass = 'full-width') }}
        </div>

        <div class="form-group">
          {{ saveAndContinueButton() }}
        </div>
      </form>
    </div>
  </div>
{% endblock %}
