{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, textInput, radioGroup, saveAndContinueButton, errorSummary %}
{% from "date.njk" import dateInput %}

{% set heading = 'When do you want to stop claiming interest?' %}

{% block content %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form novalidate method="post">
        {{ csrfProtection(csrf) }}

        <div class="form-group {% if error %} form-group-error {% endif %}">

          {% set name = 'option' %}

          {{
          radioGroup(
            'When do you want to stop claiming interest?',
            name,
            [
              {
                label: 'When you submit the claim',
                value: InterestEndDateOption.SUBMISSION,
                checked: (form.valueFor(name) === InterestEndDateOption.SUBMISSION),
                bold: true,
                hint: 'If you submit after 4pm it will be the next working day.'
              },
              {
                label: 'Continue until the claim is settled or judgment made',
                value: InterestEndDateOption.SETTLED_OR_JUDGMENT,
                checked: (form.valueFor(name) === InterestEndDateOption.SETTLED_OR_JUDGMENT),
                bold: true
              }
            ],
            form = form,
            labelForScreenReadersOnly = true
          )
          }}
        </div>

        <div class="form-group">
          {{ saveAndContinueButton() }}
        </div>
      </form>
    </div>
  </div>
{% endblock %}
