{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, radioGroup, saveAndContinueButton, errorSummary %}

{% set heading = 'Do you want to claim interest?' %}

{% block content %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <p>{{ t('You can claim interest on the money you say you’re owed. The court will decide if you’re entitled to it.') }} </p>

      {% set name = 'option' %}

      <form novalidate method="post">
        {{ csrfProtection(csrf) }}

        {{
        radioGroup(
          label ='Do you want to claim interest?',
          isInline = true,
          name = name,
          options = [
          {'label': 'Yes', value: YesNoOption.YES.option, checked: (form.valueFor(name) === YesNoOption.YES)},
          {'label': 'No', value: YesNoOption.NO.option, checked: (form.valueFor(name) === YesNoOption.NO)}
        ],
          form = form,
          labelForScreenReadersOnly = true
        )
        }}

        <details class="form-group">
          <summary>
            {{ t(' Help with interest rates') }}
          </summary>
          <div class="panel panel-border-narrow">
            <p>{{ t('You can claim 8% interest on money owed to you. This is the statutory rate. If you know that a different rate applies you can use that. For example if you have a contract with a specific rate.') }}</p>
            <p>{{ t('The court will decide if you’re entitled to some or all of the interest claimed.') }}</p>
          </div>
        </details>

        <div class="form-group">
          {{ saveAndContinueButton() }}
        </div>
      </form>
    </div>
  </div>
{% endblock %}
