{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, textInput, radioOption, saveAndContinueButton, errorSummary %}

{% set heading = 'What annual rate of interest do you want to claim?' %}

{% block content %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <p>{{ t('You can claim 8% per year unless you know that a different rate applies.') }} </p>

      <form novalidate method="post">
        {{ csrfProtection(csrf) }}

        {% set error = form.errorFor('type') %}

        <div class="form-group {% if error %} form-group-error {% endif %}">

          <fieldset id="type[label]">

            <legend>
              <span class="visually-hidden">
                {{ t('What annual rate of interest do you want to claim?') }}
              </span>
              {% if error %}<span class="error-message">{{ t(error) }}</span>{% endif %}
            </legend>

            {{ radioOption('8%', 'type', form, 'standard', checked = form.valueFor('type') == 'standard') }}
            <div class="multiple-choice" data-target="different-rate">
              <input id="typedifferent" type="radio" name="type"
                     value="different" {% if form.valueFor('type') == 'different' %} checked {% endif %}>
              <label for="typedifferent">{{ t('A different rate') }}</label>
            </div>

            {% set errorRate = form.errorFor('rate') %}
            {% set errorReason = form.errorFor('reason') %}
            <div class="panel panel-border-narrow js-hidden {% if errorRate or errorReason %} form-group-error {% endif %}" id="different-rate">

              <div class="form-group-compound">
                <label class="form-label" for="rate[label]">{{ t('Rate you’re claiming') }}</label>
                {% if errorRate %}<span class="error-message">{{ t(errorRate) }}</span>{% endif %}
                <input class="form-control form-control-1-8 {% if errorRate %} form-control-error{% endif %}" name="rate"
                       id="rate[label]" value="{{ (form.rawDataFor('rate') if errorRate else form.valueFor('rate')) | default('') }}"> %
              </div>

              <div class="form-group-compound">
                <label class="form-label" for="reason[label]">{{ t('Why you’re entitled to this rate') }}</label>
                {% if errorReason %}<span class="error-message">{{ t(errorReason) }}</span>{% endif %}
                <input class="form-control {% if errorReason %} form-control-error{% endif %}" name="reason" type="text"
                       id="reason[label]" value="{{ form.valueFor('reason') | default('') }}">
              </div>
            </div>
          </fieldset>
        </div>

        <details class='form-group'>
          <summary>
            <span class="summary">{{ t('Help with interest rates') }}</span>
          </summary>

          <div class="panel panel-border-narrow">
            <p>{{ t('You can claim 8% interest on money owed to you. This is the statutory rate. If you know that a different rate applies you can use that. For example if you have a contract with a specific rate.') }}</p>
            <p>{{ t('The court will decide if you’re entitled to some or all of the interest claimed.') }}</p>
          </div>
        </details>

        <div class="form-group">
          {{ saveAndContinueButton() }}
        </div>
      </form>
    </div>
  </div>
{% endblock %}
