{% extends "layout.njk" %}
{% from "includes/macros/form.njk" import csrfProtection, textInput, radioOption, saveAndContinueButton, errorSummary %}
{% from "includes/macros/date.njk" import dateInput %}

{% set title = t('Money claim') %}
{% set heading = t('When are you claiming interest from?') %}

{% block content %}

<div class="grid-row">
    <div class="column-two-thirds">

      <form novalidate method="post">
        {{ csrfProtection(csrf) }}

      {% set error = form.errorFor('type') %}

        <div class="form-group {% if error %} form-group-error {% endif %}">

          <fieldset id="type[label]">

            <legend>
              <span class="visually-hidden">{{ t('When are you claiming interest from?') }}</span>
              {% if error %}<span class="error-message">{{ t(error) }}</span>{% endif %}
            </legend>

            <div class="multiple-choice" data-target="claim-date">
              <input id="typecustom" type="radio" name="type" value="custom" {% if form.valueFor('type') == 'custom' %} checked {% endif %}>
              <label for="typecustom">
                <span class="bold-small">{{ t('Claim interest from a particular date') }}</span>
                <br>
                {{ t('For example, the date an invoice was overdue or that you told someone they owed you the money.') }}
              </label>
            </div>
            <div class="panel panel-border-narrow js-hidden" id="claim-date" aria-hidden="false">

              {{ dateInput('date', form) }}
              {{ textInput("Explain why you're claiming from this date", 'reason', form) }}

            </div>
            {{ radioOption(t("Claim interest from the date I submit the claim"), 'type', form, 'submission', ' ', form.valueFor('type') == 'submission') }}
          </fieldset>
        </div>

        <details>

          <summary>
            <span class="summary">{{ t('Help with interest rate') }}</span>
          </summary>

          <div class="panel panel-border-narrow">
            <p>{{ t('You can claim up to 8% interest on money owed to you. ' +
              'You might be able to claim a different rate - for example, if a loan has not been repaid, ' +
              'or if you had a contract which entitles you to a particular rate. ' +
              "The court will decide if you're entitled to some or all of the interest claimed. " +
              'You might be asked to give reasons for why you should get interest.') }}</p>
          </div>

        </details>

        <div class="form-group">
          {{ saveAndContinueButton() }}
        </div>
      </form>
    </div>
  </div>
{% endblock %}
