{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, radioGroup, submitButton %}

{% set heading = 'Volunteer to try new features' %}

{% block content %}
<div class="grid-row">
  <div class="column-two-thirds">
    <p>{{ t('We‘re continuously improving this service and trialling new features to reduce the need for paper forms.') }}</p>
    <h3 class="heading-small form-group-related">{{ t('If you volunteer') }}</h3>
    <p>{{ t('We‘ll tell you if we select your claim - we won‘t select all claims.') }}</p>
    <h3 class="heading-small form-group-related">{{ t('If your claim is selected') }}</h3>
    <p>{{ t('You‘ll be able to try new features we‘ve already launched. We may also select your claim to trial new features we launch in future.') }}</p>
    <form method="POST" novalidate class="analytics-submit-event-trigger" data-event-label-from="consentResponse" data-event-action="New features consent">
      {{ csrfProtection(csrf) }}

      {{
        radioGroup(
          label = 'Do you want to try new features as we add them?',
          labelForScreenReadersOnly = true,
          name = 'consentResponse',
          form = form,
          options = [
            {
              bold: false,
              label: 'I’ll volunteer to try new features',
              value: YesNoOption.YES.option,
              checked: (form.valueFor('consentResponse') === YesNoOption.YES)
            },
            {
              bold: false,
              label: 'I don’t want to volunteer to try new features',
              value: YesNoOption.NO.option,
              checked: (form.valueFor('consentResponse').value === YesNoOption.NO)
            }
          ]
        )
      }}

      {{ submitButton() }}
    </form>
  </div>
</div>
{% endblock %}
