{% extends "layout.njk" %}

{% set title = t('Money claim') %}

{% from "form.njk" import submitButton %}
{% from "support.njk" import supportWidget %}

{% block content %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">{{ t('Make a money claim') }}</h1>
      <p>{{ t('You can make a money claim if a person or organisation owes you money and won’t pay you back.') }}</p>
      <p class="panel panel-border-wide">
        {{ t('Before claiming you should contact the person or organisation to try to find a solution. '
        + 'Find out <a href="{{ uri }}">how you can resolve a claim by discussion or mediation.</a>',
        { uri : AppPaths.resolveBeforeClaimPage.uri } ) | safe }}
      </p>

      <p>{{ t('Your claim, including your name and address, will be sent to the person you say owes you money. '
        + 'They’ll get a chance to respond to your claim.') }}</p>

      <p>{{ t('You might have to go to a hearing with a judge if the person says they don’t owe you money.') }}</p>

      <h2 class="heading-medium">{{ t('What you’ll need') }}</h2>

      <p>{{ t('To use this service you need:') }}</p>

      <ul class="list list-bullet">
        <li>{{ t('current address and contact details for the person or organisation you’re claiming against (or last known address)') }}</li>
        <li>{{ t('a credit or debit card to pay the <a href="{{ claimFeeUri }}">claim fee</a>',
          { claimFeeUri : 'https://www.gov.uk/make-court-claim-for-money/court-fees' }) | safe }}
        </li>
      </ul>

      <div class="clearfix">
        <a class="button button-start" href="{{ startLink }}" role="button">{{ t('Start now') }}</a>
      </div>
      <h2 class="heading-medium">{{ t('Check you can use this service') }}</h2>
      <p>{{ t('To use this service, you must be:') }}</p>

      <ul class="list list-bullet">
        <li>{{ t('claiming for £10,000 or less, including interest') }}</li>
        <li>{{ t('18 or older (you must also be claiming against someone who’s 18 or older)') }}</li>
        <li>{{ t('living in England or Wales (and claiming against a person or organisation with an address in England or Wales)') }}</li>
      </ul>

      <h2 class="heading-medium">{{ t('Claim by paper') }}</h2>
      <p>{{ t('You can also print and complete a <a href="{{ paperFormUri }}">paper claim form</a>.',
        { paperFormUri: 'http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=338' }) | safe }}</p>
      <p>{{ t('Send the form and a cheque for your <a href="{{ claimFeeUri }}">claim fee</a> to:',
        { claimFeeUri: 'https://www.gov.uk/make-court-claim-for-money/court-fees'}) | safe }}</p>
      <ul class="list">
        <li>County Court Money Claims Centre</li>
        <li>PO Box 527</li>
        <li>Salford</li>
        <li>Greater Manchester</li>
        <li>M5 0BY</li>
        <li>DX: 702634 Salford 5</li>
      </ul>

      {{ supportWidget('Help to use this service')}}

    </div>

  </div>

{% endblock %}
