{% extends "layout.njk" %}
{% from "task-list.njk" import task, taskListHeading, disabledTask %}
{% from "internalLink.njk" import internalLink %}
{% set heading = 'Make a money claim' %}
{% set headingSize = 'xlarge' %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="task-group">
        {{ taskListHeading(beforeYouStart.name) }}

        {% for item in beforeYouStart.tasks %}
          {{ task(item.startPageUrl, t(item.name), item.completed) }}
        {% endfor %}
      </div>

      <div class="task-group">
        {{ taskListHeading(prepareYourClaim.name) }}

        {% for item in prepareYourClaim.tasks %}
          {{ task(item.startPageUrl, t(item.name), item.completed) }}
        {% endfor %}
      </div>

      <div class="task-group">
        {{ taskListHeading(submit.name) }}
        <div class="check-submit-response">
          {{ internalLink(t('Check and submit your claim'), ClaimPaths.checkAndSendPage.uri, 'button button-primary') }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block contactForHelp %}{% endblock %}
