{% extends "layout.njk" %}
{% from "task-list.njk" import taskList, taskStatus %}
{% from "internalLink.njk" import internalLink %}
{% block additional_head %}
  <link rel="stylesheet" href="{{ asset_paths['style'] }}/govuk-frontend/task-list.css"/>
{% endblock %}

{% set heading = 'Make a money claim' %}
{% set headingSize = 'xlarge' %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      {{ taskStatus(status) }}
      {{ taskList(beforeYouStart, 1) }}
      {{ taskList(prepareYourClaim, 2) }}
      {{ taskList(submit, 3) }}
    </div>
  </div>
{% endblock %}
{% block contactForHelp %}{% endblock %}
