{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, saveAndContinueButton, errorSummary %}
{% from "timelineFragment.njk" import timelineFragment %}

{% set heading = ('Timeline of events') %}

{% block content %}
<div class="grid-row">
  <div class="column-two-thirds">

    <form method="post" novalidate>
      {{ csrfProtection(csrf) }}
      <p>{{ t('If you don’t know the exact date, tell us the month and year.') }}</p>
      <h2 class="heading-small">{{ t('Example timeline') }}</h2>
      <ul class="list list-bullet">
        <li>{{ t('{{ earliest }} - John Smith gave me a quote to replace the roof.', { earliest: 'now' | addDays(-180) | date }) }}</li>
        <li>{{ t('{{ later }} - We agreed and signed a contract for the work.', { later: 'now' | addDays(-178) | date }) }}</li>
        <li>{{ t('{{ latest }} - I noticed a leak on the landing and told Mr Smith about this.', { latest: 'now' | addDays(-114) | date }) }}</li>
      </ul>

      {{ timelineFragment(form) }}
      {{ saveAndContinueButton() }}

    </form>
  </div>
</div>
{% endblock %}

{% block additional_scripts %}
  <script src="{{ asset_paths['js'] }}/append-row.js"></script>
{% endblock %}
