{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, saveAndContinueButton, errorSummary %}
{% from "timelineFragment.njk" import timelineFragment %}

{% set heading = ('Timeline of events') %}

{% block content %}
<div class="grid-row">
  <div class="column-two-thirds">

    <form method="post" novalidate>
      {{ csrfProtection(csrf) }}
      <h2 class="heading-small">{{ t('Example timeline') }}</h2>
      <ul class="list list-bullet">
        <li>{{ t('{{ earliest }} - John Smith gave me a quote to replace the roof.', {earliest: 'now' | addDays(-28) | date}) }}</li>
        <li>{{ t('{{ later }} - We agreed and signed a contract for the work.', {later: 'now' | addDays(-24) | date}) }}</li>
        <li>{{ t('{{ latest }} - I noticed a leak on the landing and told Mr Smith about this.', {latest: 'now' | addDays(-7) | date}) }}</li>
      </ul>

      {{ timelineFragment(form) }}
      {{ saveAndContinueButton() }}

    </form>
  </div>
</div>
{% endblock %}

{% block additional_scripts %}
  <script src="{{ asset_paths['js'] }}/append-row.js"></script>
{% endblock %}
