{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, linkButton, saveAndContinueButton, errorSummary %}

{% set title = t('Money claim') %}
{% set heading = t('Timeline of events') %}

{% macro timelineRow(index, form) %}

  {% set dateKey = 'rows[' + index + '][date]' %}
  {% set dateValue = form.valueFor(dateKey) %}
  {% set dateError = form.errorFor(dateKey) %}

  {% set descriptionKey = 'rows[' + index + '][description]' %}
  {% set descriptionError = form.errorFor(descriptionKey) %}
  {% set descriptionValue = form.valueFor(descriptionKey) %}

  <div class="multiline-row {% if dateError or descriptionError %} form-group-error {% endif %}">
    {% if dateError %}
    <span class="error-message" id="{{ dateKey }}[label]">
      {{ t(dateError) }}
    </span>
    {% endif %}
    {% if descriptionError %}
    <span class="error-message" id="{{ descriptionKey }}[label]">
      {{ t(descriptionError) }}
    </span>
    {% endif %}

    <label class="form-label-bold mobile-show" for="{{ dateKey }}">{{ index + 1 }}{{ t('. Date') }}</label>
    <span class="form-hint mobile-show">{{ t('For example, 1 May 2017') }}</span>
    <input id="{{ dateKey }}" name="{{ dateKey }}" value="{{ dateValue if dateValue }}"
           class="form-control multiline-column-1 {% if dateError %}form-control-error{% endif %}" type="text">

    <label for="{{ descriptionKey }}" class="form-label-bold mobile-show">
      {{ t('What happened') }}
    </label>
    <span class="form-hint mobile-show">{{ t('For example, you might have signed a contract') }}</span>
    <textarea id="{{ descriptionKey }}" name="{{ descriptionKey }}"
              class="form-control multiline-column-text {% if descriptionError %}form-control-error{% endif %}"
              rows="2">{{ descriptionValue if descriptionValue }}</textarea>
  </div>
{% endmacro %}

{% block content %}
<div class="grid-row">
  <div class="column-two-thirds">

    <form method="post" novalidate>
      {{ csrfProtection(csrf) }}
      <h3 class="heading-small">{{ t('Example timeline') }}</h3>
      <ul class="list list-bullet">
        <li>{{ t('12 January 2017 - John Smith gave me a quote to replace the roof.') }}</li>
        <li>{{ t('14 January 2017 - We agreed and signed a contract for the work.') }}</li>
        <li>{{ t('21 March 2017 - I noticed a leak on the landing and told Mr Smith about this.') }}</li>
      </ul>

      {% set noRowsError = form.errorFor('rows') %}
      <div class="multiline {% if noRowsError %} form-group-error {% endif %}">
        {% if noRowsError %}<span class="error-message" id="rows[label]">{{ t(noRowsError) }}</span>{% endif %}
        <div class="multiline-headings">
          <div class="multiline-column-1">
            <label class="form-label-bold">
              {{ t('Date') }}
            </label>
            <span class="form-hint">{{ t('For example, 1 May 2017') }}</span>
          </div>
          <div class="multiline-column-2">
            <label class="form-label-bold">
              {{ t('What happened') }}
            </label>
            <span class="form-hint">{{ t('For example, you might have signed a contract') }}</span>
          </div>
        </div>

        <div class="multiline-rows">
        {% for row in form.model.rows %}
          {{ timelineRow(loop.index0, form) }}
        {% endfor %}
        </div>

      </div>

      {% if form.model and form.model.canAddMoreRows() %}
        <div id="add-event-container" class="form-group">
          {{ linkButton('Add another event', 'action[addRow]', 'button button-secondary') }}
        </div>
      {% endif %}

      {{ saveAndContinueButton() }}

    </form>
  </div>
</div>
{% endblock %}
