{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, saveAndContinueButton, errorSummary %}
{% from "feesTable.njk" import feesTable %}

{% set heading = 'Total amount you’re claiming' %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <form novalidate method="post">
        {{ csrfProtection(csrf) }}

        <fieldset>
          <legend class="visuallyhidden">
            {{ t('Total amount you’re claiming') }}
          </legend>

          <table class="table-form form-group">
            <caption class="visuallyhidden"></caption>
            <tfoot>
            <tr>
              <th scope="col"><span class="bold-small">{{ t('Total claim amount') }}</span></th>
              <td class="numeric last"><span class="bold-medium">{{ interestTotal.totalAmountTillToday | numeral }}</span></td>
            </tr>
            </tfoot>
            <tbody>
            <tr>
              <th scope="row">{{ t('Claim amount') }}</th>
              <td class="numeric last">
                <label class="visuallyhidden" for="amount">{{ t('Claim amount') }}</label>
                <span class="font-small">{{ interestTotal.claimAmount | numeral }}</span>
              </td>
            </tr>
            {% if (interestClaimed) %}
              <tr>
                <th scope="row">{{ t('Interest to date') }}</th>
                <td class="numeric last">
                  <label class="visuallyhidden" for="amount">{{ t('Interest') }}</label>
                  <span class="font-small">{{ interestTotal.interestAmount | numeral }}</span>
                </td>
              </tr>
            {% endif %}
            <tr>
              <th scope="row">{{ t('Claim fee') }}</th>
              <td class="numeric last">
                <label class="visuallyhidden" for="amount">{{ t('Claim fee') }}</label>
                <span class="font-small">{{ interestTotal.feeAmount | numeral }}</span>
              </td>
            </tr>
            </tbody>
          </table>

          <h4 class="heading-small">{{ t('If you applied for Help With Fees') }}</h4>
          <ol class="list list-number">
            <li>{{ t('We\'ll review your application after you submit your claim.') }}</li>
            <li>{{ t('If it\'s successful, you may not have to pay any or all of the claim fee.') }}</li>
            <li>{{ t('That would mean the total claim amount would be lower than the amount shown on this page.')}}</li>
            <li>{{ t('If it\'s unsuccessful, we\'ll ask you to pay the claim fee shown on this page in full.') }}<p></p>
            </li>
          </ol>

          <h4 class="heading-small">{{ t('If you settle out of court') }}</h4>
          <p>{{ t('We won\'t refund your claim fee. You can ask the defendant to pay back your claim fee as part of the settlement.') }}</p>

          <table class="table-form form-group">
            <caption class="visuallyhidden"></caption>
            <thead>
              <tr>
                <th scope="col">{{ t('Other fees') }}</th>
                <th class="numeric last" scope="col"></th>
              </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">{{ t('Hearing fee') }}</th>
              <td class="numeric last">
                <span class="font-small">{{ hearingFee | numeral }}</span>
              </td>
            </tr>
            </tbody>
          </table>

          <p>{{ t('You don’t have to pay a hearing fee unless the claim goes to a hearing.') }}</p>

          {{ feesTable('How these fees are calculated', feeTableContent , showHearingFee = true) }}

        </fieldset>

        {{ saveAndContinueButton() }}
      </form>
    </div>
  </div>
{% endblock %}
