{% extends "layout.njk" %}
{% from "support.njk" import supportWidget %}
{% from "externalLink.njk" import externalLink %}
{% from "internalLink.njk" import internalLink %}
{% set heading = 'Accessibility statement for the Online Civil Money Claims service' %}

{% set abilityNet = 'https://mcmw.abilitynet.org.uk/'  %}
{% set eass = 'https://www.equalityadvisoryservice.com/' %}
{% set wcaStandards = 'https://www.w3.org/TR/WCAG21/' %}
{% set wcaGuidline = 'https://www.w3.org/TR/WCAG21/' %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <p>
        {{ t('This service allows you to make a money claim against an individual or an organisation for £10,000 or less. ') }}
      </p>
      <p>{{ t('This website is run by HM Courts and Tribunals Services (HMCTS). We want as many people as possible to be able to use it, so we’ve designed it to be accessible. That means you should be able to:') }}</p>

      <ul class="list list-bullet">
        <li>{{ t('change colours, contrast levels and fonts') }}</li>
        <li>{{ t('zoom in up to 300% without the text spilling off the screen') }}</li>
        <li>{{ t('navigate most of the website using just a keyboard') }}</li>
        <li>{{ t('navigate most of the website using speech recognition software') }}</li>
        <li>{{ t('listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)') }}</li>
      </ul>
      <p>{{ t('We’ve also made the website text as simple as possible to understand.') }}</p>
      <p>{{ t(externalLink('AbilityNet', abilityNet) +' has advice on making your device easier to use if you have a disability.') | safe }}</p>

      <h2 class="heading-medium">{{ t('How accessible is this website?') }}</h2>
      <p>
        {{ t('The website has been tested by the Digital Accessibility Centre (DAC) and it meets the required level of accessibility.') }}
      </p>
      <p>
        {{ t('Some PDFs, documents and email attachments may not be fully accessible. For example, the forms and guidance documents which can be downloaded. These will be tested and made accessible by September 2020.') }}
      </p>

      <h2 class="heading-medium">{{ t('Get accessible formats') }}</h2>
      <p>
        {{ t('If you need information on this website in a different format like accessible PDF, large print, Easy Read or braille then email HMCTSforms@justice.gov.uk or phone us using the contact information on this page.') }}
      </p>

      <h2 class="heading-medium">{{ t('Tell us about accessibility problems') }}</h2>
      <p>
        {{ t('We want to keep improving accessibility.  Contact us using the contact details on this page if you find any problems or think we’re not meeting your accessibility needs.') }}
      </p>

      {{ supportWidget('Contact Money Claims') }}

      <h2 class="heading-medium">{{ t('Enforcement procedure') }}</h2>
      <p>
        {{ t('The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, '
        +  externalLink('contact the Equality Advisory and Support Service (EASS)', eass)) | safe}}
      </p>

      <h2 class="heading-medium">{{ t('If the claim goes to a hearing') }}</h2>

      <p>
        {{ t('We’ll tell you the hearing centre you need to go to and give you information about its accessibility.') }}
      </p>

      <h2 class="heading-medium">{{ t('Technical information about this website’s accessibility') }}</h2>
      <p>
        {{ t('HMCTS is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.') }}
      </p>
      <p> {{ t('The website is fully compliant with the' + externalLink('Web Content Accessibility Guidelines version 2.0 AA standard', wcaStandards)) | safe }}</p>
      <p> {{ t('We are in the process of testing the full service against the new' + externalLink('Web Content Accessibility Guidelines version 2.1 AA standard', wcaGuidline) + '. We commit to being fully compliant against this standard by 2020.') | safe }}</p>

      <h2 class="heading-medium">{{ t('Non-accessible content') }}</h2>

      <p>
        {{ t('Some PDFs, documents, and attachments to email notifications may not meet accessibility standards or work with a screen reader.') }}
      </p>

      <p> {{ t('This is because they were created before current accessibility legislation was introduced. We plan to make them accessible by September 2020.') }}
      </p>

      <h2 class="heading-medium">{{ t('Non-compliance with the accessibility regulations') }}</h2>
      <p>
        {{ t('We found issues with these URLs:') }}
      </p>

      <ul class="list list-bullet">
        <li>{{ t('URL: /claim/amount')}} <br>
          {{ t('Issue 1: Adding another row keeps the ’focus’ on the ‘add a new row’ button instead of the newly added row.') }} <br>
          {{ t('Issue 2: The ’Total amount’ should include a label stating ‘Total amount’') }}
        </li>
        <li>{{ t('URL: /claim/total')}} <br>
          {{ t('Issue 1: The ‘Total amount’ is not read by the voice-over') }} <br>
          {{ t('Issue 2: Skipping ‘Hearing Fees’ and ‘Amount’ for ‘Other Fees’') }}
        </li>
        <li>{{ t('URL: /claim/timeline')}} <br>
          {{ t('Issue 1: ’Label’ description is needed for each ‘Date’ textfield and for ‘What happened’ textfield') }} <br>
          {{ t('Issue 2: Adding another row keeps "focus" on the ‘add a new row’ button but not on the newly added row') }}
        </li>
        <li>{{ t('URL: /claim/evidence')}} <br>
          {{ t('Issue: All the hidden textboxes jump directly to describe first the “Report a problem with this page” and then it goes on to the contents in the footer') }} <br>
        </li>
        <li>{{ t('URL: /claim/check-and-send')}} <br>
          {{ t('Issue: All the headings for the tables are non-existent and each of the needs to be set as heading 2, <H2>') }} <br>
        </li>
        <li>{{ t('URL:')}} <br>
          {{ t('Issue:  H1 misplaced on the very claim number') }} <br>
        </li>
        <li>{{ t('URL: /case/ CLAIM_IDENTIFIER/response/timeline')}} <br>
          {{ t('Issue 1: The second heading must be replaced by heading level 2, as it currently states heading level 3') }} <br>
          {{ t('Issue 2: Label description is needed for each ‘Date’ textfield and for ‘What happened’ text field') }}
          {{ t('Issue 3: Adding another row keeps focus on the ‘add a new row button’ but not on the newly added row') }}
        </li>
        <li>{{ t('URL: /case/ CLAIM_IDENTIFIER/response/evidence')}} <br>
          {{ t('Issue 1: The second heading, ‘Their evidence’ must be replaced by heading level 2, as it currently states heading level 3') }} <br>
          {{ t('Issue 2: The third heading, ‘List your evidence (optional)’ must be replaced by heading level 2, as it currently states heading level 3') }}
          {{ t('Issue 3: When adding another row it keeps the “focus” on the ‘add a new row’ button but not on the newly added row') }}
          {{ t('Issue 4: The fourth heading, “List any parts of their evidence you disagree with (optional)” must be replaced by heading level 2, as it currently states heading level 3') }}
        </li>
        <li>{{ t('URL: /case/CLAIM_IDENTIFIER/directions-questionnaire/hearing-dates')}} <br>
          {{ t('Issue: Issues with calendar  “>” does state what it does = “go to next month”)') }} <br>
        </li>

      </ul>

      <h2 class="heading-medium">{{ t('Disproportionate burden') }}</h2>

      <p>
        {{ t('We believe fixing some issues would be a disproportionate burden - this means we’ve decided the time it would take would not be worth it for the limited benefit to accessibility.') }}
      </p>

      <p>{{ t('For claim issue and defendant response, these issues are:') }}
      </p>

      <ul class="list list-bullet">
        <li>{{ t('text fields must contain the appropriate labelling') }}</li>
        <li>{{ t('headings must contain the correct syntax') }}</li>
      </ul>

      <h2 class="heading-medium">{{ t('Content that’s not within the scope of the accessibility regulations') }}</h2>
      <h2 class="heading-small">
        {{ t('PDFs and other documents') }}
      </h2>

      <p>{{ t('PDFs, documents, and attachments to email notifications published before 23 September 2018 may not meet accessibility standards. For example, they may not be structured so they’re accessible to a screen reader. ') }}</p>

      <h2 class="heading-medium">{{ t('How we tested this website') }}</h2>

      <p>{{ t('We’ve carried out manual accessibility testing using multiple in-browser accessibility tools. Axe and Wave (tools) comply with WCAG 2 and Section 508 accessibility (which covers WCAG 2.1)') }}</p>
      <p>{{ t('In addition to this, the Online Civil Money Claims website was tested by the Digital Accessibility Centre (DAC) in February 2018.') }}</p>
      <p>{{ t('We continually run automated accessibility testing as part of our development practices. This helps us to resolve issues before we launch new pages or features. We use Voice Over and Axe as part of our quality assurance processes.') }}</p>
      <p>{{ t('This is a summary of the DAC Report from Feb 2018. Many of the high to medium issues mentioned have now been resolved.') }}</p>
      <p>{{ t('“The Digital Accessibility Centre (DAC) user/technical team carried out an accessibility audit for the Ministry of Justice’s Civil Money Claims service on 13th February 2018. This document incorporates the findings regarding any accessibility barriers identified during the process.') }}</p>
      <p>{{ t('There were areas of the service that caused some difficulties for our analysts.
Screen reader software reads the content on a page in a linear fashion and this also applies to layout tables, unless table headers are used. Table headers ensure that content is read out in columns and rows. Tables were encountered that contained headers that were layout tables and vice versa, which cause confusion for our screen reader analyst.
') }}</p>
      <p>{{ t('All of the error skip links functioned as expected; however, the third-party area that users were taken to did not possess one. There is no ‘skip to content’ link is present on the ‘Court and tribunal form finder’ page. A skip to content link would usually benefit users by navigating their focus to the primary content of the page.') }}</p>
      <p>{{ t('Links were present that were not descriptive to users that rely on audio feedback, whether navigating within the context of the page, or out of context (viewing by links alone). More description/context is required to ensure that users that rely on audio feedback can navigate with confidence.
Form fields had not been labelled in some instances and others had labels hidden off screen, which were read to screen reader users, but were of no benefit to cognitive or dyslexic users.
') }}</p>
      <p>{{ t('As a result of updating page content, user focus was taken to the top of the page, resulting in keyboard users needing to re-navigate the page in order to return to the point at which they lost focus; this can be extremely frustrating to keyboard only users and disorienting to screen reader and screen magnification user groups.“') }}</p>


      <h2 class="heading-medium">{{ t('What we’re doing to improve accessibility') }}</h2>

      <p>{{ t('This website is continually tested using accessibility software. Any new features which are introduced are also tested.') }}</p>
      <p>{{ t('We will be making the PDFs, documents and attachments that are essential to using our service accessible.') }}</p>
      <p>{{ t('We aim to carry out an accessibility audit with DAC in the near future.') }}</p>
      <p>{{ t('This statement was prepared and published on 23 September 2019.') }}</p>

    </div>
  </div>
{% endblock %}
