{% extends "layout.njk" %}
{% from "support.njk" import supportWidget %}

{% set heading = 'Contact us' %}

{% block additional_head %}
  <link rel=stylesheet href=https://avaya-web-chat-client.s3.eu-west-2.amazonaws.com/styles.css type="text/css"/>
{% endblock %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
       <p>{{ t('We‘re experiencing intermittent problems with our phone line. Email us if you can‘t get through.') }}</p>
      {{ supportWidget('') }}
    </div>
  </div>
{% endblock %}
{% block contactForHelp %}{% endblock %}
