{% extends "layout.njk" %}
{% from "support.njk" import supportWidget %}

{% set heading = 'Contact us' %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
       <p>{{ t('We‘re experiencing intermittent problems with our phone line. Email us if you can‘t get through.') }}</p>
      {{ supportWidget('Money Claims') }}
    </div>
  </div>
{% endblock %}
