{% extends "layout.njk" %}
{% from "support.njk" import supportWidget %}
{% from "internalLink.njk" import internalLink %}
{% from "externalLink.njk" import externalLink %}
{% set heading = 'Cookies' %}
{% set headingVisible = false %}

{% set cookieResourseUri = 'https://www.aboutcookies.org' %}
{% set googlePrivacyPolicyUri = 'https://www.google.com/policies/privacy/partners/' %}
{% set optOutOfAnalyticsUri = 'https://tools.google.com/dlpage/gaoptout' %}

{% block content %}
  <div class="grid-row">
    <div class="govuk-!-margin-left-4">
      {% include "../common/components/imported/cookie-manager/cookie-preferences.njk" %}
    </div>
  </div>
{% endblock %}
