{% extends 'layout.njk' %}

{% block content %}
  <h1 class="heading-large">Something went wrong</h1>
  <p>Sorry, we had some technical problems during your last operation. Please try again later.</p>
{% endblock %}
