{% extends 'layout.njk' %}

{% set heading = 'Something went wrong' %}

{% block content %}
  <p>Sorry, we had some technical problems during your last operation. Please try again later.</p>
{% endblock %}
