{% extends "layout.njk" %}
{% from "form.njk" import nameInput, csrfProtection, errorSummary, radioGroup, saveAndContinueButton %}

{% set heading = 'Do you want to try new features as we add them?' %}

{% block content %}
<div class="grid-row">
  <div class="column-two-thirds">
    <p>{{ t('We're continuously adding new features to this digital service. You can choose to try these features as we launch them') }}</p>
    <form method="POST" novalidate>
      {{ csrfProtection(csrf) }}

      {{
      radioGroup(
      form = form,
      label = 'Do you want to try new features as we add them?',
      labelForScreenReadersOnly = true,
      name = 'type',
      options = [
      {
      bold: true,
      label: 'I'll try new features',
      value: 'yes',
      checked: (form.valueFor('type').value === 'yes')
      },
      {
      bold: true,
      label: 'I don't want to try new features',
      value: 'no',
      checked: (form.valueFor('type').value === 'no')
      }
      ]
      )
      }}

      {{ continueButton() }}
    </form>
  </div>
</div>
{% endblock %}
