<script src="{{ asset_paths['js_vendor'] }}/numeral/numeral.min.js"></script>
<script src="{{ asset_paths['js_vendor'] }}/numeral/locales.min.js"></script>
<script src="{{ asset_paths['js'] }}/income-expense-calculation.js"></script>
