{% block content %}{% endblock %}
{% extends "govukTemplate.njk" %}

{% block head %}
  {% include "includes/head.njk" %}
  {% block additional_head %}{% endblock %}
{% endblock %}

{% block cookie_message %}
  <p>{{ t(cookieText) | safe }}</p>
{% endblock %}

{% block proposition_header %}
  {% include "includes/propositional_navigation.njk" %}
{% endblock %}

{% block header_class %}
  with-proposition
{% endblock %}

{% block footer_support_links %}
  {% include "includes/support-links.njk" %}
{% endblock %}

{% block body_end %}
  {% include "includes/scripts.njk" %}
  {% block additional_scripts %}{% endblock %}
{% endblock %}


