{% extends "layout.njk" %}
{% set heading = t('Not implemented') %}

{% set title = t('Money claim') %}

{% block content %}
  <div class="grid-row">
      <div class="column-two-thirds">

        This feature has not been implemented yet.

      </div>
  </div>
{% endblock %}
