<script src="{{ asset_paths['js_vendor'] }}/classlist-polyfill.js"></script>
<script src="{{ asset_paths['js_vendor'] }}/startswith-polyfill.js"></script>
<script src="{{ asset_paths['js'] }}/payment-plan-calculation.js"></script>
