{% extends "layout.njk" %}
{% from "support.njk" import supportWidget %}
{% from "externalLink.njk" import externalLink %}
{% from "internalLink.njk" import internalLink %}
{% set heading = 'Terms and conditions' %}

{% set cookieUri = AppPaths.cookiesPage.uri %}
{% set privacyPolicyUri = AppPaths.privacyPolicyPage.uri %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <p>
        {{ t('By using this service you’re agreeing to the following terms of use.'
        + 'This includes the ' + internalLink('privacy policy', privacyPolicyUri)) | safe }}
      </p>

      <p>{{ t('By creating an account, you agree to accept documents from the court electronically.') }}</p>

      <h2 class="heading-medium">{{ t('Who we are') }}</h2>

      <p>
        {{ t('This service is managed by Her Majesty’s Courts and Tribunals Service.') }}
      </p>
      <p>
        {{ t('You should check these terms and conditions regularly. We may update them at any time without notice. '
        + 'If you continue to use this service after the terms and conditions have changed, '
        + 'you are deemed to have agreed to the changes.') }}
      </p>

      <h2 class="heading-medium">{{ t('Information provided by this service') }}</h2>

      <p>
        {{ t('This service provides information to support your claim or application. '
        + 'We cannot give legal advice on individual cases.') }}
      </p>
      <p>
        {{ t('You should answer the questions in the service based on your circumstances, '
        + 'and seek legal advice if you need it.') }}
      </p>


      <h2 class="heading-medium">{{ t('Sharing and storing data') }}</h2>
      <p>
        {{ t('Our ' + internalLink('privacy policy', privacyPolicyUri) + ' explains where your data is stored, and who it is shared with.') | safe }}
      </p>

      <p>
        {{ t('Our ' + internalLink('cookie policy', cookieUri) + ' explains how this service uses and stores cookies.') | safe }}
      </p>

      <h2 class="heading-medium">{{ t('Laws applying to this service') }}</h2>

      <p>
        {{ t('Your use of this service and any dispute arising from its use will be governed by and construed in '
        + 'accordance with the laws of England and Wales, including but not limited to the:') }}
      </p>

      <ul class="list list-bullet">
        <li>{{ t('Computer Misuse Act 1990') }}</li>
        <li>{{ t('Data Protection Act 1998 (until 25 May 2018)') }}</li>
        <li>{{ t('Data Protection Act 2018 (from 25 May 2018)') }}</li>
        <li>{{ t('General Data Protection Regulation') }}</li>
        <li>{{ t('Mental Capacity Act 2005') }}</li>
      </ul>

      <h2 class="heading-medium">{{ t('How to use this service responsibly') }}</h2>

      <p>
        {{ t('There are risks in using a shared computer (for example, in a library) to access this service. '
        + 'It’s your responsibility to be aware of these risks and to avoid using any computer which may leave '
        + 'your personal information accessible to others. You’re responsible if you choose to leave a computer '
        + 'unprotected while using this service.') }}
      </p>

      <p>
        {{ t('You should take your own precautions to ensure that the way you access this service does not '
        + 'expose you to the risk of:') }}
      </p>

      <ul class="list list-bullet">
        <li>{{ t('viruses') }}</li>
        <li>{{ t('malicious computer code') }}</li>
        <li>{{ t('other forms of interference which may damage your computer system') }}</li>
      </ul>

      <p>
        {{ t('You must not misuse this service by knowingly introducing viruses, trojans, worms, '
        + 'logic bombs or other material which is malicious or technologically harmful. '
        + 'You must not attempt to gain unauthorised access to this service, the system on which it is stored, '
        + 'or any server, computer or database connected to it. You must not attack this site using a '
        + 'denial-of-service attack or a distributed denial-of-service attack.') }}
      </p>

      <h2 class="heading-medium">{{ t('Entering personally sensitive information') }}</h2>

      <p>
        {{ t('This online service contains several free-text fields in which you may choose to enter '
        + 'information which is personally sensitive.') }}
      </p>

      <p>{{ t('If you enter information about your:') }}</p>


      <ul class="list list-bullet">
        <li>{{ t('religious beliefs') }}</li>
        <li>{{ t('sexual orientation or sex life') }}</li>
        <li>{{ t('racial or ethnic origins') }}</li>
        <li>{{ t('political opinions') }}</li>
        <li>{{ t('religious or philosophical beliefs') }}</li>
        <li>{{ t('trade union membership') }}</li>
        <li>{{ t('genetic data or biometric data') }}</li>
        <li>{{ t('health data') }}</li>
      </ul>

      <p>{{ t('You give us your consent to processing this information for the purpose of dealing with your application.') }}</p>

      <p>
        {{ t('For more information about how we collect and store your personal data, see the '
        + internalLink('privacy policy.', privacyPolicyUri)) | safe }}
      </p>

      <h2 class="heading-medium">{{ t('Disclaimer') }}</h2>

      <p>
        {{ t('While we make every effort to keep GOV.UK up to date, we don’t provide any guarantees, '
        + 'conditions or warranties that the information will be:') }}
      </p>

      <ul class="list list-bullet">
        <li>{{ t('current') }}</li>
        <li>{{ t('secure') }}</li>
        <li>{{ t('accurate') }}</li>
        <li>{{ t('complete') }}</li>
        <li>{{ t('free from bugs or viruses') }}</li>
      </ul>

      <p>
        {{ t('We don’t publish advice on GOV.UK. You should get professional or specialist advice before doing anything '
        + 'on the basis of the content.') }}
      </p>

      <p>
        {{ t('We’re not liable for any loss or damage that may come from using GOV.UK. This includes:') }}
      </p>

      <ul class="list list-bullet">
        <li>{{ t('any direct, indirect or consequential losses') }}</li>
        <li>{{ t('any loss or damage caused by civil wrongs'
          + ' (‘tort’, including negligence), breach of contract or otherwise') }}</li>
        <li>{{ t('the use of GOV.UK and any websites that are linked to or from it') }}</li>
        <li>{{ t('the inability to use GOV.UK and any websites that are linked to or from it') }}</li>
      </ul>

      <p>
        {{ t('This applies if the loss or damage was foreseeable, arose in the normal course of things or '
        + 'you advised us that it might happen.') }}
      </p>

      <p>
        {{ t('This includes (but isn’t limited to) the loss of your:') }}
      </p>

      <ul class="list list-bullet">
        <li>{{ t('income or revenue') }}</li>
        <li>{{ t('salary, benefits or other payments') }}</li>
        <li>{{ t('business') }}</li>
        <li>{{ t('profits or contracts') }}</li>
        <li>{{ t('opportunity') }}</li>
        <li>{{ t('anticipated savings') }}</li>
        <li>{{ t('data') }}</li>
        <li>{{ t('goodwill or reputation') }}</li>
        <li>{{ t('intangible property, including loss, '
          + 'corruption or damage to data or any computer system') }}</li>
        <li>{{ t('wasted management or office time') }}</li>
      </ul>

        <p>
          {{ t('We may still be liable for:') }}
        </p>

        <ul class="list list-bullet">
          <li>{{ t('death or personal injury arising from our negligence') }}</li>
          <li>{{ t('fraudulent misrepresentation') }}</li>
          <li>{{ t('any other liability which cannot be excluded or limited under applicable law') }}</li>
        </ul>

      {{ supportWidget('Contact us') }}

    </div>
  </div>
{% endblock %}
{% block contactForHelp %}{% endblock %}
