//@import 'node_modules/govuk-frontend/all';
@import "node_modules/govuk-frontend-3/govuk/helpers/colour";
@import "node_modules/govuk-frontend-3/govuk/helpers/font-faces";
@import "node_modules/govuk-frontend-3/govuk/components/button/button";
@import "node_modules/govuk-frontend-3/govuk/components/header/header";
@import "node_modules/govuk-frontend-3/govuk/components/input/input";
@import "node_modules/govuk-frontend-3/govuk/components/label/label";
@import "node_modules/govuk-frontend-3/govuk/components/textarea/textarea";

$govuk-button-colour: govuk-colour("green");; // sass-lint:disable no-color-literals
$govuk-button-hover-colour: govuk-shade($govuk-button-colour, 20%);
$govuk-button-shadow-colour: govuk-shade($govuk-button-colour, 60%);
$govuk-button-text-colour: govuk-colour("white");

button,
input[type="submit"] {
  @extend .govuk-button;

  background-color: $govuk-button-colour !important;
  background-image: none !important;
  border-color: transparent !important;
  color: govuk-colour("white") !important;
  margin-bottom: 0 !important;
  margin-top: 10px !important;
  width: calc(100% - 40px) !important;

  &:hover {
    background-color: $govuk-button-hover-colour !important;
  }

  &:focus {
    border-color: govuk-colour("yellow") !important;
    box-shadow: inset 0 0 0 1px govuk-colour("yellow") !important;
    outline: 3px solid transparent;

    &:not(:active):not(:hover) {
      background-color: govuk-colour("yellow") !important;
      border-color: govuk-colour("yellow") !important;
      box-shadow: 0 2px 0 govuk-colour("black") !important;
      color: govuk-colour("black") !important;
    }
  }

  &:active {
    box-shadow: 0 2px 0 $govuk-button-shadow-colour;
    outline: 0;
  }

  &#cancel-close-btn {
    background-color: govuk-colour("dark-grey") !important;

    &:hover {
      background-color: govuk-shade(govuk-colour("dark-grey"), 24) !important;
    }

    &:focus {
      border-color: govuk-colour("yellow") !important;
      box-shadow: inset 0 0 0 1px govuk-colour("yellow") !important;
      outline: 3px solid transparent;

      &:not(:active):not(:hover) {
        background-color: govuk-colour("yellow") !important;
        border-color: govuk-colour("yellow") !important;
        box-shadow: 0 2px 0 govuk-colour("black") !important;
        color: govuk-colour("black") !important;
      }
    }
  }
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"] {
  @extend .govuk-input;
  border-color: govuk-colour("black") !important;
  box-shadow: none !important;
  color: black !important;
}

label {
  @extend .govuk-label;

  &.required {
    &:after {
      content: none;
    }
  }
}

textarea {
  @extend .govuk-textarea;
  border-color: govuk-colour("black") !important;
  box-shadow: none !important;
  color: black !important;
  resize: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea {
  &.error {
    border: 4px solid govuk-colour("red") !important;
  }
}

body,
div {
  background-color: govuk-colour("white") !important;
  background-image: none !important;
}

body {
  &.is-popup {
    min-height: 0 !important;
  }
}

.header {
  @extend .govuk-header;
  border-width: 0 !important;
  height: 42px !important;

  background-color: govuk-colour("black") !important;
  padding: 4px 20px !important;

  .logo {
    display: none;
    margin: 0 5px 0 0 !important;
  }

  .title {
    font-size: 20px;
    font-weight: bold !important;
    margin: 6px 0 !important
  }
}

.message-history {
  height: calc(100% - 70px) !important;
  margin: 0 auto !important;
  width: calc(100% - 40px) !important;
}

.inner-container {
  padding: 0 !important;
}

.form-list {
  overflow-y: initial !important;
}

.footer {
  display: none;
}

.translation-header {
  display: none !important;
}

.controls {
  background-color: transparent !important;

  .end {
    background-image: none !important;
    background-color: transparent !important;
    border-width: 0 !important;
    height: 42px !important;
    margin-right: 10px !important;
    text-decoration: none !important;
    width: auto !important;

    &:after {
      content: "End chat";
      color: govuk-colour("white") !important;
      display: block;
      font-size: 12px;
      padding: 16px 10px;
    }
  }
}

.message-history {
  border: 0 !important;
  width: 100% !important;

  .message-wrapper {
    padding: 25px 20px 15px 20px !important
  }

  .chat-log-msg {
    padding: 0 !important;
  }
}

.message-actions {
  background-color: transparent !important;
  right: 25px !important;

  .actions {
    background-color: govuk-colour("dark-grey");

    .action {
      background-color: govuk-colour("dark-grey") !important;
      opacity: 1 !important;

      &:hover {
        opacity: .8 !important;
      }

      &.action-clear {
        display: none;
      }
    }
  }

  .flag {
    background-color: govuk-colour("dark-grey") !important;
  }
}

.message-content {
  .chat-msg-sender {
    color: black;
    font-size: inherit !important;
  }
}

.message-box {
  border-top: 2px solid govuk-colour("light-grey");
  margin: 0 auto !important;
  opacity: 0;
  padding: 20px !important;

  #message-field {
    margin: 0 !important;

    &:focus {
      outline-offset: 0;
      outline: govuk-colour("yellow") solid 3px;
    }
  }

  #message-counter {
    display: none !important;
  }
}

.confirm-close {
  padding: 0 !important;
}

.chat-incoming-msg,
.chat-outgoing-msg {
  border: 1px solid black;
  border-radius: 4px;
  color: black;
  padding: 6px 10px;
  text-align: left;
}

.chat-incoming-msg {
  background-color: govuk-tint(govuk-colour("blue"), 85) !important;
  margin-right: 20%;
}

.chat-outgoing-msg {
  background-color: govuk-tint(govuk-colour("light-grey"), 50) !important;
  margin-left: 20%;
}

.chat-error-msg {
  color: govuk-colour("black") !important;
  padding: 10px 0 !important;
}

.error-message {
  display: none !important;
}

.error-image {
  width: 0 !important;
  height: 0 !important;
  opacity: 0 !important;

  &[style*="block"] {
    & + span {
      color: govuk-colour("red") !important;
      font-weight: 700 !important;
    }
  }
}
