{% extends "layout.njk" %}

{% set title = t('Eligible | Money claim') %}

{% block content %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">{{ t('You can use this service') }}</h1>

      <p>
        {{ t('Based on your answers you can make a money claim using this new service.') }}
      </p>

      <a href="{{ nextPage }}" class="button">{{ t('Continue') }}</a>
    </div>
  </div>

{% endblock %}
