{% extends "layout.njk" %}

{% set heading = 'You can use this service' %}

{% block content %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <p>
        {{ t('Based on your answers you can make a money claim using this new service.') }}
      </p>

      <a href="{{ nextPage }}" class="button analytics-click-event-trigger" data-event-label="Eligibility: You can use this service">{{ t('Continue') }}</a>
    </div>
  </div>

{% endblock %}
