{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, errorSummary, radioGroup, saveAndContinueButton %}
{% from "externalLink.njk" import externalLink %}

{% set heading = 'Are you claiming against a government department?' %}
{% set additionalInformation = t(externalLink('See a list of government departments',
  'https://www.gov.uk/government/publications/serve-the-treasury-solicitor-with-legal-proceedings') + '.') %}

{% block content %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <p>{{ additionalInformation | safe }}</p>

      {% set name = 'governmentDepartment' %}

      <form novalidate method="post" class="analytics-submit-event-trigger"
            data-event-action="Eligibility: Against government department option"
            data-event-label-from="{{ name }}">
        {{ csrfProtection(csrf) }}

        {{
          radioGroup(
            label = heading,
            name = name,
            options = [
              {'label': 'Yes', value: YesNoOption.YES.option, checked: (form.valueFor(name) === YesNoOption.YES)},
              {'label': 'No', value: YesNoOption.NO.option, checked: (form.valueFor(name) === YesNoOption.NO)}
            ],
            form = form,
            isInline = true,
            labelForScreenReadersOnly = true
          )
        }}

        {{ saveAndContinueButton() }}

      </form>
    </div>
  </div>

{% endblock %}
