{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, radioGroup, errorSummary, saveAndContinueButton %}

{% set heading = 'Do you have a Help With Fees reference number?' %}
{% set additionalInformation = t('You’ll only have one if you’ve already applied for Help With Fees.') %}

{% block content %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <p>{{ additionalInformation }}</p>

      {% set name = 'helpWithFeesReference' %}

      <form novalidate method="post" class="analytics-submit-event-trigger"
            data-event-action="Eligibility: Select Help With Fees reference number option"
            data-event-label-from="{{ name }}">
        {{ csrfProtection(csrf) }}

        {{
        radioGroup(
          label = heading,
          name = name,
          options = [
            {'label': 'Yes', value: YesNoOption.YES.option, checked: (form.valueFor(name) === YesNoOption.YES)},
            {'label': 'No', value: YesNoOption.NO.option, checked: (form.valueFor(name) === YesNoOption.NO)}
          ],
          form = form,
          isInline = true,
          labelForScreenReadersOnly = true
          )
        }}

        {{ saveAndContinueButton() }}

      </form>
    </div>
  </div>

{% endblock %}
