{% extends "layout.njk" %}
{% from "macro/paperFormAddress.njk" import paperFormAddress %}
{% from "externalLink.njk" import externalLink %}

{% set heading = 'You can’t use this service' %}

{% block content %}

  {% set n1FormUrl = 'https://formfinder.hmctsformfinder.justice.gov.uk/n1-eng.pdf' %}
  {% set n510Url = 'http://formfinder.hmctsformfinder.justice.gov.uk/n510-eng.pdf' %}
  {% set citizensAdviceUrl = 'https://www.citizensadvice.org.uk/about-us/how-we-provide-advice/advice/' %}
  {% set governmentDepartmentsUrl = 'https://www.gov.uk/government/publications/serve-the-treasury-solicitor-with-legal-proceedings' %}
  {% set tenancyServiceUrl = 'https://www.gov.uk/tenancy-deposit-protection/disputes-and-problems' %}
  {% set feesHelpUri = 'https://www.gov.uk/get-help-with-court-fees' %}

  <div class="grid-row">
    <div class="column-two-thirds">
      {% if reason === NotEligibleReason.CLAIM_VALUE_NOT_KNOWN %}
        <p>{{ t('You need to know the claim amount to use this service.') }}</p>
        <p>{{ t('If you can’t calculate the claim amount, for example because you’re claiming for an injury or accident, ' +
        'use the ' + externalLink('N1 paper form', n1FormUrl) + '.') | safe }}</p>
        {{ paperFormAddress() }}
        </p>
      {% elseif reason === NotEligibleReason.CLAIM_ON_BEHALF %}
        <p>{{ t('This service is currently for claimants representing themselves.') }}</p>
        <p>{{ t('If you’re a legal representative ' + externalLink('use the Money Claim Online (MCOL) service', legacyServiceUrl) +
            ' or ' + externalLink('download a paper form,', n1FormUrl) + ' complete and return it to make your claim.') | safe }}
        {{ paperFormAddress() }}
      {% elseif reason === NotEligibleReason.MULTIPLE_CLAIMANTS %}
        <p>{{ t('You can’t use this service if more than one person or organisation is making the claim.') }}</p>
        <p>{{ t(externalLink('Download a paper form', n1FormUrl) + ', complete it and return it to make your claim.') | safe }}</p>
         {{ paperFormAddress() }}
      {% elseif reason === NotEligibleReason.MULTIPLE_DEFENDANTS %}
        <p>{{ t('You can’t use this service if this claim is against more than one person or organisation.') }}</p>
        <p>{{ t('Use ' + externalLink('Money Claim Online (MCOL)', legacyServiceUrl) + ' for claims against 2 people or organisations.') | safe }}</p>
        <p>{{ t(externalLink('Download a paper form', n1FormUrl) + ' for claims against 3 or more people or organisations. Complete and return the form to make your claim.') | safe }}</p>
        {{ paperFormAddress() }}
      {% elseif reason === NotEligibleReason.CLAIM_VALUE_OVER_10000 %}
        <p>{{ t('This service is for claims of £10,000 or less.') }}</p>
        <p>{{ t('For claims between £10,001 and £100,000 you might be able to ' + externalLink('use Money Claim Online (MCOL)', legacyServiceUrl) + '.') | safe }}</p>
        <p>{{ t('You can also claim by paper. ' + externalLink('Download a paper form', n1FormUrl) + ', complete it and return it to make your claim.') | safe }}</p>
        {{ paperFormAddress() }}
      {% elseif reason === NotEligibleReason.UNDER_18 %}
        <p>{{ t('You need to be 18 or over to use this service.') }}</p>
        <p>{{ t('You might be able to get advice from organisations like ' + externalLink('Citizens Advice', citizensAdviceUrl)
            + ' about making a claim.') | safe }}</p>
      {% elseif reason === NotEligibleReason.UNDER_18_DEFENDANT %}
        <p>{{ t('You can only use this service to claim against a defendant who’s 18 or over.') }}</p>
        <p>{{ t('You might be able to get advice from organisations like ' + externalLink('Citizens Advice', citizensAdviceUrl)
            + ' about making a claim.') | safe }}</p>
      {% elseif reason === NotEligibleReason.HELP_WITH_FEES %}
        <p>{{ t('You need to use a paper form if you want ' + externalLink('help paying your court fees', feesHelpUri ) + '.') | safe }}</p>
        <p>{{ t(externalLink('Download a paper form', n1FormUrl) + ', complete it and return it to make your claim.') | safe }}</p>
        {{ paperFormAddress() }}
      {% elseif reason === NotEligibleReason.CLAIMANT_ADDRESS %}
        <p>{{ t('You need to have an address in the UK to make a money claim.') }}</p>
      {% elseif reason === NotEligibleReason.DEFENDANT_ADDRESS %}
        <p>{{ t('You can only use this service to claim against a person or organisation with an address in England or Wales.') }}</p>
        <p>{{ t('Depending on where you’ll be sending the claim, you might be able to claim using a paper form. ' + externalLink('Download the paper form N1', n1FormUrl)
            + ' and ' + externalLink('form N510', n510Url) + '. Complete the forms and return them to make your claim.') | safe }}</p>
        {{ paperFormAddress() }}
      {% elseif reason === NotEligibleReason.GOVERNMENT_DEPARTMENT %}
        <p>{{ t('You can’t use this service to claim against ' + externalLink('government departments', governmentDepartmentsUrl) + '.') | safe }}</p>
        <p>{{ t(externalLink('Download a paper form', n1FormUrl) + ', complete it and return it to make your claim.') | safe }}</p>
        {{ paperFormAddress() }}
      {% elseif reason === NotEligibleReason.CLAIM_IS_FOR_TENANCY_DEPOSIT %}
        <p>{{ t('You can’t make a claim for a tenancy deposit using this service.') }}</p>
        <p>{{ t('Get ' + externalLink('help to resolve your dispute', tenancyServiceUrl) + ' with a landlord or tenant.') | safe }}</p>
      {% endif %}
    </div>

  </div>

{% endblock %}
