{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, errorSummary, radioGroup, saveAndContinueButton %}

{% set heading = 'Is this claim against more than one person or organisation?' %}

{% block content %}

  <div class="grid-row">
    <div class="column-two-thirds">
      {% set name = 'singleDefendant' %}

      <form novalidate method="post" class="analytics-submit-event-trigger"
            data-event-action="Eligibility: Single defendant"
            data-event-label-from="{{ name }}">
        {{ csrfProtection(csrf) }}

        {{
          radioGroup(
            label = heading,
            name = name,
            options = [
              {'label': 'Yes', value: YesNoOption.YES.option, checked: form.valueFor(name) === YesNoOption.YES},
              {'label': 'No', value: YesNoOption.NO.option, checked: form.valueFor(name) === YesNoOption.NO}
            ],
            form = form,
            isInline = true,
            labelForScreenReadersOnly = true
          )
        }}

        {{ saveAndContinueButton() }}

      </form>
    </div>
  </div>

{% endblock %}
