{% extends "layout.njk" %}

{% set title = t('Money claim') %}

{% block content %}
  <div class="grid-row">
    <div class="column-full">
      <h1 class="heading-large">
        <span class="heading-secondary">{{ t('Claim number:') }}</span>
        {{ claim.claimNumber }}
      </h1>
    </div>
    <div class="column-two-thirds">
      <div>
        <h2 class="heading-medium">{{ t('Claim status') }}</h2>
        <div class="panel panel-border-wide">
          <p>
            {{ t('The defendant %s has not responded to your claim.',
            { postProcess: 'sprintf', sprintf: [claim.claimData.defendant.name] }) }}
          </p>
        </div>
      </div>
    </div>

    <div class="column-one-third">
      <div class="meta-data">
        <ul class="font-xsmall list">
          <li>
            <strong class="bold">{{ t('Defendant name:') }}</strong>
            <span class="block">{{ claim.claimData.defendant.name }}</span>
          </li>
          <li>
            <strong class="bold">{{ t('Claim amount:') }}</strong>
            <span class="block">{{ claim.totalAmount | numeral }}</span>
          </li>
          <li>
            <strong class="bold">{{ t('Claim details:') }}</strong>
            <span class="block"><a href="{{ receiptUri }}">{{ t('Download claim') }}</a></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
