{% extends "layout.njk" %}
{% from "./macro/caseHistory.njk" import caseHistoryForClaimantClaimDetails %}

{% set title = 'Your money claims account' %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">
        <span class="heading-secondary">{{ t('Claim number:') }}</span>
        {{ claim.claimNumber if claim else 'Draft' }}
      </h1>
      <div>
        <h2 class="heading-medium">{{ t('Claim status') }}</h2>
        {% if claim %}
          {{ caseHistoryForClaimantClaimDetails(claim, csrf) }}
        {% else %}
          <h2 class="bold-small">{{ t('This claim has not been submitted') }}</h2>
          {{ t('Your claim is saved as a draft.') }} <a href="{{ ClaimPaths.taskListPage.uri }}">{{ t('Continue with claim.') }}</a>
        {% endif %}
      </div>
    </div>

    {% if claim %}
      <div class="column-one-third">
        <div class="about-claim-widget">
          <p class="heading-small">{{ t('About claim') }}</p>
          <ul class="font-xsmall list">
            <li>
              <strong class="bold">{{ t('Defendant name:') }}</strong>
              <div>{{ claim.claimData.defendant.name }}</div>
            </li>
            <li>
              <strong class="bold">{{ t('Total claim amount:') }}</strong>
              <div>{{ claim.totalAmountTillToday | numeral }}</div>
            </li>
            <li>
              <strong class="bold">{{ t('Claim details:') }}</strong>
              <a class="block" href="{{ ResponsePaths.claimDetailsPage.evaluateUri({ externalId: claim.externalId }) }}">{{ t('View claim') }}</a>
            </li>
            {% if claim.response %}
              <li>
                <strong class="bold">{{ t('Defendant’s response:') }}</strong>
                <a class="block" href="{{ ResponsePaths.receiptReceiver.evaluateUri({ externalId: claim.externalId }) }}">{{ t('Download response') }}</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}
