{% extends "layout.njk" %}

{% from "./macro/caseHistory.njk" import caseHistoryForClaimantClaimDetails %}
{% from "../../claim/views/macro/about-claim-widget.njk" import aboutClaimWidget %}
{% from "internalLink.njk" import internalLink %}

{% set headingVisible = false %}
{% set heading = 'Claim status' %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="form-group-related no-bottom-margin">
        {% if claim.claimNumber %}
          <h2 class="heading-medium no-bottom-margin">{{ claim.claimData.claimant.name }} v {{ claim.claimData.defendant.name }}</h2>
        {% endif %}
        <span class="font-xsmall">{{ t('Claim number:') }} {{ claim.claimNumber if claim else 'Draft' }}</span>
      </div>
      <div>
        {% if claim %}
          {{ caseHistoryForClaimantClaimDetails(claim, csrf, mediationDeadline, reconsiderationDeadline, isReviewOrderEligible, respondToReviewOrderDeadline) }}
        {% else %}
          <h2 class="bold-small">{{ t('This claim has not been submitted') }}</h2>
          <p>
            {{ t('Your claim is saved as a draft.') }}
          </p>
          <p>
            {{ internalLink(t('Continue with claim'), ClaimPaths.taskListPage.uri) }}
          </p>
        {% endif %}
      </div>
    </div>

    {% if claim %}
      <div class="column-one-third">
        {{ aboutClaimWidget(claim = claim, otherParty = 'defendant') }}
      </div>
    {% endif %}
  </div>
{% endblock %}
