{% extends "layout.njk" %}
{% from "./macro/caseHistory.njk" import caseHistoryForClaimantClaimDetails %}
{% from "../../claim/views/macro/about-claim-widget.njk" import aboutClaimWidget %}


{% set headingVisible = false %}
{% set heading = 'Claim status' %}



{% if user.id === claim.claimantId %}
  {% set otherParty = 'Defendant:' %}
  {% set otherPartyName = claim.claimData.defendant.name %}

  {% set line1 = claim.claimData.claimant.address.line1 %}
  {% set line2 = claim.claimData.claimant.address.line2 %}
  {% set line3 = claim.claimData.claimant.address.line3 %}
  {% set city = claim.claimData.claimant.address.city %}
  {% set postcode = claim.claimData.claimant.address.postcode %}


  {% set phone = claim.claimData.claimant.mobilePhone %}
  {% set email = claim.claimantEmail %}



  {% elif user.id === claim.defendantId %}
  {% set otherParty = 'Claimant' %}
  {% set otherPartyName = claim.claimData.claimant.name %}

  {% set line1 = claim.claimData.defendant.address.line1 %}
  {% set line2 = claim.claimData.defendant.address.line2 %}
  {% set line3 = claim.claimData.defendant.address.line3 %}
  {% set city = claim.claimData.defendant.address.city %}
  {% set postcode = claim.claimData.defendant.address.postcode %}


  {% set phone = claim.claimData.defendant.mobilePhone %}
  {% set email = claimData.defendant.email %}

{% endif %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">
        <span class="heading-secondary">{{ t(otherParty) }}</span>
        {{ otherPartyName }}
      </h1>

      <div>
        <br>
        {{ line1 }}
        <br>
        {{ line2 }}
        <br>
        {{ line3 }}
        <br>
        {{ city }}
        <br>
        {{ postcode }}
      </div>

      <br>
      <div>
        {% if phone != undefined %}
        {{ t('Phone: ' ) + phone }}
        {% endif %}
      </div>

      {%  if email != undefined %}
      <p>
        {{ t('Email: <a href="mailto:{{ email }}">{{ email }}</a>', { email: email }) | safe }}
      </p>
      {% endif %}
    </div>

    {% if claim %}
      <div class="column-one-third">
        {{ aboutClaimWidget(user, claim) }}
      </div>
    {% endif %}
  </div>
{% endblock %}
