{% extends "layout.njk" %}
{% from "./macro/caseHistory.njk" import caseHistoryForClaimantClaimDetails %}
{% from "../../claim/views/macro/about-claim-widget.njk" import aboutClaimWidget %}

{% set headingVisible = false %}
{% set heading = 'Claim status' %}

{% if user.id === claim.claimantId %}
  {% set otherParty = 'Defendant:' %}
  {% set otherPartyName = claim.claimData.defendant.name %}
  {% set phone = claim.response.defendant.mobilePhone %}
  {% set email = claim.claimData.defendant.email %}
  {% set correspondenceAddress = claim.response.defendant.correspondenceAddress %}
  {% set defendantResponded = claim.response %}

  {% if correspondenceAddress == null %}
    {% set line1 = claim.claimData.defendant.address.line1 %}
    {% set line2 = claim.claimData.defendant.address.line2 %}
    {% set line3 = claim.claimData.defendant.address.line3 %}
    {% set city = claim.claimData.defendant.address.city %}
    {% set postcode = claim.claimData.defendant.address.postcode %}
  {% else %}
    {% set line1 = claim.response.defendant.correspondenceAddress.line1 %}
    {% set line2 = claim.response.defendant.correspondenceAddress.line2 %}
    {% set line3 = claim.response.defendant.correspondenceAddress.line3 %}
    {% set city = claim.response.defendant.correspondenceAddress.city %}
    {% set postcode = claim.response.defendant.correspondenceAddress.postcode %}
  {% endif %}

  {% elif user.id === claim.defendantId %}
  {% set otherParty = 'Claimant:' %}
  {% set otherPartyName = claim.claimData.claimant.name %}
  {% set phone = claim.claimData.claimant.mobilePhone %}
  {% set email = claim.claimantEmail %}
  {% set correspondenceAddress = claim.claimData.claimant.correspondenceAddress != null %}

  {% if correspondenceAddress == null %}
    {% set line1 = claim.claimData.claimant.address.line1 %}
    {% set line2 = claim.claimData.claimant.address.line2 %}
    {% set line3 = claim.claimData.claimant.address.line3 %}
    {% set city = claim.claimData.claimant.address.city %}
    {% set postcode = claim.claimData.claimant.address.postcode %}
  {% else %}
    {% set line1 = claim.claimData.claimant.correspondenceAddress.line1 %}
    {% set line2 = claim.claimData.claimant.correspondenceAddress.line2 %}
    {% set line3 = claim.claimData.claimant.correspondenceAddress.line3 %}
    {% set city = claim.claimData.claimant.correspondenceAddress.city %}
    {% set postcode = claim.claimData.claimant.correspondenceAddress.postcode %}
  {% endif %}

{% endif %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">
        <span class="heading-secondary">{{ t(otherParty) }}</span>
        {{ otherPartyName }}
      </h1>

      {% if defendantResponded != null %}
        responded
      {% else %}
        no response
      {% endif %}
      <br>
      {% if claim.response.defendant.correspondenceAddress != null %}
        correspondenceAddress
      {% else %}
        address
      {% endif %}

      <div>
        {% if line1 != null %}
          <br>
          {{ line1 }}
        {% endif %}

        {% if line2 != null %}
          <br>
          {{ line2 }}
        {% endif %}

        {% if line3 != null %}
          <br>
          {{ line3 }}
        {% endif %}

        {% if city != null %}
          <br>
          {{ city }}
        {% endif %}

        {% if postcode != null %}
          <br>
          {{ postcode }}
          <br>
        {% endif %}
      </div>

      <br>
      <div>
        {% if phone != undefined %}
          {{ t('Phone: ' ) + phone }}
        {% endif %}
      </div>

      {% if email != undefined %}
        <p>
          {{ t('Email: <a href="mailto:{{ email }}">{{ email }}</a>', { email: email }) | safe }}
        </p>
      {% endif %}
    </div>

    {% if claim %}
      <div class="column-one-third">
        {{ aboutClaimWidget(user, claim) }}
      </div>
    {% endif %}
  </div>
{% endblock %}
