{% extends "layout.njk" %}
{% from "./macro/responseStatus.njk" import responseStatusForDefendant %}

{% set title = t('Money claim') %}

{% block content %}
  <div class="grid-row">
    <div class="column-full">
      <h1 class="heading-large">
        <span class="heading-secondary">{{ t('Claim number:') }}</span>
        {{ claim.claimNumber }}
      </h1>
    </div>
    <div class="column-two-thirds">
      <h2 class="heading-medium">{{ t('Claim status') }}</h2>

        {% if featureToggles.offer and claim.status === ClaimStatus.CLAIM_REJECTED %}
          {{ responseStatusForDefendant(claim, DashboardUrlHelper.getStatusUrl(claim), isAfter4pm) }}
        {% endif %}


      {% if featureToggles.offer and claim.status === ClaimStatus.OFFER_ACCEPTED %}
        <p>
          <a href="{{ OfferPaths.countersignAgreementPage.evaluateUri({ externalId: claim.externalId }) }}">
            {{ t('Sign the agreement') }}
          </a>
        </p>
        {% elif featureToggles.offer and claim.status === ClaimStatus.CLAIM_REJECTED  %}
        <h2 class="heading-medium">{{ t('More options') }}</h2>
        <h2 class="heading-medium">{{ t('Settle out of court') }}</h2>
        <p>{{ t('You can still <a href="{{ link }}">make an offer</a> to settle the claim out of court. If your offer is accepted you won’t have to a court hearing.',
          { link: OfferPaths.settleOutOfCourtPage.evaluateUri({ externalId: claim.externalId }) }) | safe }}</p>
      {% endif %}

      {% if featureToggles.offer and claim.status === ClaimStatus.OFFER_SUBMITTED %}
        <div class="grey-bottom-border">
          <h3 class="bold-small">{{ t('Settle out of court') }}</h3>
          <p>{{ t('You made an offer to settle the claim out of court. {{ claimant }} can accept or reject your offer.', { claimant: claim.claimData.claimant.name  }) | safe}}</p>
          <p>{{ t('We’ll email you when they respond') }}</p>
        </div>

        <h2 class="heading-small">{{ t('Your response to the claim') }}</h2>

        {{ t('You’ve has rejected the claim. The case will be reviewed by a judge and might go to court.') }}
      {% endif %}

      {% if claim.respondedAt and claim.status !== ClaimStatus.CLAIM_REJECTED %}
            <p>
              <span class="block"><a href="{{ responseReceiptUri }}">{{ t('Download your response') }}</a></span>
            </p>
      {% endif %}
    </div>

    <div class="column-one-third">
      <div class="meta-data">
        <ul class="font-xsmall list">
          <li>
            <strong class="bold">{{ t('Claimant name:') }}</strong>
            <span class="block">{{ claim.claimData.claimant.name }}</span>
          </li>
          <li>
            <strong class="bold">{{ t('Claim amount:') }}</strong>
            <span class="block">{{ claim.totalAmountTillToday | numeral }}</span>
          </li>
          <li>
            <strong class="bold">{{ t('Claim details:') }}</strong>
            <span class="block"><a href="{{ claimReceiptUri }}">{{ t('Download claim details') }}</a></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
