{% extends "layout.njk" %}
{% from "./macro/responseStatus.njk" import responseStatusForDefendant, responseStatusForDefendantBasedOnState %}

{% set title = t('Money claim') %}

{% block content %}
  <div class="grid-row">
    <div class="column-full">
      <h1 class="heading-large">
        <span class="heading-secondary">{{ t('Claim number:') }}</span>
        {{ claim.claimNumber }}
      </h1>
    </div>
    <div class="column-two-thirds">
      <h2 class="heading-medium">{{ t('Claim status') }}</h2>

      {% if featureToggles.offer and claim.status === ClaimStatus.OFFER_ACCEPTED %}
        {% for state in claim.stateHistory %}
          <div class="status-block">
            <p>{{ (state.date | date) if state.date}}</p>
            <p>
              {{ responseStatusForDefendantBasedOnState(state, claim, DashboardUrlHelper.getStatusUrl(claim), isAfter4pm) }}
            </p>
          </div>
        {% endfor %}

        {% elif featureToggles.offer and claim.status === ClaimStatus.OFFER_SETTLEMENT_REACHED %}
        <p>{{ claim.respondedAt | date }}</p>
        <h3 class="heading-small">{{ t('Settle Claim') }} </h3>
        {{ responseStatusForDefendant(claim, DashboardUrlHelper.getStatusUrl(claim), isAfter4pm) }}
        <a href="{{ DashboardPaths.agreementReceiver.evaluateUri({ externalId: externalId }) }}">{{ t('Download the agreement') }}</a>

        {% elif featureToggles.offer and not claim.settlementReachedAt %}
          <h3 class="heading-small">{{ t('Your defence is being processed.') }}</h3>
          <p>{{ t('We will email you to explain what to do next.') }}</p>
          <h2 class="heading-medium">{{ t('More options') }}</h2>
          <h3 class="heading-small">{{ t('Settle out of court') }}</h3>
          <p>{{
              t('You can still <a href="{{ makeOfferUri }}">make an offer</a> to settle the claim out of court. You will avoid a hearing and a County Court Judgment against you.', {
              makeOfferUri : OfferPaths.offerPage.evaluateUri({ externalId: claim.externalId }) }) | safe
            }}
          </p>


      {% endif %}
    </div>

    <div class="column-one-third">
      <div class="meta-data">
        <p class="heading-small">About claim</p>
        <ul class="font-xsmall list">
          <li>
            <strong class="bold">{{ t('Claimant name:') }}</strong>
            <span class="block">{{ claim.claimData.claimant.name }}</span>
          </li>
          <li>
            <strong class="bold">{{ t('Claim amount:') }}</strong>
            <span class="block">{{ claim.totalAmountTillToday | numeral }}</span>
          </li>
          <li>
            <strong class="bold">{{ t('Claim details:') }}</strong>
            <span class="block"><a href="{{ DashboardPaths.claimReceiptReceiver.evaluateUri({ externalId: externalId }) }}">{{ t('Download claim details') }}</a></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
