{% extends "layout.njk" %}
{% from "form.njk" import submitButton, errorSummary %}
{% from "./macro/caseStatus.njk" import caseStatusForDefendant, caseStatusForClaimant %}
{% from "internalLink.njk" import internalLink %}

{% set heading = 'Your money claims account' %}

{% block content %}

  <div class="grid-row">
    <div class="column-full">
      {% if not claimDraftSaved %}
        {{ internalLink(t('Make a new money claim'), EligibilityPaths.startPage.uri, 'newclaim', 'start-now') }}
      {% endif %}

      {% if claimsAsClaimant | length or claimDraftSaved %}

        <h2 class="heading-medium"> {{ t('Claims you’ve made') }}</h2>
        <table class="claim-dashboard">
          <thead>
          <tr>
            <th scope="col">{{ t('Claim number') }}</th>
            <th scope="col">{{ t('Defendant name') }}</th>
            <th scope="col">{{ t('Claim amount') }}</th>
            <th scope="col" class="mobile-hide">{{ t('Next steps') }}</th>
            <th scope="col" class="mobile-hide">{{ t('Deadline') }}</th>
            <th scope="col" class="mobile-hide">{{ t('Actions') }}</th>
          </tr>
          </thead>
          <tbody>
          {% if claimDraftSaved %}
            <tr class="draft mobile-table">
              <td>{{ internalLink(t('Draft claim'), DashboardPaths.claimantPage.evaluateUri({ externalId: 'draft' })) }}</td>
              <td>-</td>

              <td>-</td>
              <td class="mobile-hide">
                {{ internalLink(t('Continue with claim'), ClaimPaths.taskListPage.uri) }}
              </td>
              <td>-</td>
              <td>{{ internalLink(t('View'), DashboardPaths.claimantPage.evaluateUri({ externalId: 'draft' })) }}</td>
            </tr>
            <tr>
              <td colspan="3" class="mobile-table-status">
                {{ t('Status:') }} {{ internalLink(t('Continue with claim'), ClaimPaths.taskListPage.uri) }}
              </td>
            </tr>
          {% endif %}
          {% for claim in claimsAsClaimant %}
            {% set claimantDashboardStatus = claim | dashboardStatusForClaimant %}
            <tr class="claims default mobile-table">
              <td>
              {% if claim.helpWithFeesNumber %}
                  {{ claim.ccdCaseId }}
                {% else %}
                  {{ claim.claimNumber }}
                {% endif %}
              </td>
              <td>{{ claim.claimData.defendant.name }}</td>
              <td>{{ claim.totalAmountTillToday | numeral }}</td>
              <td class="mobile-hide">
              {% if featureToggles.newDashboardStatus and claim.template.dashboard %}
                  {% include claim.template.dashboard ignore missing %}
              {% else %}
                {{ caseStatusForClaimant(claim.status, claim) }}
              {% endif %}
              </td>
              <td>
               {% if claim.helpWithFeesNumber %}
                  -
                {% else %}
                  {{ claim.responseDeadline | date("D MMM") }}
                {% endif %}
              </td>
              <td>{{ internalLink('View', '/dashboard/' + claim.externalId + '/claimant') }}</td>
            </tr>
            <tr>
              <td colspan="3" class="mobile-table-status">
                {{ t('Status:') }}
                {% if featureToggles.newDashboardStatus and claim.template.dashboard %}
                  {% include claim.template.dashboard ignore missing %}
                {% else %}
                  {{ caseStatusForClaimant(claim.status, claim) }}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
     {% endif %}
    </div>

    {% if claimsAsDefendant | length or responseDraftSaved %}
      <div class="column-full">
        <h2 class="heading-medium"> {{ t('Claims made against you') }}</h2>

        <table class="claim-dashboard">
          <thead>
          <tr class="mobile-table">
            <th scope="col">{{ t('Claim number') }}</th>
            <th scope="col">{{ t('Claimant name') }}</th>
            <th scope="col">{{ t('Claim amount') }}</th>

            <th scope="col" class="mobile-hide">{{ t('Status') }}</th>
          </tr>
          </thead>
          <tbody>
          {% if responseDraftSaved %}
            <tr class="draft mobile-table">
              <td>{{ internalLink(t('Draft response'), ResponsePaths.taskListPage.uri) }}</td>
              <td>-</td>

              <td>-</td>
              <td>In progress</td>
            </tr>
          {% endif %}
          {% for claim in claimsAsDefendant %}
            {% set defendantDashboardStatus = claim | dashboardStatusForDefendant %}
            <tr class="mobile-table">
              <td>{{ internalLink(claim.claimNumber, DashboardPaths.defendantPage.evaluateUri({ externalId: claim.externalId })) }}</td>
              <td>{{ claim.claimData.claimant.name }}</td>
              <td>{{ claim.totalAmountTillToday | numeral }}</td>
              <td class="mobile-hide">
                {% if featureToggles.newDashboardStatus and claim.template.dashboard %}
                  {% include claim.template.dashboard ignore missing %}
                {% else %}
                  {{ caseStatusForDefendant(claim.status, claim) }}
                {% endif %}
              </td>
            </tr>
            <tr>
              <td colspan="3" class="mobile-table-status">
                {{ t('Status:') }}
                {% if featureToggles.newDashboardStatus and claim.template.dashboard %}
                  {% include claim.template.dashboard ignore missing %}
                {% else %}
                  {{ caseStatusForDefendant(claim.status, claim) }}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}
  </div>
{% endblock %}
