{% extends "layout.njk" %}
{% from "form.njk" import submitButton, errorSummary %}
{% from "./macro/caseStatus.njk" import caseStatusForDefendant, caseStatusForClaimant %}
{% from "internalLink.njk" import internalLink %}
{% from "./macro/pagination/macro.njk" import mojPagination %}
{% set heading = 'Your money claims account' %}

{% block content %}

  <div class="grid-row">
    <div class="column-full">
      {% if not claimDraftSaved %}
        {{ internalLink(t('Make a new money claim'), EligibilityPaths.startPage.uri, 'newclaim', 'start-now') }}
      {% endif %}

      {% if claimsAsClaimant | length or claimDraftSaved %}

        <h2 class="heading-medium"> {{ t('Claims you’ve made') }}</h2>
        <p> Most recently created claims are listed first.</p>
        <table class="claim-dashboard">
          <thead>
          <tr>
            <th>{{ t('Claim number') }}</th>
            <th>{{ t('Defendant name') }}</th>
            <th>{{ t('Claim amount') }}</th>
            {% if helpWithFeesFeature %}
              <th class="mobile-hide">{{ t('Next steps') }}</th>
              <th class="mobile-hide">{{ t('Deadline') }}</th>
              <th class="mobile-hide">{{ t('Actions') }}</th>
            {% else %}
              <th class="mobile-hide">{{ t('Status') }}</th>
            {% endif %}
          </tr>
          </thead>
          <tbody>
          {% if claimDraftSaved %}
            <tr class="draft mobile-table">
              <td>{{ internalLink(t('Draft claim'), DashboardPaths.claimantPage.evaluateUri({ externalId: 'draft' })) }}</td>
              <td>-</td>

              <td>-</td>
              <td class="mobile-hide">
                {{ internalLink(t('Continue with claim'), ClaimPaths.taskListPage.uri) }}
              </td>
              {% if helpWithFeesFeature %}
                <td class="mobile-hide">-</td>
                <td class="mobile-hide">{{ internalLink(t('View'), ClaimPaths.taskListPage.uri) }}</td>
              {% endif %}
            </tr>
            <tr>
              <td colspan="3" class="mobile-table-status">
                {% if helpWithFeesFeature %}
                  {{ t('Next steps:') }} {{ internalLink(t('Continue with claim'), ClaimPaths.taskListPage.uri) }}
                {% else %}
                  {{ t('Status:') }} {{ internalLink(t('Continue with claim'), ClaimPaths.taskListPage.uri) }}
                {% endif %}
              </td>
            </tr>
          {% endif %}
          {% for claim in claimsAsClaimant %}
            {% set claimantDashboardStatus = claim | dashboardStatusForClaimant %}
            <tr class="claims default mobile-table">
              <td>
                {% if claim.helpWithFeesNumber %}
                  {{ internalLink(claim.ccdCaseId, '/dashboard/' + claim.externalId + '/claimant',ariaLabel= claim.claimNumber + ' (Claim number) Claims you’ve made')}}
                    {% else %}
                      {{ internalLink(claim.claimNumber, '/dashboard/' + claim.externalId + '/claimant',ariaLabel= claim.claimNumber + ' (Claim number) Claims you’ve made')}}
                {% endif %}
              </td>
              <td>{{ claim.claimData.defendant.name }}</td>
              <td>{{ claim.totalAmountTillToday | numeral }}</td>
              <td class="mobile-hide">
              {% if featureToggles.newDashboardStatus and claim.template.dashboard %}
                {% include claim.template.dashboard ignore missing %}
              {% else %}
                {{ caseStatusForClaimant(claim.status, claim) }}
              {% endif %}
              </td>
              {% if helpWithFeesFeature %}
              <td class="mobile-hide">
               {% if claim.helpWithFeesNumber %}
                  -
                {% else %}
                  {{ claim.responseDeadline | date }}
                {% endif %}
              </td>
              <td class="mobile-hide">{{ internalLink('View', '/dashboard/' + claim.externalId + '/claimant') }}</td>
              {% endif %}
            </tr>
            <tr>
              <td colspan="3" class="mobile-table-status">
                {% if helpWithFeesFeature %}
                  {{ t('Next Step:') }}
                {% else %}
                  {{ t('Status:') }}
                {% endif %}
                {% if featureToggles.newDashboardStatus and claim.template.dashboard %}
                  {% include claim.template.dashboard ignore missing %}
                {% else %}
                  {{ caseStatusForClaimant(claim.status, claim) }}
                {% endif %}
                <br>
                {% if helpWithFeesFeature %}
                {{ t('Deadline:') }}
                {% if claim.helpWithFeesNumber %}
                  -
                {% else %}
                  {{ claim.responseDeadline | date }}
                {% endif %}
                <br>
                {{ t('Actions:')}} {{ internalLink('View', '/dashboard/' + claim.externalId + '/claimant') }}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        
        {% if paginationArgumentClaimant %}
          <div>
            {{ mojPagination(paginationArgumentClaimant)}}
          </div>
        {% endif %}

     {% endif %}

    </div>

    {% if claimsAsDefendant | length or responseDraftSaved %}
      <div class="column-full">
        <h2 class="heading-medium"> {{ t('Claims made against you') }}</h2>
        <p> Most recently created claims are listed first.</p>
        <table class="claim-dashboard">
          <thead>
          <tr class="mobile-table">
            <th scope="col">{{ t('Claim number') }}</th>
            <th scope="col">{{ t('Claimant name') }}</th>
            <th scope="col">{{ t('Claim amount') }}</th>

            <th scope="col" class="mobile-hide">{{ t('Status') }}</th>
          </tr>
          </thead>
          <tbody>
          {% if responseDraftSaved %}
            <tr class="draft mobile-table">
              <td>{{ internalLink(t('Draft response'), ResponsePaths.taskListPage.uri) }}</td>
              <td>-</td>

              <td>-</td>
              <td>In progress</td>
            </tr>
          {% endif %}
          {% for claim in claimsAsDefendant %}
            {% set defendantDashboardStatus = claim | dashboardStatusForDefendant %}
            <tr class="mobile-table">
              <td>{{ internalLink(claim.claimNumber, DashboardPaths.defendantPage.evaluateUri({ externalId: claim.externalId }),ariaLabel= claim.claimNumber + ' (Claim number) Claims made against you') }}</td>
              <td>{{ claim.claimData.claimant.name }}</td>
              <td>{{ claim.totalAmountTillToday | numeral }}</td>
              <td class="mobile-hide">
                {% if featureToggles.newDashboardStatus and claim.template.dashboard %}
                  {% include claim.template.dashboard ignore missing %}
                {% else %}
                  {{ caseStatusForDefendant(claim.status, claim) }}
                {% endif %}
              </td>
            </tr>
            <tr>
              <td colspan="3" class="mobile-table-status">
                {{ t('Status:') }}
                {% if featureToggles.newDashboardStatus and claim.template.dashboard %}
                  {% include claim.template.dashboard ignore missing %}
                {% else %}
                  {{ caseStatusForDefendant(claim.status, claim) }}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>

        {% if paginationArgumentDefendant %}
          <div>
            {{ mojPagination(paginationArgumentDefendant)}}
          </div>
        {% endif %}
        
      </div>
    {% endif %}
  </div>
{% endblock %}
