{% extends "layout.njk" %}
{% from "internalLink.njk" import internalLink %}

{% set heading = 'You are not authorised to view the claim!' %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <p>{{ t('There was an error during your last operation. Please try again later.') }}</p>
      {{ internalLink(t('Click here to try again'), FirstContactPaths.claimReferencePage.uri) }}
    </div>
  </div>
{% endblock %}
