{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, textInput, submitButton, errorSummary %}

{% set title = 'Enter your claim number' %}
{% set heading = 'Enter your claim number' %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">

      <p>{{ t('Enter the claim number from the email or letter we sent you.') }}</p>

      <form method="post">
        {{ csrfProtection(csrf) }}

        {% set name = 'reference' %}
        {% set label = 'Claim number' %}
        {% set error = form.errorFor(name) %}
        <div class="form-group {% if error %}form-group-error{% endif %}">
          <label for="{{ name }}" id="{{ name }}[label]" class="form-label">
            {{ t(label) }}
          </label>
          {% if error %}
            <span class="error-message">{{ t(error) }}</span>
          {% endif %}

          <input maxlength="8" id="{{ name }}" name="{{ name }}" type="text"
                 class="form-control {% if error %}form-control-error{% endif %}"
                 value="{{ (form.rawDataFor(name) if error else form.valueFor(name)) | default('') }}">
        </div>
        
        {{ submitButton('Continue') }}
      </form>
    </div>
  </div>

{% endblock %}

