{% extends "layout.njk" %}

{% set heading = 'A County Court Judgment (CCJ) has been requested against you' %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <p>
      {{ t('You can’t use this service. Find out <a target="_blank" rel="noreferrer noopener" href="{{ url }}">how to pay or challenge the CCJ</a>.',
        { url: 'https://www.gov.uk/county-court-judgments-ccj-for-debt' }) | safe }}
      </p>
    </div>
  </div>
{% endblock %}
