{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, textInput, submitButton, errorSummary %}

{% set title = t('View money claim') %}
{% set heading = t('View money claim') %}
{% set headingSecondary = t('Step 1 of 2') %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">

      <p>{{ t('Enter the claim number from the email or letter we sent you.') }}</p>

      <form method="post">
        {{ csrfProtection(csrf) }}

        {{ textInput('Claim number', 'reference', form) }}
        {{ submitButton('Continue') }}
      </form>

      <details>
        <summary><span class="summary">{{ t('What happens once I’ve viewed the claim?') }}</span></summary>
        <div class="panel panel-border-narrow">
          <p><span class="bold">{{ t('If you accept the claim is fair') }}</span> {{ t('you can respond to say that you agree to pay the money. If you can’t afford to pay it all at once you can make a suggestion, such as a repayment plan, for them to consider.') }}
          </p>
          <p><span
              class="bold">{{ t('If you don’t accept you owe the amount of money claimed') }}</span> {{ t('you’ll be asked to submit your defence and might have to go to a hearing. You’ll also have the option to ') }}
            <span
              class="bold"> {{ t('make a ‘without prejudice’ suggestion') }} </span> {{ t('to try to settle the claim. This means the other side can’t mention that you made a suggestion to them if they reject it and you end up at a hearing.') }}
          </p>

          <p><span
              class="bold">{{ t('If you believe the claimant owes you money ') }} </span> {{ t('you can make a claim against them (‘counterclaim’). You might have to pay a ') }}
            <a class="external" rel="external" href="https://www.gov.uk/make-court-claim-for-money/court-fees"
               target="_blank">{{ t('claim fee') }} </a>.</p>
        </div>
      </details>

    </div>

    <div class="column-third">

      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">{{ t('Support') }}</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a
                href="https://www.gov.uk/respond-to-court-claim-for-money">{{ t('Respond to a court claim for money') }}</a>
            </li>
            <li><a class="external" rel="external"
                   href="https://courttribunalfinder.service.gov.uk/courts/county-court-business-centre-ccbc"
                   target="_blank">{{ t('Contact us') }}</a></li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

{% endblock %}

