{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, submitButton %}
{% from "amountBreakdown.njk" import amountBreakdownTable %}
{% from "summaryTable.njk" import timelineSummary, evidenceSummary %}
{% from "internalLink.njk" import internalLink %}

{% set heading = 'Claim details' %}

{% set responseDeadline = claim.responseDeadline.format('LL') %}
{% set referenceNumber = claim.claimNumber %}
{% set evidenceRows = claim.claimData.evidence.getPopulatedRowsOnly() if claim.claimData.evidence %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <p><span class="bold-small">{{ t('Claim number:') }}</span> {{ referenceNumber }}</p>
      <p><span class="bold-small">{{ t('Claim amount:') }}</span> {{ claim.totalAmountTillToday | numeral }}</p>

      {{ amountBreakdownTable('View amount breakdown', claim, interestData) }}

      <p class="bold form-group-related">{{ t('Reason for claim:') }}</p>
      <p>{{ claim.claimData.reason }}</p>

      <div class="form-group">
        <p><span class="bold-small">{{ t('Timeline') }}</span></p>
        {{ timelineSummary(claim.claimData.timeline.getPopulatedRowsOnly()) }}
      </div>

      {% if evidenceRows and evidenceRows.length > 0 %}
        <div class="form-group">
          <p><span class="bold-small">{{ t('Evidence') }}</span></p>
          {{ evidenceSummary(evidenceRows) }}
        </div>
      {% endif %}

      <form method="POST">
        {{ csrfProtection(csrf) }}

        {{ submitButton('Respond to claim') }}
      </form>

      <details>
        <summary>{{ t('How we use and store your personal information') }}</summary>
        <div class="panel panel-border">
          <p>{{ t('This claim contains personal information about you that {{ claimant }} has provided, for example your name and address.', { claimant: claim.claimData.claimant.name  }) }}</p>
          <p>{{ t('Find out about how we use and store your {{ personalInfo }}.', { personalInfo: internalLink(t('personal information'), AppPaths.privacyPolicyPage.uri) }) | safe }}</p>
        </div>
      </details>

      <p class="bold-small">{{ t('Download the claim') }}</p>
      <p>{{ internalLink(t('Download claim'), FirstContactPaths.receiptReceiver.uri) }}
        {{ t('(PDF)') }}.</p>
    </div>
  </div>
{% endblock %}
