{% extends "layout.njk" %}
{% from "subheading.njk" import subheading %}
{% from "form.njk" import csrfProtection, submitButton %}

{% set title = t('Money claim') %}
{% set heading = t("View the claim") %}

{% set claimantFullName = claim.claimData.claimant.name %}
{% set responseDeadline = claim.responseDeadline.format('LL') %}
{% set referenceNumber = claim.claimNumber %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">

      <p>
      {{ t('%s has made a money claim against you.',
                {
                  postProcess: 'sprintf',
                  sprintf: [claimantFullName]
                }
        )
      }}
      </p>
      <p class="panel panel-border-wide">
        {{ t('You have until <strong class="bold">%s</strong> to respond to this claim. You might have to pay more and the claimant can apply for a <a href="https://www.gov.uk/county-court-judgments-ccj-for-debt">County Court Judgment (CCJ)</a> against you if you don’t respond in time.',
        {
          postProcess: 'sprintf',
          sprintf: [responseDeadline]
        }
        ) | safe
        }}

      </p>
      {{ subheading( t('Claim details')) }}
      <p><span class="bold">{{ t('Number:') }}</span> {{ referenceNumber }}</p>
      <p><span class="bold">{{ t('Amount:') }}</span> {{ claim.totalAmount | numeral }}</p>

      <p class="bold">{{ t('Reason for claim:') }}</p>
      <p>
        {{ claim.claimData.reason }}
      </p>

      <form method="POST">
        {{ csrfProtection(csrf) }}

        {{ submitButton('Respond to claim') }}
      </form>
    </div>
  </div>
{% endblock %}
