{% extends "layout.njk" %}

{% set heading = 'Respond to a money claim' %}

{% from "form.njk" import csrfProtection, linkButton %}
{% from "support.njk" import citizensStartWidget %}
{% from "internalLink.njk" import internalLink %}
{% from "externalLink.njk" import externalLink %}

{% block content %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <p>{{ t('You must respond if someone claims you owe them money. The deadline for responding is on the email or letter you received explaining the claim.') }}</p>

      <p>{{ t('There’s a different process in {{ Scotland }}.',
          { Scotland: externalLink('Scotland', 'https://www.gov.scot/') }) | safe  }}</p>

      <h2 class="heading-medium">{{ t('If you don’t respond') }}</h2>

      <p>{{ t('You might get a {{ ccj }} if you don’t respond by the deadline.',
          { ccj: externalLink('County Court Judgment (CCJ)', 'https://www.gov.uk/county-court-judgments-ccj-for-debt') }) | safe }}</p>

      <p>{{ t('If you get a CCJ:') }}</p>

      <p>
        <ul class="list list-bullet">
          <li>{{ t('bailiffs might be sent to your home or business') }}</li>
          <li>{{ t('you might have problems getting credit, such as a mobile phone contract, credit card or mortgage') }}</li>
        </ul>
      </p>

      <form method="POST">
        {{ csrfProtection(csrf) }}

        {{ linkButton('Respond to a money claim', 'start-button', class='button button-start') }}
      </form>

      <h2 class="heading-medium">{{ t('Return to an existing claim') }}</h2>
      <p>{{ t('{{ signin }} to check updates and manage your response.',
          { signin: internalLink( t('Sign in to your account'), AppPaths.homePage.uri, 'link') }) | safe  }}</p>

      <h2 class="heading-medium">{{ t('Help responding online') }}</h2>
      <p>{{ t('Contact Money Claims for help using this service.') }}</p>
      {{ citizensStartWidget() }}

    </div>
    <div class="column-third">
      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">{{ t('Support') }}</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li>{{ externalLink(t('Money claim fees'), 'https://www.gov.uk/make-court-claim-for-money/court-fees') }}</li>
            <li>{{ externalLink(t('Contact us'), 'https://courttribunalfinder.service.gov.uk/courts/county-court-business-centre-ccbc') }}</li>
          </ul>
        </nav>
      </aside>
    </div>
  </div>

{% endblock %}
{% block contactForHelp %}{% endblock %}
