{% extends "layout.njk" %}
{% from "includes/macros/table.njk" import tableStart, tableEnd, row, rowWithMultipleValue %}
{% from "includes/macros/form.njk" import csrfProtection, submitButton, errorSummary, checkboxGroup %}
{% from "includes/macros/statement-of-truth.njk" import statementOfTruth %}

{% set title = t("Money claim") %}
{% set heading = t("Check your answers before submitting your response") %}

{% if draft.defendantDetails.partyDetails.hasCorrespondenceAddress  %}
  {% set correspondenceAddressLines = [
    draft.defendantDetails.partyDetails.correspondenceAddress.line1,
    draft.defendantDetails.partyDetails.correspondenceAddress.line2,
    draft.defendantDetails.partyDetails.correspondenceAddress.city,
    draft.defendantDetails.partyDetails.correspondenceAddress.postcode
  ] %}
{% else %}
  {% set correspondenceAddressLines = [t('Same as address')] %}
{% endif %}

{% block content %}
  <form novalidate method="post">
    {{ csrfProtection(csrf) }}

    {{ tableStart("yourDetails", "Your details") }}

    {{ row("Name:", draft.defendantDetails.partyDetails.name, paths.defendantYourDetailsPage.uri) }}

    {% if draft.defendantDetails.partyDetails.type === 'company' or draft.defendantDetails.partyDetails.type === 'organisation' %}
      {% if draft.defendantDetails.partyDetails.contactPerson %}
        {{ row("Contact name:", draft.defendantDetails.partyDetails.contactPerson, paths.defendantYourDetailsPage.uri) }}
      {% endif %}
    {% endif %}

    {% if draft.defendantDetails.partyDetails.type === 'soleTrader' %}
      {{ row("Business name:", 'Trading as ' + draft.defendantDetails.partyDetails.businessName ) }}
    {% endif %}

    {{
      rowWithMultipleValue(
        label = "Address:",
        values = [ draft.defendantDetails.partyDetails.address.line1, draft.defendantDetails.partyDetails.address.line2, draft.defendantDetails.partyDetails.address.city, draft.defendantDetails.partyDetails.address.postcode ],
        changeLink = paths.defendantYourDetailsPage.uri,
        bottomBorder = false
      )
    }}

    {{
      rowWithMultipleValue(
        label = "Correspondence address:",
        values = correspondenceAddressLines
      )
    }}

    {% if draft.defendantDetails.partyDetailspartyType === 'individual' %}
      {{ row("Date of birth:", draft.defendantDetails.partyDetails.dateOfBirth.date.toMoment() | date, paths.defendantDateOfBirthPage.uri) }}
    {% endif %}

    {{ row("Phone:", draft.defendantDetails.mobilePhone.number, paths.defendantMobilePage.uri) }}

    {{ tableEnd() }}

    {{ tableStart("yourResponse", "Your response") }}

    {{ row('Do you owe the money claimed', draft.response.type.displayValue, '/response/response-type') }}

    {% if draft.requireDefence() %}
      {{ row('Your defence', draft.defence.text, '/response/your-defence') }}

      {{ row('Free mediation', t(draft.freeMediation.option) | capitalize, '/response/free-mediation') }}
    {% endif %}

    {{ tableEnd() }}

    <div class="form-group">
      {% if isStatementOfTruthRequired %}
        {{ statementOfTruth(form, 'I believe that the facts stated in this defence are true') }}
      {% endif %}

      {{ submitButton('Submit response') }}
    </div>
  </form>
{% endblock %}
