{% extends "layout.njk" %}

{% from "table.njk" import tableStart,tableEnd, row, rowWithMultipleValue %}
{% from "form.njk" import csrfProtection, submitButton, errorSummary, checkboxGroup %}
{% from "statement-of-truth.njk" import statementOfTruth %}
{% from "party/details.njk" import partyDetailsSummaryFragment %}

{% set title = t("Money claim") %}
{% set heading = t("Check your answers before submitting your response") %}

{% block content %}
  <form novalidate method="post">
    {{ csrfProtection(csrf) }}

    {{ tableStart("yourDetails", "Your details") }}
    {{
      partyDetailsSummaryFragment(
        partyDetails = draft.defendantDetails.partyDetails,
        changeLinks = {
          contactPerson: paths.defendantYourDetailsPage.evaluateUri({ externalId: claim.externalId }),
          address: paths.defendantYourDetailsPage.evaluateUri({ externalId: claim.externalId }),
          dateOfBirth: paths.defendantDateOfBirthPage.evaluateUri({ externalId: claim.externalId })
        }
      )
    }}
    {{ row("Phone:", draft.defendantDetails.mobilePhone.number, paths.defendantMobilePage.evaluateUri({ externalId: claim.externalId })) }}

    {{ tableEnd() }}

    {{ tableStart("yourResponse", "Your response") }}

    {{ row('Do you owe the money claimed', draft.response.type.displayValue, paths.responseTypePage.evaluateUri({ externalId: claim.externalId })) }}

    {% if draft.requireDefence() %}
      {{ row('Your defence', draft.defence.text, '/response/your-defence') }}

      {{ row('Free mediation', t(draft.freeMediation.option) | capitalize, paths.freeMediationPage.evaluateUri({ externalId: claim.externalId })) }}
    {% endif %}

    {{ tableEnd() }}

    {{
      statementOfTruth(
        form,
        label = 'I believe that the facts stated in this claim are true',
        isQualified = (signatureType == 'qualified')
      )
    }}

    {{ submitButton('Submit response') }}

    <input type="hidden" name="type" value="{{ form.model.type }}">
  </form>
{% endblock %}
