{% extends "layout.njk" %}

{% set heading = 'Claim details' %}

{% from "form.njk" import csrfProtection %}
{% from "amountBreakdown.njk" import amountBreakdownTable %}
{% from "summaryTable.njk" import timelineSummary, evidenceSummary %}
{% from "internalLink.njk" import internalLink %}

{% set evidenceRows = claim.claimData.evidence.getPopulatedRowsOnly() if claim.claimData.evidence %}
{% set timelineRows = claim.claimData.timeline.getPopulatedRowsOnly() if claim.claimData.timeline %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">

      {% if claim.helpWithFeesNumber %}
        <p> <span class="bold-small">{{ t('Claim number:') }} </span>
          <span>
            {% set dash = joiner("-") %}
            {% for batch in claim.ccdCaseId | string | batch(4) -%}
              {{ dash() }}{% for items in batch -%}{{ items }}
                {%- endfor %}
              {%- endfor %}
         </span>
        </p>
      {% else %}
        <p><span class="bold-small">{{ t('Claim number') }}:</span> {{ claim.claimNumber }}</p>
      {% endif %}

      <p><span class="bold-small">{{ t('Claim amount') }}:</span> {{ claim.totalAmountTillToday | numeral }}</p>

      {{ amountBreakdownTable('View amount breakdown', claim, interestData) }}
      <p><span class="bold-small">{{ t('Reason for claim') }}:</span></p>
      <p>{{ claim.claimData.reason }}</p>

      {% if timelineRows and timelineRows.length > 0 %}
        <div class="form-group">
          <p><span class="bold-small">{{ t('Timeline') }}</span></p>
          {{ timelineSummary(timelineRows) }}
        </div>
      {% endif %}

      {% if evidenceRows and evidenceRows.length > 0 %}
        <div class="form-group">
          <p><span class="bold-small">{{ t('Evidence') }}</span></p>
          {{ evidenceSummary(evidenceRows) }}
        </div>
      {% endif %}

      <p><span class="bold-small">{{ t('Download the claim') }}</span></p>
      <p>{{ internalLink(t('Download claim (PDF)'), pdfUrl.evaluateUri({ externalId: claim.externalId })) }}</p>
    </div>
  </div>
{% endblock %}
