{% extends "layout.njk" %}
{% from "support.njk" import supportWidget %}
{% from "externalLink.njk" import externalLink %}

{% set headingVisible = false %}
{% set heading = 'Confirmation' %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="govuk-box-highlight">
        <h1 class="bold-large">{{ t('You’ve submitted your response') }}</h1>
        <p class="reference-number">
          <span>{{ t('Your claim number:') }}</span>
          <span class="block bold-large">{{ claim.claimNumber }}</span>
        </p>
        <p>
          <span class="bold">{{ submittedOn | date }}</span>
        </p>
        <p class="receipt-download-container">
          <a href="{{ paths.receiptReceiver.evaluateUri({ externalId: claim.externalId }) }}">{{ t('Download your response') }}</a> (PDF)
        </p>
      </div>

      <h2 class="bold-large form-group">{{ t('Your response') }}</h2>

      {% if claim.response.responseType === domain.ResponseType.FULL_ADMISSION %}
        {% include "./confirmation/full-admission.njk" %}
      {% endif %}
      {% if claim.response.responseType === domain.ResponseType.FULL_DEFENCE %}
        {% include "./confirmation/full-defence.njk" %}
      {% endif %}

      <h2 class="heading-medium">{{ t('What happens next') }}</h2>

      {% if claim.response.responseType === domain.ResponseType.FULL_ADMISSION %}
        {% include "./confirmation/full-admission-steps.njk" %}
        <p>{{ externalLink('What did you think of this service?', '') }}</p>
        <p><a class="button" href="{{ DashboardPaths.dashboardPage.uri }}">{{ t('Go to your account') }}</a></p>
      {% endif %}
      {% if claim.response.responseType === domain.ResponseType.FULL_DEFENCE %}
        {% include "./confirmation/full-defence-steps.njk" %}
      {% endif %}

      {{ supportWidget() }}

      {% include "includes/service_survey_link.njk" %}
    </div>
  </div>
{% endblock %}
