{% extends "layout.njk" %}
{% from "includes/macros/form.njk" import linkButton, errorSummary %}
{% from "includes/macros/support.njk" import supportWidget %}

{% set heading = t("Your dashboard") %}
{% set title = t('Money claim') %}


{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="description-block">
        <h4 class="heading-medium"> {{ t('Current Status') }}</h4>
      </div>
      <div>
        <p>
          {{ t('Your defence is currently being processed. We will be in touch via email for the next step.') }}
        </p>
      </div>

      <div>
        <span class="form-group">
        <a href="{{ receiptUri }}" target="_blank">{{ t('Download defence as PDF') }}</a>
        </span>
      </div>

      <div>
        {{ supportWidget() }}
      </div>
    </div>
  </div>
{% endblock %}
