{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, linkButton, saveAndContinueButton, errorSummary %}

{% set title = t('Money claim') %}
{% set heading = t('List your evidence') %}

{% macro evidenceRow(index, form) %}

  {% set typeValue = form.valueFor('rows[' + index + '][type]') %}
  {% set descriptionValue = form.valueFor('rows[' + index + '][description]') %}

  {% set errorDescription = form.errorFor('rows[' + index + '][description]').length > 0 %}

  <div class="timeline-row {% if errorDescription %} form-group-error {% endif %}">
    <label class="visually-hidden" for="rows[{{ index }}][type]">{{ index + 1 }}{{ t('. Evidence') }}</label>
    <select class="form-control-select" name="rows[{{ index }}][type]" id="rows[{{ index }}][type]">
      <option>-- Please make a selection --</option>
      <option value="CONTRACTS_AND_AGREEMENTS" {% if typeValue == 'CONTRACTS_AND_AGREEMENTS' %}selected{% endif %}>Contracts and agreements</option>
      <option value="EXPERT_WITNESS" {% if typeValue == 'EXPERT_WITNESS' %}selected{% endif %}>Expert witness</option>
      <option value="CORRESPONDENCE" {% if typeValue == 'CORRESPONDENCE' %}selected{% endif %}>Letters, emails and other correspondence</option>
      <option value="PHOTO" {% if typeValue == 'PHOTO' %}selected{% endif %}>Photo evidence</option>
      <option value="RECEIPTS" {% if typeValue == 'RECEIPTS' %}selected{% endif %}>Receipts</option>
      <option value="STATEMENT_OF_ACCOUNT" {% if typeValue == 'STATEMENT_OF_ACCOUNT' %}selected{% endif %}>Statements of account</option>
      <option value="OTHER" {% if typeValue == 'OTHER' %}selected{% endif %}>Other</option>
    </select>
    <div class="panel panel-border-narrow other">
      <label for="rows[{{ index }}][description]">Describe this evidence in more detail (optional).</label>
      {% if errorDescription %}
        <span class="error-message" id="{{ 'rows[' + index + '][description][label]' }}">
          {{ form.errorFor('rows[' + index + '][description]') }}
        </span>
      {% endif %}
      <textarea name="rows[{{ index }}][description]" id="rows[{{ index }}][description]"
        class="form-control timeline-column-text {% if errorDescription %}form-control-error{% endif %}"
        rows="2">{{ descriptionValue if descriptionValue }}</textarea>
    </div>
  </div>
{% endmacro %}

{% block content %}
<div class="grid-row">
  <div class="column-two-thirds">

    <form method="post" novalidate>
      {{ csrfProtection(csrf) }}
      <h3 class="heading-small">{{ t('Add your timeline of events (optional)') }}</h3>
      <p>
        {{
          t('You can submit evidence if your defence is rejected by the claimant - well let you know if that '
            + ' happens and what evidence you will need. You can, however, list any evidence you have at this stage.')
        }}
      </p>
      <div class="timeline">
        <div class="timeline-rows">
        {% for row in form.model.rows %}
          {{ evidenceRow(loop.index0, form) }}
        {% endfor %}
        </div>
      </div>

      {% if canAddMoreEvidence %}
        <div id="add-event-container form-group">
          {{ linkButton('Add more evidence', 'action[addRow]', 'button button-secondary') }}
        </div>
      {% endif %}
      <br>

      <div class="panel panel-border-wide">
        <p>
            {{
              t('Your evidence list will only be sent to the claimant %s.',
                { postProcess: 'sprintf', sprintf: [ claimantName ] })
            }}
        </p>
      </div>

      {{ saveAndContinueButton() }}

    </form>
  </div>
</div>
{% endblock %}
