{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, radioOption, saveAndContinueButton, errorSummary %}

{% set title = t('Money claim') %}

{% set heading = t('Free mediation') %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">

      <p>{{ t('Many people resolve their dispute without a hearing by taking part in telephone mediation.') }}</p>

      <p>{{ t('A mediator will:') }}</p>

      <ul class="list list-bullet">
        <li>{{ t('listen to each side separately - you won’t talk to directly to the other side') }}</li>
        <li>{{ t('ask you to consider what the other side says - they won’t force you to settle') }}</li>
        <li>{{ t('help you reach an agreement, if possible') }}</li>
      </ul>

      <form method="post"
            class="analytics-submit-event-trigger"
            data-event-action="Response: Free mediation"
            data-event-label-from="option" novalidate>
        {{ csrfProtection(csrf) }}
        <div class="form-group">

          <fieldset>
            <legend id="option[label]" class="form-group">
              <h2 class="bold-medium">{{ t('Will you try telephone mediation?') }}</h2>
            </legend>

            {{
              radioOption(
                label = t('Yes'),
                name = 'option',
                form = form,
                value = 'yes'
              )
            }}
            {{
              radioOption(
                label = t('No'),
                name = 'option',
                form = form,
                value = 'no'
              )
            }}
          </fieldset>
        </div>
        <div class="form-group">
          {{ saveAndContinueButton() }}
        </div>
      </form>
    </div>
  </div>
{% endblock %}

