{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, radioOption, saveAndContinueButton, errorSummary %}

{% set title = t('Money claim') %}

{% set heading = t('Free mediation') %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">

      <p>{{ t('Many people resolve their dispute without a hearing by taking part in telephone mediation.') }}</p>

      <p>{{ t('A mediator will:') }}</p>

      <ul class="list list-bullet">
        <li>{{ t('listen to each side separately - you won’t talk to directly to the other side') }}</li>
        <li>{{ t('ask you to consider what the other side says - they won’t force you to settle') }}</li>
        <li>{{ t('help you reach an agreement, if possible') }}</li>
      </ul>

      <form method="post"
            class="analytics-submit-event-trigger"
            data-event-action="Response: Free mediation"
            data-event-label-from="option" novalidate>
        {{ csrfProtection(csrf) }}
        <div class="form-group">

          <fieldset>
            <legend id="option[label]" class="form-group">
              <h2 class="bold-medium">{{ t('Will you try telephone mediation?') }}</h2>
            </legend>

            {{
              radioOption(
                label = t('Yes'),
                name = 'option',
                form = form,
                value = 'yes'
              )
            }}
            <div class="panel panel-border-narrow js-hidden" id="option-yes">
              <p>
              {{
                t('If both you and %s say yes, we’ll contact you to set up an appointment and answer any questions you have.',
                  {
                   postProcess: 'sprintf',
                   sprintf: [ claimantFullName ]
                  }
                )
              }}
              </p>
            </div>
            {{
              radioOption(
                label = t('No'),
                name = 'option',
                form = form,
                value = 'no'
              )
            }}

            <div class="panel panel-border-narrow js-hidden" id="option-no">
              <p>
                {{
                  t('If you can reach an agreement with %s you don’t need to go to a hearing. You’ll need to explain your side and if the court decides you owe the money, you might have to pay more or get a <a target="_blank" href="%s">County Court Judgment (CCJ)</a> made against you.',
                  {
                    postProcess: 'sprintf',
                    sprintf: [
                      claimantFullName,
                      'https://www.gov.uk/county-court-judgments-ccj-for-debt'
                    ]
                  }) | safe
                }}
              </p>
            </div>
          </fieldset>
        </div>
        <div class="form-group">
          {{ saveAndContinueButton() }}
        </div>
      </form>
    </div>
  </div>
{% endblock %}

