{% extends "layout.njk" %}
{% from "form.njk" import radioGroup, saveAndContinueButton, errorSummary %}
{% from "support.njk" import supportWidget %}

{% set title = t("Money claim") %}

{% set heading = t("Next steps") %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="panel-indent">
        <div class="panel panel-border-wide">
          <p>{{ t('Complete and email the admission form N9A form by %s',
            { postProcess: 'sprintf', sprintf: [claim.responseDeadline | date]}) }}</p>
          <p>{{ t("You'll need to state when you’re going to pay the money. You can suggest a repayment plan or a date when you can pay the money.") }}</p>
        </div>
      </div>

      <ul class="list list-number">
        <li>
          {{ t('Complete <a href="%s" target="_blank">admission form N9A</a> <span class="font-xsmall">(opens in new window)</span> entering these details:',
          { postProcess: 'sprintf', sprintf: [asset_paths["pdf"] + '/OCON9A.pdf']}) | safe }}
          <ul class="list list-bullet">
            <li>{{ t('Claim No.') }} {{ claim.claimNumber }}</li>
            <li>{{ t('Claimant') }} {{ claim.claimData.claimant.name }}</li>
            <li>{{ t('Defendant') }} {{ response.defendantDetails.partyDetails.name }}</li>
          </ul>
        </li>
        <li>{{ t('Download and attach the completed form to an email') }}</li>
        <li>{{ t('Send the email with the attached form to') }} <a
            href="mailto:{{ supportEmailAddress }}?Subject={{ claim.claimNumber }}">{{ supportEmailAddress }}</a></li>
      </ul>

      <p>
        {{ t('You need <a href="%s">Acrobat Reader</a> to complete these forms.',
        { postProcess: 'sprintf', sprintf: ['https://get.adobe.com/uk/reader/']}) | safe }}
      </p>


      {{ supportWidget() }}

    </div>
  </div>
{% endblock %}
