{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, textArea, errorSummary, saveAndContinueButton %}

{% set heading = 'How this dispute has affected you?' %}

{% block content %}
<div class="grid-row">
  <div class="column-two-thirds">

    <form novalidate method="post">
      {{ csrfProtection(csrf) }}
      {{ textArea(
        label = 'How this dispute has affected you? (optional)',
        name = 'text',
        form = form,
        bold = true
      ) }}

      <div class="panel panel-border-wide">
        <p>
          {{ t('Your response will be sent to the claimant {{ claimantName }}.', { claimantName: claimantName }) }}
        </p>
      </div>

      {{ saveAndContinueButton() }}
    </form>

  </div>
</div>
{% endblock %}
