{% extends "layout.njk" %}
{% from "remainingTasksFragment.njk" import remainingTasksFragment  %}

{% set title = t('Incomplete submission') %}

{% block content %}

  {{
    remainingTasksFragment(
      heading = 'You need to complete all sections before you submit your response',
      tasks = tasks,
      backLink = taskListUri
    )
  }}

{% endblock %}
