{% extends "layout.njk" %}
{% from "includes/macros/form.njk" import csrfProtection, submitButton %}

{% set title = t("Money claim") %}

{% set heading = t("You have an extra 14 days to respond") %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">

      <p>
        {{ t("Your claim response deadline is now %s.", { postProcess: 'sprintf', sprintf: [newDeadline | date] }) }}
      </p>

      <p>
        {{ t('We’ve emailed both you and %s confirming the additional response time.', { postProcess: 'sprintf', sprintf: [claimantFullName]}) }}
      </p>

      <form method="post" novalidate>
        {{ csrfProtection(csrf) }}

        <div class="form-group">
          {{ submitButton('Continue') }}
        </div>
      </form>
    </div>
  </div>
{% endblock %}

