{% extends "layout.njk" %}
{% from "includes/macros/form.njk" import radioGroup, saveAndContinueButton, errorSummary %}
{% from "includes/macros/support.njk" import supportWidget %}

{% set title = t("Money claim") %}

{% set heading = t("Next steps") %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="panel-indent">
        <div class="panel panel-border-wide">
          <p>{{ t('Complete and email the admission and defence forms by %s',
            { postProcess: 'sprintf', sprintf: [claim.responseDeadline | date]}) }}</p>
          <p>{{ t("You'll need to complete the admission and defence forms. Use these to offer the claimant the amount of money you believe you owe and explain why you don't owe the remaining amount.") }}</p>
        </div>
      </div>

      <ul class="list list-number">
        <li>
          {{ t('Complete both the <a href="%s" target="_blank">admission N9A</a> and <a href="%s" target="_blank">defence and counterclaim N9B</a> forms <span class="font-xsmall">(forms open in new window)</span>',
          { postProcess: 'sprintf', sprintf: [asset_paths["pdf"] + '/OCON9A.pdf', asset_paths["pdf"] + '/OCON9B.pdf']}) | safe }}
          <ul class="list list-bullet">
            <li>{{ t('Claim No.') }} {{ claim.claimNumber }}</li>
            <li>{{ t('Claimant') }} {{ claim.claimData.claimant.name }}</li>
            <li>{{ t('Defendant') }} {{ response.defendantDetails.name }}</li>
          </ul>
        </li>
        <li>{{ t('Download and attach the completed form to an email') }}</li>
        <li>{{ t('Send the email with the attached form to') }} <a
            href="mailto:{{ supportEmailAddress }}?Subject={{ claim.claimNumber }}">{{ supportEmailAddress }}</a></li>
      </ul>

      <p>
        {{ t('You need <a href="%s">Acrobat Reader</a> to complete these forms.',
        { postProcess: 'sprintf', sprintf: ['https://get.adobe.com/uk/reader/']}) | safe }}
      </p>


      {{ supportWidget() }}

    </div>
  </div>
{% endblock %}
