{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, radioGroup, saveAndContinueButton, errorSummary %}
{% from "table.njk" import tableStart, tableEnd, row, rowWithMultipleValue %}

{% set title = t("Money claim") %}

{% set heading = t("I reject all of the claim") %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="post" class="analytics-submit-event-trigger" data-event-action="Defence: Select full admission option" data-event-label-from="option" novalidate>
        {{ csrfProtection(csrf) }}

        <legend class="visually-hidden">{{ t("I reject all of the claim") }}</legend>

        {{
          radioGroup(
          label = "Why do you reject all the claim?",
          name = "option",
          options = [
            {
              label: "I've already paid the claim in full",
              value: "alreadyPaid",
              hint: ""
            },
            {
              label: "I dispute the claim",
              value: "dispute",
              hint: ""
            },
            {
              label: 'Defend now and also make a counterclaim',
              value: "counterClaim",
              hint: 'You’ll need to complete the defence and counterclaim form.'
            }
          ],
          form = form
          )
        }}

        {{ saveAndContinueButton() }}
      </form>
    </div>
  </div>
{% endblock %}

