{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, radioGroup, saveAndContinueButton, errorSummary %}
{% from "table.njk" import tableStart, tableEnd, row, rowWithMultipleValue %}

{% set title = t("Money claim") %}

{% set heading = t("I reject part of the claim") %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="post" novalidate>
        {{ csrfProtection(csrf) }}

        <legend class="visually-hidden">{{ t("I reject part of the claim") }}</legend>

        {{
        radioGroup(
        label = "Why are you rejecting part of this claim?",
        name = "option",
        options = [
        {
          label: "The claim amount is too much",
          value: "amountTooHigh",
          hint: "",
          bold: true
        },
        {
          label: "I've paid what I believe I owe",
          value: "paidWhatBelievedWasOwed",
          hint: "",
          bold: true
        }
        ],
        form = form
        )
        }}
          {{ saveAndContinueButton() }}
      </form>
    </div>
  </div>
{% endblock %}

