{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, radioGroup, saveAndContinueButton, errorSummary %}
{% set responseDate = 'set 17 October 2017' %}
{% set title = t("Money claim") %}

{% set heading = t("Make an offer to settle out of court") %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <p>
        {{ t("You could settle this money claim without going to court if you make an offer and reach an agreement.") }}
      </p>
      <p>
        {{ t("If your offer is accepted and you settle the claim, then it’s confidential."
          +" This means there won’t be a public record of the claim made against you and you won’t get a County Court Judgment (CCJ)."
          +" You must do what you’ve agreed or the claimant can ask the court to make a CCJ against you.") }}  
      </p>
      <p>
        {{ t("If the claimant rejects your offer they can’t bring it up if you go to a court hearing.") }}
      </p>
      <form method="post" novalidate>
        {{ csrfProtection(csrf) }}

        {{
          radioGroup(
            label = "Do you want to make an offer?",
            name = "option",
            options = [
              {
                label: "Yes",
                value: "yes",
                bold: true
              },
              {
                label: 'No',
                value: "no",
                bold: true
              }
            ],
            form = form
          )
        }}
        <div class="panel panel-border-wide">
          <p>
            {{ t("You still need to submit your response to this claim by %s.",
            {
              postProcess: 'sprintf',
              sprintf: [responseDeadline | date]
            }
            )
            }}
          </p>
        </div>

        <div class="form-group">
          {{ saveAndContinueButton() }}
        </div>
      </form>
    </div>
  </div>
{% endblock %}

