{% extends "layout.njk" %}
{% from "./macro/expandableSection.njk" import expandableSection %}

{% set heading = 'The defendant’s response (summary.njk)' %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <p>{{ t('The defendant {{ name }} has rejected your claim.', name = response.defendant.name) }}</p>
      <p class="bold-medium">{{ t('Their defence') }}</p>

      {{ expandableSection(label = 'Why they disagree with the claim', content = response.defence, id = 'summaryContent') }}
    </div>
  </div>
{% endblock %}
