{% extends "layout.njk" %}
{% from "task-list.njk" import task, taskListHeading, disabledTask %}
{% from "timeRemaining.njk" import timeRemaining %}
{% from "internalLink.njk" import internalLink %}

{% set heading = 'Respond to a money claim' %}

{% block content %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="task-group">
        {{ taskListHeading(beforeYouStartSection.name) }}

        {% for item in beforeYouStartSection.tasks %}
          {{ task(item.startPageUrl, t(item.name), item.completed, true) }}
        {% endfor %}
      </div>

      <div class="task-group">
        {{ taskListHeading(respondToClaimSection.name) }}

        {% for item in respondToClaimSection.tasks %}
          {{ task(item.startPageUrl, t(item.name), item.completed, true) }}
        {% endfor %}
      </div>

      {% if resolvingClaimSection %}
        <div class="task-group">
          {{ taskListHeading(resolvingClaimSection.name) }}

          {% for item in resolvingClaimSection.tasks %}
            {{ task(item.startPageUrl, t(item.name), item.completed, true) }}
          {% endfor %}
        </div>
      {% endif %}


      {% if directionsQuestionnaireSection %}
        <div class="task-group">
          {{ taskListHeading(directionsQuestionnaireSection.name) }}

          {% for item in directionsQuestionnaireSection.tasks %}
            {{ task(item.startPageUrl, t(item.name), item.completed, true) }}
          {% endfor %}
        </div>
      {% endif %}

      {% if submitSection %}
        <div class="task-group">
          {{ taskListHeading(submitSection.name) }}
          <div class="check-submit-response">
            {{ internalLink(t('Check and submit your response'), ResponsePaths.checkAndSendPage.evaluateUri({ externalId: claim.externalId }), 'button button-primary') }}
          </div>
        </div>
      {% endif %}

    </div>

    <div class="column-one-third">
      <div class="meta-data">
        <ul class="font-xsmall list">
          <li>
            <strong class="bold">{{ t('Response deadline:') }}</strong>
            <div>
              {{ t('{{ responseDeadline }} at 4pm', { responseDeadline: claim.responseDeadline | date }) }}
            </div>
            <div>{{ timeRemaining(claim.remainingDays, isAfter4pm()) }}</div>
          </li>
          <li>
            <strong class="bold">{{ t('Claim number:') }}</strong>
            <span class="block">{{ claim.claimNumber }}</span>
          </li>
          <li>
            <strong class="bold">{{ t('Total claim amount:') }}</strong>
            <div>{{ claim.totalAmountTillToday | numeral }}</div>
          </li>
          <li>
            <strong class="bold">{{ t('Claim details:') }}</strong>
            {{ internalLink(t('View claim'), ResponsePaths.claimDetailsPage.evaluateUri({ externalId: claim.externalId })) }}
          </li>
        </ul>
      </div>
    </div>
  </div>

{% endblock %}
{% block contactForHelp %}{% endblock %}
