{% extends "layout.njk" %}
{% from "includes/macros/task-list.njk" import task, taskListHeading, disabledTask %}

{% set title = t('Task list | Money claim') %}
{% set heading = t('Respond to a money claim') %}

{% block content %}

  <div class="column-two-thirds">
    <div class="task-group">
      {{ taskListHeading(beforeYouStartSection.position, t(beforeYouStartSection.name)) }}

      {% for item in beforeYouStartSection.tasks %}
        {{ task(item.startPageUrl, t(item.name), item.completed) }}
      {% endfor %}
    </div>

    <div class="task-group">
      {{ taskListHeading(respondToClaimSection.position, t(respondToClaimSection.name)) }}

      {% for item in respondToClaimSection.tasks %}
        {{ task(item.startPageUrl, t(item.name), item.completed) }}
      {% endfor %}
    </div>

    <div class="task-group">
      {{ taskListHeading(submitSection.position, t(submitSection.name)) }}

      {% for item in submitSection.tasks %}
        {% if allTasksCompleted %}
          {{ task(item.startPageUrl, t(item.name), item.completed) }}
        {% else %}
          {{ disabledTask(t(item.name)) }}
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="column-one-third">
    <div class="meta-data">
      <ul class="font-xsmall list">
        <li>
          <strong class="bold">{{ t('Response deadline:') }}</strong>
          <span class="block">
            {{ t('%s at 4pm', { postProcess: 'sprintf', sprintf: [ claim.responseDeadline | date ] }) }} <br />

            {% if noOfRemainingDays > 0 %}

              {% if noOfRemainingDays == 1 %}
                {{ t ('(1 day remaining)') }}
              {% else %}
                {{ t ('(%s days remaining)', { postProcess: 'sprintf', sprintf: [ noOfRemainingDays ]}) }}
              {% endif %}

            {% else %}

              <span class="due-or-overdue">
              {%if noOfRemainingDays == 0 %}

                {% if isAfter4pm %}
                  {{ t ('(Overdue)') }}
                {% else %}
                  {{ t('(Due today)') }}
                {% endif %}

              {% else %}

                {{ t('(%s', { postProcess: 'sprintf', sprintf: [ noOfRemainingDays | abs ]}) }}

                {% if noOfRemainingDays < -1 %}
                  {{ t(' days ') }}
                {% else %}
                  {{ t(' day ') }}
                {% endif %}

                {{ t('overdue)') }}
              {% endif %}
              </span>
            {% endif %}
          </span>
        </li>
        <li>
          <strong class="bold">{{ t('Claim number:') }}</strong>
          <span class="block">{{ claim.claimNumber }}</span>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
