{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, saveAndContinueButton, errorSummary %}
{% from "timelineFragment.njk" import timelineFragment %}

{% set heading = 'Add your timeline of events' %}

{% block content %}
<div class="grid-row">
  <div class="column-two-thirds">

    <div class="description-block">
      <h2 class="heading-small">Their timeline</h2>
      <div class="form-fields">
        <table>
          <thead>
            <tr>
              <th scope="col">{{ t('Date') }}</th>
              <th scope="col">{{ t('What happened') }}</th>
            </tr>
          </thead>
          <tbody>
          {% for event in timeline.rows %}
            <tr>
              <td>{{ event.date }}</td>
              <td>{{ event.description }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <form method="post" novalidate>
      {{ csrfProtection(csrf) }}
      <h2 class="heading-small">{{ t('Add your timeline of events (optional)') }}</h2>
      <p>{{ t('Include dates if you know them.') }}</p>

      {{ timelineFragment(form) }}

      <div class="form-group">
        <label class="form-label-bold" for="comment">
          <h2 class="heading-small">Add any comments about their timeline (optional)</h2>
        </label>
        <textarea id="comment" name="comment"
          class="form-control form-control-3-4 form-control-medium"
          rows="4" cols="20">{{ form.valueFor('comment') | default('') }}</textarea>
      </div>

      {{ saveAndContinueButton() }}

    </form>
  </div>
</div>
{% endblock %}

{% block additional_scripts %}
  <script src="{{ asset_paths['js'] }}/append-row.js"></script>
{% endblock %}
