{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, saveAndContinueButton, errorSummary, textArea %}
{% from "./macro/expandableSection.njk" import expandableSection %}

{% set heading = 'Why do you disagree with the claim?' %}

{% set claimantFullName = claim.claimData.claimant.name %}
{% set theirReason = claim.claimData.reason %}
{% set labelContent =  '<p class="bold-small">' + t("Briefly explain why you disagree with the claim") + '</p>' +
'<p>' + t('If you fail to dispute any part of the claim the court may assume you admit it.') + '</p>' +
'<p>' + t('You should also say if you accept any parts of the claim.') + '</p>' +
'<p>' + t('Don’t give us a detailed timeline - we’ll ask for that separately.') + '</p>'
%}
{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="form-group">
        {{ expandableSection(label = 'Their reasons for making the claim', content = theirReason, id = 'summaryContent') }}
      </div>

      <form novalidate method="post">
        {{ csrfProtection(csrf) }}

        {{ textArea(name = 'text', form = form, rows = 10, labelHTML = labelContent) }}

        <div class="panel panel-border-wide">
          <p>
            {{ t('Your response will be sent to {{ claimantFullName }}.', { claimantFullName: claimantFullName }) }}
          </p>
        </div>

        {{ saveAndContinueButton() }}
      </form>
    </div>
  </div>
{% endblock %}
