{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, saveAndContinueButton, errorSummary, textArea %}

{% set heading = t('Your defence') %}
{% set title = t('Money claim') %}

{% set claimantFullName = claim.claimData.claimant.name %}
{% set theirReason = claim.claimData.reason %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="description-block">
        <h4 class="heading-small"> {{ t('Their reasons for making the claim') }}</h4>
        <p>{{ theirReason }}</p>
      </div>

      <form novalidate method="post">
        {{ csrfProtection(csrf) }}

        {{ textArea(label = t('Briefly explain why you disagree with the claim. If you disagree with only some of the claim, say what you believe is wrong and what you believe is correct.'), name = 'text', form = form, rows = 10) }}

        <div class="panel panel-border-wide">
          <p>
            {{ t('Your response will be sent to the claimant %s. A judge will not consider see your explanation unless the claim is defended.',
            {
              postProcess: 'sprintf',
              sprintf: [claimantFullName]
            }
            )
            }}
          </p>
        </div>

        {{ saveAndContinueButton() }}
      </form>
    </div>
  </div>
{% endblock %}
