{% extends "layout.njk" %}
{% from "includes/macros/form.njk" import csrfProtection, textInput, radioGroup, saveAndContinueButton, errorSummary %}
{% from "includes/macros/partyDetails.njk" import partyDetailsFragment %}

{% set title = t('Money claim') %}
{% set heading = t('Confirm your details') %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <form novalidate method="post">
        {{ csrfProtection(csrf) }}
        <input type="hidden" name="type" value="{{ form.model.type }}">

        {% if form.model.type == 'individual' %}
          {%
            set fields = [
              { label: 'Your full name', name: 'name' }
            ]
          %}
          {% set addressSectionHeading = 'Your address' %}
        {% elif form.model.type == 'soleTrader' %}
          {%
            set fields = [
              { label: 'Your full name', name: 'name' },
              { label: 'Business name (optional)', name: 'businessName' }
            ]
          %}
          {% set addressSectionHeading = 'Your address' %}
        {% elif form.model.type == 'company' %}
          {%
            set fields = [
              { label: 'Company name', name: 'name' },
              { label: 'Contact person (optional)', name: 'contactPerson' }
            ]
          %}
          {% set addressSectionHeading = 'Company address' %}
        {% elif form.model.type == 'organisation' %}
          {%
            set fields = [
              { label: 'Organisation name', name: 'name' },
              { label: 'Contact person (optional)', name: 'contactPerson' }
            ]
          %}
          {% set addressSectionHeading = 'Organisation address' %}
        {% endif %}

        {{
          partyDetailsFragment(
            form,
            fields = fields,
            addressSection = {
              heading: addressSectionHeading,
              name: 'address'
            },
            showCorrespondenceAddressSection = true
          )
        }}

        {{ saveAndContinueButton() }}
      </form>
    </div>
  </div>
{% endblock %}
