{% extends "layout.njk" %}
{% set title = 'Repayment plan | Money claim' %}
{% from "form.njk" import saveAndContinueButton, errorSummary, csrfProtection, radioGroup, poundInput %}
{% from "date.njk" import dateInput %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">
        <span class="heading-secondary">{{ t("County Court Judgment") }}</span>
        {{ t("Order them to pay by instalments") }}
      </h1>
      <p>{{ t('Total amount payable by the defendant is %s',
        { postProcess: 'sprintf', sprintf: [ remainingAmount | numeral ]}) }}
      </p>

      <form method="post" novalidate>
        {{ csrfProtection(csrf) }}

        <input type="hidden" name="remainingAmount" value="{{ remainingAmount }}"/>
        <div class="form-group">
          <fieldset>
            <legend class="visually-hidden">{{ t('How much they pay following this instalment') }}</legend>
            {{ poundInput('The first payment of', 'firstPayment', form, 'For example, £100', bold = true) }}
          </fieldset>
        </div>

        <div class="form-group">
          <fieldset>
            <legend class="visually-hidden">{{ t('Followed by equal installments of') }}</legend>
            {{ poundInput('Followed by equal installments of', 'installmentAmount', form, 'For example, £200', bold = true) }}
          </fieldset>
        </div>

        <div class="form-group">
          <fieldset>
            <legend class="visually-hidden">{{ t('When you want them to make the first payment') }}</legend>
            {{ dateInput('firstPaymentDate', form, hint = 'For example, 12 03 2017',
            label = 'When you want them to make the first payment') }}
          </fieldset>
        </div>

        <div class="form-group">
          {{ radioGroup(
          "How often you'll make payments",
          'paymentSchedule',
          [
          {
            label: 'Each week',
            value: 'EACH_WEEK',
            checked: form.valueFor('paymentSchedule').value === 'EACH_WEEK'
          },
          {
            label: 'Every 2 weeks',
            value: 'EVERY_TWO_WEEKS',
            checked: form.valueFor('paymentSchedule').value === 'EVERY_TWO_WEEKS'
          },
          {
            label: 'Every month',
            value: 'EVERY_MONTH',
            checked: form.valueFor('paymentSchedule').value === 'EVERY_MONTH'
          }
          ],
          form
          ) }}

        </div>

        {{ saveAndContinueButton() }}
      </form>
    </div>
  </div>
{% endblock %}
