{% extends "layout.njk" %}

{% from "form.njk" import csrfProtection, textInput, radioGroup, saveAndContinueButton, errorSummary %}
{% from "party/details.njk" import partyDetailsFragment %}

{% set heading = 'Confirm your details' %}

{% block additional_scripts %}
  {% include "postcode-lookup-client-scripts.njk" %}
{% endblock %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <p>{{ t('The claimant provided these details. You can correct your address.') }}</p>
      <form novalidate method="post">
        {{ csrfProtection(csrf) }}
        <input type="hidden" name="type" value="{{ form.model.type }}">
        {% if form.model.type == 'individual' %}
          {% if claim.claimData.defendant.firstName and claim.claimData.defendant.firstName !== 'undefined' %}
            {% set fields = [
              { label: 'Title', name: 'title', inputClass: 'title' },
              { label: 'First name', name: 'firstName' },
              { label: 'Last name', name: 'lastName' }
            ] %}
          {% else %}
            {% set fields = [
              { readOnly: true, label: 'Full name', value: claim.claimData.defendant.name }
            ] %}
          {% endif %}

          {% set addressSectionHeading = 'Your address' %}
          {% elif form.model.type == 'soleTrader' %}
          {% if claim.claimData.defendant.firstName and claim.claimData.defendant.firstName !== 'undefined' %}
            {% set fields = [
              { label: 'Title', name: 'title', inputClass: 'title' },
              { label: 'First name', name: 'firstName' },
              { label: 'Last name', name: 'lastName' },
              { readOnly: true, label: 'Business name', value: claim.claimData.defendant.businessName }
            ] %}
          {% else %}
            {% set fields = [
              { readOnly: true, label: 'Your full name', value: claim.claimData.defendant.name },
              { readOnly: true, label: 'Business name', value: claim.claimData.defendant.businessName }
            ] %}
          {% endif %}
          {% set addressSectionHeading = 'Your address' %}
          {% elif form.model.type == 'company' %}
          {% set fields = [
            { readOnly: true, label: 'Company name', value: claim.claimData.defendant.name },
            { label: 'Contact person (optional)', name: 'contactPerson' }
          ] %}
          {% set addressSectionHeading = 'Company address' %}
          {% elif form.model.type == 'organisation' %}
          {% set fields = [
            { readOnly: true, label: 'Organisation name', value: claim.claimData.defendant.name },
            { label: 'Contact person (optional)', name: 'contactPerson' }
          ] %}
          {% set addressSectionHeading = 'Organisation address' %}
        {% endif %}

        {{ partyDetailsFragment(
          form,
          fields = fields,
          addressSection = {
            heading: addressSectionHeading,
            name: 'address'
          },
          showCorrespondenceAddressSection = true
        ) }}

        {{ saveAndContinueButton() }}
      </form>
    </div>
  </div>
{% endblock %}
