{% extends "layout.njk" %}
{% from "remainingTasksFragment.njk" import remainingTasksFragment  %}

{% block content %}

  {{
    remainingTasksFragment(
      tasks = taskList.remainingTasks,
      backLink = taskListUri
    )
  }}

{% endblock %}
