{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, saveAndContinueButton, errorSummary %}
{% from "date.njk" import dateInput %}

{% set heading = 'What date will you pay on?' %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <form method="post">
        {{ csrfProtection(csrf) }}

        {{ dateInput(form = form, name = 'date', hint = t('For example, {{ futureDate }}', { futureDate: futureDate | inputDate })) }}

        {{ saveAndContinueButton() }}
      </form>
    </div>
  </div>
{% endblock %}
