{% extends "layout.njk" %}

{% from "table.njk" import tableStart, tableEnd, row, rowWithMultipleValue %}
{% from "form.njk" import csrfProtection, submitButton, errorSummary %}

{% set heading = 'Check your answers' %}

{% block content %}
  <form novalidate method="post">
    {{ csrfProtection(csrf) }}

    {{ tableStart('yourResponse', 'Your response') }}

    {% if draft.settleAdmitted %}
      {% if draft.settleAdmitted.admitted.option === 'yes' %}
        {% set settleAdmittedResponse = 'I accept this amount' %}
      {% else %}
        {% set settleAdmittedResponse = 'I reject this amount' %}
      {% endif %}

      {{ row(label = 'Do you accept or reject the defendant’s admission?', bold = true, value = settleAdmittedResponse,
        changeLink = ClaimantResponsePaths.settleAdmittedPage.evaluateUri({ externalId: claim.externalId }), bottomBorder = true) }}
    {% endif %}

    {% if draft.acceptPaymentMethod %}
      {% if draft.acceptPaymentMethod.accept.option === 'yes' %}
        {% set acceptPaymentMethodResponse = 'I accept this repayment plan' %}
      {% else %}
        {% set acceptPaymentMethodResponse = 'I reject this repayment plan' %}
      {% endif %}

      {{ row(label = 'Do you accept the defendant’s repayment plan?', bold = true, value = acceptPaymentMethodResponse,
        changeLink = ClaimantResponsePaths.acceptPaymentMethodPage.evaluateUri({ externalId: claim.externalId }), bottomBorder = true) }}
    {% endif %}

    {{ tableEnd() }}

    {{ tableStart('howYouWnatToProceed', 'How you wish to proceed') }}
    {% if draft.formaliseRepaymentPlan %}
      {{ row(
        label = 'How do you want to formalise the repayment plan?',
        bold = true,
        value = draft.formaliseRepaymentPlan.option | renderFormaliseRepaymentPlanOption,
        changeLink = ClaimantResponsePaths.chooseHowToProceedPage.evaluateUri({ externalId: claim.externalId }), bottomBorder = true
      ) }}
    {% endif %}
    {{ tableEnd() }}

    {{ tableStart('settlementAgreement', 'Settlement agreement') }}

    {% if claim.response.paymentIntention.paymentDate %}
      {{ row(label = 'The offer',
        value = t('{{ defendantFullName }} will pay the full amount, no later than {{ paymentDate }}',
          {
            defendantFullName: claim.response.defendant.name,
            paymentDate: claim.response.paymentIntention.paymentDate | date
          }
        ),
        bottomBorder = true, bold = true
      ) }}
      {{ row(label = 'Completion date',
        value = claim.response.paymentIntention.paymentDate | date,
        bottomBorder = true, bold = true
      ) }}
    {% elseif claim.response.paymentIntention.repaymentPlan %}
      {{ row(label = 'The offer',
        value = t('{{ defendantFullName }} will pay instalments of {{ instalmentAmount }} {{ paymentSchedule }}. The first instalment will be paid by {{ firstPaymentDate }}.',
          { defendantFullName: claim.response.defendant.name,
            instalmentAmount: claim.response.paymentIntention.repaymentPlan.instalmentAmount | numeral,
            paymentSchedule: claim.response.paymentIntention.repaymentPlan.paymentSchedule | renderPaymentSchedule,
            firstPaymentDate: claim.response.paymentIntention.repaymentPlan.firstPaymentDate | date
          }),
        bottomBorder = true, bold = true
      ) }}
      {{ row(label = 'Completion date',
        value = lastPaymentDate | date,
        bottomBorder = true, bold = true
      ) }}
    {% endif %}

    {{ tableEnd() }}

    {{ submitButton('Submit response') }}

  </form>
{% endblock %}
