{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, submitButton %}
{% from "./macro/paymentPlanTable.njk" import paymentPlanTable %}

{% set heading = 'Repayment plan accepted' %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <form novalidate method="post">
        {{ csrfProtection(csrf) }}

        {% if isCourtOrderPaymentPlanConvertedByDefendantFrequency %}
          <p> {{ t('The court has accepted your repayment amount, but the frequency will be set by the defendant.
          We’ve converted the {{ claimantAmount }} payment {{ claimantFrequency }} to
          {{ courtOrderAmount }} {{ courtOrderFrequency }}.', {
              claimantAmount: claimantPaymentPlan.instalmentAmount | numeral,
              claimantFrequency: claimantPaymentPlan.frequency | renderFrequencyViewType | lower,
              courtOrderAmount: courtOrderPaymentPlan.instalmentAmount | numeral,
              courtOrderFrequency: courtOrderPaymentPlan.paymentSchedule | renderPaymentSchedule
            }) }}</p>

            {{ paymentPlanTable(
              id = 'payment-table',
              instalmentAmount = courtOrderPaymentPlan.instalmentAmount,
              paymentSchedule = courtOrderPaymentPlan.paymentSchedule,
              firstPaymentDate = courtOrderPaymentPlan.firstPaymentDate,
              lastPaymentOn = courtOrderPaymentPlan.completionDate,
              lengthOfPayment = courtOrderPaymentPlan.lengthOfPayment
              )
            }}
          
        {% else %}
          <p> {{ t('The court has accepted your repayment plan.') }} </p>
        {% endif %}
        {{ submitButton() }}
      </form>
    </div>
  </div>
{% endblock %}
