{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, saveAndContinueButton, errorSummary, textArea %}
{% from "./macro/repaymentPlanBlock.njk" import repaymentPlanBlock %}

{% set heading = 'Repayment plan accepted' %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <form novalidate method="post">
        {{ csrfProtection(csrf) }}

        {% if isOverriddenByDefendantsPaymentFrequency %}
          <p> {{ t('The court has accepted your repayment amount, but the frequency will be set by the defendant.
          We`ve converted the {{ courtOrderAmount }} {{ claimantPaymentSchedule }} payment to
          {{ convertedCourtOfferedAmount }} {{ defendantPaymentSchedule }} payments.', {
              courtOrderAmount: courtOrderAmount | numeral,
              claimantPaymentSchedule: claimantPaymentSchedule | renderFrequencyViewType,
              convertedCourtOfferedAmount: convertedCourtOfferedAmount | numeral,
              defendantPaymentSchedule: defendantPaymentSchedule | renderFrequencyViewType
            }) }}</p>

          {{
          repaymentPlanBlock(
            heading = 'The court`s proposed repayment plan',
            repaymentPlan = claim.response.paymentIntention.repaymentPlan,
            paymentPlan = paymentPlan
          )
          }}
        {% else %}
          <p> {{ t('The court has accepted your repayment plan.') }} </p>
        {% endif %}
        {{ saveAndContinueButton() }}
      </form>
    </div>
  </div>
{% endblock %}
