{% extends "layout.njk" %}
{% from "table.njk" import tableStart, tableEnd, row %}

{% set heading = 'The defendant’s response' %}

{% from "form.njk" import csrfProtection, submitButton, errorSummary %}
{% from "financialDetails.njk" import financialDetailsTable %}

{% set claimantName = claim.claimData.claimant.name %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">

      {% if claim.response.paymentOption === domain.PaymentOption.INSTALMENTS %}
        <p>{{ t('{{ claimantName }} admits they owe all the money you’ve claimed. They’ve offered to pay you in instalments.', { claimantName: claimantName }) }}</p>

        <h2 class="heading-medium">{{ t('How they want to pay') }}</h2>

        {{ row('Balance', account.balance | numeral, '', false, bold = false) }}

        <h3 class="heading-small form-group-related">{{ t('Why they can’t pay the full amount now') }}</h3>

        <p>{{ t('I am heavily in debt at the moment and I’m not earning that much money.
          {{ totalAmount }} a month is all i can afford.',{ totalAmount: totalAmount | numeral }) }}</p>

        <h3 class="heading-small form-group-related">{{ t('Their finances') }}</h3>

        <p>{{ t('Their total monthly income is {{ totalMonthlyIncome }}',
          { totalMonthlyIncome: totalMonthlyIncome | numeral }) }}</p>
        <p>{{ t('Their total monthly expenses is {{ totalMonthlyExpenses }}',
          { totalMonthlyExpenses: totalMonthlyExpenses | numeral }) }}</p>

        <summary>{{ t('See their financial details') }}</summary>

      {% endif %}

      {% if claim.response.paymentOption === domain.PaymentOption.FULL_BY_SPECIFIED_DATE %}
        <p>{{ t('{{ claimantName }} admits they owe all the money you’ve claimed.', { claimantName: claimantName }) }}</p>

        <p>{{ t('They’ve offered to pay you in full by {{ paymentDate }}.', { paymentDate: claim.response.paymentDate | date }) }}</p>

        <h3 class="heading-small form-group-related">{{ t('Why they can’t pay the full amount now') }}</h3>

        <p>{{ t('I am heavily in debt at the moment and I’m not earning that much money. i can pay when i’ve cleared my debts.') }}</p>

        <h3 class="heading-small form-group-related">{{ t('Their finances') }}</h3>

        <p>{{ t('Their total monthly income is {{ totalMonthlyIncome }}',
          { totalMonthlyIncome: totalMonthlyIncome | numeral }) }}</p>
        <p>{{ t('Their total monthly expenses is {{ totalMonthlyExpenses }}',
          { totalMonthlyExpenses: totalMonthlyExpenses | numeral }) }}</p>

        {{ financialDetailsTable('See their financial details', claim) }}


      {% endif %}

      {% if claim.response.ResponseType === ResponseType.PART_ADMISSION %}
        <p>{{ t('{{ claimantName }} admits they owe all the money you’ve claimed.', { claimantName: claimantName }) }}</p>

        <p>{{ t('They’ve offered to pay you this in instalments.') }}</p>

        <h2 class="heading-medium">{{ t('Their defence') }}</h2>

        <h3 class="heading-small form-group-related">{{ t('Why they they don’t owe the amount claimed') }}</h3>

        <h3 class="heading-small form-group-related">{{ t('Their timeline of events') }}</h3>

        <table>
          <thead>
          <tr>
            <th scope="col">{{ t('Date') }}</th>
            <th scope="col">{{ t('What happened') }}</th>
          </tr>
          </thead>
          <tbody>
          {% for event in timeline.rows %}
            <tr>
              <td>{{ event.date }}</td>
              <td>{{ event.description }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>

        <h3 class="heading-small form-group-related">{{ t('They disagree with your evidence') }}</h3>
        <p>{{ t('I didn’t get an email from {{ claimantName }} about this, so I didn’t get a chance to sort it out.
                  It would be good to see a copy of the email.', { claimantName: claimantName }) }}</p>

      {% endif %}

      <form novalidate method="post">

        {{ csrfProtection(csrf) }}

        {{ submitButton('Continue') }}
      </form>

    </div>
  </div>
{% endblock %}
