{% extends "layout.njk" %}

{% if claim.response.responseType === domain.ResponseType.PART_ADMISSION and page === 1 %}
  {% set heading = 'How they want to pay' %}
{% else %}
  {% set heading = 'The defendant’s response' %}
{% endif %}

{% from "form.njk" import csrfProtection, submitButton, errorSummary %}
{% from "internalLink.njk" import internalLink %}
{% from "./macro/repaymentPlanBlock.njk" import repaymentPlanBlock %}
{% from "./macro/evidenceTable.njk" import evidenceFragment %}
{% from "./macro/timelineTable.njk" import timelineFragment %}
{% from "financialDetails.njk" import financialDetailsTable, financialDetailsBlock %}

{% set defendantName = claim.claimData.defendant.name %}

{% macro paymentIntentionFragment(amount, paymentIntention) %}
  {% if paymentIntention.paymentOption === domain.PaymentOption.BY_SPECIFIED_DATE %}
    {% if amount %}
      <p>{{ t('They’ve offered to pay you {{ amount }} by {{ paymentDate }}. This is the total amount you’ll be paid, including the claim fee and interest if applicable.', { amount: amount | numeral, paymentDate: claim.response.paymentIntention.paymentDate | date }) }}</p>
    {% else %}
      <p>{{ t('They’ve offered to pay you this by {{ paymentDate }}.', { paymentDate: claim.response.paymentIntention.paymentDate | date }) }}</p>
    {% endif %}
  {% elseif claim.response.paymentIntention.paymentOption === domain.PaymentOption.INSTALMENTS %}
    {% if amount %}
      <p>{{ t('They’ve offered to pay you {{ amount }} in instalments. This is the total amount you’ll be paid, including the claim fee and interest if applicable.', { amount: amount | numeral }) }}</p>
    {% else %}
      <p>{{ t('They’ve offered to pay you this in instalments.') }}</p>
    {% endif %}
  {% elseif claim.response.paymentIntention.paymentOption === domain.PaymentOption.IMMEDIATELY %}
    <p>{{ t('They’ve offered to pay you {{ amount }} immediately.', { amount: amount | numeral }) }}</p>
  {% endif %}
{% endmacro %}

{% macro paymentDateExplanationBlock(reason) %}
  {% if reason %}
    <h3 class="heading-small form-group-related">{{ t('Why they can’t pay the full amount now') }}</h3>
    <p>{{ t('"{{ reason }}"', { reason: reason }) }}</p>
  {% endif %}
{% endmacro %}

{% macro paymentInformationFragment(paymentDeclaration) %}
  <h3 class="heading-small">{{ t('When they say they paid this amount') }}</h3>
  <p>{{ paymentDeclaration.paidDate | date }}</p>

  <h3 class="heading-small">{{ t('How they say they paid') }}</h3>
  <p>{{ paymentDeclaration.explanation }}</p>
{% endmacro %}


{% macro fullResponseFragment() %}
  {% if dqsEnabled %}
    {% set label = 'Download their full response and hearing requirements (PDF)' %}
  {% else %}
    {% set label = 'Download their full response (PDF)' %}
  {% endif %}

  <div class="form-group">
    <h3 class="heading-small">{{ t('Full response') }}</h3>
    <p>{{ internalLink(t(label), ResponsePaths.receiptReceiver.evaluateUri({ externalId: claim.externalId })) }}</p>
  </div>
{% endmacro %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      {% if claim.response.responseMethod == domain.ResponseMethod.OCON_FORM %}
        <p>{{ t('{{ defendantName }} has rejected the claim. They responded on paper.', { defendantName: defendantName }) }}</p>
        <p>{{ t('To see what they said, ') }}{{ internalLink(t('download their response and hearing requirements (PDF)'),
            ResponsePaths.scannedResponseForm.evaluateUri({ externalId: claim.externalId })) }}
        </p>
      {% elif claim.response.responseType === domain.ResponseType.FULL_DEFENCE and not alreadyPaid %}
        <p>{{ t('{{ defendantName }} has rejected the claim.', { defendantName: defendantName }) }}</p>

        <h2 class="heading-medium">{{ t('Their defence') }}</h2>

        <h3 class="heading-small form-group-related">{{ t('Why they disagree with the claim') }}</h3>
        <p>{{ claim.response.defence }}</p>

        {% if claim.response.timeline and claim.response.timeline.rows.length > 0 %}
          <h3 class="heading-small form-group-related">{{ t('Their timeline of events') }}</h3>
          <div class="form-group">
            {{ timelineFragment(claim.response.timeline) }}
          </div>
        {% endif %}

        {% if claim.response.evidence and claim.response.evidence.rows.length > 0 %}
          {{ evidenceFragment(claim.response.evidence) }}
        {% endif %}

        {{ fullResponseFragment() }}
      {% elif alreadyPaid %}
        {% if partiallyPaid %}
          <p>{{ t('{{ defendantName }} said they paid you {{ amount }}. They said this is all they owe, not the amount you claimed.', { defendantName: defendantName, amount: claim.response.amount | numeral }) }}</p>

          {{ paymentInformationFragment(paymentDeclaration = claim.response.paymentDeclaration) }}

          <h3 class="heading-small form-group-related">{{ t('Why they say they don’t owe the amount you claimed') }}</h3>
          <p>{{ t('"{{ defence }}"', { defence: claim.response.defence }) }}</p>

          {% if claim.response.timeline and claim.response.timeline.rows.length > 0 %}
            <h3 class="heading-small form-group-related">{{ t('Their timeline of events') }}</h3>
            {{ timelineFragment(claim.response.timeline) }}
          {% endif %}

          {% if claim.response.evidence and claim.response.evidence.rows.length > 0 %}
            {{ evidenceFragment(claim.response.evidence) }}
          {% endif %}
        {% else %}
          {{ t('{{ defendantName }} states they paid you {{ amount }}.',
            {
              defendantName: defendantName,
              amount: (claim.response.paymentDeclaration.paidAmount if claim.response.paymentDeclaration.paidAmount else claim.totalAmountTillToday) | numeral
            }
          ) }}

          {{ paymentInformationFragment(paymentDeclaration = claim.response.paymentDeclaration) }}
        {% endif %}
      {% elif claim.response.responseType === domain.ResponseType.FULL_ADMISSION %}
        <p>{{ t('{{ defendantName }} admits they owe all the money you’ve claimed. This is the total amount you’ll be paid, including the claim fee and interest if applicable', { defendantName: defendantName }) }}</p>
        <p>
          {{ paymentIntentionFragment(
            amount = undefined,
            paymentIntention = claim.response.paymentIntention
          ) }}
        </p>

        {% if claim.response.paymentIntention.paymentOption === domain.PaymentOption.INSTALMENTS %}
          {{
          repaymentPlanBlock(
            heading = 'How they want to pay',
            repaymentPlan = claim.response.paymentIntention.repaymentPlan
          )
          }}
        {% endif %}

        {{ paymentDateExplanationBlock(claim.response.statementOfMeans.reason) }}
        {{ financialDetailsBlock(claim, 'Their finances', 'See their financial details', 'form-group') }}
        {{ fullResponseFragment() }}
      {% elif claim.response.responseType === domain.ResponseType.PART_ADMISSION %}
        {% if page === 0 %}
          <p>{{ t('{{ defendantName }} admits they owe you {{ amount }}. They don’t believe they owe the full amount claimed.', { defendantName: defendantName, amount: claim.response.amount | numeral }) }}</p>
          <p>
            {{
            paymentIntentionFragment(
              amount = claim.response.amount,
              paymentIntention = claim.response.paymentIntention
            ) }}
          </p>

          <h2 class="heading-medium">{{ t('Their defence') }}</h2>

          <h3 class="heading-small form-group-related">{{ t('Why they don’t owe the amount claimed') }}</h3>
          <p>{{ t('"{{ defence }}"', { defence: claim.response.defence }) }}</p>

          {% if claim.response.timeline and claim.response.timeline.rows.length > 0 %}
            <h3 class="heading-small form-group-related">{{ t('Their timeline of events') }}</h3>
            <div class="form-group">
              {{ timelineFragment(claim.response.timeline) }}
            </div>
          {% endif %}

          {% if claim.response.evidence and claim.response.evidence.rows.length > 0 %}
            {{ evidenceFragment(claim.response.evidence) }}
          {% endif %}
          {{ fullResponseFragment() }}
        {% elseif page === 1 %}
          {% if claim.response.paymentIntention.paymentOption === domain.PaymentOption.INSTALMENTS %}
            <p>{{ t('The defendant suggested this repayment plan:') }}</p>
            {{ repaymentPlanBlock(repaymentPlan = claim.response.paymentIntention.repaymentPlan) }}

          {% elseif claim.response.paymentIntention.paymentOption === domain.PaymentOption.BY_SPECIFIED_DATE %}

            {{paymentIntentionFragment(
              amount = claim.response.amount,
              paymentIntention = claim.response.paymentIntention
            ) }}
          {% endif %}

          {{ paymentDateExplanationBlock(claim.response.statementOfMeans.reason) }}
          {{ financialDetailsBlock(claim, 'Their finances', 'See their financial details', 'form-group') }}
        {% endif %}
      {% endif %}

      <form novalidate method="post">
        {{ csrfProtection(csrf) }}

        {% if claim.response.responseType === domain.ResponseType.PART_ADMISSION and page !== 1 and claim.response.paymentIntention.paymentOption !== domain.PaymentOption.IMMEDIATELY %}
          <input type="hidden" name="action[showPage]" value="{{ page + 1 }}">
        {% endif %}

        {{ submitButton() }}
      </form>

    </div>
  </div>
{% endblock %}
