{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, submitButton %}

{% set heading = 'Repayment plan accepted' %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <form novalidate method="post">
        {{ csrfProtection(csrf) }}
          <p> {{ t('The court has accepted your repayment plan.') }} </p>
        {{ submitButton() }}
      </form>
    </div>
  </div>
{% endblock %}
