{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, saveAndContinueButton, errorSummary, textArea %}

{% if alreadyPaid %}
  {% set heading = 'Why did you reject their response?' %}
{% else %}
  {% set heading = 'Why did you reject the repayment plan?' %}
{% endif %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <form novalidate method="post">
        {{ csrfProtection(csrf) }}

        {% if not alreadyPaid %}
          <p> {{ t('Explain why you believe the defendant can afford to pay more or to pay sooner.') }} </p>
        {% endif %}

        {{ textArea(name = 'text', form = form) }}

        {{ saveAndContinueButton() }}
      </form>
    </div>
  </div>
{% endblock %}
