{% extends "layout.njk" %}

{% from "form.njk" import saveAndContinueButton, csrfProtection, radioGroup, radioGroupWithHintPanel, errorSummary %}

{% set heading = 'Do you want to settle the claim for the £1,200 the defendant admitted?' %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <form method="post"
            class="analytics-submit-event-trigger"
            data-event-action="Claimant response: Settle defendant admitted option"
            data-event-label-from="admitted[value]"
            novalidate>

        {{ csrfProtection(csrf) }}

        {% set error = form.errorFor('admitted') %}
        <div class="form-group {% if error %} form-group-error {% endif %}">
          <fieldset id="admitted[label]">
            <legend class="visually-hidden">{{ t('Do you want to settle the claim for the £1,200 the defendant admitted?') }}</legend>
            {% if error %}<span class="error-message">{{ t(error) }}</span>{% endif %}

            {{
              radioOption(
                form = form,
                name = 'admitted[value]',
                value = YesNoOption.YES.option,
                label = t('Yes'),
                bold = true,
                hint = 'You can agree to their repayment plan or suggest your own.'
              )
            }}

            {{
              radioOption(
                form = form,
                name = 'admitted[value]',
                value = YesNoOption.NO.option,
                label = t('No'),
                bold = true,
                hint = 'The claim will continue for the total amount you claimed:'
              )
            }}

          </fieldset>
        </div>

        {{ saveAndContinueButton() }}
      </form>

    </div>
  </div>
{% endblock %}
