{% extends "layout.njk" %}
{% from "task-list.njk" import task, taskListHeading, disabledTask %}
{% from "internalLink.njk" import internalLink %}
{% set heading = 'Your response' %}
{% set headingSize = 'xlarge' %}

{% block content %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="task-group">
        {{ taskListHeading(beforeYouStartSection.name) }}

        {% for item in beforeYouStartSection.tasks %}
          {{ task(item.startPageUrl, t(item.name), item.completed) }}
        {% endfor %}
      </div>

      <div class="task-group">
        {{ taskListHeading(howYouWantToRespondSection.name) }}

        {% for item in howYouWantToRespondSection.tasks %}
          {{ task(item.startPageUrl, t(item.name), item.completed) }}
        {% endfor %}
      </div>

      {% if directionsQuestionnaireSection %}
        <div class="task-group">
          {{ taskListHeading(directionsQuestionnaireSection.name) }}

          {% for item in directionsQuestionnaireSection.tasks %}
            {{ task(item.startPageUrl, t(item.name), item.completed, true) }}
          {% endfor %}
        </div>
      {% endif %}

      {% if submitSection %}
        <div class="task-group">
          {{ taskListHeading(submitSection.name) }}
          <div class="check-submit-response">
            {{ internalLink(t('Check and submit your response'), ClaimantResponsePaths.checkAndSendPage.evaluateUri({ externalId: claim.externalId }), 'button button-primary') }}
          </div>
        </div>
      {% endif %}
    </div>
  </div>

{% endblock %}
{% block contactForHelp %}{% endblock %}
