
{% macro contactDetailsTable(label, claim) %}
  <details>
    <summary>{{ t(label) }}</summary>
      <div class="panel panel-border-narrow">
        <table class="table-form">
          <thead>
            <tr>
              <th scope="col">{{ t('Amount breakdown') }}</th>
              <th class="numeric last" scope="col">{{ t('Amount') }}</th>
            </tr>
          </thead>

          <tbody>
          {% for row in claim.claimData.amount.rows %}
              <tr>
                something
              </tr>
            {% endif %}
          {% endfor %}
          {% if claim.claimData.interest.type !== InterestType.NO_INTEREST %}
            <tr>
              <td scope="row">
                address 1
              </td>
              <td class="numeric last">
         address 2
              </td>
            </tr>
          {% endif %}
          </tbody>
        </table>
      </div>
  </details>
{% endmacro %}


