{% macro externalLink(text, href, analyticsEventLabel, showSpan=true, addSpace=false) %}<a href="{{ href }}" rel="noreferrer noopener" target="_blank" {% if analyticsEventLabel %}class="analytics-click-event-trigger" data-event-label="{{ analyticsEventLabel }}"{% endif %}>{{ text }}{% if showSpan %}<span {% if not addSpace %}class="govuk-link govuk-link-no-white-space"{% endif %}>{{ t(' (opens in a new window)') }}</span>{% endif %}</a>{% endmacro %}
