{% macro financialDetailsTable(label, claim) %}
  <details>
    <summary>{{ t(label) }}</summary>
    <div class="panel panel-border-narrow">
      <table class="table-form">
      </table>
    </div>
  </details>
{% endmacro %}
