{% macro internalLink(text, href, class='', id='', dataEventLabel='') %}
  <a href="{{ href }}" class="{{ class }}"{{ ' ' + id if id else '' }}{{ ' ' + dataEventLabel if dataEventLabel else '' }}>{{ text }}</a>
{% endmacro %}
