{% macro interestSnippet(label = 'Interest', rate, numberOfDays, interestDate, interestToDate, specificDailyAmount) %}
  {% if rate or specificDailyAmount > 0 %}
    <details role="group">
    <summary role="button" aria-controls="details-content-0" aria-expanded="false">
      {{ t(label) }}
    </summary>
    {% if rate %}
      <div class="panel text-small" id="details-content-0" aria-hidden>
        <div>
          {{ t('Interest calculated at %s%% for %s days', {
            postProcess: 'sprintf', sprintf: [ rate, numberOfDays ] }) }}
          ({{ t('%s to %s', { postProcess: 'sprintf', sprintf: [ interestDate | date, interestToDate | date ]}) }})
        </div>
      </div>
    {% elseif specificDailyAmount > 0 %}
      <div class="panel text-small" id="details-content-0" aria-hidden>
        <div>
          {{ t('Interest calculated with daily interest amount of %s for %s days', {
            postProcess: 'sprintf', sprintf: [ specificDailyAmount | numeral, numberOfDays ] }) }}
          ({{ t('%s to %s', { postProcess: 'sprintf', sprintf: [ interestDate | date, interestToDate | date ]}) }})
        </div>
      </div>
    {% endif %}
  {% else %}
    {{ t(label) }}
  {% endif %}
  </details>

{% endmacro %}
