{% macro interestSnippet(label = 'Interest', rate, numberOfDays, interestDate, interestToDate, specificDailyAmount) %}
  {% if rate or specificDailyAmount > 0 %}
    <details role="group">
    <summary role="button" aria-controls="details-content-0" aria-expanded="false">
      {{ t(label) }}
    </summary>
    {% if rate %}
      <div class="panel text-small" id="details-content-0" aria-hidden>
        <div>
          {{ t('Interest calculated at {{ rate }}% for {{ numberOfDays }} days', { rate: rate, numberOfDays: numberOfDays}) }}
          {{ t('({{ interestDate }} to {{ interestToDate }})', { interestDate: interestDate | date, interestToDate: interestToDate | date }) }}
          )
        </div>
      </div>
    {% elseif specificDailyAmount > 0 %}
      <div class="panel text-small" id="details-content-0" aria-hidden>
        <div>
          {{ t('Interest calculated with daily interest amount of {{ specificDailyAmount }} for {{ numberOfDays}} days', {
            specificDailyAmount: specificDailyAmount | numeral, numberOfDays: numberOfDays }) }}
          {{ t('({{ interestDate }} to {{ interestToDate }})', { interestDate: interestDate | date, interestToDate: interestToDate | date }) }}
        </div>
      </div>
    {% endif %}
  {% else %}
    {{ t(label) }}
  {% endif %}
  </details>

{% endmacro %}
