{% macro paperFormAddress() %}
  <h2 class="heading-medium">{{ t('Where to send paper forms') }}</h2>
  <div class="keep-formatting">County Court Money Claims Centre
    PO Box 527
    Salford
    M5 0BY</div>

{% endmacro %}

