{% macro paperFormAddress() %}
  <h2 class="heading-medium">{{ t('Where to send paper forms') }}</h2>
  <div class="keep-formatting">Civil National Business Centre
    St Katharine’s House
    21 – 27 St Katharine’s Street
    Northampton
    NN1 2LH</div>

{% endmacro %}

