{% from "externalLink.njk" import externalLink %}

{% macro _webChatWidget(label = 'Web chat') %}
    {% if featureToggles.webChat %}
        <h2 class="heading-medium contact-us">{{ t(label)}}</h2>
        <div id="ctsc-web-chat" class="web-chat"></div>
    {% endif %}
{% endmacro%}

{% macro _emailWidget(email = supportEmailAddress) %}
    <h2 class="heading-medium contact-mail">{{ t('Email') }}</h2>
    <p><a href="mailto:{{t(email)}}">{{ t(email)}}</a>
  
  
    </p>
{% endmacro%}

{% macro _phoneWidget(phoneNumber = '0300 123 7050') %}
    <h2 class="heading-medium contact-us">{{ t('Telephone') }}</h2>
    <p>{{ t(phoneNumber) }}
      <span class="block">{{ t("Monday to Thursday: 8.30am to 5pm.") }}</span>
      <span class="block">{{ t("Friday: 8.30am to 4pm.") }}</span>
      <span class="block">{{ _callCharges()}}</span>
    </p>
{% endmacro %}

{% macro _holidayWidget() %}
  {% if (toDate() < toDate("2020-01-02") and toDate() >= toDate("2019-12-01")) %}
    <h2 class="heading-medium contact-us"> {{ t('Christmas hours')}}</h2>
    <p>{{ t("We're closed 25, 26, 27 December, and 1 January.")}}</p>
  {% endif %}
{% endmacro %}

{% macro supportWidget(label = 'Help and support') %}
    <h2 class="heading-medium">{{ t(label) }}</h2>
    {{ _webChatWidget() }}
    {{ _emailWidget() }}
    {{ _phoneWidget() }}
    {{ _holidayWidget() }}
{% endmacro %}

{% macro supportWidget(label = 'Email') %}
  
    {{ _emailWidget('HMCTSforms@justice.gov.uk') }}
    {{ _phoneWidget('0300 123 7050') }}
{% endmacro %}

{% macro supportWidget1(label = 'Email') %}
  
    {{ _emailWidget('contactocmc@justice.gov.uk') }}
    {{ _phoneWidget('0300 123 7050') }}
{% endmacro %}

{% macro mcolSupportWidget(label = 'Help and advice') %}
  <h2 class="heading-medium">{{ t(label) }}</h2>
  {{ _webChatWidget() }}
  {{ _emailWidget('ccbc@hmcts.gsi.gov.uk') }}
  {{ _phoneWidget('0300 123 1057') }}
  {{ _holidayWidget() }}
{% endmacro %}

{% macro _callCharges() %}
    {{ externalLink(t('Find out about call charges'), 'https://www.gov.uk/call-charges') }}
{% endmacro %}

{% macro citizensAdviceWidget() %}
<p>
  {{ t('You might be able to get advice about the claim from') }}
  {{ externalLink(t('Citizens Advice'), 'https://www.citizensadvice.org.uk/about-us/contact-us/') }}.
</p>
{% endmacro %}


{% macro contactUsForHelp() %}
<details class="contact-us-for-help">

  <summary><span class="summary">{{ t('Contact us for help') }}</span></summary>
  <div class="panel">
    {{ _webChatWidget() }}
    {{ _emailWidget() }}
    {{ _phoneWidget() }}
    {{ _holidayWidget() }}
  </div>
</details>
{% endmacro %}
