{% from "externalLink.njk" import externalLink %}

{% macro _webChatWidget(label = 'Web chat') %}
    <h2 class="heading-medium" style="margin-bottom:5px; margin-top: 10px;">{{ t(label)}}</h2>
    <div id="ctsc-web-chat" class="web-chat"></div>
{% endmacro%}

{% macro _emailWidget(email = supportEmailAddress) %}
    <h2 class="heading-medium" style="margin-bottom:5px; margin-top: 1.05263em;">{{ t('Email') }}</h2>
    <p><a href="mailto:{{t(email)}}" target="_blank">{{ t(email)}}</a>
      <span class="block">{{ t("We'll get back to you within 10 days.") }}</span>
    </p>
{% endmacro%}

{% macro _phoneWidget(phoneNumber = '0300 123 7050') %}
    <h2 class="heading-medium" style="margin-bottom:5px; margin-top: 10px;">{{ t('Telephone') }}</h2>
    <p>{{ t(phoneNumber) }}
      <span class="block">{{ t("Monday to Friday, 9am to 5pm.") }}</span>
      <span class="block">{{ _callCharges()}}</span>
    </p>
{% endmacro%}

{% macro supportWidget(label = 'Help and support') %}
    <h2 class="heading-medium">{{ t(label) }}</h2>
    {% if featureToggles.webChat %}
       {{ _webChatWidget() }}
    {% endif %}
    {{ _emailWidget() }}
    {{ _phoneWidget() }}

{% endmacro %}

{% macro mcolSupportWidget(label = 'Help and advice') %}
  <h2 class="heading-medium">{{ t(label) }}</h2>
  {% if featureToggles.webChat %}
    {{ _webChatWidget() }}
  {% endif %}

  {{ _emailWidget('ccbc@hmcts.gsi.gov.uk') }}
  {{ _phoneWidget('0300 123 1057') }}
{% endmacro %}

{% macro _callCharges() %}
    {{ externalLink(t('Find out about call charges'), 'https://www.gov.uk/call-charges') }}
{% endmacro %}

{% macro citizensAdviceWidget() %}
<p>
  {{ t('You might be able to get advice about the claim from') }}
  {{ externalLink(t('Citizens Advice'), 'https://www.citizensadvice.org.uk/about-us/contact-us/') }}.
</p>
{% endmacro %}


{% macro contactUsForHelp() %}
<details style="margin-top: 35px">

  <summary><span class="summary">{{ t('Contact us for help') }}</span></summary>
  <div class="panel">
    {% if featureToggles.webChat %}
       {{ _webChatWidget() }}
    {% endif %}
    {{ _emailWidget() }}
    {{ _phoneWidget() }}
  </div>
</details>
{% endmacro %}
