{% macro task(link, taskName, completedSection) %}
  <div class="task">
    <a href="{{ link }}">
      <span class="task-name {%- if completedSection %} task-finished{% endif %}">
        {{ taskName }}
      </span>
    </a>
    {% if completedSection === true %}
      <div class="task-finished">
        <strong>{{ t("COMPLETE") }}</strong>
      </div>
    {% else %}
      <div class="task-finished unfinished">
        <strong>{{ t("INCOMPLETE") }}</strong>
      </div>
    {% endif %}

  </div>
{% endmacro %}

{% macro taskList(list, serialNumber) %}
  <ol class="app-task-list">
    <li>
      {{ taskListHeading(list.name, true, serialNumber) }}
      <ul class="app-task-list__items">
      {% for task in list.tasks %}
        {% set describedBy = task.name | lower | replace(' ', '-') %}
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="{{ task.startPageUrl }}" aria-describedby="{{ describedBy }}">
                {{ t(task.name) }}
            </a>
          </span>
          <strong class="govuk-tag app-task-list__tag {{ 'govuk-tag--grey' if task.completed !== true}}" id="{{ describedBy }}">
            {{ t('{{ status }}', { status: 'COMPLETE' if task.completed else 'INCOMPLETE' }) }}
          </strong>
        </li>
      {% endfor %}
      </ul>
    </li>
  </ol>
  
{% endmacro %}

{% macro disabledTask(taskName) %}
  <div class="task">
    <span class="task-name">
      {{ taskName }}
    </span>
  </div>
{% endmacro %}

{% macro taskListHeading(heading, gdsStyle, serialNumber) %}
  {% if gdsStyle === true %}
    <h2 class="app-task-list__section">
      <span class="app-task-list__section-number">
        {{ t(serialNumber + '. ') }}
      </span>
      {{ t(heading) }}
    </h2>
  {% else %}
    <h2 class="task-list-heading">{{ t(heading) }}</h2>
  {% endif %}
  
{% endmacro %}
