{# TODO Delete this file if not being used anywhere #}
{% from "table.njk" import row %}

{% macro timelineCheckAndSend(header, timeline, url, bottomBorder = true) %}

  {{ row(label = header, value = '', changeLink = url, bottomBorder = false, bold = true) }}
  {% set lastItemIndex = timeline.length - 1 %}
  {% for timelineRow in timeline %}
    {{ row(timelineRow.date, timelineRow.description, '', bottomBorder and (loop.index0 === lastItemIndex)) }}
  {% endfor %}

{% endmacro %}
