{% from "table.njk" import row %}

{% macro timelineCheckAndSend(header, timeline, url) %}

  {{ row(label = header, value = '', changeLink = url, bottomBorder = false, bold = true) }}
  {% set lastItemIndex = timeline.length - 1 %}
  {% for timelineRow in timeline %}
    {{ row(timelineRow.date, timelineRow.description, '', loop.index0 === lastItemIndex) }}
  {% endfor %}

{% endmacro %}
