{% from "timeRemaining.njk" import timeRemaining %}

{% macro moreTimeRequestedForClaimantClaimDetails(claim) %}
  {% set defendantName = claim.claimData.defendant.name %}
  <h2 class="heading-medium">{{ t('The defendant has requested more time to respond') }}</h2>
  <p>
    {{ t('{{ defendantName }} has requested an extra 14 days to respond. They need to respond by {{ responseDeadline }}',
    { defendantName: defendantName ,
      responseDeadline: claim.responseDeadline | date }) | safe }}
    {{ timeRemaining(claim.remainingDays, isAfter4pm) + '.'}}
  </p>
{% endmacro %}

{% macro moreTimeRequestedForClaimantDashboard(claim) %}
  {% set defendantName = claim.claimData.defendant.name %}
  {{ t('{{ defendantName }} has requested more time to respond.',
  { defendantName: defendantName }) }}
{% endmacro %}

{% macro moreTimeRequestedForDefendantDashboard(claim) %}
  {{ t('You need to respond by {{ responseDeadline }}.',
  { responseDeadline: claim.responseDeadline | date }) }}
{% endmacro %}

