{% macro offerAcceptedForClaimant(claim) %}
  {% set defendantName = claim.claimData.defendant.name %}
  <h2 class="heading-medium">{{ t('Settle out of court') }}</h2>
  <p>
    {{ t('You’ve agreed to the offer made by {{ defendantName }} and signed an agreement to settle your claim.',
    { defendantName: defendantName }) }}
  </p>

{% endmacro %}

{% macro offerAcceptedForDefendant(claim) %}
  <h2 class="heading-medium">{{ t('Settle out of court') }}</h2>
  <p>
    {{ t('The claimant has accepted your offer and signed a legal agreement. '
    + 'You need to sign the agreement to settle out of court.') }}
  </p>
  <p>
    {{ t('When you’ve both signed the agreement, the claim won’t proceed.') }}
  </p>
  <p>
    <a
      href="{{ OfferPaths.countersignAgreementPage.evaluateUri({ externalId: claim.externalId }) }}">{{ t('Sign the agreement') }}</a>
  </p>
{% endmacro %}
