<p>{{ t('We’ve emailed {{ defendantFullName }} your proposed repayment plan and settlement agreement for them to sign.',
    { defendantFullName: claim.claimData.defendant.name }
  ) }}</p>

<p>{{ t('They must respond before 4pm on {{ responseDate }}. We’ll email you when they respond.', { responseDate: acceptedPaymentPlanClaimantDeadline | date }) }}</p>
<p>{{ t('If they sign the agreement, this claim is put on hold.') }}</p>

<p>{{ t('If they don’t sign the agreement or reject it, you can request a CCJ against them which orders them to pay in line with the terms of the repayment plan.') }}</p>
<p>{{ t('If they don’t think they can afford the plan, they can ask for a judge to make a different plan.') }}</p>
<h2 class="heading-medium">{{ t('If you don’t get paid') }}</h2>

<p>{{ t('If {{ defendantFullName }} signs the settlement agreement but breaks the terms, you can request a County Court Judgment (CCJ) by signing in to your account.',
    { defendantFullName: claim.claimData.defendant.name }
  ) }}</p>

<p>{{ t('After you’ve requested a CCJ you can ask the court to enforce payment.') }}</p>
