<p>{{ t('We’ve emailed {{ defendantFullName }} your proposed repayment plan and settlement agreement.',
    { defendantFullName: claim.claimData.defendant.name }
  ) }}</p>

<p>
  {{ t('We’ll email you when the defendant responds.') }}
</p>
