<h2 class="heading-medium">{{ t('Send financial details') }}</h2>

<p>{{ t('You need to send the defendant’s financial details to the court.') }}</p>

<p>{{ t('Make sure you include your claim number: {{ claimNumber }}.', { claimNumber: claim.claimNumber }) }}</p>

<p>{{ t('The court will review the details to see if the defendant can afford your repayment plan.') }}</p>

<h2 class="heading-medium">{{ t('Use this address') }}</h2>

<p>{{ t('The defendant should have sent you the details - send them to:') }}</p>

<div class="keep-formatting panel">{{ t('HMCTS CMC') }}
  {{ t('PO Box 12747') }}
  {{ t('Harlow') }}
  {{ t('CM20 9RA') }}
</div>

<span class="block">{{ t('Or email them to: <a href="mailto:{{ email }}">{{ email }}</a>', { email: supportEmailAddress }) | safe }}</span>

<h2 class="heading-medium">{{ t('If the court believes the defendant can afford your plan') }}</h2>

<p>{{ t('A County Court Judgment (CCJ) will be issued. This requires the defendant to pay according to the terms of the plan.') }}</p>

<h2 class="heading-medium">{{ t('If the court believes the defendant can not afford your plan') }}</h2>

<p>{{ t('The court will set its own repayment terms and issue a CCJ.') }}</p>
