{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, errorSummary, radioGroup, saveAndContinueButton %}

{% set title = t('Govornment department | Money claim') %}

{% block content %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">{{ t('Are you claiming against a government department?') }}</h1>
      <p>
        {{ t('You can’t use this service to make a claim against a government department such as HM Revenue and Customs.') }}
      </p>

      {% set name = 'governmentDepartment' %}

      <form novalidate method="post" class="analytics-submit-event-trigger"
            data-event-action="Eligibility: Against government department option"
            data-event-label-from="{{ name }}">
        {{ csrfProtection(csrf) }}

        {{
          radioGroup(
            'Are you claiming against a government department?',
            name,
            [
              {'label': 'Yes', value: YesNoOption.YES.option, checked: (form.valueFor(name) === YesNoOption.YES)},
              {'label': 'No', value: YesNoOption.NO.option, checked: (form.valueFor(name) === YesNoOption.NO)}
            ],
            form = form,
            labelForScreenReadersOnly = true
          )
        }}

        <details class="notice">
          <summary><span class="summary">{{ t('What if I do claim against a department?') }}</span></summary>
          <div class="panel panel-border-narrow">

            <p>
              {{ t('If you name a government department as a respondent, your claim will be referred to a ' +
              'District Judge who might cancel it (‘strike it out’). You won’t be refunded the claim fee.') }}
            </p>

          </div>

        </details>

        {{ saveAndContinueButton() }}

      </form>
    </div>
  </div>

{% endblock %}
