{% extends "layout.njk" %}

{% set title = t('Eligibility | Money claim') %}

{% block content %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">{{ t('Find out if you can use this service') }}</h1>

      <p>
        {{ t('We’ll ask you some questions to check you can use this service.') }}
      </p>

      <a href="{{ nextPage }}" class="button">{{ t('Continue') }}</a>
    </div>
  </div>

{% endblock %}
