{% extends "layout.njk" %}

{% if claim.response.responseType === ResponseType.PART_ADMISSION.value and page === 1 %}
  {% set heading = 'How they want to pay' %}
{% else %}
  {% set heading = 'The defendant’s response' %}
{% endif %}

{% from "form.njk" import csrfProtection, submitButton, errorSummary %}

{% set defendantName = claim.claimData.defendant.name %}


{% macro paymentDateExplanationBlock(reason) %}
  <h3 class="heading-small form-group-related">{{ t('Why they can’t pay the full amount now') }}</h3>
  <p>{{ t('"{{ reason }}"', { reason: reason }) }}</p>
{% endmacro %}


{% macro timelineFragment(timeline) %}
  <table>
    <thead>
    <tr>
      <th scope="col">{{ t('Date') }}</th>
      <th scope="col">{{ t('What happened') }}</th>
    </tr>
    </thead>
    <tbody>
    {% for event in timeline.rows %}
      <tr>
        <td>{{ event.date }}</td>
        <td>{{ event.description }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endmacro %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      {% if claim.response.responseType === domain.ResponseType.FULL_DEFENCE %}
        {{ t('{{ defendantName }} states they paid you {{ amount }}.', { defendantName: defendantName, amount: claim.totalAmountTillToday | numeral }) }}

        <h3 class="heading-small">{{ t('When they paid this amount') }}</h3>
        <p>{{ claim.response.paymentDeclaration.paidDate | date }}</p>

        <h3 class="heading-small">{{ t('How they say they paid') }}</h3>
        <p>{{ claim.response.paymentDeclaration.explanation }}</p>
      {% endif %}

      {% if claim.response.responseType === domain.ResponseType.PART_ADMISSION %}
          <p>{{ t('{{ defendantName }} admits they owe you {{ amount }}. However they don’t believe they owe the full amount claimed.', { defendantName: defendantName, amount: claim.response.amount | numeral }) }}</p>

          <h2 class="heading-medium">{{ t('Their defence') }}</h2>

          <h3 class="heading-small form-group-related">{{ t('Why they don’t owe the amount claimed') }}</h3>
          <p>{{ t('"{{ defence }}"', { defence: claim.response.defence }) }}</p>

          {% if claim.response.timeline and claim.response.timeline.rows.length > 0 %}
            <h3 class="heading-small form-group-related">{{ t('Their timeline of events') }}</h3>
            {{ timelineFragment(claim.response.timeline) }}
          {% endif %}

          {% if claim.response.evidence and claim.response.evidence.comment %}
            <h3 class="heading-small form-group-related">{{ t('They disagree with your evidence') }}</h3>
            <p>{{ t('"{{ comment }}"', { comment: claim.response.evidence.comment }) }}</p>
          {% endif %}

      {% endif %}

      <form novalidate method="post">
        {{ csrfProtection(csrf) }}
        {{ submitButton('Continue') }}
      </form>

    </div>
  </div>
{% endblock %}
