{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, saveAndContinueButton, errorSummary, textArea %}

{% set heading = 'Why do you reject their response?' %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <form novalidate method="post">
        {{ csrfProtection(csrf) }}

        <p> {{ t('Explain why you reject their response.') }} </p>

        {{ textArea(name = 'reason', form = form) }}

        {{ saveAndContinueButton() }}
      </form>
    </div>
  </div>
{% endblock %}
