{% extends "layout.njk" %}
{% from "task-list.njk" import task, taskListHeading, disabledTask %}

{% set heading = 'Your response' %}

{% block content %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="task-group">
        {{ taskListHeading(whatDefendantSaidSection.name) }}

        {% for item in whatDefendantSaidSection.tasks %}
          {{ task(item.startPageUrl, t(item.name), item.completed) }}
        {% endfor %}
      </div>

      <div class="task-group">
        {{ taskListHeading(yourResponseSection.name) }}

        {% for item in yourResponseSection.tasks %}
          {{ task(item.startPageUrl, t(item.name), item.completed) }}
        {% endfor %}
      </div>

      {% if submitSection %}
        <div class="task-group">
          {{ taskListHeading(submitSection.name) }}

          {% for item in submitSection.tasks %}
            {{ task(item.startPageUrl, t(item.name), item.completed) }}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>

{% endblock %}
