$highlight-box-font-size: 24px;

.reference-number {
  font-size: $highlight-box-font-size;
  padding-top: 3rem;
}

.issue-receipt-download {
  font-size: $highlight-box-font-size;
  margin-bottom: 0;
}
