$light-blue: #eef7ff;
$expandable-background: $light-blue;

$day-cell-hover-colour: #bbd9e9;
$day-cell-active-colour: #76b2d2;
$govuk-border-colour: #bfc1c3;
$govuk-text-colour: #0b0c0c;

$banner-border-colour: #1d70b8;
$banner-text-colour: #1d70b8;
$banner-message-colour: #0b0c0c;
