$highlight-box-font-size: 24px;

.reference-number {
  font-size: $highlight-box-font-size;
  padding-top: 3rem;
}

.action-date-container {
  padding: 2rem 0;
}

.receipt-download-container {
  font-size: $highlight-box-font-size;
  margin-bottom: 0;
}
