
.datepicker-wrapper {
  margin-bottom: 20px;
}

.datepicker {
  .datepicker-inline {
    width: 70%;

    table {
      table-layout: fixed;
    }

    thead {
      th {
        padding: 10px 0;
        text-align: center;
      }

      .dow {
        background-color: $grey-4;
        padding-right: 0;
      }

      .prev,
      .next {
        background-color: $grey-2;
        border-radius: 0;

        &.disabled {
          pointer-events: none;
          visibility: visible;
        }
      }

      .datepicker-switch {
        background-color: $grey-2;
        border-radius: 0;
      }
    }

    tbody {
      tr {
        &:first-child {
          border-top: 2px solid $grey-1;
        }

        &:last-child {
          border-bottom: 2px solid $grey-1;
        }
      }

      td {
        border-radius: 0;
        color: $govuk-text-colour;
        display: table-cell;
        font-weight: 600;
        height: 57px;
        padding: 0;
        text-align: left;
        vertical-align: top;
        width: 100%;

        &:not(.disabled) {
          border-left: 1px solid $grey-3;
          border-top: 1px solid $grey-3;
        }

        &.active {
          background-color: $day-cell-active-colour;
          color: $govuk-text-colour;
        }

        &.day {
          span {
            display: inline-block;
            height: 20px;
            line-height: 110%;
            margin: 0;
            padding-left: 5px;
            padding-top: 3px;
          }
        }

        &:hover,
        &.focused {
          &:not(.disabled) {
            background-color: $day-cell-hover-colour;
            color: $govuk-text-colour;
          }
        }

        &.disabled {
          background: url('/img/date-picker/date_disabled.png');
          font-weight: 400;

          .first-of-month {
            margin-top: 28px;
          }

          &:hover {
            background: url('/img/date-picker/date_disabled.png');
          }
        }

        &:last-child {
          border-right: 1px solid $grey-3;
        }

        .first-of-month {
          background-color: $grey-1;
          color: $white;
          line-height: 1.6;
          margin: 28px 0 0;
          text-align: center;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .datepicker-inline {
    table {
      width: 140%;
    }
  }
}

@media (min-width: 641px) and (max-width: 750px) {
  .datepicker-inline {
    table {
      width: 120%;
    }
  }
}

.add-another-list {
  &.dates-cant-attend-list {
    padding-bottom: 20px;
  }

  div {
    &:not(.noItems) {
      border-bottom: 1px solid $govuk-border-colour;
      padding: 15px 0;
      width: 100%;

      &:first-child {
        border-top: 1px solid $govuk-border-colour;
      }
    }

    .add-another-list-item {
      display: inline-block;
      width: 65%;
    }

    .add-another-list-controls {
      display: inline-block;
      float: right;
      width: 30%;

      .add-another-edit-link {
        padding-right: 40%;
      }
    }
  }
}
