#date-picker .datepicker-inline {
  width: 70%;

  table {
    table-layout: fixed;

    thead tr {
      th {
        text-align: center;

        &.dow {
          padding-right: 0;
          background-color: #f8f8f8;
        }
      }

      .prev, .next {
        background-color: #bfc1c3;
        border-radius: 0;
        cursor: pointer;
        padding-left: 10px;
        padding-top: 15px;
      }

      .datepicker-switch {
        background-color: #bfc1c3;
        border-radius: 0;
      }
    }

    tbody tr {
      &:first-child {
        border-top: 2px solid #6f777b;
      }

      &:last-child {
        border-bottom: 2px solid #6f777b;
      }

      td {
        cursor: pointer;
        color: black;
        border-radius: 0;
        font-weight: 600;
        height: 57px;
        padding: 0;
        vertical-align: top;
        text-align: left;
        width: 100%;
        display: table-cell;
        line-height: 89%;

        &:not(.disabled) {
          border-left: 1px solid #dee0e2;
          border-top: 1px solid #dee0e2;
        }

        &.day span {
          display: inline-block;
          padding-top: 4px;
          padding-left: 5px;
        }

        &.active {
          background-color: #76B2D2;
        }

        &.day {
          &:hover:not(.disabled), &.focused:not(.disabled) {
            background-color: #BBD9E9;
          }
        }

        &.disabled {
          background: url("/img/date-picker/date_disabled.png");
          font-weight: 400;
          border-bottom: none;

          .first-of-month {
            margin-top: 8px;
            line-height: 1.6;
          }
        }

        &:last-child {
          border-right: 1px solid #dee0e2;
        }

        .first-of-month {
          margin: 8px 0 0 0;
          line-height: 1.6;
          text-align: center;
          background-color: #6f777b;
          color: white;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  #date-picker table {
    width: 140%;
  }
}

@media (min-width: 641px) and (max-width: 750px) {
  #date-picker table {
    width: 120%;
  }
}

.add-another-list {
  &#dates-cant-attend-list {
    padding-bottom: 20px;
  }

  div {
    &:not(.noItems) {
      padding: 15px 0;
      width: 100%;
      border-bottom: 1px solid #bfc1c3;

      &:first-child {
        border-top: 1px solid #bfc1c3;
      }
    }

    .add-another-list-item {
      width: 65%;
      display: inline-block;
    }

    .add-another-list-controls {
      display: inline-block;
      float: right;
      width: 30%;

      .add-another-edit-link {
        padding-right: 40%;
      }
    }
  }
}

.add-another-add-link {
  margin-top: 40px;
  background-color: #dee0e2;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  padding: .526315em .789473em .263157em;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  outline: 1px solid transparent;
  outline-offset: -1px;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 #b5babe;
  -moz-box-shadow: 0 2px 0 #b5babe;
  box-shadow: 0 2px 0 #b5babe;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: #0b0c0c;

  &:visited {
    background-color: #dee0e2;
  }

  &:hover, &:focus {
    background-color: #d0d3d6;
  }

  &:active {
    top: 2px;
    -webkit-box-shadow: 0 0 0 #dee0e2;
    -moz-box-shadow: 0 0 0 #dee0e2;
    box-shadow: 0 0 0 #dee0e2;
  }

  &.disabled, &[disabled="disabled"], &[disabled] {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5;
  }

  &.disabled:hover, &[disabled="disabled"]:hover, &[disabled]:hover {
    cursor: default;
    background-color: #dee0e2;
  }

  &.disabled:active, &[disabled="disabled"]:active, &[disabled]:active {
    top: 0;
    -webkit-box-shadow: 0 2px 0 #b5babe;
    -moz-box-shadow: 0 2px 0 #b5babe;
    box-shadow: 0 2px 0 #b5babe;
  }

  &:link {
    color: #0b0c0c;

    &:focus {
      color: #0b0c0c;
    }
  }

  &:hover, &:focus, &:visited {
    color: #0b0c0c;
  }

  &:before {
    content: "";
    height: 110%;
    width: 100%;
    display: block;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
  }

  &:active:before {
    top: -10%;
    height: 120%;
  }
}
