.mobile-table-status {
  display: none;
}

.mobile-show {
  display: none;

  &.visually-hidden {
    display: block;
  }
}

@include media (mobile) {
  .mobile-hide {
    display: none;
  }

  .mobile-show {
    display: block;
  }

  .mobile-show {
    &.visually-hidden {
      clip: initial;
      height: auto;
      margin: 0;
      position: initial;
      width: auto;
    }

  }

  .mobile-table-status {
    display: table-cell;
  }

  .mobile-table {
    td {
      border-bottom: 0;
    }
  }

  .mobile-inline {
    display: inline;
  }
}
