.phone-show,
.phone-table-status {
  display: none;
}

@include media (mobile) {
  .phone-hide {
    display: none;
  }

  .phone-show {
    display: block;
  }

  .phone-table-status {
    display: table-cell;
  }

  .phone-table {
    td {
      border-bottom: 0;
    }
  }

  .phone-inline {
    display: inline;
  }
}
