.govuk-related-items {
  border-top: 10px solid $govuk-blue;
  margin-top: $gutter;
  padding-top: 5px;

  .heading-medium {
    margin-bottom: .5em;
    margin-top: .3em;
  }

  li {
    list-style-type: none;
    margin-bottom: 10px;
  }
}
