.web-chat {
  p {
    margin-bottom: 0;
  }
}

.heading-medium,
.help-mail {
  margin-bottom: 5px;
  margin-top: 1.05263em;
}

.heading-medium,
.help-us {
  margin-bottom: 5px;
  margin-top: 10px;
}

