<p>{{ t('You haven’t responded to the claim.') }}</p>
<p>{{ t('{{ claimantName }} can now ask for a County Court Judgment (CCJ) against you.',
    { claimantName: claim.claimData.claimant.name }) }}</p>
{{ t('You can still respond to this claim before they ask for a CCJ.') }}
