{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, poundInput, linkButton, saveAndContinueButton, errorSummary %}

{% set title = t('Money claim') %}
{% set heading = t('List your bank and savings accounts') %}

{% macro bankAccountRow(index, form) %}

  {% set prefix = 'rows[' + index + ']' %}
  {% set typeOfAccountKey = prefix + '[typeOfAccount]' %}
  {% set typeOfAccountValue = form.valueFor(typeOfAccountKey) %}
  {% set typeOfAccountError = form.errorFor(typeOfAccountKey) %}

  {% set isJointKey = prefix + '[isJoint]' %}
  {% set isJointValue = form.valueFor(isJointKey) %}
  {% set isJointError = form.errorFor(isJointKey) %}

  {% set anyErrorOccured = form.errorFor(prefix + '[balance]') or typeOfAccountError or isJointError %}

  <div class="triple-column{% if anyErrorOccured %} form-group-error {% endif %}">

    <label for="{{ typeOfAccountKey }}" class="visuallyhidden">Select type</label>
    {% if typeOfAccountError %}<span id="{{ typeOfAccountKey }}[label]" class="error-message">{{ t(typeOfAccountError) }}</span>{% endif %}
    <select name="{{ typeOfAccountKey }}" id="{{ typeOfAccountKey }}" class="form-control column-1{% if typeOfAccountError %} form-group-error {% endif %}" style="width:30%">
      <option value="">Choose</option>
      <option value="{{ BankAccountType.CURRENT_ACCOUNT.value }}" {% if typeOfAccountValue === BankAccountType.CURRENT_ACCOUNT %} selected{% endif %}>{{ BankAccountType.CURRENT_ACCOUNT.displayValue }}</option>
      <option value="{{ BankAccountType.SAVING_ACCOUNT.value }}" {% if typeOfAccountValue === BankAccountType.SAVING_ACCOUNT  %} selected{% endif %}>{{ BankAccountType.SAVING_ACCOUNT.displayValue }}</option>
      <option value="{{ BankAccountType.ISA.value }}" {% if typeOfAccountValue === BankAccountType.ISA %} selected{% endif %}>{{ BankAccountType.ISA.displayValue }}</option>
      <option value="{{ BankAccountType.OTHER.value }}" {% if typeOfAccountValue === BankAccountType.OTHER %} selected{% endif %}>{{ BankAccountType.OTHER.displayValue }}</option>
    </select>

    {{ poundInput(name = prefix + '[balance]', form = form) }}

    <label for="{{ isJointKey }}" class="visuallyhidden">Select an option</label>
    {% if isJointError %}<span id="{{ isJointKey }}[label]" class="error-message">{{ t(isJointError) }}</span>{% endif %}
    <select name="{{ isJointKey }}" id="{{ isJointKey }}" class="form-control column-3 {% if isJointError %} form-group-error {% endif %}">
      <option value="">Choose</option>
      <option value="yes" {% if isJointValue === true %} selected{% endif %}>Yes </option>
      <option value="no" {% if isJointValue === false %} selected{% endif %}>No</option>
    </select>
  </div>

{% endmacro %}

{% block content %}
<div class="grid-row">
  <div class="column-two-thirds">

    <p>{{ t('Put a minus (-) in front of the amount if you’re overdrawn. For example £-804.45.') }}</p>

    <form method="post" novalidate>
      {{ csrfProtection(csrf) }}

      <div class="triple-column">
        <div id="timeline-heading-1" class="column-1">
          <label class="form-label-bold" for="event-form-control">
            {{ t('Type of account') }}
          </label>
        </div>

        <div id="timeline-heading-3" class="column-3 ">
          <label class="form-label-bold" for="timeline-heading-3">
            {{ t('Joint account') }}
          </label>
        </div>

        <div id="timeline-heading-2" class="column-2 ">
          <label class="form-label-bold" for="timeline-heading-2">
            {{ t('Balance') }}
          </label>
        </div>
      </div>

      {% for row in form.model.rows %}
        {{ bankAccountRow(loop.index0, form) }}
      {% endfor %}

      {% if form.model and form.model.canAddMoreRows() %}
        <div id="add-event-container" class="form-group">
          {{ linkButton('Add another account', 'action[addRow]', 'button button-secondary') }}
        </div>
      {% endif %}

      {{ saveAndContinueButton() }}

    </form>
  </div>
</div>
{% endblock %}
