{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, poundInputInline, linkButton, saveAndContinueButton, errorSummary %}

{% set heading = 'List your bank and savings accounts' %}

{% macro bankAccountRow(form, index) %}

  {% set prefix = 'rows[' + index + ']' %}
  {% set typeOfAccountKey = prefix + '[typeOfAccount]' %}
  {% set typeOfAccountValue = form.valueFor(typeOfAccountKey) %}
  {% set typeOfAccountError = form.errorFor(typeOfAccountKey) %}

  {% set jointKey = prefix + '[joint]' %}
  {% set jointValue = form.valueFor(jointKey) %}
  {% set jointError = form.errorFor(jointKey) %}

  {% set balanceKey = prefix + '[balance]' %}
  {% set balanceValue = form.valueFor(balanceKey) %}
  {% set balanceError = form.errorFor(balanceKey) %}

  {% set rowsErrorOccurred = form.errorFor('rows').length > 0 %}
  {% set anyErrorOccurred = balanceError or typeOfAccountError or jointError %}
  <div class="triple-column{% if anyErrorOccurred or (rowsErrorOccurred and index == 0) %} form-group-error {% endif %}">

    {% if rowsErrorOccurred and index == 0 %}<span class="error-message" id="rows[label]">{{ form.errorFor('rows') }}</span>{% endif %}
    {% if typeOfAccountError %}<span id="{{ typeOfAccountKey }}[label]" class="error-message">{{ t(typeOfAccountError) }}</span>{% endif %}
    {% if jointError %}<span id="{{ jointKey }}[label]" class="error-message">{{ t(jointError) }}</span>{% endif %}
    {% if balanceError %}<span id="{{ balanceKey }}[label]" class="error-message">{{ t(balanceError) }}</span>{% endif %}

    <label class="form-label-bold mobile-show visually-hidden" for="{{ typeOfAccountKey }}">{{ index + 1 }} {{ t('. Type of account') }}</label>
    <select name="{{ typeOfAccountKey }}" id="{{ typeOfAccountKey }}" class="form-control column-1{% if typeOfAccountError %} form-control-error {% endif %}">
      <option value="">{{ t('Choose') }}</option>
      <option value="{{ BankAccountType.CURRENT_ACCOUNT.value }}" {% if typeOfAccountValue === BankAccountType.CURRENT_ACCOUNT %} selected{% endif %}>{{ t(BankAccountType.CURRENT_ACCOUNT.displayValue) }}</option>
      <option value="{{ BankAccountType.SAVING_ACCOUNT.value }}" {% if typeOfAccountValue === BankAccountType.SAVING_ACCOUNT  %} selected{% endif %}>{{ t(BankAccountType.SAVING_ACCOUNT.displayValue) }}</option>
      <option value="{{ BankAccountType.ISA.value }}" {% if typeOfAccountValue === BankAccountType.ISA %} selected{% endif %}>{{ t(BankAccountType.ISA.displayValue) }}</option>
      <option value="{{ BankAccountType.OTHER.value }}" {% if typeOfAccountValue === BankAccountType.OTHER %} selected{% endif %}>{{ t(BankAccountType.OTHER.displayValue) }}</option>
    </select>

    <label class="form-label-bold mobile-show visually-hidden" for="{{ jointKey }}">{{ index + 1 }} {{ t('. Joint account') }}</label>
    <select name="{{ jointKey }}" id="{{ jointKey }}" class="form-control column-3 {% if jointError %} form-control-error {% endif %}">
      <option value="">Choose</option>
      <option value="yes" {% if jointValue === true %} selected{% endif %}>{{ t('Yes') }}</option>
      <option value="no" {% if jointValue === false %} selected{% endif %}>{{ t('No') }}</option>
    </select>

    {{ poundInputInline(name = balanceKey, label = ( index + 1 ) + '. Balance', form = form, ariaLabelledBy='account-balance-label', labelClass='visually-hidden') }}
  </div>

{% endmacro %}

{% block content %}
<div class="grid-row">
  <div class="column-two-thirds">

    <p>{{ t('Put a minus (-) in front of the amount if you’re overdrawn. For example £-804.45.') }}</p>

    <form method="post" novalidate>
      {{ csrfProtection(csrf) }}

      <div class="statement-of-means-container">
        <div class="triple-column mobile-hide">
          <div class="column-1 mobile-hide">
            <label class="form-label-bold">
             {{ t('Type of account') }}
            </label>
          </div>

          <div class="column-2 mobile-hide">
            <label class="form-label-bold">
              {{ t('Joint account') }}
            </label>
          </div>

          <div class="column-3 mobile-hide">
            <label id="account-balance-label" class="form-label-bold">
              {{ t('Balance') }}
            </label>
          </div>
        </div>

        <div class="multiline-rows">
        {% for row in form.model.rows %}
          {{ bankAccountRow(form, loop.index0) }}
        {% endfor %}
        </div>

        {% if form.model and form.model.canAddMoreRows() %}
        <div id="add-event-container" class="form-group">
          {{ linkButton('Add another account', 'action[addRow]', 'button button-secondary') }}
        </div>
        {% endif %}
      </div>

      {{ saveAndContinueButton() }}
    </form>
  </div>
</div>
{% endblock %}
