{% from "table.njk" import tableStart, tableEnd, row %}

{% macro singularOrPlural(value, noun) %}

  {% set result =  value + ' ' + noun %}
  {% if value > 1 %}
    {% set result = result + 's' %}
  {% endif %}

  {{ result }}

{% endmacro %}

{% macro employmentStatus(statementOfMeans) %}

  {% if statementOfMeans.employment.declared %}
    {% set employmentStatus = 'Employed' if statementOfMeans.employment.employed %}
    {% if statementOfMeans.employment.selfEmployed %}
      {% if employmentStatus %}
        {% set employmentStatus = employmentStatus + ' and ' %}
      {% endif %}
      {% set employmentStatus = employmentStatus + ' Self-employed ' %}
    {% endif %}
    {{ row('Type of job', employmentStatus, '', bold = true) }}
  {% else %}
    {% if statementOfMeans.unemployment.option === UnemploymentType.UNEMPLOYED %}
      {% set years = statementOfMeans.unemployment.unemploymentDetails.years %}
      {% set months = statementOfMeans.unemployment.unemploymentDetails.months %}

      {% set status = statementOfMeans.unemployment.option.displayValue %}
      {% if years or months %}
        {% set status = status + ' for ' %}
        {% if years %}
          {% set status = status + singularOrPlural(years, 'year') %}
        {% endif %}
        {% if months %}
          {% set status = status + singularOrPlural(months, 'month') %}
        {% endif %}
      {% endif %}

      {{ row('Type of job', status, '', bold = true) }}
    {% elseif statementOfMeans.unemployment.option === UnemploymentType.OTHER %}
      {{ row('Type of job', statementOfMeans.unemployment.otherDetails.details, '', bold = true) }}
    {% else %}
      {{ row('Type of job', statementOfMeans.unemployment.option.displayValue, '', bold = true) }}
    {% endif %}

  {% endif %}

{% endmacro %}

{{ tableStart('statementOfMeans', 'Your financial details') }}

{% set numberOfBankAccounts = draft.statementOfMeans.bankAccounts.getPopulatedRowsOnly().length %}
{{ row('Bank and savings accounts', '', StatementOfMeansPaths.bankAccountsPage.evaluateUri({ externalId: claim.externalId }), not numberOfBankAccounts, bold = true) }}
{% set indexOfLastRow = numberOfBankAccounts - 1 %}

{% for account in draft.statementOfMeans.bankAccounts.getPopulatedRowsOnly() %}
  {% if numberOfBankAccounts === 1 %}
    {{ row('Type of account', account.typeOfAccount.displayValue, '', false, bold = true ) }}
  {% else %}
    {{ row(loop.index0 + 1 + '. Type of account', account.typeOfAccount.displayValue, '', false, bold = true ) }}
  {% endif %}
  {{ row('Balance', account.balance | numeral, '', false, bold = true) }}
  {{ row('Joint account', 'Yes' if account.joint else 'No', '', loop.index0 === indexOfLastRow, bold = true ) }}
{% endfor %}

{{ row('Where are you living?	', draft.statementOfMeans.residence.residenceType, bold = true, StatementOfMeansPaths.residencePage.evaluateUri({ externalId: claim.externalId })) }}

{{ row('Children', '', StatementOfMeansPaths.dependantsPage.evaluateUri({ externalId: claim.externalId }), false, bold = true) }}
{{ row('Do any children live with you?', 'Yes' if draft.statementOfMeans.dependants.declared else 'No', '', not draft.statementOfMeans.dependants.declared, bold = true) }}

{% if draft.statementOfMeans.dependants.declared %}
  {% set noOfKids = draft.statementOfMeans.dependants.numberOfChildren %}
  {{ row('Under 11', noOfKids.under11 | default('0'), '', not (noOfKids.between11and15 or noOfKids.between16and19), bold = true) }}
  {{ row('11 to 15', noOfKids.between11and15 | default('0'), '', not noOfKids.between16and19, bold = true) }}
  {{ row('16 to 19', noOfKids.between16and19 | default('0'), '', bold = true) }}

  {% if draft.statementOfMeans.education.value %}
    {{ row('Number of children aged 16 to 19 full-time education or training', draft.statementOfMeans.education.value, bold = true, StatementOfMeansPaths.educationPage.evaluateUri({ externalId: claim.externalId })) }}
  {% endif %}
{% endif %}

{{ row('Maintenance', '', StatementOfMeansPaths.maintenancePage.evaluateUri({ externalId: claim.externalId }), false, bold = true) }}
{{ row('Do you or your partner pay maintenance for any children?', 'Yes' if draft.statementOfMeans.maintenance.declared else 'No', '', not draft.statementOfMeans.maintenance.declared, bold = true) }}

{% if draft.statementOfMeans.maintenance.declared %}
  {{ row('Number of children', draft.statementOfMeans.maintenance.value, '', bold = true) }}
{% endif %}

{% if draft.statementOfMeans.otherDependants.declared %}
  {{ row('Do you support anyone else financially?', '', StatementOfMeansPaths.otherDependantsPage.evaluateUri({ externalId: claim.externalId }), false, bold = true) }}
  {{ row('Number of people', draft.statementOfMeans.otherDependants.numberOfPeople.value, '', bold = true, bottomBorder = false) }}
  {{ row('Give details', draft.statementOfMeans.otherDependants.numberOfPeople.details, '', bold = true) }}
{% endif %}

{{ row('Employment details', '', StatementOfMeansPaths.employmentPage.evaluateUri({ externalId: claim.externalId }), false, bold = true) }}
{{ row('Are you currently working?', 'Yes' if draft.statementOfMeans.employment.employed else 'No', '', false, bold = true) }}
{{ employmentStatus(draft.statementOfMeans) }}

{% if draft.statementOfMeans.employment.employed %}
  {{ row('Who employs you?', '', StatementOfMeansPaths.employersPage.evaluateUri({ externalId: claim.externalId }), false, bold = true) }}
  {% set indexOfLastRow = draft.statementOfMeans.employers.rows.length - 1 %}
  {% for employer in draft.statementOfMeans.employers.rows %}
    {{ row('Employer name', employer.employerName, '', false, bold = true ) }}
    {{ row('Job title', employer.jobTitle, '', loop.index0 === indexOfLastRow, bold = true ) }}
  {% endfor %}
{% endif %}

{% if draft.statementOfMeans.employment.selfEmployed %}
  {{ row('What are you self-employed as?', '', StatementOfMeansPaths.selfEmploymentPage.evaluateUri({ externalId: claim.externalId }), false, bold = true) }}
  {{ row('Job title', draft.statementOfMeans.selfEmployment.jobTitle, '', false, bold = true ) }}
  {{ row('Annual turnover', draft.statementOfMeans.selfEmployment.annualTurnover | numeral, '', false, bold = true ) }}
  {{ row('Are you behind on tax', 'Yes' if draft.statementOfMeans.onTaxPayments.declared else 'No', '', not draft.statementOfMeans.onTaxPayments.declared, bold = true ) }}
  {% if draft.statementOfMeans.onTaxPayments.declared %}
    {{ row('Amount you owe?', draft.statementOfMeans.onTaxPayments.amountYouOwe | numeral, '', false, bold = true ) }}
    {{ row('Reason', draft.statementOfMeans.onTaxPayments.reason, bold = true) }}
  {% endif %}
{% endif %}

{% set income = draft.statementOfMeans.monthlyIncome %}
{{ row('Monthly income', '', StatementOfMeansPaths.monthlyIncomePage.evaluateUri({ externalId: claim.externalId }), false, bold = true) }}
{% if income.salarySource.populated %}
{{ row('Take home pay', income.salarySource.amount | numeral, '', false, bold = true) }}
{% endif %}
{% if income.universalCreditSource.populated %}
{{ row('Universal Credit', income.universalCreditSource.amount | numeral, '', false, bold = true) }}
{% endif %}
{% if income.jobseekerAllowanceIncomeSource.populated %}
{{ row('Jobseeker’s Allowance (income based)', income.jobseekerAllowanceIncomeSource.amount | numeral, '', false, bold = true) }}
{% endif %}
{% if income.jobseekerAllowanceContributionSource.populated %}
{{ row('Jobseeker’s Allowance (contribution based)', income.jobseekerAllowanceContributionSource.amount | numeral, '', false, bold = true) }}
{% endif %}
{% if income.incomeSupportSource.populated %}
{{ row('Income Support', income.incomeSupportSource.amount | numeral, '', false, bold = true) }}
{% endif %}
{% if income.workingTaxCreditSource.populated %}
{{ row('Working Tax Credit', income.workingTaxCreditSource.amount | numeral, '', false, bold = true) }}
{% endif %}
{% if income.childTaxCreditSource.populated %}
{{ row('Child Tax Credit', income.childTaxCreditSource.amount | numeral, '', false, bold = true) }}
{% endif %}
{% if income.childBenefitSource.populated %}
{{ row('Child Benefit', income.childBenefitSource.amount | numeral, '', false, bold = true) }}
{% endif %}
{% if income.councilTaxSupportSource.populated %}
{{ row('Council Tax Support', income.councilTaxSupportSource.amount | numeral, '', false, bold = true) }}
{% endif %}
{% if income.pensionSource.populated %}
{{ row('Pension (paid to you)', income.pensionSource.amount | numeral, '', false, bold = true) }}
{% endif %}

{% if income.anyOtherIncomePopulated %}
{% for source in income.otherSources %}
  {{ row(source.name, name.amount | numeral, '', loop.index0 === indexOfLastRow, bold = true ) }}
{% endfor %}
{% endif %}

{% set expenses = draft.statementOfMeans.monthlyExpenses %}
{% set otherExpenses = expenses.getPopulatedRowsOnly() %}
{{ row('Monthly expenses', '', StatementOfMeansPaths.monthlyExpensesPage.evaluateUri({ externalId: claim.externalId }), bottomBorder = false, bold = true, topBorder = true) }}
{{ row('Mortgage', expenses.mortgage | numeral, '', false, bold = true) }}
{{ row('Rent', expenses.rent | numeral, '', false, bold = true) }}
{{ row('Council Tax', expenses.councilTax | numeral, '', false, bold = true) }}
{{ row('Gas', expenses.gas | numeral, '', false, bold = true) }}
{{ row('Electricity', expenses.electricity | numeral, '', false, bold = true) }}
{{ row('Water', expenses.water | numeral, '', false, bold = true) }}
{{ row('Travel (school or work)', expenses.travel | numeral, '', false, bold = true) }}
{{ row('School costs (include clothing)', expenses.schoolCosts | numeral, '', false, bold = true) }}
{{ row('Food and Housekeeping', expenses.foodAndHousekeeping | numeral, '', false, bold = true) }}
{{ row('TV and Broadband', expenses.tvAndBroadband | numeral, '', false, bold = true) }}
{{ row('Mobile phone', expenses.mobilePhone | numeral, '', false, bold = true) }}
{{ row('Maintenance payments', expenses.maintenance | numeral, '', otherExpenses.length === 0, bold = true) }}

{% set indexOfLastRow = otherExpenses.length - 1 %}
{% for expenseRow in otherExpenses %}
  {{ row(expenseRow.description, expenseRow.amount | numeral, '', loop.index0 === indexOfLastRow ) }}
{% endfor %}

{{ row('Debts', '', StatementOfMeansPaths.debtsPage.evaluateUri({ externalId: claim.externalId }), false, bold = true) }}
{{ row('Do you have any debts?', 'Yes' if draft.statementOfMeans.debts.declared else 'No', '', not draft.statementOfMeans.debts.declared, bold = true) }}
{% set debtRows = draft.statementOfMeans.debts.getPopulatedRowsOnly() %}
{% set indexOfLastRow = debtRows.length - 1 %}

{% for debtRow in debtRows %}
    {% if debtRows.length === 1 %}
      {{ row('Debt' , debtRow.debt, '', false, bold = true ) }}
    {% else %}
      {{ row(loop.index0 + 1 + '. Debt' , debtRow.debt, '', false, bold = true ) }}
    {% endif %}

  {{ row('Total owed', debtRow.totalOwed | numeral, '', false, bold = true) }}
  {{ row('Monthly Payments', debtRow.monthlyPayments | numeral, '', loop.index0 === indexOfLastRow, bold = true ) }}
{% endfor %}

{{ row('Court orders', '', StatementOfMeansPaths.courtOrdersPage.evaluateUri({ externalId: claim.externalId }), false, bold = true) }}
{{ row('Has a court ordered you to pay anyone else?', 'Yes' if draft.statementOfMeans.courtOrders.declared else 'No', '', not draft.statementOfMeans.courtOrders.declared, bold = true) }}
{% set courtOrdersRows = draft.statementOfMeans.courtOrders.getPopulatedRowsOnly() %}
{% set indexOfLastRow = courtOrdersRows.length - 1 %}

{% for courtOrderRow in courtOrdersRows %}
  {{ row('Details about court orders', courtOrderRow.claimNumber, '', false, bold = true ) }}
  {{ row('Amount you owe', courtOrderRow.amount | numeral, '', loop.index0 === indexOfLastRow, bold = true) }}
{% endfor %}

{{ tableEnd() }}
