{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, textInputInline, poundInputInline, radioOption, linkButton, saveAndContinueButton, errorSummary %}

{% set heading = t('Do you have loans or credit card debts?') %}

{% macro debtRow(index, form) %}

  {% set prefix = 'rows[' + index + ']' %}

  {% set debtKey = prefix + '[debt]' %}
  {% set debtValue = form.valueFor(debtKey) %}
  {% set debtError = form.errorFor(debtKey) %}

  {% set totalOwedKey = prefix + '[totalOwed]' %}
  {% set totalOwedValue = form.valueFor(totalOwedKey) %}
  {% set totalOwedError = form.errorFor(totalOwedKey) %}

  {% set monthlyPaymentsKey = prefix + '[monthlyPayments]' %}
  {% set monthlyPaymentsValue = form.valueFor(monthlyPaymentsKey) %}
  {% set monthlyPaymentsError = form.errorFor(monthlyPaymentsKey) %}

  {% set anyErrorOccurred = debtError or totalOwedError or monthlyPaymentsError %}
  <div class="triple-column{% if anyErrorOccurred %} form-group-error {% endif %}">

    {% if debtError %}<span id="{{ debtKey }}[label]" class="error-message">{{ t(debtError) }}</span>{% endif %}
    {% if totalOwedError %}<span id="{{ totalOwedKey }}[label]" class="error-message">{{ t(totalOwedError) }}</span>{% endif %}
    {% if monthlyPaymentsError %}<span id="{{ monthlyPaymentsKey }}[label]" class="error-message">{{ t(monthlyPaymentsError) }}</span>{% endif %}

    <label class="form-label-bold mobile-show" for="{{ debtKey }}">{{ index + 1 }} {{ t('. List each loan or credit card debt') }}</label>
    {{ textInputInline(name = debtKey, form = form, inputClass='column-1', ariaLabelledBy='debt-label') }}
    {{ poundInputInline(name = totalOwedKey, label = (index + 1) + '. Total owed', form = form,  inputClass = 'column-4', ariaLabelledBy='total-owed-label') }}
    {{ poundInputInline(name = monthlyPaymentsKey, label = (index + 1) + '. Monthly payments', form = form,  inputClass = 'column-3', ariaLabelledBy='monthly-payments-label') }}
  </div>

{% endmacro %}

{% block content %}
<div class="grid-row">
  <div class="column-two-thirds">

    <form method="post" novalidate
          class="analytics-submit-event-trigger"
          data-event-action="SoM: Do you have any debts?"
          data-event-label-from="declared">

      {{ csrfProtection(csrf) }}

      {% set errorHasAnyDebts = form.errorFor('declared') %}
      <div class="statement-of-means-container">
        <fieldset id="declared[label]" class="form-group {% if errorHasAnyDebts %} form-group-error {% endif %}">
          <legend class="visually-hidden">{{ t('Do you have loans or credit card debts?') }}</legend>
          {% if errorHasAnyDebts %}<span class="error-message">{{ t(errorHasAnyDebts) }}</span>{% endif %}

          {{
            radioOption(form = form, label = 'Yes', name = 'declared', value = 'true', checked = form.valueFor('declared') === true)
          }}

          {% set noRowsError = form.errorFor('rows') %}
          <div class="form-group panel panel-border-narrow js-hidden {% if noRowsError %} form-group-error {% endif %}"
               id="declared-true" aria-hidden="false">

            {% if noRowsError %}<span class="error-message" id="rows[label]">{{ t(noRowsError) }}</span>{% endif %}

            <div class="multiline-rows">
              <div class="triple-column mobile-hide">
                <div class="column-1 mobile-hide">
                  <label id="debt-label" class="form-label-bold">{{ t('List each loan or credit card debt') }}</label>
                </div>
                <div class="column-4 mobile-hide">
                  <label id="total-owed-label" class="form-label-bold">{{ t('Total owed') }}</label>
                </div>
                <div class="column-3 mobile-hide">
                  <label id="monthly-payments-label" class="form-label-bold">{{ t('Monthly payments') }}</label>
                </div>
              </div>

              {% for row in form.model.rows %}
                {{ debtRow(loop.index0, form) }}
              {% endfor %}
            </div>

            {% if form.model and form.model.canAddMoreRows() %}
            <div id="add-event-container" class="form-group">
              {{ linkButton('Add a debt', 'action[addRow]', 'button button-secondary') }}
            </div>
            {% endif %}

          </div>

          {{
            radioOption(form = form, label = 'No', name = 'declared', value = 'false', checked = form.valueFor('declared') === false)
          }}
        </fieldset>
      </div>

      {{ saveAndContinueButton() }}

    </form>
  </div>
</div>
{% endblock %}
