{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, radioOption, textInput, saveAndContinueButton, errorSummary %}
{% from "date.njk" import dateInput %}

{% set title = 'Money claim' %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">{{ t('Do any children live with you?') }}</h1>

      <form method="post" novalidate
        class="analytics-submit-event-trigger"
        data-event-action="SoM: Do any children live with you?"
        data-event-label-from="hasAnyChildren">

        {{ csrfProtection(csrf) }}

        {% set error = form.errorFor('hasAnyChildren') %}
        <fieldset id="hasAnyChildren[label]" class="form-group {% if error %} form-group-error {% endif %}">
          <legend class="visually-hidden">{{ t('Do any children live with you?') }}</legend>

          {% if error %}<span class="error-message">{{ t(error) }}</span>{% endif %}

          {{
            radioOption(form = form, label = 'Yes', name = 'hasAnyChildren', value = 'true', checked = form.valueFor('hasAnyChildren') === true)
          }}

          {% set error = form.errorFor('hasAnyChildren') %}

          <div class="form-group panel panel-border-narrow js-hidden {% if errorCheckbox %} form-group-error {% endif %}"
            id="hasAnyChildren-true"
            aria-hidden="false">

            <p>{{ t('Enter number for each age group.') }}</p>
            {{ textInput('Under 11', 'under11', form) }}
            {{ textInput('11 to 15', 'between11and15', form) }}
            {{ textInput('16 to 19', 'between16and19', form) }}

          </div>

          {{
            radioOption(form = form, label = 'No', name = 'isCurrentlyEmployed', value = 'false', checked = form.valueFor('isCurrentlyEmployed') === false)
          }}

        </fieldset>

        {{ saveAndContinueButton() }}

      </form>
    </div>
  </div>
{% endblock %}
