{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, radioGroup, saveAndContinueButton, errorSummary %}

{% set heading = 'State your disability status' %}

{% block content %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="post" novalidate
            class="analytics-submit-event-trigger"
            data-event-action="SoM: State your disability status"
            data-event-label-from="option">

        {{ csrfProtection(csrf) }}

        {{ radioGroup(
          form = form,
          label = 'State your disability status',
          labelForScreenReadersOnly = true,
          name = 'option',
          options = [
            {
              bold: true,
              label: 'None',
              hint: 'You’re not disabled',
              value: Disabilities.NO.value,
              checked: (form.valueFor('option') === Disabilities.NO.value)
            },
            {
              bold: true,
              label: 'Single',
              hint: 'You’re disabled and your partner is not, if you have one',
              value: Disabilities.SINGLE.value,
              checked: (form.valueFor('option') === Disabilities.SINGLE.value)
            },
            {
              bold: true,
              label: 'Couple',
              hint: 'You and your partner are both disabled',
              value: Disabilities.COUPLE.value,
              checked: (form.valueFor('option') === Disabilities.COUPLE.value)
            },
            {
              bold: true,
              label: 'Single (Severe)',
              hint: 'You’re severely disabled and your partner is not, if you have one',
              value: Disabilities.SEVERE_SINGLE.value,
              checked: (form.valueFor('option') === Disabilities.SEVERE_SINGLE.value)
            },
            {
              bold: true,
              label: 'Couple (Severe)',
              hint: 'You and your partner are both severely disabled',
              value: Disabilities.SEVERE_COUPLE.value,
              checked: (form.valueFor('option') === Disabilities.SEVERE_COUPLE.value)
            },
            {
              bold: true,
              label: 'Disabled dependant(s)',
              hint: 'You’re not disabled but one or more of your dependants are',
              value: Disabilities.DISABLED_DEPENDANT.value,
              checked: (form.valueFor('option') === Disabilities.DISABLED_DEPENDANT.value)
            },
            {
              bold: true,
              label: 'Carer',
              hint: 'You’re a full-time carer',
              value: Disabilities.CARER.value,
              checked: (form.valueFor('option') === Disabilities.CARER.value)
            }
          ]
        ) }}

        {{ saveAndContinueButton() }}

      </form>

    </div>
  </div>

{% endblock %}
