{% extends "layout.njk" %}

{% set heading = 'Explain why you can`t pay immediately' %}
{% set claimantFullName = claim.claimData.claimant.name %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
        <p>{{ t('You need to give {{ claimantName }} details of your finances.', { claimantName: claimantFullName }) }}</p>
        <p> {{ t('We`ll ask you for the details then we`ll send them to {{ claimantName }} to review.', { claimantName: claimantFullName }) }}</p>
        <p>{{ t('If they reject your proposal, the court will make a new plan using your financial details.') }}</p>
      <div>
        <a class="button" href="{{ nextPageLink }}" role="button">{{ t('Continue') }}</a>
      </div>
    </div>
  </div>
{% endblock %}
