{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, radioOption, numericInput, saveAndContinueButton, errorSummary %}

{% set heading = 'Do you or your partner pay maintenance for any children?' %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <form method="post" novalidate
        class="analytics-submit-event-trigger"
        data-event-action="SoM: Do you or your partner pay maintenance for any children?"
        data-event-label-from="declared">

        {{ csrfProtection(csrf) }}

        {% set errorOption = form.errorFor('declared') %}
        <fieldset id="declared[label]" class="form-group {% if errorOption %} form-group-error {% endif %}">
          <legend class="visually-hidden">{{ t('Do you or your partner pay maintenance for any children?') }}</legend>

          {% if errorOption %}<span class="error-message">{{ t(errorOption) }}</span>{% endif %}

          {{
            radioOption(form = form, label = 'Yes', name = 'declared', value = 'true', checked = form.valueFor('declared') === true)
          }}

          <div class="form-group panel panel-border-narrow js-hidden"
            id="declared-true"
            aria-hidden="false">

            {{ numericInput('How many?', 'value', form) }}

          </div>

          {{
            radioOption(form = form, label = 'No', name = 'declared', value = 'false', checked = form.valueFor('declared') === false)
          }}

        </fieldset>

        {{ saveAndContinueButton() }}

      </form>
    </div>
  </div>
{% endblock %}
