{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, radioOption, textInput, saveAndContinueButton, errorSummary %}
{% from "date.njk" import dateInput %}

{% set title = 'Money claim' %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">{{ t('Do you or your partner pay maintenance for any children?') }}</h1>

      <form method="post" novalidate
        class="analytics-submit-event-trigger"
        data-event-action="SoM: Do you or your partner pay maintenance for any children?"
        data-event-label-from="option">

        {{ csrfProtection(csrf) }}

        {% set errorOption = form.errorFor('option') %}
        <fieldset id="option[label]" class="form-group {% if errorOption %} form-group-error {% endif %}">
          <legend class="visually-hidden">{{ t('Do you or your partner pay maintenance for any children?') }}</legend>

          {% if error %}<span class="error-message">{{ t(errorOption) }}</span>{% endif %}

          {{
            radioOption(form = form, label = 'Yes', name = 'option', value = 'true', checked = form.valueFor('option') === true)
          }}

          <div class="form-group panel panel-border-narrow js-hidden"
            id="option-true"
            aria-hidden="false">

            {{ textInput('Number of children', 'value', form) }}

          </div>

          {{
            radioOption(form = form, label = 'No', name = 'option', value = 'false', checked = form.valueFor('option') === false)
          }}

        </fieldset>

        {{ saveAndContinueButton() }}

      </form>
    </div>
  </div>
{% endblock %}
