{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, linkButton, saveAndContinueButton, errorSummary, option, linkButton %}
{% from "../macro/statement-of-means/incomeExpenseSource.njk" import incomeExpenseSource %}

{% block additional_scripts %}
  {% include "expandable-checkbox-option-scripts.njk" %}
  {% include "income-expense-scripts.njk" %}
{% endblock %}

{% set heading = 'What regular income do you receive?' %}

{% block content %}

<div class="grid-row">
  <div class="column-two-thirds">
    <p>{{ t('Select all that apply. The information you enter must be truthful and accurate.') }} </p>

    <form method="post" novalidate class="income-expense-calculation">
      {{ csrfProtection(csrf) }}

      {{ incomeSource(form, name = 'salarySource', label = 'Income from your job', hint = 'Include wages, overtime, commission, bonuses') }}
      {{ incomeSource(form, name = 'universalCreditSource', label = 'Universal Credit') }}
      {{ incomeSource(form, name = 'jobseekerAllowanceIncomeSource', label = 'Jobseeker’s Allowance (income based)') }}
      {{ incomeSource(form, name = 'jobseekerAllowanceContributionSource', label = 'Jobseeker’s Allowance (contribution based)') }}
      {{ incomeSource(form, name = 'incomeSupportSource', label = 'Income Support') }}
      {{ incomeSource(form, name = 'workingTaxCreditSource', label = 'Working Tax Credit') }}
      {{ incomeSource(form, name = 'childTaxCreditSource', label = 'Child Tax Credit') }}
      {{ incomeSource(form, name = 'childBenefitSource', label = 'Child Benefit') }}
      {{ incomeSource(form, name = 'councilTaxSupportSource', label = 'Council Tax Support') }}
      {{ incomeSource(form, name = 'pensionSource', label = 'Pension (paid to you)') }}
      {{ incomeSources(form, name = 'otherSources', label = 'Other') }}

      {{ linkButton('Recalculate total monthly income', 'action[calculateMonthlyIncome]', 'button button-secondary calculate-monthly-income-expense') }}

      <p class="heading-small calculation-outcome-container">
        {{ t('Total monthly income:') }} £<span class="total-monthly-income-expense"> {{ totalMonthlyIncomeExpense | default('0.00') }} </span>
      </p>

      {{ saveAndContinueButton() }}

    </form>
  </div>
</div>

{% endblock %}

{% macro incomeSource(form, name, label, hint) %}
  {% set checkboxName = name + 'Declared' %}

  {% call expandableCheckboxOption(form = form, name = checkboxName, value = 'true', checked = (form.valueFor(checkboxName) or (form.valueFor(name) and form.valueFor(name).populated)), label = label) %}
    {{ incomeExpenseSource(form = form, name = name, sourceLabel = 'Source of income', amountLabel = 'Amount received', amountHint = hint, scheduleLabel = 'Received every') }}
    {{ linkButton(name = 'action[resetIncomeSource][' + name + ']', label = 'Reset this income source', class = 'link-button js-hidden') }}
  {% endcall %}
{% endmacro %}

{% macro incomeSources(form, name, label, hint) %}
  {% set checkboxName = name + 'Declared' %}

  {% call expandableCheckboxOption(form = form, name = checkboxName, value = 'true', checked = (form.valueFor(checkboxName) or (form.valueFor(name) and form.model.anyOtherIncomePopulated)), label = label, additionalClasses = 'other-section') %}
    <div>
      {% for source in form.model.otherSources %}
        <div class="other-income-expense-source">
          {{ incomeExpenseSource(form = form, name = name + '[' + loop.index0 + ']', sourceLabel = 'Source of income', amountLabel = 'Amount received', amountHint = hint, scheduleLabel = 'Received every', nameEditable = true) }}
          {% if form.model.otherSources.length > 1 %}
            {{ linkButton(name = 'action[removeOtherIncomeSource][otherSources.' + loop.index0 + ']', label = 'Remove this income source', class = 'link-button') }}
          {% else %}
            {{ linkButton(name = 'action[removeOtherIncomeSource][otherSources.' + loop.index0 + ']', label = 'Remove this income source', class = 'link-button hidden') }}
            {{ linkButton(name = 'action[resetIncomeSource][' + name + '.0]', label = 'Reset this income source', class = 'link-button js-hidden') }}
          {% endif %}
        </div>
      {% endfor %}
    </div>

    {{ linkButton(name = 'action[addOtherIncomeSource]', label = 'Add another source of income', class = 'button button-secondary') }}
  {% endcall %}
{% endmacro %}

{% macro expandableCheckboxOption(form, name, value, checked = false, label, hint = '', bold = false, additionalClasses = undefined) %}
  {% set expandablePanelId = name + '-' + value | replace(' ', '') %}
  <div class="expandable-checkbox-option">
    <h3 class="heading-medium expandable">{{ t(label) }}</h3>
    {{ option(form = form, name = name, value = value, type = 'checkbox', checked = checked, label = label, hint = hint, bold = bold, hidden = true, className = 'expandable visually-hidden', dataTarget = expandablePanelId) }}
    <div class="panel panel-border-narrow expandable{{ ' ' + additionalClasses if additionalClasses }}" id="{{ expandablePanelId }}">
      {{ caller() }}
    </div>
  </div>
{% endmacro %}
