{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, textInputInline, poundInputInline, poundInput, linkButton, option, saveAndContinueButton %}
{% from "../macro/statement-of-means/incomeExpenseSource.njk" import incomeExpenseSource %}
{% from "expandableCheckboxOption.njk" import expandableCheckboxOption %}

{% set heading = 'What are your regular expenses?' %}

{% block additional_scripts %}
  {% include "income-expense-scripts.njk" %}
{% endblock %}

{% macro expenseRow(index, form) %}

  {% set prefix = 'rows[' + index + ']' %}

  {% set amountKey = prefix + '[amount]' %}
  {% set amountValue = form.valueFor(amountKey) %}
  {% set amountError = form.errorFor(amountKey) %}

  {% set descriptionKey = prefix + '[description]' %}
  {% set descriptionValue = form.valueFor(descriptionKey) %}
  {% set descriptionError = form.errorFor(descriptionKey) %}

  {% set anyErrorOccurred = amountError or descriptionError %}
  <div class="triple-column{% if anyErrorOccurred %} form-group-error {% endif %}">

    {% if amountError %}<span id="{{ amountKey }}[label]" class="error-message">{{ t(amountError) }}</span>{% endif %}
    {% if descriptionError %}<span id="{{ descriptionKey }}[label]" class="error-message">{{ t(descriptionError) }}</span>{% endif %}

    <label class="form-label-bold mobile-show" for="{{ descriptionKey }}">{{ index + 1 }} {{ t('. Name of expense') }}</label>
    {{ textInputInline(name = descriptionKey, form = form, inputClass='column-1', ariaLabelledBy = 'description-label') }}
    {{ poundInputInline(name = amountKey, label = (index + 1) + '. How much?', form = form, ariaLabelledBy = 'amount-label') }}

  </div>

{% endmacro %}

{% block content %}
<div class="grid-row">
  <div class="column-two-thirds">

    <form method="post" novalidate class="income-expense-calculation">
      {{ csrfProtection(csrf) }}

      <p>{{ t('Select all that apply. The information you enter must be truthful and accurate. Do not include any arrears repayments.') }}</p>

      {{ expenseSource(form, name = 'mortgage', label = MonthlyExpenseType.MORTGAGE.displayValue | capitalize, hint = 'Include all mortgages') }}
      {{ expenseSource(form, name = 'rent', label = MonthlyExpenseType.RENT.displayValue | capitalize) }}
      {{ expenseSource(form, name = 'councilTax', label = MonthlyExpenseType.COUNCIL_TAX.displayValue) }}
      {{ expenseSource(form, name = 'gas', label = MonthlyExpenseType.GAS.displayValue | capitalize) }}
      {{ expenseSource(form, name = 'electricity', label = MonthlyExpenseType.ELECTRICITY.displayValue | capitalize) }}
      {{ expenseSource(form, name = 'water', label = MonthlyExpenseType.WATER.displayValue | capitalize, hint = 'Include sewerage payments') }}
      {{ expenseSource(form, name = 'travel', label = MonthlyExpenseType.TRAVEL.displayValue | capitalize) }}
      {{ expenseSource(form, name = 'schoolCosts', label = MonthlyExpenseType.SCHOOL_COSTS.displayValue | capitalize) }}
      {{ expenseSource(form, name = 'foodAndHousekeeping', label = MonthlyExpenseType.FOOD_HOUSEKEEPING.displayValue | capitalize) }}
      {{ expenseSource(form, name = 'tvAndBroadband', label = MonthlyExpenseType.TV_AND_BROADBAND.displayValue) }}
      {{ expenseSource(form, name = 'hirePurchase', label = MonthlyExpenseType.HIRE_PURCHASES.displayValue | capitalize) }}
      {{ expenseSource(form, name = 'mobilePhone', label = MonthlyExpenseType.MOBILE_PHONE.displayValue | capitalize) }}
      {{ expenseSource(form, name = 'maintenance', label = MonthlyExpenseType.MAINTENANCE_PAYMENTS.displayValue | capitalize) }}
      {{ expenseSources(form, name = 'other', label = MonthlyExpenseType.OTHER.displayValue | capitalize) }}

      {{ linkButton('Recalculate total monthly expenditure', 'action[calculateMonthlyIncome]', 'button button-secondary calculate-monthly-income-expense') }}

      <p class="heading-small calculation-outcome-container" role="status" aria-live="polite">
        {{ t('Total monthly expenditure:') }} £<span class="total-monthly-income-expense"> {{ totalMonthlyExpense | default('0.00') }} </span>
      </p>

      {{ saveAndContinueButton() }}

    </form>
  </div>
</div>
{% endblock %}

{% macro expenseSource(form, name, label, hint) %}
  {% set checkboxName = name + 'Declared' %}

  {% call expandableCheckboxOption(form = form, name = checkboxName, value = 'true', checked = (form.valueFor(checkboxName) or (form.valueFor(name) and form.valueFor(name).populated)), label = label) %}
    {{ incomeExpenseSource(form = form, name = name, sourceLabel = 'Source of expense', amountLabel = 'Amount paid', amountHint = hint, scheduleLabel = 'Paid every') }}
    {{ linkButton(name = 'action[reset][' + name + ']', label = 'Reset this expense source', class = 'link-button js-hidden') }}
  {% endcall %}
{% endmacro %}

{% macro expenseSources(form, name, label, hint) %}
  {% set checkboxName = name + 'Declared' %}

  {% call expandableCheckboxOption(form = form, name = checkboxName, value = 'true', checked = (form.valueFor(checkboxName) or (form.valueFor(name) and form.model.anyOtherExpensePopulated)), label = label, additionalClasses = 'other-section') %}
    <div>
      {% for source in form.model.other %}
        <div class="other-income-expense-source">
          {{ incomeExpenseSource(form = form, name = name + '[' + loop.index0 + ']', sourceLabel = 'Source of expense', amountLabel = 'Amount paid', amountHint = hint, scheduleLabel = 'Paid every', nameEditable = true) }}
          {% if form.model.other.length > 1 %}
            {{ linkButton(name = 'action[removeOther][other.' + loop.index0 + ']', label = 'Remove this expense source', class = 'link-button') }}
          {% else %}
            {{ linkButton(name = 'action[removeOther][other.' + loop.index0 + ']', label = 'Remove this expense source', class = 'link-button hidden') }}
            {{ linkButton(name = 'action[reset][' + name + '.0]', label = 'Reset this expense source', class = 'link-button js-hidden') }}
          {% endif %}
        </div>
      {% endfor %}
    </div>

    {{ linkButton(name = 'action[addOther]', label = 'Add another expense', class = 'button button-secondary') }}
  {% endcall %}
{% endmacro %}

