{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, errorSummary, radioOption, saveAndContinueButton, textInput %}

{% set heading = 'Where do you live?' %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <form
        method="POST"
        class="analytics-submit-event-trigger"
        data-event-action="SoM: Where do you live?"
        data-event-label-from="type"
        novalidate>

        {{ csrfProtection(csrf) }}

        {% set error = form.errorFor('type') %}
        <div class="form-group {% if error %} form-group-error {% endif %}">
          <fieldset id="type[label]">
            <legend class="visually-hidden">{{ t('Where do you live?') }}</legend>
            {% if error %}<span class="error-message">{{ t(error) }}</span>{% endif %}

            {% for type in ResidenceType.except(ResidenceType.OTHER) %}
              {{ radioOption(
                form = form,
                name = 'type',
                value = type.value,
                label = type.displayValue,
                bold = false,
                hint = '',
                checked = form.valueFor('type').value == type.value
              ) }}
            {% endfor %}
            <div class="multiple-choice" data-target="housing-details">
              <input id="typeOTHER" type="radio" name="type" value="{{ ResidenceType.OTHER.value }}" {% if form.valueFor('type').value == ResidenceType.OTHER.value %} checked {% endif %}>
              <label for="typeOTHER">{{ t(ResidenceType.OTHER.displayValue) }}</label>
            </div>
            <div class="panel panel-border-narrow js-hidden" id="housing-details" aria-hidden="false">
              {{ textInput('What type of housing?', 'housingDetails', form) }}
            </div>

          </fieldset>
        </div>

        {{ saveAndContinueButton() }}
      </form>

    </div>
  </div>
{% endblock %}
