{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, errorSummary, radioOption, saveAndContinueButton %}

{% set title = 'Money claim' %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">{{ t('Where are you living?') }}</h1>

      <form
        method="POST"
        class="analytics-submit-event-trigger"
        data-event-action="Response: Statement of means: Select defendant response option"
        data-event-label-from="type[value]"
        novalidate>

        {{ csrfProtection(csrf) }}

        <div class="form-group {% if error %} form-group-error {% endif %}">
          <fieldset id="type[label]">
            <legend class="visually-hidden">{{ t('Where are you living?') }}</legend>

            {{ radioOption(
              form = form,
              name = 'type[value]',
              value = 'OWN_HOME',
              label = 'Home you own yourself (including if you have a mortgage)',
              bold = false,
              hint = ''
            ) }}

            {{ radioOption(
              form = form,
              name = 'type[value]',
              value = 'JOINT_OWN_HOME',
              label = 'Jointly-owned home (including if you have a mortgage)',
              bold = false,
              hint = ''
            ) }}

            {{ radioOption(
              form = form,
              name = 'type[value]',
              value = 'PRIVATE_RENTAL',
              label = 'Private rental',
              bold = false,
              hint = ''
            ) }}

            {{ radioOption(
              form = form,
              name = 'type[value]',
              value = 'COUNCIL_OR_HOUSING_ASSN_HOME',
              label = 'Council or housing association home',
              bold = false,
              hint = ''
            ) }}

            {{ radioOption(
              form = form,
              name = 'type[value]',
              value = 'OTHER',
              label = 'Other',
              bold = false,
              hint = ''
            ) }}
          </fieldset>
        </div>

        {{ saveAndContinueButton() }}
      </form>

    </div>
  </div>
{% endblock %}
