{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, textInput, poundInput, radioOption, textArea, saveAndContinueButton, errorSummary %}

{% set title = 'Money claim' %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">{{ t('What are you self-employed as?') }}</h1>

      <form method="post" novalidate
        class="analytics-submit-event-trigger"
        data-event-action="SoM: What are you self-employed as"
        data-event-label-from="areYouBehindOnTax">

        {{ csrfProtection(csrf) }}

        <div class="form-group">
          {{ textInput('Job title', 'jobTitle', form) }}
          {{ poundInput('Annual turnover', 'annualTurnover', form) }}
        </div>

        <h2 class="heading-medium">{{ t('Are you behind on tax payments?') }}</h2>
        <p>{{ t('For example National Insurance contributions, Income Tax or VAT.') }}</p>

        {% set errorAreYouBehindOnTax = form.errorFor('areYouBehindOnTax') %}
        <fieldset id="areYouBehindOnTax[label]" class="form-group {% if errorAreYouBehindOnTax %} form-group-error {% endif %}">
          <legend class="visually-hidden">{{ t('Are you behind on tax payments?') }}</legend>

          {% if errorAreYouBehindOnTax %}<span class="error-message">{{ t(errorAreYouBehindOnTax) }}</span>{% endif %}

          {{ radioOption(form = form, label = 'Yes', name = 'areYouBehindOnTax', value = 'true', checked = form.valueFor('areYouBehindOnTax') === true) }}

          {% set error = form.errorFor('amountYouOwe') or form.errorFor('amountYouOwe') %}

          <div class="form-group panel panel-border-narrow js-hidden {% if errorCheckbox %} form-group-error {% endif %}" id="areYouBehindOnTax-true" aria-hidden="false">

            {{ poundInput('Amount you owe', 'amountYouOwe', form) }}

            {{ textArea('Reason', 'reason', form) }}
          </div>

          {{ radioOption(form = form, label = 'No', name = 'areYouBehindOnTax', value = 'false', checked = form.valueFor('areYouBehindOnTax') === false) }}

        </fieldset>

        {{ saveAndContinueButton() }}

      </form>
    </div>
  </div>
{% endblock %}
