{% extends "layout.njk" %}

{% set heading = 'What you’ll need' %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <p>{{ t('You’ll need to give details of:') }}</p>
      <ul class="list list-bullet">
        <li>{{ t('monthly bills and expenses') }}</li>
        <li>{{ t('monthly income and benefits') }}</li>
        <li>{{ t('bank balances and savings') }}</li>
        <li>{{ t('debts or court orders') }}</li>
      </ul>

      <div class="notice">
        <i class="icon icon-important"><span class="visually-hidden">{{ t('Warning') }}</span></i>
        <strong class="bold-small">{{ t('You could be fined or imprisoned if you give false information.') }}</strong>
      </div>

      <div class="form-group">
        <a class="button" href="{{ nextPageLink }}" role="button">{{ t('Continue') }}</a>
      </div>
    </div>
  </div>
{% endblock %}
