{% from "internalLink.njk" import internalLink %}

{% macro aboutClaimWidget(user, claim, showResponse = true) %}

{% if user.id === claim.claimantId %}
  {% set otherPartyLabel = 'Defendant name:' %}
  {% set otherPartyName = claim.claimData.defendant.name %}
  {% set responseLabel = 'Defendant’s response:' %}
{% elif user.id === claim.defendantId %}
  {% set otherPartyLabel = 'Claimant name:' %}
  {% set otherPartyName = claim.claimData.claimant.name %}
  {% set responseLabel = 'Your response:' %}
{% endif %}

<div class="about-claim-widget">
  <p class="heading-small">{{ t('About claim') }}</p>
  <ul class="font-xsmall list">
    <li>
      <strong class="bold">{{ t(otherPartyLabel) }}</strong>
      <a class="block" {{ internalLink(t(otherPartyName), DashboardPaths.contactThemPage.evaluateUri({ externalId: claim.externalId })) }}</a>
    </li>
    <li>
      <strong class="bold">{{ t('Claim amount:') }}</strong>
      <div>{{ claim.totalAmountTillToday | numeral }}</div>
    </li>
    <li>
      <strong class="bold">{{ t('Claim details:') }}</strong>
      <a class="block" href="{{ ResponsePaths.claimDetailsPage.evaluateUri({ externalId: claim.externalId }) }}">{{ t('View claim') }}</a>
    </li>
    {% if showResponse and claim.response %}
      <li>
        <strong class="bold">{{ t(responseLabel) }}</strong>
        <a class="block" href="{{ ResponsePaths.receiptReceiver.evaluateUri({ externalId: claim.externalId }) }}">{{ t('Download response') }}</a>
      </li>
    {% endif %}
  </ul>
</div>

{% endmacro %}
