{% macro paperFormAddress() %}

  <ul class="list">
    <li>County Court Money Claims Centre</li>
    <li>PO Box 527</li>
    <li>Salford</li>
    <li>Greater Manchester</li>
    <li>M5 0BY</li>
    <li>DX: 702634 Salford 5</li>
  </ul>

{% endmacro %}

