{% from "callCharges.njk" import callCharges %}

{% macro mcolSupportWidget(label = 'Help and advice') %}
  <h2 class="heading-medium">{{ t(label) }}</h2>
  <pre>{{ t('Money Claim Online helpdesk') }}</pre>
  <pre>{{ t('Email: ccbc@hmcts.gsi.gov.uk') }}</pre>
  <pre>{{ t('Telephone: 0300 123 1057') }}</pre>
  <pre>{{ t('Monday to Friday, 8:30am to 5pm') }}</pre>
  {{ callCharges() }}
{% endmacro %}
