{% from "timeRemaining.njk" import timeRemaining %}

{% macro _viewResponseLink (externalId) %}
  <a href="{{ ResponsePaths.summaryPage.evaluateUri({ externalId: externalId }) }}">{{ t('View full response') }}</a>
{% endmacro %}

{% macro caseStatusForDefendant(status, claim, url, isAfter4pm) %}
  {% set claimantName = claim.claimData.claimant.name %}
  {% if status === ClaimStatus.OFFER_SETTLEMENT_REACHED %}
    {{ t('You’ve both signed a legal agreement. The claim is now settled.') }}
  {% elseif status === ClaimStatus.ELIGIBLE_FOR_CCJ %}
    {{ t('You did not respond by the deadline. {{ claimantName }} can request a County Court Judgment (CCJ) against you. '
    + 'You can still respond until they do.',
    { claimantName: claimantName } ) }}
  {% elseif status === ClaimStatus.CCJ_REQUESTED %}
    {{ t('The claimant has requested a County Court Judgement (CCJ) against you on {{ ccjRequestedAt }}.',
    { ccjRequestedAt: claim.countyCourtJudgmentRequestedAt | date }) }}
  {% elseif status === ClaimStatus.CLAIM_REJECTED %}
    {% if claim.response.defenceType === DefenceType.ALREADY_PAID %}
      {{ t('We’ve emailed {{ claimantName }} telling them when and how you paid the claim.',
      { claimantName: claimantName }) }}
    {% elif claim.response.freeMediation === FreeMediationOption.NO %}
      {{ t('You’ve rejected the claim.' ) }}
    {% else %}
      {{ t('You’ve rejected the claim and suggested mediation. '
      + 'We’ll ask the claimant if they agree to take part in mediation.') }}
    {% endif %}
  {% elseif status === ClaimStatus.OFFER_ACCEPTED %}
    {{ t('The claimant has accepted your offer. You need to sign a legal agreement to settle out of court.') }}
    <p>{{ t('You have rejected the claim.') }}</p>
  {% elseif status === ClaimStatus.OFFER_REJECTED %}
       {{ t('The claimant has rejected your offer.') }}
    <p>{{ t('You have rejected the claim.') }}</p>
  {% elseif status === ClaimStatus.OFFER_SUBMITTED %}
    {{ t('Your offer has been sent to the claimant.') }}
    <p>{{ t('You have rejected the claim.') }}</p>
  {% elseif status === ClaimStatus.MORE_TIME_REQUESTED %}
    {{ t('You need to respond by {{ responseDeadline }}.',
    { responseDeadline: claim.responseDeadline | date }) }}
  {% elseif status === ClaimStatus.NO_RESPONSE %}
    <a href="{{ url }}">{{ t('Respond to claim') }}</a>
    <span class="block mobile-inline">
      {{ timeRemaining(claim.remainingDays, isAfter4pm) }}
    </span>
  {% endif %}
{% endmacro %}

{% macro caseStatusForClaimant(status, claim, url) %}
  {% set defendantName = claim.claimData.defendant.name %}
  {% if status === ClaimStatus.CCJ_REQUESTED %}
    {{ t('You requested a County Court Judgment on {{ ccjRequestedAt }}.',
    { ccjRequestedAt: claim.countyCourtJudgmentRequestedAt | date }) }}
  {% elseif status === ClaimStatus.ELIGIBLE_FOR_CCJ %}
    <p>{{ t('The defendant has not responded to your claim. You can request a County Court Judgment against them.') }}</p>
  {% elseif status === ClaimStatus.OFFER_SETTLEMENT_REACHED %}
    {{ t('You’ve both signed a legal agreement. The claim is now settled.') }}
  {% elseif status === ClaimStatus.CLAIM_REJECTED %}
    {% if claim.response.defenceType === DefenceType.ALREADY_PAID %}
        {{ t('{{ defendantName }} believes that they’ve paid the claim in full. ',
        { defendantName: defendantName }) }}
    {% else %}
      {% if claim.response.freeMediation === FreeMediationOption.YES %}
        {{ t('{{ defendantName }} has rejected the claim. '
          + 'They’ve suggested free mediation on {{ respondedAt }}. You can accept or reject',
          { defendantName: defendantName, respondedAt: claim.respondedAt | date }) }}
      {% else %}
        {{ t('{{ defendantName }} has rejected your claim.',
        { defendantName:  defendantName }) }}
      {% endif %}
    {% endif %}
  {% elseif status === ClaimStatus.OFFER_ACCEPTED %}
    {{ t('You’ve signed the agreement. We’ve asked {{ defendantName }} to sign the agreement.',
    { defendantName: defendantName }) }}
  {% elseif status === ClaimStatus.OFFER_REJECTED %}
    {{ t('You’ve rejected an offer to settle out of court.') }}
    <p>
      {{ t('{{ defendantName }} has rejected your claim.',
      { defendantName:  claim.claimData.defendant.name }) }}
    </p>
  {% elseif status === ClaimStatus.OFFER_SUBMITTED %}
    <p>
      {{ t('The defendant has made an offer to settle out of court.') }}
    </p>
    {{ t('{{ defendantName }} has rejected your claim.',
    { defendantName:  claim.claimData.defendant.name }) }}
  {% elseif status === ClaimStatus.MORE_TIME_REQUESTED %}
    {{ t('{{ defendantName }} has requested more time to respond.',
    { defendantName: claim.claimData.defendant.name }) }}
  {% elseif status === ClaimStatus.NO_RESPONSE %}
    {{ t('Your claim has been sent.') }}
  {% endif %}
{% endmacro %}
