{% from "timeRemaining.njk" import timeRemaining %}

{% from "./claimDetails/noReponse.njk" import noResponseForClaimantDashboard, noResponseForDefendantDashboard %}
{% from "./claimDetails/moreTimeRequested.njk" import
moreTimeRequestedForClaimantDashboard,
moreTimeRequestedForDefendantDashboard %}

{% from "./claimDetails/ccjEligible.njk" import
ccjEligibleForClaimantDashboard,
ccjEligibleForDefendantDashboard %}
{% from "./claimDetails/ccjRequested.njk" import
ccjRequestedForClaimantDashboard,
ccjRequestedForDefendantDashboard %}

{% from "./claimDetails/claimRejected.njk" import
claimRejectedAlreadyPaidForClaimantDashboard,
claimRejectedAlreadyPaidForDefendantDashboard,
claimRejectedFreeMediationNOForClaimantDashboard,
claimRejectedFreeMediationNOForDefendantDashboard,
claimRejectedFreeMediationYESForClaimantDashboard,
claimRejectedFreeMediationYESForDefendantDashboard %}

{% from "./claimDetails/offerSubmitted.njk" import offerSubmittedForClaimantDashboard, offerSubmittedForDefendantDashboard %}
{% from "./claimDetails/offerAccepted.njk" import offerAcceptedForClaimantDashboard, offerAcceptedForDefendantDashboard %}
{% from "./claimDetails/offerRejected.njk" import offerRejectedForClaimantDashboard, offerRejectedForDefendantDashboard %}
{% from "./claimDetails/offerSettlement.njk" import offerSettlementReachedDashboard %}

{% macro _viewResponseLink (externalId) %}
  <a href="{{ ResponsePaths.summaryPage.evaluateUri({ externalId: externalId }) }}">{{ t('View full response') }}</a>
{% endmacro %}

{% macro caseStatusForClaimant(status, claim, url) %}
  {% if status === ClaimStatus.NO_RESPONSE %}
      {{ noResponseForClaimantDashboard(claim) }}
    {% elif status === ClaimStatus.MORE_TIME_REQUESTED %}
      {{ moreTimeRequestedForClaimantDashboard(claim) }}
    {% elif status === ClaimStatus.ELIGIBLE_FOR_CCJ %}
      {{ ccjEligibleForClaimantDashboard(claim) }}
    {% elif status === ClaimStatus.CCJ_REQUESTED %}
      {{ ccjRequestedForClaimantDashboard(claim) }}
    {% elif status === ClaimStatus.CLAIM_REJECTED %}
      {% if claim.response.defenceType === DefenceType.ALREADY_PAID %}
         {{ claimRejectedAlreadyPaidForClaimantDashboard(claim) }}
        {% elif claim.response.freeMediation === FreeMediationOption.NO %}
         {{ claimRejectedFreeMediationNOForClaimantDashboard(claim) }}
      {% else %}
        {{ claimRejectedFreeMediationYESForClaimantDashboard(claim) }}
      {% endif %}
    {% elif status === ClaimStatus.OFFER_SUBMITTED %}
      {{ offerSubmittedForClaimantDashboard(claim) }}
    {% elif status === ClaimStatus.OFFER_REJECTED %}
      {{ offerRejectedForClaimantDashboard(claim) }}
    {% elif status === ClaimStatus.OFFER_ACCEPTED %}
      {{ offerAcceptedForClaimantDashboard(claim) }}
    {% elif status === ClaimStatus.OFFER_SETTLEMENT_REACHED %}
      {{ offerSettlementReachedDashboard(claim) }}
  {% endif %}
{% endmacro %}


{% macro caseStatusForDefendant(status, claim, url, isAfter4pm) %}
  {% if status === ClaimStatus.NO_RESPONSE %}
      {{ noResponseForDefendantDashboard(claim, url) }}
    {% elif status === ClaimStatus.MORE_TIME_REQUESTED %}
      {{ moreTimeRequestedForDefendantDashboard(claim) }}
    {% elif status === ClaimStatus.ELIGIBLE_FOR_CCJ %}
      {{ ccjEligibleForDefendantDashboard(claim) }}
    {% elif status === ClaimStatus.CCJ_REQUESTED %}
      {{ ccjRequestedForDefendantDashboard(claim) }}
    {% elif status === ClaimStatus.CLAIM_REJECTED %}
    {% if claim.response.defenceType === DefenceType.ALREADY_PAID %}
        {{ claimRejectedAlreadyPaidForDefendantDashboard(claim) }}
      {% elif claim.response.freeMediation === FreeMediationOption.NO %}
        {{ claimRejectedFreeMediationNOForDefendantDashboard(claim) }}
    {% else %}
      {{ claimRejectedFreeMediationYESForDefendantDashboard(claim) }}
    {% endif %}
    {% elif status === ClaimStatus.OFFER_SUBMITTED %}
      {{ offerSubmittedForDefendantDashboard(claim) }}
    {% elif status === ClaimStatus.OFFER_REJECTED %}
      {{ offerRejectedForDefendantDashboard(claim) }}
    {% elif status === ClaimStatus.OFFER_ACCEPTED %}
      {{ offerAcceptedForDefendantDashboard(claim) }}
    {% elif status === ClaimStatus.OFFER_SETTLEMENT_REACHED %}
      {{ offerSettlementReachedDashboard(claim) }}
  {% endif %}
{% endmacro %}
