{% from "./claimStatus/noReponse.njk" import
  noResponseForClaimantDashboard,
  noResponseForDefendantDashboard %}
{% from "./claimStatus/moreTimeRequested.njk" import
  moreTimeRequestedForClaimantDashboard,
  moreTimeRequestedForDefendantDashboard %}

{% from "./claimStatus/ccjEligible.njk" import
  ccjEligibleForClaimantDashboard,
  ccjEligibleForDefendantDashboard %}
{% from "./claimStatus/ccjRequested.njk" import
  ccjRequestedForClaimantDashboard,
  ccjRequestedForDefendantDashboard %}

{% from "./claimStatus/claimRejected.njk" import
  claimRejectedAlreadyPaidForClaimantDashboard,
  claimRejectedAlreadyPaidForDefendantDashboard,
  claimRejectedFreeMediationNOForClaimantDashboard,
  claimRejectedFreeMediationNOForDefendantDashboard,
  claimRejectedFreeMediationYESForClaimantDashboard,
  claimRejectedFreeMediationYESForDefendantDashboard %}

{% from "./claimStatus/claimPartAdmitted.njk" import
  claimPartAdmittedToOweForDefendantDashboard %}

{% from "./claimStatus/claimFullyAdmitted.njk" import
  claimFullAdmissionForClaimantDashboard,
  claimFullAdmissionForDefendantDashboard %}

{% from "./claimStatus/statesPaid.njk" import
  paidAmountForClaimantDashboard,
  paidAmountForDefendantDashboard,
  paidLessThanClaimedForClaimantDashboard
   %}

{% from "./claimStatus/offerSubmitted.njk" import
  offerSubmittedForClaimantDashboard,
  offerSubmittedForDefendantDashboard %}
{% from "./claimStatus/offerAccepted.njk" import
  offerAcceptedForClaimantDashboard,
  offerAcceptedForDefendantDashboard %}
{% from "./claimStatus/offerRejected.njk" import
  offerRejectedForClaimantDashboard,
  offerRejectedForDefendantDashboard %}

{% from "./claimStatus/offerSettlement.njk" import offerSettlementReachedDashboard %}

{% macro caseDashboardStatusForClaimant(status, claim) %}
  {% if status === ClaimStatus.NO_RESPONSE %}
    {{ noResponseForClaimantDashboard() }}
  {% elif status === ClaimStatus.MORE_TIME_REQUESTED %}
    {{ moreTimeRequestedForClaimantDashboard(claim) }}
  {% elif status === ClaimStatus.ELIGIBLE_FOR_CCJ %}
    {{ ccjEligibleForClaimantDashboard() }}
  {% elif status === ClaimStatus.CCJ_REQUESTED %}
    {{ ccjRequestedForClaimantDashboard(claim) }}
  {% elif status === ClaimStatus.RESPONSE_SUBMITTED %}
    {% if claim.response.responseType === domain.ResponseType.FULL_DEFENCE %}
      {% if claim.response.defenceType === DefenceType.ALREADY_PAID %}
        {% if (FeatureToggles.isEnabled('admissions')) %}
          {% if paidInFull %}
            {{ paidAmountForClaimantDashboard(claim) }}
            {% else %}
              {{ paidLessThanClaimedForClaimantDashboard(claim) }}
          {% elseif %}
            {{ claimRejectedAlreadyPaidForClaimantDashboard(claim) }}
        {% endif %}
      {% elif claim.response.freeMediation === FreeMediationOption.NO %}
        {{ claimRejectedFreeMediationNOForClaimantDashboard(claim) }}
      {% else %}
        {{ claimRejectedFreeMediationYESForClaimantDashboard(claim) }}
      {% endif %}
    {% elif claim.response.responseType === domain.ResponseType.PART_ADMISSION %}
      {% if claim.response.paymentDeclaration %}
        {{ paidAmountForClaimantDashboard(claim) }}
      {% else %}
        {{ paidLessThanClaimedForClaimantDashboard(claim) }}
      {% endif %}
    {% elif claim.response.responseType === domain.ResponseType.FULL_ADMISSION %}
      {{ claimFullAdmissionForClaimantDashboard(claim) }}
    {% endif %}
  {% elif status === ClaimStatus.OFFER_SUBMITTED %}
    {{ offerSubmittedForClaimantDashboard(claim) }}
  {% elif status === ClaimStatus.OFFER_REJECTED %}
    {{ offerRejectedForClaimantDashboard(claim) }}
  {% elif status === ClaimStatus.OFFER_ACCEPTED %}
    {{ offerAcceptedForClaimantDashboard(claim) }}
  {% elif status === ClaimStatus.OFFER_SETTLEMENT_REACHED %}
    {{ offerSettlementReachedDashboard() }}
  {% endif %}
{% endmacro %}

{% macro caseDashboardStatusForDefendant(status, claim) %}
  {% if status === ClaimStatus.NO_RESPONSE %}
    {{ noResponseForDefendantDashboard(claim) }}
    {% elif status === ClaimStatus.MORE_TIME_REQUESTED %}
    {{ moreTimeRequestedForDefendantDashboard(claim) }}
    {% elif status === ClaimStatus.ELIGIBLE_FOR_CCJ %}
    {{ ccjEligibleForDefendantDashboard(claim) }}
    {% elif status === ClaimStatus.CCJ_REQUESTED %}
    {{ ccjRequestedForDefendantDashboard(claim) }}
    {% elif status === ClaimStatus.RESPONSE_SUBMITTED %}
      {% if claim.response.responseType === domain.ResponseType.FULL_DEFENCE %}
        {% if claim.response.defenceType === DefenceType.ALREADY_PAID %}
          {% if (FeatureToggles.isEnabled('admissions')) %}
            {{ paidAmountForDefendantDashboard(claim) }}
          {% elseif %}
            {{ claimRejectedAlreadyPaidForDefendantDashboard(claim) }}
          {% endif %}
          {% elif claim.response.freeMediation === FreeMediationOption.NO %}
          {{ claimRejectedFreeMediationNOForDefendantDashboard() }}
        {% else %}
          {{ claimRejectedFreeMediationYESForDefendantDashboard() }}
        {% endif %}
      {% elif claim.response.responseType === domain.ResponseType.PART_ADMISSION %}
        {% if claim.response.paymentDeclaration %}
          {{ paidAmountForDefendantDashboard(claim) }}
        {% else %}
          {{ claimPartAdmittedToOweForDefendantDashboard(claim) }}
        {% endif %}
      {% elif claim.response.responseType === domain.ResponseType.FULL_ADMISSION %}
        {{ claimFullAdmissionForDefendantDashboard(claim) }}
      {% endif %}
    {% elif status === ClaimStatus.OFFER_SUBMITTED %}
    {{ offerSubmittedForDefendantDashboard() }}
    {% elif status === ClaimStatus.OFFER_REJECTED %}
    {{ offerRejectedForDefendantDashboard() }}
    {% elif status === ClaimStatus.OFFER_ACCEPTED %}
    {{ offerAcceptedForDefendantDashboard() }}
    {% elif status === ClaimStatus.OFFER_SETTLEMENT_REACHED %}
    {{ offerSettlementReachedDashboard() }}
  {% endif %}
{% endmacro %}
