{% macro cmcCorrespondenceAddress() %}
<ul class="panel">
  <li>{{ t('Civil Money Claims') }}</li>
  <li>{{ t('St. Katharine’s House') }}</li>
  <li>{{ t('21-27 St. Katharine’s Street') }}</li>
  <li>{{ t('Northampton') }}</li>
  <li>{{ t('NN1 2LH') }}</li>
</ul>
{% endmacro %}
