{% extends "layout.njk" %}
{% from "form.njk" import linkButton, csrfProtection, errorSummary %}
{% from "date.njk" import dateInput %}

{% set heading = 'Create Claim Draft' %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <form method="post" novalidate>
        {{ csrfProtection(csrf) }}

        <div class="notice">
          {{ linkButton('Create Claim Draft', 'claim', 'button button-secondary') }}
        </div>

      </form>
    </div>
  </div>
{% endblock %}
