{% extends "layout.njk" %}
{% from "form.njk" import linkButton, csrfProtection, errorSummary %}
{% from "date.njk" import dateInput %}

{% set heading = 'Delete drafts' %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <form method="post" novalidate>
        {{ csrfProtection(csrf) }}

        <div class="notice">
          {{ linkButton('Delete claim draft', 'action[claim]', 'button button-secondary') }}
        </div>
        <div class="notice">
          {{ linkButton('Delete response drafts', 'action[response]', 'button button-secondary') }}
        </div>
        <div class="notice">
          {{ linkButton('Delete ccj drafts', 'action[ccj]', 'button button-secondary') }}
        </div>
        <div class="notice">
          {{ linkButton('Delete claimant response drafts', 'action[claimantResponse]', 'button button-secondary') }}
        </div>
        <div class="notice">
          {{ linkButton('Delete mediation drafts', 'action[mediation]', 'button button-secondary') }}
        </div>
        <div class="notice">
          {{ linkButton('Delete DQ drafts', 'action[directionsQuestionnaire]', 'button button-secondary') }}
        </div>
        <div class="notice">
          {{ linkButton('Delete Review Order drafts', 'action[orders]', 'button button-secondary') }}
        </div>
      </form>
    </div>
  </div>
{% endblock %}
