{% extends "layout.njk" %}

{% set title = 'Testing support' %}
{% set heading = t('Testing support') %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <div>
        <a href="{{ paths.updateResponseDeadlinePage.uri }}">{{ t('Update response deadline') }}</a>
      </div>
      <div>
        <a href="{{ paths.createClaimDraftPage.uri }}">{{ t('Create Claim Draft') }}</a>
      </div>
      <div>
        <a href="{{ paths.deleteDraftsPage.uri }}">{{ t('Delete Drafts') }}</a>
      </div>
    </div>
  </div>
{% endblock %}
