{% extends "layout.njk" %}
{% from "form.njk" import textInput, csrfProtection, submitButton, errorSummary %}
{% from "date.njk" import dateInput %}

{% set heading = 'Update response deadline' %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <form method="post" novalidate>
        {{ csrfProtection(csrf) }}

        {{ textInput('Claim number', 'claimNumber', form) }}
        {{ dateInput('date', form, visuallyHiddenLabelValue = 'deadline date') }}

        {{ submitButton() }}
      </form>
    </div>
  </div>
{% endblock %}
