{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, textInput, poundInput, radioOption, textArea, saveAndContinueButton, errorSummary %}

{% set heading = 'Are you behind on tax payments?' %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <form method="post" novalidate
        class="analytics-submit-event-trigger"
        data-event-action="SoM: What are you self-employed as"
        data-event-label-from="behindOnTaxPayments">

        {{ csrfProtection(csrf) }}

        <p>{{ t('For example National Insurance contributions, Income Tax or VAT.') }}</p>

        {% set errorBehindOnTaxPayments = form.errorFor('behindOnTaxPayments') %}
        <fieldset id="behindOnTaxPayments[label]" class="form-group {% if errorBehindOnTaxPayments %} form-group-error {% endif %}">
          <legend class="visually-hidden">{{ t('Are you behind on tax payments?') }}</legend>

          {% if errorBehindOnTaxPayments %}<span class="error-message">{{ t(errorBehindOnTaxPayments) }}</span>{% endif %}

          {{ radioOption(form = form, label = 'Yes', name = 'behindOnTaxPayments', value = 'true', checked = form.valueFor('behindOnTaxPayments') === true) }}

          {% set error = form.errorFor('amountYouOwe') or form.errorFor('amountYouOwe') %}

          <div class="form-group panel panel-border-narrow js-hidden {% if errorCheckbox %} form-group-error {% endif %}" id="behindOnTaxPayments-true" aria-hidden="false">

            {{ poundInput('Amount you owe', 'amountYouOwe', form) }}

            {{ textArea('Reason', 'reason', form) }}
          </div>

          {{ radioOption(form = form, label = 'No', name = 'behindOnTaxPayments', value = 'false', checked = form.valueFor('behindOnTaxPayments') === false) }}

        </fieldset>

        {{ saveAndContinueButton() }}

      </form>
    </div>
  </div>
{% endblock %}
