<div class="phase-banner-beta">
  <p>
    <strong class="phase-tag">{{ t('BETA') }}</strong>
    <span>
      {{
        t(
          'This is a new service – your <a target="_blank" rel="noreferrer noopener" href="{{ url }}?pageurl={{ path }}">feedback</a> will help us to improve it. (opens in a new window)',
          { url: betaFeedbackSurveyUrl, path: pagePath }
        ) | safe
      }}
    </span>
  </p>
</div>
