<div class="header-proposition">
  <div class="content">
    <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
    <nav id="proposition-menu">
      <span id="proposition-name">{% if serviceName %} {{ t(serviceName) }} {% endif %}</span>
      <ul id="proposition-links">
        {% if isLoggedIn %}
        <li><a href="/logout?from={{ logoutFrom }}">{{ t('Sign out') }}</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
</div>
