{% from "internalLink.njk" import internalLink %}

<div class="header-proposition">
  <div class="content">
    {{ internalLink(t('Menu'), '#proposition-links', 'js-header-toggle menu') }}
    <nav id="proposition-menu">
      {% if serviceName %}
        {{ internalLink(t(serviceName), AppPaths.homePage.uri, id='proposition-name') }}
      {% endif %}
      <ul id="proposition-links" class="pull-right">
        {% if isLoggedIn === true and isFirstContactPath === false %}
          <li>{{ internalLink(t('My account'), DashboardPaths.dashboardPage.uri) }}</li>
          <li>{{ internalLink(t('Sign out'), AppPaths.logoutReceiver.uri) }}</li>
        {% endif %}
      </ul>
    </nav>
  </div>
</div>
