{% from "internalLink.njk" import internalLink %}

<div class="header-proposition">
  <div class="content">
    {{ internalLink(t('Menu'), '#proposition-links', 'js-header-toggle menu') }}
    <nav id="proposition-menu">
      {% if serviceName %}
        {{ internalLink(t(serviceName), '/', id='proposition-name') }}
      {% endif %}
      <ul id="proposition-links" class="pull-right">
        {% if isLoggedIn %}
          <li>{{ internalLink(t('My account'), '/dashboard') }}</li>
          <li>{{ internalLink(t('Sign out'), '/logout') }}</li>
        {% endif %}
      </ul>
    </nav>
  </div>
</div>
