<noscript>
    <img src="{{ asset_paths['images'] }}/misc/noJS.png" width="1" height="1" />
</noscript>
<!-- Javascript -->
<script src="{{ asset_paths['js_vendor'] }}/jquery.min.js"></script>
<script src="{{ asset_paths['js_vendor'] }}/govuk/shim-links-with-button-role.js"></script>
<script src="{{ asset_paths['js'] }}/show-hide-content-patched.js"></script>

<script src="{{ asset_paths['js'] }}/application.js"></script>
<script src="{{ asset_paths['js'] }}/detectJavascript.js"></script>
<script src="{{ asset_paths['js'] }}/analytics.js"></script>
<script src="{{ asset_paths['js'] }}/analytics-custom-event-sender.js?2017-10-11"></script>
<script src="{{ asset_paths['js_vendor'] }}/nodelist-foreach-polyfill.js"></script>
<script src="{{ asset_paths['js'] }}/double-click-preventer.js"></script>
<script src="{{ asset_paths['js'] }}/expandable-checkbox-option.js"></script>

{% if development %}
<script src="https://localhost:35729/livereload.js"></script>
<script src="{{ asset_paths['js'] }}/lib/htmlcs/HTMLCS.js"></script>
<script src="{{ asset_paths['js'] }}/a11y.js"></script>
{% endif %}

{% if featureToggles.testingSupport %}
<script src="{{ asset_paths['webchat'] }}/javascript/hmcts-webchat.js"></script>
<script src="{{ asset_paths['webchat'] }}/javascript/webchart-init.js"></script>
{% endif %}
