{% from "externalLink.njk" import externalLink %}

{% if development %}
  <p>{{ externalLink('What did you think of this service?', 'http://www.smartsurvey.co.uk/s/not-a-real-service-survey/' + pagePath, 'Survey link clicked') }}</p>
{% else %}
  <p>{{ externalLink('What did you think of this service?', 'https://www.smartsurvey.co.uk/s/CMC_ExitSurvey_Defendant/?pageUrl=' + pagePath, 'Survey link clicked') }}</p>
{% endif %}
