<ul>
  <li>
    <a href="/cookies">Cookies</a>
  </li>

  <li>
    <a href="/privacy-policy">Privacy Policy</a>
  </li>

    <li>
    <a href="/terms-and-conditions">Terms and conditions</a>
  </li>

  <li>
    <a href="https://www.gov.uk/help">Help using GOV.UK</a>
  </li>
</ul>

<ul>
  {% if featureToggles.testingSupport %}
    <li>
      <a href="/testing-support">Testing support</a>
    </li>
  {% endif %}
</ul>
