{% from "internalLink.njk" import internalLink %}

<ul>
    <li>
      {{ internalLink(t('Cookies'), AppPaths.cookiesPage.uri) }}
    </li>
    <li>
      {{ internalLink(t('Privacy Policy'), AppPaths.privacyPolicyPage.uri) }}
    </li>
    <li>
      {{ internalLink(t('Terms and conditions'), AppPaths.termsAndConditionsPage.uri) }}
    </li>
    <li>
      {{ internalLink(t('Help using GOV.UK'), 'https://www.gov.uk/help') }}
    </li>
    <li>
      {{ internalLink(t('Contact us'), AppPaths.contactUsPage.uri) }}
    </li>
    <li>
      {{ internalLink(t('Accessibility statement'), AppPaths.accessibilityPage.uri) }}
    </li>
  {% if featureToggles.testingSupport %}
    <li>
      {{ internalLink(t('Testing support'), TestingSupportPaths.indexPage.uri) }}
    </li>
  {% endif %}
</ul>
