{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, radioOption, textArea, saveAndContinueButton %}

{% set heading = 'Determination Without Hearing Questions' %}

{% block content %}

<div class="grid-row">
  <div class="column-two-thirds">
    <form method="post" class="analytics-submit-event-trigger" data-event-action="DQ: Determination Without Hearing Questions" data-event-label-from="determinationWithoutHearingQuestions" novalidate>
      {{ csrfProtection(csrf) }}

      {% set error = form.errorFor('determinationWithoutHearingQuestions') %}
      <fieldset id="determinationWithoutHearingQuestions[label]" class="form-group {% if error %} form-group-error {% endif %}">
        <legend class="visually-hidden">{{ t(heading) }}</legend>

        <p>{{ t('Question 1: i.e. by a judge reading and considering the case papers, witness statements and other documents filed by the parties, making a decision, and giving a note of reasons for that decision?') }}</p>
        {% if error %}<span class="error-message">{{ t(error) }}</span>{% endif %}

        {{ radioOption(label = 'Yes', name = 'determinationWithoutHearingQuestions', value = YesNoOption.YES.option, checked = form.valueFor('determinationWithoutHearingQuestions').option === YesNoOption.YES.option) }}

        <div class="form-group panel panel-border-narrow js-hidden" id="determinationWithoutHearingQuestions-yes" aria-hidden="false">
          {{ textArea(label = 'Tell us why', name = 'determinationWithoutHearingDetails', form = form) }}
        </div>

        {{ radioOption(label = 'No', name = 'determinationWithoutHearingQuestions', value = YesNoOption.NO.option, checked = form.valueFor('determinationWithoutHearingQuestions').option === YesNoOption.NO.option) }}

      </fieldset>
        <div class="form-group">
                  <p><i>{{ t('Your answers to the questions above will enable the court and the judge, to consider what steps, adjustments or support can be arranged') }}</i></p>
                  <p><i>{{ t('You are reminded that a copy of this directions questionnaire will be shared with all other parties') }}</i></p>
         </div>
        {{ saveAndContinueButton() }}
    </form>
  </div>
</div>
{% endblock %}
