{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, submitButton, radioGroup %}

{% set heading = 'Are there dates in the next 9 months when you or your witnesses can’t go to a hearing?' %}

{% block additional_scripts %}
  <script src="{{ asset_paths['js'] }}/moment.js"></script>
  <script src="{{ asset_paths['js'] }}/lodash.js"></script>
  <script src="{{ asset_paths['js'] }}/bootstrap-datepicker.min.js"></script>
  <script src="{{ asset_paths['js'] }}/date-picker.js"></script>
{% endblock %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <form novalidate method="post">
        {{ csrfProtection(csrf) }}
        {{ radioGroup(
          name = 'hasUnavailableDates',
          options = [
            { label: 'Yes', value: true },
            { label: 'No', value: false }
          ],
          isInline = false,
          form = form,
          labelBold = false
        ) }}
        {#<div>#}
        <div class="panel panel-border-narrow js-hidden" id="hasUnavailableDates-true" aria-hidden="false">
          <h2 class="heading-medium">{{ t('Select the dates you can’t go to a hearing') }}</h2>
          <p>{{ t('These should only be the dates of important events like medical appointments, other court hearings or holidays.') }}</p>
          <div id="date-picker" class="datepicker"></div>
          <h2 class="heading-medium">Dates selected</h2>
          <dl id="dates-cant-attend-list" class="add-another-list">
          </dl>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
