{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, radioOption, saveAndContinueButton, errorSummary, numericInput, textInput, radioGroup %}

{% set heading = t('Choose a hearing location') %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <form method="post" class="analytics-submit-event-trigger" data-event-action="DQ: Hearing Location"
            data-event-label-from="courtAccepted" novalidate>
        {{ csrfProtection(csrf) }}
        {% set court = { name: 'Test court name' } %}
        {% set error = form.errorFor('courtAccepted') %}
        <fieldset id="otherWitnesses[label]" class="form-group {% if error %} form-group-error {% endif %}">
          <legend>
            <span class="visuallyhidden">
              {{ t('Do you want witnesses to give evidence?') }}
            </span>
          </legend>
          {% if not defendantView %}
            <p>{{ t('Tell us your preferred location for a hearing, in case the claim goes to one.') }}</p>
            <p>{{ t('We’ll use the location you choose unless the defendant has an exceptional reason to object, for example accessibility needs.') }}</p>
          {% endif %}

          {% if not fallbackPage %}
            {% if defendantView %}
              <p>{{ t('The nearest court to {{ postcode }} is {{ courtName }} ', { postcode: postcode, courtName: form.valueFor('courtName')}) }}</p>
            {% else %}
              <p>{{ t('You can choose any location - {{ courtName }} is nearest to the home address you gave us.', { courtName: form.valueFor('courtName')}) }}</p>
            {% endif %}
            <h1
              class="heading-medium">{{ t('Do you want to choose {{ courtName }}', { courtName: form.valueFor('courtName') }) }}</h1>
            {{ radioGroup(
              form = form,
              label = heading,
              labelForScreenReadersOnly = true,
              name = 'courtAccepted',
              options = [
                {
                  label: 'Yes',
                  value: YesNoOption.YES.option,
                  checked: form.valueFor('courtAccepted') === YesNoOption.YES
                },
                {
                  label: 'No',
                  value: YesNoOption.NO.option,
                  checked: form.valueFor('courtAccepted') === YesNoOption.NO
                }
              ]
            ) }}

            <div class="js-hidden" id="courtAccepted-no">
              <h1 class="heading-medium">Choose another court</h1>
              {{ radioOption(form = form, label = 'Enter court name', name = 'anotherCourt', value = 'true', checked = form.valueFor('otherWitnesses') === true, bold = true) }}
              <div class="form-group panel panel-border-narrow js-hidden " id="anotherCourt-true" aria-hidden="false">
                {{ textInput(label = t('Court name'), form = form, name = 'alternativeCourtName', inputClass = 'form-control-1-30') }}
              </div>
              {{ radioOption(form = form, label = 'Search by postcode', name = 'anotherCourt', value = 'false', checked = form.valueFor('anotherCourt') === false, bold = true) }}
              <div class="form-group panel panel-border-narrow js-hidden " id="anotherCourt-false" aria-hidden="false">
                {{ textInput(label = t('Postcode'), form = form, name = 'courtPostcode', inputClass = 'form-control-1-10') }}
              </div>

            </div>
          {% else %}
            <h1 class="heading-medium">{{ t('Enter a court name') }}</h1>
            {{ textInput(form = form, name = 'alternativeCourtName', inputClass = 'form-control-1-100') }}
          {% endif %}
        </fieldset>
        {{ saveAndContinueButton() }}
      </form>
    </div>
  </div>
{% endblock %}
