{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, radioOption, saveAndContinueButton, errorSummary, numericInput %}

{% set heading = t('Do you want witnesses to give evidence?') %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <form method="post" class="analytics-submit-event-trigger" data-event-action="DQ: Other Witnesses" data-event-label-from="otherWitnesses" novalidate>
        {{ csrfProtection(csrf) }}

        {% set error = form.errorFor('otherWitnesses') %}
        <fieldset id="otherWitnesses[label]" class="form-group {% if error %} form-group-error {% endif %}">
          <legend>
            <span class="visuallyhidden">
              {{ t('Do you want witnesses to give evidence?') }}
            </span>
          </legend>

          <p>{{ t('A witness is someone who can confirm facts about the claim, for example someone who saw work being done.') }}</p>
          {% if error %}<span class="error-message">{{ t(error) }}</span>{% endif %}
          {{
          radioOption(form = form, label = 'Yes', name = 'otherWitnesses', value = 'true', checked = form.valueFor('otherWitnesses') === true, bold = true)
          }}

          <div class="form-group panel panel-border-narrow js-hidden " id="otherWitnesses-true" aria-hidden="false">
            {{ numericInput(label = t('How many?'), form = form, name = 'howMany', inputClass = 'form-control-1-8') }}
          </div>

          {{
          radioOption(form = form, label = 'No', name = 'otherWitnesses', value = 'false', checked = form.valueFor('otherWitnesses') === false, bold = true)
          }}

        </fieldset>

        {{ saveAndContinueButton() }}
      </form>
    </div>
  </div>
{% endblock %}
