{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, radioGroup, saveAndContinueButton, errorSummary, yesNoRadio %}

{% set heading = 'Do you want to ask for the court’s permission to hire an expert?' %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      {% set name = 'requestPermissionForExpert' %}

      <form method="post"
        class="analytics-submit-event-trigger"
        data-event-action="DQ: Permission For Expert"
        data-event-label-from="{{ name }}" novalidate>

        {{ csrfProtection(csrf) }}
        {{ yesNoRadio(t('Do you want to ask for the court’s permission to hire an expert?'), name, form) }}
        {{ saveAndContinueButton() }}
      </form>
    </div>
  </div>
{% endblock %}
