{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, radioGroup, saveAndContinueButton, errorSummary %}
{% from "date.njk" import dateInput %}
{% from "form.njk" import yesNoRadio %}

{% set heading = 'Do you want to give evidence?' %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <form method="post" class="analytics-submit-event-trigger" data-event-action="DQ: Self Witness" data-event-label-from="selfWitness" novalidate>
        {{ csrfProtection(csrf) }}

        {% set error = form.errorFor('selfWitness') %}
        <fieldset id="selfWitness[label]" class="form-group {% if error %} form-group-error {% endif %}">
          <legend>
            <span class="visuallyhidden">
              {{ t('Do you want to give evidence?') }}
            </span>
          </legend>

          <p>{{ t('This could be providing written evidence or speaking at a hearing at the court.') }}</p>
          {% if error %}<span class="error-message">{{ t(error) }}</span>{% endif %}

          {% set name = 'option' %}

          {{
          radioGroup(
            label = heading,
            name = name,
            options = [
            { label: t('Yes'), value: YesNoOption.YES.option, checked: (form.valueFor('option').option === YesNoOption.YES.option) },
            { label: t('No'), value: YesNoOption.NO.option, checked: (form.valueFor('option').option === YesNoOption.NO.option) }
          ],
            form = form,
            labelForScreenReadersOnly = true,
            isInline = false
          )
          }}
        </fieldset>

        {{ saveAndContinueButton() }}
      </form>
    </div>
  </div>
{% endblock %}
