{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, radioOption, textArea, saveAndContinueButton %}

{% set heading = 'Briefly explain why you believe an expert is needed' %}

{% block content %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <form method="post" class="analytics-submit-event-trigger" data-event-action="DQ: Why expert is needed" data-event-label-from="whyExpertIsNeeded" novalidate>
        {{ csrfProtection(csrf) }}

        {% set error = form.errorFor('whyExpertIsNeeded') %}
        <fieldset id="whyExpertIsNeeded" class="form-group {% if error %} form-group-error {% endif %}">
          <legend class="visually-hidden">{{ t(heading) }}</legend>
          <p>{{ t('Include specific details about the case which you think a judge couldn’t resolve without the expert’s knowledge.') }}</p>

          {% if error %}<span class="error-message">{{ t(error) }}</span>{% endif %}
          {{ textArea(name = 'explanation', form = form, rows = 10, inputClass = 'full-width') }}
          {{ saveAndContinueButton() }}

        </fieldset>
      </form>
    </div>
  </div>
{% endblock %}

