nodejs:
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  environment:
    FEATURE_TESTING_SUPPORT: true
    FEATURE_RETURN_ERROR_TO_USER: true
    PAY_RETURN_URL: https://${SERVICE_FQDN}
cmc-claim-store:
  java:
    environment:
      USER_TOKEN_CACHE_ENABLED: true
      CUI_DASHBOARD_REDIRECT: false
      CUI_SIGN_OUT_REDIRECT: false
